{
  "openapi": "3.0.0",
  "info": {
    "title": "Wsdot Bridge Clearances API",
    "version": "1.0.0",
    "description": "Wsdot Bridge Clearances API - Washington State Department of Transportation APIs"
  },
  "servers": [
    {
      "url": "https://www.wsdot.wa.gov/traffic/api/bridges/clearancerest.svc",
      "description": "Production server"
    }
  ],
  "components": {
    "schemas": {
      "RoadwayLocation": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable description of the roadway location, such as interchange names or cross streets."
          },
          "Direction": {
            "type": "string",
            "nullable": true,
            "description": "Traffic direction designation: N, S, B, NB, or SB, indicating which side of the highway is affected."
          },
          "Latitude": {
            "type": "number",
            "description": "Latitude of the roadway location in decimal degrees."
          },
          "Longitude": {
            "type": "number",
            "description": "Longitude of the roadway location in decimal degrees."
          },
          "MilePost": {
            "type": "number",
            "description": "Milepost marker along the highway corridor, with 0 indicating route terminus."
          },
          "RoadName": {
            "type": "string",
            "nullable": true,
            "description": "Highway or route designation code, such as '005' for I-5 or '090' for I-90."
          }
        },
        "required": [
          "Description",
          "Direction",
          "Latitude",
          "Longitude",
          "MilePost",
          "RoadName"
        ],
        "description": "Roadway location information including route, milepost, coordinates, and direction."
      },
      "FetchBridgeClearancesOutput": {
        "type": "object",
        "properties": {
          "APILastUpdate": {
            "type": "string",
            "description": "UTC datetime when the bridge clearance record was last updated."
          },
          "BridgeNumber": {
            "type": "string",
            "nullable": true,
            "description": "Two-part bridge identifier combining route and structure number. E.g., '519/101FTP' for route 519 bridge 101FTP, '5/629A' for I-5 bridge 629A."
          },
          "ControlEntityGuid": {
            "type": "string",
            "description": "Unique bridge control entity identifier as a GUID."
          },
          "CrossingDescription": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable description of the bridge crossing location and type."
          },
          "CrossingLocationId": {
            "type": "number",
            "description": "Numeric ID of the bridge crossing location."
          },
          "CrossingRecordGuid": {
            "type": "string",
            "description": "Unique identifier for the bridge crossing record as a GUID."
          },
          "InventoryDirection": {
            "type": "string",
            "nullable": true,
            "description": "Code indicating milepost direction: I = Increasing, D = Decreasing, B = Both directions."
          },
          "Latitude": {
            "type": "number",
            "description": "Bridge GPS latitude coordinate in decimal degrees."
          },
          "LocationGuid": {
            "type": "string",
            "description": "Unique identifier for the bridge location as a GUID."
          },
          "Longitude": {
            "type": "number",
            "description": "Bridge GPS longitude coordinate in decimal degrees."
          },
          "RouteDate": {
            "type": "string",
            "description": "UTC datetime when the route information was established or last updated."
          },
          "SRMP": {
            "type": "number",
            "description": "State Route Milepost reference point in decimal format."
          },
          "SRMPAheadBackIndicator": {
            "type": "string",
            "nullable": true,
            "description": "Code indicating milepost equation area: A = ahead mileage equation area."
          },
          "StateRouteID": {
            "type": "string",
            "nullable": true,
            "description": "State route identifier assigned by legislature. E.g., '00167' for SR-167, '005S119195' for I-5 southbound segment."
          },
          "StateStructureId": {
            "type": "string",
            "nullable": true,
            "description": "Permanent 8-digit bridge structure identifier assigned by WSDOT Bridge Office."
          },
          "VerticalClearanceMaximumFeetInch": {
            "type": "string",
            "nullable": true,
            "description": "Maximum vertical clearance height in feet and inches format. E.g., '14 ft 3 in'."
          },
          "VerticalClearanceMaximumInches": {
            "type": "number",
            "description": "Maximum vertical clearance height in total inches."
          },
          "VerticalClearanceMinimumFeetInch": {
            "type": "string",
            "nullable": true,
            "description": "Minimum vertical clearance height in feet and inches format. E.g., '14 ft 3 in'."
          },
          "VerticalClearanceMinimumInches": {
            "type": "number",
            "description": "Minimum vertical clearance height in total inches."
          }
        },
        "required": [
          "APILastUpdate",
          "BridgeNumber",
          "ControlEntityGuid",
          "CrossingDescription",
          "CrossingLocationId",
          "CrossingRecordGuid",
          "InventoryDirection",
          "Latitude",
          "LocationGuid",
          "Longitude",
          "RouteDate",
          "SRMP",
          "SRMPAheadBackIndicator",
          "StateRouteID",
          "StateStructureId",
          "VerticalClearanceMaximumFeetInch",
          "VerticalClearanceMaximumInches",
          "VerticalClearanceMinimumFeetInch",
          "VerticalClearanceMinimumInches"
        ],
        "description": "Bridge clearance record with location coordinates, route associations, vertical clearance measurements, and structure identification."
      },
      "FetchBridgeClearancesByRouteInputRouteParam": {
        "type": "string",
        "description": "State route identifier as three-digit number. E.g., '005' for I-5, '167' for SR-167, '520' for SR-520."
      }
    },
    "parameters": {
      "FetchBridgeClearancesByRouteInputRouteParam": {
        "schema": {
          "$ref": "#/components/schemas/FetchBridgeClearancesByRouteInputRouteParam"
        },
        "required": true,
        "description": "State route identifier as three-digit number. E.g., '005' for I-5, '167' for SR-167, '520' for SR-520.",
        "name": "Route",
        "in": "path"
      }
    }
  },
  "paths": {
    "/getClearancesAsJson": {
      "get": {
        "summary": "List vertical clearance data for all Washington State bridges.",
        "operationId": "fetchBridgeClearances",
        "tags": [
          "bridge-clearances"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchBridgeClearances } from 'ws-dottie/wsdot-bridge-clearances/core';\n\nconst data = await fetchBridgeClearances({\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FetchBridgeClearancesOutput"
                  }
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API (showing first item of 2992 total)",
                    "value": [
                      {
                        "APILastUpdate": "2025-11-14T11:30:02.387Z",
                        "BridgeNumber": "519/101FTP",
                        "ControlEntityGuid": "e589eb93-c01b-4498-8243-89f48bf5c43d",
                        "CrossingDescription": "SEATTLE SLIP 1 PASS. OHL",
                        "CrossingLocationId": 9603,
                        "CrossingRecordGuid": "3d78286b-a191-4978-9382-9f914341d6b0",
                        "InventoryDirection": null,
                        "Latitude": 47.602165,
                        "LocationGuid": "dcf13720-32a4-40e3-b824-663775ab2bbc",
                        "Longitude": -122.339587,
                        "RouteDate": "2016-12-31T08:00:00.000Z",
                        "SRMP": 0,
                        "SRMPAheadBackIndicator": null,
                        "StateRouteID": null,
                        "StateStructureId": "0014407A",
                        "VerticalClearanceMaximumFeetInch": "14 ft 3 in",
                        "VerticalClearanceMaximumInches": 171,
                        "VerticalClearanceMinimumFeetInch": "14 ft 3 in",
                        "VerticalClearanceMinimumInches": 171
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getClearancesAsJson?Route={Route}": {
      "get": {
        "summary": "Get vertical clearance data for bridges on a specific state route.",
        "operationId": "fetchBridgeClearancesByRoute",
        "tags": [
          "bridge-clearances"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchBridgeClearancesByRoute } from 'ws-dottie/wsdot-bridge-clearances/core';\n\nconst data = await fetchBridgeClearancesByRoute({\n  params: {\n    \"Route\": \"005\"\n  },\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FetchBridgeClearancesByRouteInputRouteParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FetchBridgeClearancesOutput"
                  }
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API (showing first item of 972 total)",
                    "value": [
                      {
                        "APILastUpdate": "2025-11-14T11:30:02.387Z",
                        "BridgeNumber": "5/629A",
                        "ControlEntityGuid": "88ba5341-b39c-43c9-95a5-bc9584b2d798",
                        "CrossingDescription": "I-5 S-S RAMP UNDER BROADWAY",
                        "CrossingLocationId": 6192,
                        "CrossingRecordGuid": "9b764b55-9fc1-4448-8b0b-3f35b83d6f5f",
                        "InventoryDirection": "I",
                        "Latitude": 47.961343,
                        "LocationGuid": "dad9f2c9-ae79-4efb-8f3e-587e402e0f80",
                        "Longitude": -122.200516,
                        "RouteDate": "2016-12-31T08:00:00.000Z",
                        "SRMP": 0,
                        "SRMPAheadBackIndicator": "A",
                        "StateRouteID": "005S119195",
                        "StateStructureId": "0003842B",
                        "VerticalClearanceMaximumFeetInch": "14 ft 5 in",
                        "VerticalClearanceMaximumInches": 173,
                        "VerticalClearanceMinimumFeetInch": "14 ft 1 in",
                        "VerticalClearanceMinimumInches": 169
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "bridge-clearances",
      "description": "Vertical clearance measurements for Washington State bridges.",
      "x-description": "Bridge height restrictions including location data, route associations, and clearance measurements in both feet-inches and inches formats.",
      "x-cacheStrategy": "STATIC",
      "x-useCases": [
        "Plan commercial vehicle routes with height restrictions.",
        "Verify clearance requirements for oversize load permits.",
        "Identify bridge height limitations for route planning."
      ],
      "x-updateFrequency": "daily"
    }
  ]
}