{
  "openapi": "3.0.0",
  "info": {
    "title": "Wsf Fares API",
    "version": "1.0.0",
    "description": "Wsf Fares API - Washington State Department of Transportation APIs"
  },
  "servers": [
    {
      "url": "https://www.wsdot.wa.gov/ferries/api/fares/rest",
      "description": "Production server"
    }
  ],
  "components": {
    "schemas": {
      "RoadwayLocation": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable description of the roadway location, such as interchange names or cross streets."
          },
          "Direction": {
            "type": "string",
            "nullable": true,
            "description": "Traffic direction designation: N, S, B, NB, or SB, indicating which side of the highway is affected."
          },
          "Latitude": {
            "type": "number",
            "description": "Latitude of the roadway location in decimal degrees."
          },
          "Longitude": {
            "type": "number",
            "description": "Longitude of the roadway location in decimal degrees."
          },
          "MilePost": {
            "type": "number",
            "description": "Milepost marker along the highway corridor, with 0 indicating route terminus."
          },
          "RoadName": {
            "type": "string",
            "nullable": true,
            "description": "Highway or route designation code, such as '005' for I-5 or '090' for I-90."
          }
        },
        "required": [
          "Description",
          "Direction",
          "Latitude",
          "Longitude",
          "MilePost",
          "RoadName"
        ],
        "description": "Roadway location information including route, milepost, coordinates, and direction."
      },
      "FetchCacheFlushDateFaresOutput": {
        "type": "string",
        "description": "UTC datetime when static endpoint data was last updated, or undefined if no update has occurred.",
        "format": "date-time"
      },
      "FetchFaresValidDateRangeOutput": {
        "type": "object",
        "properties": {
          "DateFrom": {
            "type": "string",
            "description": "UTC datetime when data becomes available (earliest valid trip date).",
            "format": "date-time"
          },
          "DateThru": {
            "type": "string",
            "description": "UTC datetime when data stops being available (latest valid trip date).",
            "format": "date-time"
          }
        },
        "required": [
          "DateFrom",
          "DateThru"
        ],
        "description": "Date range for which fares data is currently published and available."
      },
      "FetchTerminalComboFaresOutput": {
        "type": "object",
        "properties": {
          "DepartingDescription": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the departing terminal, or null if unavailable.",
            "format": "date-time"
          },
          "ArrivingDescription": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the arriving terminal, or null if unavailable."
          },
          "CollectionDescription": {
            "type": "string",
            "nullable": true,
            "description": "Text description of fare collection procedures for this terminal combination, or null if unavailable."
          }
        },
        "required": [
          "DepartingDescription",
          "ArrivingDescription",
          "CollectionDescription"
        ],
        "description": "Fare collection description for a terminal combination with terminal names and collection procedures."
      },
      "FetchFareLineItemsVerboseOutput": {
        "type": "object",
        "properties": {
          "TerminalComboVerbose": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "DepartingTerminalID": {
                  "type": "number",
                  "description": "Numeric ID of the departing terminal."
                },
                "DepartingDescription": {
                  "type": "string",
                  "nullable": true,
                  "description": "Display name of the departing terminal, or null if unavailable.",
                  "format": "date-time"
                },
                "ArrivingTerminalID": {
                  "type": "number",
                  "description": "Numeric ID of the arriving terminal."
                },
                "ArrivingDescription": {
                  "type": "string",
                  "nullable": true,
                  "description": "Display name of the arriving terminal, or null if unavailable."
                },
                "CollectionDescription": {
                  "type": "string",
                  "nullable": true,
                  "description": "Text description of fare collection procedures for this terminal combination, or null if unavailable."
                }
              },
              "required": [
                "DepartingTerminalID",
                "DepartingDescription",
                "ArrivingTerminalID",
                "ArrivingDescription",
                "CollectionDescription"
              ],
              "description": "Fare collection description for a terminal combination with IDs, names, and collection procedures."
            },
            "description": "Array of terminal combination information for the trip date."
          },
          "LineItemLookup": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "TerminalComboIndex": {
                  "type": "number",
                  "description": "Array index of terminal combination in TerminalComboVerbose array."
                },
                "LineItemIndex": {
                  "type": "number",
                  "description": "Array index of one-way fare line items in LineItems array."
                },
                "RoundTripLineItemIndex": {
                  "type": "number",
                  "description": "Array index of round trip fare line items in RoundTripLineItems array."
                }
              },
              "required": [
                "TerminalComboIndex",
                "LineItemIndex",
                "RoundTripLineItemIndex"
              ],
              "description": "Cross-reference mapping between terminal combinations and fare line item arrays."
            },
            "description": "Array of cross-reference mappings between terminal combinations and fare line items."
          },
          "LineItems": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "FareLineItemID": {
                    "type": "number",
                    "description": "Numeric ID of the fare line item."
                  },
                  "FareLineItem": {
                    "type": "string",
                    "nullable": true,
                    "description": "Display name of the fare line item, or null if unavailable."
                  },
                  "Category": {
                    "type": "string",
                    "nullable": true,
                    "description": "Category grouping for the fare (e.g., 'Passenger', 'Vehicle'), or null if unavailable."
                  },
                  "DirectionIndependent": {
                    "type": "boolean",
                    "description": "True if fare amount is the same regardless of departure direction, false if it varies by terminal."
                  },
                  "Amount": {
                    "type": "number",
                    "description": "Fare cost in dollars."
                  }
                },
                "required": [
                  "FareLineItemID",
                  "FareLineItem",
                  "Category",
                  "DirectionIndependent",
                  "Amount"
                ],
                "description": "Fare line item with identifier, description, category, direction independence, and cost."
              }
            },
            "description": "Array of one-way fare line item arrays, one per terminal combination."
          },
          "RoundTripLineItems": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "FareLineItemID": {
                    "type": "number",
                    "description": "Numeric ID of the fare line item."
                  },
                  "FareLineItem": {
                    "type": "string",
                    "nullable": true,
                    "description": "Display name of the fare line item, or null if unavailable."
                  },
                  "Category": {
                    "type": "string",
                    "nullable": true,
                    "description": "Category grouping for the fare (e.g., 'Passenger', 'Vehicle'), or null if unavailable."
                  },
                  "DirectionIndependent": {
                    "type": "boolean",
                    "description": "True if fare amount is the same regardless of departure direction, false if it varies by terminal."
                  },
                  "Amount": {
                    "type": "number",
                    "description": "Fare cost in dollars."
                  }
                },
                "required": [
                  "FareLineItemID",
                  "FareLineItem",
                  "Category",
                  "DirectionIndependent",
                  "Amount"
                ],
                "description": "Fare line item with identifier, description, category, direction independence, and cost."
              }
            },
            "description": "Array of round trip fare line item arrays, one per terminal combination."
          }
        },
        "description": "Comprehensive fare line item data for all terminal combinations on a trip date."
      }
    },
    "parameters": {}
  },
  "paths": {
    "/cacheflushdate": {
      "get": {
        "summary": "Get cache flush timestamp for static fares data.",
        "operationId": "fetchCacheFlushDateFares",
        "tags": [
          "cache-flush-date-fares"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchCacheFlushDateFares } from 'ws-dottie/wsf-fares/core';\n\nconst data = await fetchCacheFlushDateFares({\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchCacheFlushDateFaresOutput"
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API",
                    "value": "2025-11-14T19:42:45.737Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validdaterange": {
      "get": {
        "summary": "Get the validity date range for published fares data.",
        "operationId": "fetchFaresValidDateRange",
        "tags": [
          "valid-date-range"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchFaresValidDateRange } from 'ws-dottie/wsf-fares/core';\n\nconst data = await fetchFaresValidDateRange({\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchFaresValidDateRangeOutput"
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API",
                    "value": {
                      "DateFrom": "2025-11-15T08:00:00.000Z",
                      "DateThru": "2026-03-21T07:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terminals/{TripDate}": {
      "get": {
        "summary": "List valid departing terminals for a trip date.",
        "operationId": "fetchTerminalFares",
        "tags": [
          "cache-flush-date-fares"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchTerminalFares } from 'ws-dottie/wsf-fares/core';\n\nconst data = await fetchTerminalFares({\n  params: {\n    \"TripDate\": \"2025-11-23\"\n  },\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TerminalID": {
                        "type": "number",
                        "description": "Numeric ID of the terminal."
                      },
                      "Description": {
                        "type": "string",
                        "description": "Display name of the terminal."
                      }
                    },
                    "required": [
                      "TerminalID",
                      "Description"
                    ],
                    "description": "Terminal information with identifier and display name."
                  },
                  "description": "Array of terminal records."
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API (showing first item of 19 total)",
                    "value": [
                      {
                        "TerminalID": 1,
                        "Description": "Anacortes"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terminalMates/{TripDate}/{TerminalID}": {
      "get": {
        "summary": "List arriving terminals for a given departing terminal and trip date.",
        "operationId": "fetchTerminalMatesFares",
        "tags": [
          "cache-flush-date-fares"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchTerminalMatesFares } from 'ws-dottie/wsf-fares/core';\n\nconst data = await fetchTerminalMatesFares({\n  params: {\n    \"TripDate\": \"2025-11-23\",\n    \"TerminalID\": 1\n  },\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TerminalID": {
                        "type": "number",
                        "description": "Numeric ID of the terminal."
                      },
                      "Description": {
                        "type": "string",
                        "description": "Display name of the terminal."
                      }
                    },
                    "required": [
                      "TerminalID",
                      "Description"
                    ],
                    "description": "Terminal information with identifier and display name."
                  },
                  "description": "Array of terminal records."
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API (showing first item of 4 total)",
                    "value": [
                      {
                        "TerminalID": 10,
                        "Description": "Friday Harbor"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terminalCombo/{TripDate}/{DepartingTerminalID}/{ArrivingTerminalID}": {
      "get": {
        "summary": "Get fare collection description for a specific terminal combination and trip date.",
        "operationId": "fetchTerminalComboFares",
        "tags": [
          "terminal-combo"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchTerminalComboFares } from 'ws-dottie/wsf-fares/core';\n\nconst data = await fetchTerminalComboFares({\n  params: {\n    \"TripDate\": \"2025-11-23\",\n    \"DepartingTerminalID\": 1,\n    \"ArrivingTerminalID\": 10\n  },\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchTerminalComboFaresOutput"
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API",
                    "value": {
                      "DepartingDescription": "Anacortes",
                      "ArrivingDescription": "Friday Harbor",
                      "CollectionDescription": "Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terminalComboVerbose/{TripDate}": {
      "get": {
        "summary": "Get fare collection descriptions for all terminal combinations on a trip date.",
        "operationId": "fetchTerminalComboFaresVerbose",
        "tags": [
          "terminal-combo"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchTerminalComboFaresVerbose } from 'ws-dottie/wsf-fares/core';\n\nconst data = await fetchTerminalComboFaresVerbose({\n  params: {\n    \"TripDate\": \"2025-11-23\"\n  },\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DepartingTerminalID": {
                        "type": "number",
                        "description": "Numeric ID of the departing terminal."
                      },
                      "DepartingDescription": {
                        "type": "string",
                        "nullable": true,
                        "description": "Display name of the departing terminal, or null if unavailable.",
                        "format": "date-time"
                      },
                      "ArrivingTerminalID": {
                        "type": "number",
                        "description": "Numeric ID of the arriving terminal."
                      },
                      "ArrivingDescription": {
                        "type": "string",
                        "nullable": true,
                        "description": "Display name of the arriving terminal, or null if unavailable."
                      },
                      "CollectionDescription": {
                        "type": "string",
                        "nullable": true,
                        "description": "Text description of fare collection procedures for this terminal combination, or null if unavailable."
                      }
                    },
                    "required": [
                      "DepartingTerminalID",
                      "DepartingDescription",
                      "ArrivingTerminalID",
                      "ArrivingDescription",
                      "CollectionDescription"
                    ],
                    "description": "Fare collection description for a terminal combination with IDs, names, and collection procedures."
                  }
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API (showing first item of 38 total)",
                    "value": [
                      {
                        "DepartingTerminalID": 1,
                        "DepartingDescription": "Anacortes",
                        "ArrivingTerminalID": 10,
                        "ArrivingDescription": "Friday Harbor",
                        "CollectionDescription": "Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor."
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fareLineItemsBasic/{TripDate}/{DepartingTerminalID}/{ArrivingTerminalID}/{RoundTrip}": {
      "get": {
        "summary": "List popular fare line items for a terminal combination.",
        "operationId": "fetchFareLineItemsBasic",
        "tags": [
          "fare-line-items"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchFareLineItemsBasic } from 'ws-dottie/wsf-fares/core';\n\nconst data = await fetchFareLineItemsBasic({\n  params: {\n    \"TripDate\": \"2025-11-23\",\n    \"DepartingTerminalID\": 1,\n    \"ArrivingTerminalID\": 10,\n    \"RoundTrip\": false\n  },\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FareLineItemID": {
                        "type": "number",
                        "description": "Numeric ID of the fare line item."
                      },
                      "FareLineItem": {
                        "type": "string",
                        "nullable": true,
                        "description": "Display name of the fare line item, or null if unavailable."
                      },
                      "Category": {
                        "type": "string",
                        "nullable": true,
                        "description": "Category grouping for the fare (e.g., 'Passenger', 'Vehicle'), or null if unavailable."
                      },
                      "DirectionIndependent": {
                        "type": "boolean",
                        "description": "True if fare amount is the same regardless of departure direction, false if it varies by terminal."
                      },
                      "Amount": {
                        "type": "number",
                        "description": "Fare cost in dollars."
                      }
                    },
                    "required": [
                      "FareLineItemID",
                      "FareLineItem",
                      "Category",
                      "DirectionIndependent",
                      "Amount"
                    ],
                    "description": "Fare line item with identifier, description, category, direction independence, and cost."
                  }
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API (showing first item of 12 total)",
                    "value": [
                      {
                        "FareLineItemID": 1,
                        "FareLineItem": "Adult (age 19 - 64)",
                        "Category": "Passenger",
                        "DirectionIndependent": false,
                        "Amount": 17.5
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fareLineItemsVerbose/{TripDate}": {
      "get": {
        "summary": "Get all fare line items for all terminal combinations on a trip date.",
        "operationId": "fetchFareLineItemsVerbose",
        "tags": [
          "fare-line-items"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import { fetchFareLineItemsVerbose } from 'ws-dottie/wsf-fares/core';\n\nconst data = await fetchFareLineItemsVerbose({\n  params: {\n    \"TripDate\": \"2025-11-22\"\n  },\n  fetchMode: 'native',\n  validate: true\n});\n\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchFareLineItemsVerboseOutput"
                },
                "examples": {
                  "sampleResponse": {
                    "summary": "Sample response",
                    "description": "Example of a successful response from the API",
                    "value": {
                      "TerminalComboVerbose": [
                        {
                          "DepartingTerminalID": 1,
                          "DepartingDescription": "Anacortes",
                          "ArrivingTerminalID": 10,
                          "ArrivingDescription": "Friday Harbor",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor."
                        },
                        {
                          "DepartingTerminalID": 1,
                          "DepartingDescription": "Anacortes",
                          "ArrivingTerminalID": 13,
                          "ArrivingDescription": "Lopez Island",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Lopez Island."
                        },
                        {
                          "DepartingTerminalID": 1,
                          "DepartingDescription": "Anacortes",
                          "ArrivingTerminalID": 15,
                          "ArrivingDescription": "Orcas Island",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Orcas Island."
                        },
                        {
                          "DepartingTerminalID": 1,
                          "DepartingDescription": "Anacortes",
                          "ArrivingTerminalID": 18,
                          "ArrivingDescription": "Shaw Island",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Shaw Island."
                        },
                        {
                          "DepartingTerminalID": 3,
                          "DepartingDescription": "Bainbridge Island",
                          "ArrivingTerminalID": 7,
                          "ArrivingDescription": "Seattle",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Bainbridge Island, while passenger and vehicle/driver fares are collected at Seattle."
                        },
                        {
                          "DepartingTerminalID": 4,
                          "DepartingDescription": "Bremerton",
                          "ArrivingTerminalID": 7,
                          "ArrivingDescription": "Seattle",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Bremerton, while passenger and vehicle/driver fares are collected at Seattle."
                        },
                        {
                          "DepartingTerminalID": 5,
                          "DepartingDescription": "Clinton",
                          "ArrivingTerminalID": 14,
                          "ArrivingDescription": "Mukilteo",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Clinton, while passenger and vehicle/driver fares are collected at Mukilteo."
                        },
                        {
                          "DepartingTerminalID": 11,
                          "DepartingDescription": "Coupeville ",
                          "ArrivingTerminalID": 17,
                          "ArrivingDescription": "Port Townsend",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Coupeville , while passenger and vehicle/driver fares are collected at port Townsend."
                        },
                        {
                          "DepartingTerminalID": 8,
                          "DepartingDescription": "Edmonds",
                          "ArrivingTerminalID": 12,
                          "ArrivingDescription": "Kingston",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Edmonds, while vehicle/driver only fares are collected at Kingston."
                        },
                        {
                          "DepartingTerminalID": 9,
                          "DepartingDescription": "Fauntleroy",
                          "ArrivingTerminalID": 20,
                          "ArrivingDescription": "Southworth",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Fauntleroy, while vehicle/driver only fares are collected at Southworth."
                        },
                        {
                          "DepartingTerminalID": 9,
                          "DepartingDescription": "Fauntleroy",
                          "ArrivingTerminalID": 22,
                          "ArrivingDescription": "Vashon Island",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Fauntleroy, while no fares are collected at Vashon Island."
                        },
                        {
                          "DepartingTerminalID": 10,
                          "DepartingDescription": "Friday Harbor",
                          "ArrivingTerminalID": 1,
                          "ArrivingDescription": "Anacortes",
                          "CollectionDescription": "No fares are collected at Friday Harbor, while passenger and vehicle/driver fares are collected at Anacortes."
                        },
                        {
                          "DepartingTerminalID": 10,
                          "DepartingDescription": "Friday Harbor",
                          "ArrivingTerminalID": 13,
                          "ArrivingDescription": "Lopez Island",
                          "CollectionDescription": "No fares are collected at Friday Harbor, while vehicle/driver only fares are collected at Lopez Island."
                        },
                        {
                          "DepartingTerminalID": 10,
                          "DepartingDescription": "Friday Harbor",
                          "ArrivingTerminalID": 15,
                          "ArrivingDescription": "Orcas Island",
                          "CollectionDescription": "No fares are collected at Friday Harbor, while vehicle/driver only fares are collected at Orcas Island."
                        },
                        {
                          "DepartingTerminalID": 10,
                          "DepartingDescription": "Friday Harbor",
                          "ArrivingTerminalID": 18,
                          "ArrivingDescription": "Shaw Island",
                          "CollectionDescription": "No fares are collected at Friday Harbor, while vehicle/driver only fares are collected at Shaw Island."
                        },
                        {
                          "DepartingTerminalID": 12,
                          "DepartingDescription": "Kingston",
                          "ArrivingTerminalID": 8,
                          "ArrivingDescription": "Edmonds",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Kingston, while passenger and vehicle/driver fares are collected at Edmonds."
                        },
                        {
                          "DepartingTerminalID": 13,
                          "DepartingDescription": "Lopez Island",
                          "ArrivingTerminalID": 1,
                          "ArrivingDescription": "Anacortes",
                          "CollectionDescription": "No fares are collected at Lopez Island, while passenger and vehicle/driver fares are collected at Anacortes."
                        },
                        {
                          "DepartingTerminalID": 13,
                          "DepartingDescription": "Lopez Island",
                          "ArrivingTerminalID": 10,
                          "ArrivingDescription": "Friday Harbor",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Lopez Island, while no fares are collected at Friday Harbor."
                        },
                        {
                          "DepartingTerminalID": 13,
                          "DepartingDescription": "Lopez Island",
                          "ArrivingTerminalID": 15,
                          "ArrivingDescription": "Orcas Island",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Lopez Island, while no fares are collected at Orcas Island."
                        },
                        {
                          "DepartingTerminalID": 13,
                          "DepartingDescription": "Lopez Island",
                          "ArrivingTerminalID": 18,
                          "ArrivingDescription": "Shaw Island",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Lopez Island, while no fares are collected at Shaw Island."
                        },
                        {
                          "DepartingTerminalID": 14,
                          "DepartingDescription": "Mukilteo",
                          "ArrivingTerminalID": 5,
                          "ArrivingDescription": "Clinton",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Mukilteo, while vehicle/driver only fares are collected at Clinton."
                        },
                        {
                          "DepartingTerminalID": 15,
                          "DepartingDescription": "Orcas Island",
                          "ArrivingTerminalID": 1,
                          "ArrivingDescription": "Anacortes",
                          "CollectionDescription": "No fares are collected at Orcas Island, while passenger and vehicle/driver fares are collected at Anacortes."
                        },
                        {
                          "DepartingTerminalID": 15,
                          "DepartingDescription": "Orcas Island",
                          "ArrivingTerminalID": 10,
                          "ArrivingDescription": "Friday Harbor",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Orcas Island, while no fares are collected at Friday Harbor."
                        },
                        {
                          "DepartingTerminalID": 15,
                          "DepartingDescription": "Orcas Island",
                          "ArrivingTerminalID": 13,
                          "ArrivingDescription": "Lopez Island",
                          "CollectionDescription": "No fares are collected at Orcas Island, while vehicle/driver only fares are collected at Lopez Island."
                        },
                        {
                          "DepartingTerminalID": 15,
                          "DepartingDescription": "Orcas Island",
                          "ArrivingTerminalID": 18,
                          "ArrivingDescription": "Shaw Island",
                          "CollectionDescription": "No fares are collected at Orcas Island, while vehicle/driver only fares are collected at Shaw Island."
                        },
                        {
                          "DepartingTerminalID": 16,
                          "DepartingDescription": "Point Defiance",
                          "ArrivingTerminalID": 21,
                          "ArrivingDescription": "Tahlequah",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Point Defiance, while no fares are collected at Tahlequah."
                        },
                        {
                          "DepartingTerminalID": 17,
                          "DepartingDescription": "Port Townsend",
                          "ArrivingTerminalID": 11,
                          "ArrivingDescription": "Coupeville ",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Port Townsend, while passenger and vehicle/driver fares are collected at Coupeville ."
                        },
                        {
                          "DepartingTerminalID": 7,
                          "DepartingDescription": "Seattle",
                          "ArrivingTerminalID": 3,
                          "ArrivingDescription": "Bainbridge Island",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Seattle, while vehicle/driver only fares are collected at Bainbridge Island."
                        },
                        {
                          "DepartingTerminalID": 7,
                          "DepartingDescription": "Seattle",
                          "ArrivingTerminalID": 4,
                          "ArrivingDescription": "Bremerton",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Seattle, while vehicle/driver only fares are collected at Bremerton."
                        },
                        {
                          "DepartingTerminalID": 18,
                          "DepartingDescription": "Shaw Island",
                          "ArrivingTerminalID": 1,
                          "ArrivingDescription": "Anacortes",
                          "CollectionDescription": "No fares are collected at Shaw Island, while passenger and vehicle/driver fares are collected at Anacortes."
                        },
                        {
                          "DepartingTerminalID": 18,
                          "DepartingDescription": "Shaw Island",
                          "ArrivingTerminalID": 10,
                          "ArrivingDescription": "Friday Harbor",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Shaw Island, while no fares are collected at Friday Harbor."
                        },
                        {
                          "DepartingTerminalID": 18,
                          "DepartingDescription": "Shaw Island",
                          "ArrivingTerminalID": 13,
                          "ArrivingDescription": "Lopez Island",
                          "CollectionDescription": "No fares are collected at Shaw Island, while vehicle/driver only fares are collected at Lopez Island."
                        },
                        {
                          "DepartingTerminalID": 18,
                          "DepartingDescription": "Shaw Island",
                          "ArrivingTerminalID": 15,
                          "ArrivingDescription": "Orcas Island",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Shaw Island, while no fares are collected at Orcas Island."
                        },
                        {
                          "DepartingTerminalID": 20,
                          "DepartingDescription": "Southworth",
                          "ArrivingTerminalID": 9,
                          "ArrivingDescription": "Fauntleroy",
                          "CollectionDescription": "Vehicle/driver only fares are collected at Southworth, while passenger and vehicle/driver fares are collected at Fauntleroy."
                        },
                        {
                          "DepartingTerminalID": 20,
                          "DepartingDescription": "Southworth",
                          "ArrivingTerminalID": 22,
                          "ArrivingDescription": "Vashon Island",
                          "CollectionDescription": "Passenger and vehicle/driver fares are collected at Southworth, while no fares are collected at Vashon Island."
                        },
                        {
                          "DepartingTerminalID": 21,
                          "DepartingDescription": "Tahlequah",
                          "ArrivingTerminalID": 16,
                          "ArrivingDescription": "Point Defiance",
                          "CollectionDescription": "No fares are collected at Tahlequah, while passenger and vehicle/driver fares are collected at point Defiance."
                        },
                        {
                          "DepartingTerminalID": 22,
                          "DepartingDescription": "Vashon Island",
                          "ArrivingTerminalID": 9,
                          "ArrivingDescription": "Fauntleroy",
                          "CollectionDescription": "No fares are collected at Vashon Island, while passenger and vehicle/driver fares are collected at Fauntleroy."
                        },
                        {
                          "DepartingTerminalID": 22,
                          "DepartingDescription": "Vashon Island",
                          "ArrivingTerminalID": 20,
                          "ArrivingDescription": "Southworth",
                          "CollectionDescription": "No fares are collected at Vashon Island, while passenger and vehicle/driver fares are collected at Southworth."
                        }
                      ],
                      "LineItemLookup": [
                        {
                          "TerminalComboIndex": 0,
                          "LineItemIndex": 0,
                          "RoundTripLineItemIndex": 0
                        },
                        {
                          "TerminalComboIndex": 1,
                          "LineItemIndex": 1,
                          "RoundTripLineItemIndex": 1
                        },
                        {
                          "TerminalComboIndex": 2,
                          "LineItemIndex": 2,
                          "RoundTripLineItemIndex": 2
                        },
                        {
                          "TerminalComboIndex": 3,
                          "LineItemIndex": 3,
                          "RoundTripLineItemIndex": 3
                        },
                        {
                          "TerminalComboIndex": 4,
                          "LineItemIndex": 4,
                          "RoundTripLineItemIndex": 4
                        },
                        {
                          "TerminalComboIndex": 5,
                          "LineItemIndex": 5,
                          "RoundTripLineItemIndex": 5
                        },
                        {
                          "TerminalComboIndex": 6,
                          "LineItemIndex": 6,
                          "RoundTripLineItemIndex": 6
                        },
                        {
                          "TerminalComboIndex": 7,
                          "LineItemIndex": 7,
                          "RoundTripLineItemIndex": 7
                        },
                        {
                          "TerminalComboIndex": 8,
                          "LineItemIndex": 8,
                          "RoundTripLineItemIndex": 8
                        },
                        {
                          "TerminalComboIndex": 9,
                          "LineItemIndex": 9,
                          "RoundTripLineItemIndex": 9
                        },
                        {
                          "TerminalComboIndex": 10,
                          "LineItemIndex": 10,
                          "RoundTripLineItemIndex": 10
                        },
                        {
                          "TerminalComboIndex": 11,
                          "LineItemIndex": 11,
                          "RoundTripLineItemIndex": 11
                        },
                        {
                          "TerminalComboIndex": 12,
                          "LineItemIndex": 12,
                          "RoundTripLineItemIndex": 12
                        },
                        {
                          "TerminalComboIndex": 13,
                          "LineItemIndex": 12,
                          "RoundTripLineItemIndex": 12
                        },
                        {
                          "TerminalComboIndex": 14,
                          "LineItemIndex": 12,
                          "RoundTripLineItemIndex": 12
                        },
                        {
                          "TerminalComboIndex": 15,
                          "LineItemIndex": 13,
                          "RoundTripLineItemIndex": 13
                        },
                        {
                          "TerminalComboIndex": 16,
                          "LineItemIndex": 14,
                          "RoundTripLineItemIndex": 14
                        },
                        {
                          "TerminalComboIndex": 17,
                          "LineItemIndex": 15,
                          "RoundTripLineItemIndex": 15
                        },
                        {
                          "TerminalComboIndex": 18,
                          "LineItemIndex": 15,
                          "RoundTripLineItemIndex": 15
                        },
                        {
                          "TerminalComboIndex": 19,
                          "LineItemIndex": 15,
                          "RoundTripLineItemIndex": 15
                        },
                        {
                          "TerminalComboIndex": 20,
                          "LineItemIndex": 16,
                          "RoundTripLineItemIndex": 16
                        },
                        {
                          "TerminalComboIndex": 21,
                          "LineItemIndex": 17,
                          "RoundTripLineItemIndex": 17
                        },
                        {
                          "TerminalComboIndex": 22,
                          "LineItemIndex": 15,
                          "RoundTripLineItemIndex": 15
                        },
                        {
                          "TerminalComboIndex": 23,
                          "LineItemIndex": 12,
                          "RoundTripLineItemIndex": 12
                        },
                        {
                          "TerminalComboIndex": 24,
                          "LineItemIndex": 12,
                          "RoundTripLineItemIndex": 12
                        },
                        {
                          "TerminalComboIndex": 25,
                          "LineItemIndex": 18,
                          "RoundTripLineItemIndex": 18
                        },
                        {
                          "TerminalComboIndex": 26,
                          "LineItemIndex": 7,
                          "RoundTripLineItemIndex": 7
                        },
                        {
                          "TerminalComboIndex": 27,
                          "LineItemIndex": 19,
                          "RoundTripLineItemIndex": 19
                        },
                        {
                          "TerminalComboIndex": 28,
                          "LineItemIndex": 20,
                          "RoundTripLineItemIndex": 20
                        },
                        {
                          "TerminalComboIndex": 29,
                          "LineItemIndex": 21,
                          "RoundTripLineItemIndex": 21
                        },
                        {
                          "TerminalComboIndex": 30,
                          "LineItemIndex": 15,
                          "RoundTripLineItemIndex": 15
                        },
                        {
                          "TerminalComboIndex": 31,
                          "LineItemIndex": 12,
                          "RoundTripLineItemIndex": 12
                        },
                        {
                          "TerminalComboIndex": 32,
                          "LineItemIndex": 15,
                          "RoundTripLineItemIndex": 15
                        },
                        {
                          "TerminalComboIndex": 33,
                          "LineItemIndex": 22,
                          "RoundTripLineItemIndex": 22
                        },
                        {
                          "TerminalComboIndex": 34,
                          "LineItemIndex": 23,
                          "RoundTripLineItemIndex": 23
                        },
                        {
                          "TerminalComboIndex": 35,
                          "LineItemIndex": 24,
                          "RoundTripLineItemIndex": 24
                        },
                        {
                          "TerminalComboIndex": 36,
                          "LineItemIndex": 25,
                          "RoundTripLineItemIndex": 25
                        },
                        {
                          "TerminalComboIndex": 37,
                          "LineItemIndex": 26,
                          "RoundTripLineItemIndex": 26
                        }
                      ],
                      "LineItems": [
                        [
                          {
                            "FareLineItemID": 1,
                            "FareLineItem": "Adult (age 19 - 64)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 17.5
                          },
                          {
                            "FareLineItemID": 2,
                            "FareLineItem": "Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target=\"_blank\" title=\"Disability\">Disability</a>",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 8.75
                          },
                          {
                            "FareLineItemID": 3,
                            "FareLineItem": "Youth (age 18 and under)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 4,
                            "FareLineItem": "Multi-Ride Commuter Card 10 Ride",
                            "Category": "Passenger",
                            "DirectionIndependent": true,
                            "Amount": 117.25
                          },
                          {
                            "FareLineItemID": 6,
                            "FareLineItem": "Bicycle Surcharge Only (19 and over)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 2
                          },
                          {
                            "FareLineItemID": 168,
                            "FareLineItem": "Vehicle Under 14' (less than 168”) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 49.7
                          },
                          {
                            "FareLineItemID": 178,
                            "FareLineItem": "Vehicle Under 22' (standard veh) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 62.35
                          },
                          {
                            "FareLineItemID": 188,
                            "FareLineItem": "Vehicle U14' (less than 168\") & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 40.95
                          },
                          {
                            "FareLineItemID": 189,
                            "FareLineItem": "Vehicle U22' (standard veh) & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 53.6
                          },
                          {
                            "FareLineItemID": 170,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U14' & Driver 5 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 187.65
                          },
                          {
                            "FareLineItemID": 180,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U22' & Driver 5 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 235.05
                          },
                          {
                            "FareLineItemID": 13,
                            "FareLineItem": "Motorcycle & Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 26.45
                          },
                          {
                            "FareLineItemID": 14,
                            "FareLineItem": "Motorcycle & Senior/Disability Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 17.7
                          },
                          {
                            "FareLineItemID": 16,
                            "FareLineItem": "Multi-Ride Commuter Card - Motorcycle & Driver 10 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 200.9
                          },
                          {
                            "FareLineItemID": 19,
                            "FareLineItem": "Vehicle Under 30' Under 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 93
                          },
                          {
                            "FareLineItemID": 20,
                            "FareLineItem": "Vehicle Under 30' Over 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 185
                          },
                          {
                            "FareLineItemID": 21,
                            "FareLineItem": "Vehicle Under 40'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 246.35
                          },
                          {
                            "FareLineItemID": 22,
                            "FareLineItem": "Vehicle Under 50'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 307.7
                          },
                          {
                            "FareLineItemID": 23,
                            "FareLineItem": "Vehicle Under 60'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 369
                          },
                          {
                            "FareLineItemID": 24,
                            "FareLineItem": "Vehicle Under 70'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 430.35
                          },
                          {
                            "FareLineItemID": 25,
                            "FareLineItem": "Vehicle Under 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 491.7
                          },
                          {
                            "FareLineItemID": 26,
                            "FareLineItem": "Cost per foot over 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 6.15
                          }
                        ],
                        [
                          {
                            "FareLineItemID": 1,
                            "FareLineItem": "Adult (age 19 - 64)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 17.5
                          },
                          {
                            "FareLineItemID": 2,
                            "FareLineItem": "Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target=\"_blank\" title=\"Disability\">Disability</a>",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 8.75
                          },
                          {
                            "FareLineItemID": 3,
                            "FareLineItem": "Youth (age 18 and under)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 4,
                            "FareLineItem": "Multi-Ride Commuter Card 10 Ride",
                            "Category": "Passenger",
                            "DirectionIndependent": true,
                            "Amount": 117.25
                          },
                          {
                            "FareLineItemID": 6,
                            "FareLineItem": "Bicycle Surcharge Only (19 and over)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 2
                          },
                          {
                            "FareLineItemID": 168,
                            "FareLineItem": "Vehicle Under 14' (less than 168”) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 35.1
                          },
                          {
                            "FareLineItemID": 178,
                            "FareLineItem": "Vehicle Under 22' (standard veh) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 44
                          },
                          {
                            "FareLineItemID": 188,
                            "FareLineItem": "Vehicle U14' (less than 168\") & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 26.35
                          },
                          {
                            "FareLineItemID": 189,
                            "FareLineItem": "Vehicle U22' (standard veh) & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 35.25
                          },
                          {
                            "FareLineItemID": 170,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U14' & Driver 5 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 132.9
                          },
                          {
                            "FareLineItemID": 180,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U22' & Driver 5 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 166.25
                          },
                          {
                            "FareLineItemID": 13,
                            "FareLineItem": "Motorcycle & Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 22.8
                          },
                          {
                            "FareLineItemID": 14,
                            "FareLineItem": "Motorcycle & Senior/Disability Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 14.05
                          },
                          {
                            "FareLineItemID": 16,
                            "FareLineItem": "Multi-Ride Commuter Card - Motorcycle & Driver 10 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 173.5
                          },
                          {
                            "FareLineItemID": 19,
                            "FareLineItem": "Vehicle Under 30' Under 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 65.55
                          },
                          {
                            "FareLineItemID": 20,
                            "FareLineItem": "Vehicle Under 30' Over 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 130.05
                          },
                          {
                            "FareLineItemID": 21,
                            "FareLineItem": "Vehicle Under 40'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 173.05
                          },
                          {
                            "FareLineItemID": 22,
                            "FareLineItem": "Vehicle Under 50'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 216.05
                          },
                          {
                            "FareLineItemID": 23,
                            "FareLineItem": "Vehicle Under 60'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 259.05
                          },
                          {
                            "FareLineItemID": 24,
                            "FareLineItem": "Vehicle Under 70'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 302.05
                          },
                          {
                            "FareLineItemID": 25,
                            "FareLineItem": "Vehicle Under 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 345.1
                          },
                          {
                            "FareLineItemID": 26,
                            "FareLineItem": "Cost per foot over 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 4.3
                          }
                        ],
                        [
                          {
                            "FareLineItemID": 1,
                            "FareLineItem": "Adult (age 19 - 64)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 17.5
                          },
                          {
                            "FareLineItemID": 2,
                            "FareLineItem": "Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target=\"_blank\" title=\"Disability\">Disability</a>",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 8.75
                          },
                          {
                            "FareLineItemID": 3,
                            "FareLineItem": "Youth (age 18 and under)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 4,
                            "FareLineItem": "Multi-Ride Commuter Card 10 Ride",
                            "Category": "Passenger",
                            "DirectionIndependent": true,
                            "Amount": 117.25
                          },
                          {
                            "FareLineItemID": 6,
                            "FareLineItem": "Bicycle Surcharge Only (19 and over)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 2
                          },
                          {
                            "FareLineItemID": 168,
                            "FareLineItem": "Vehicle Under 14' (less than 168”) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 42.05
                          },
                          {
                            "FareLineItemID": 178,
                            "FareLineItem": "Vehicle Under 22' (standard veh) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 52.6
                          },
                          {
                            "FareLineItemID": 188,
                            "FareLineItem": "Vehicle U14' (less than 168\") & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 33.3
                          },
                          {
                            "FareLineItemID": 189,
                            "FareLineItem": "Vehicle U22' (standard veh) & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 43.85
                          },
                          {
                            "FareLineItemID": 170,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U14' & Driver 5 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 158.95
                          },
                          {
                            "FareLineItemID": 180,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U22' & Driver 5 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 198.5
                          },
                          {
                            "FareLineItemID": 13,
                            "FareLineItem": "Motorcycle & Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 24.5
                          },
                          {
                            "FareLineItemID": 14,
                            "FareLineItem": "Motorcycle & Senior/Disability Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 15.75
                          },
                          {
                            "FareLineItemID": 16,
                            "FareLineItem": "Multi-Ride Commuter Card - Motorcycle & Driver 10 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 186.25
                          },
                          {
                            "FareLineItemID": 19,
                            "FareLineItem": "Vehicle Under 30' Under 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 78.45
                          },
                          {
                            "FareLineItemID": 20,
                            "FareLineItem": "Vehicle Under 30' Over 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 155.85
                          },
                          {
                            "FareLineItemID": 21,
                            "FareLineItem": "Vehicle Under 40'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 207.45
                          },
                          {
                            "FareLineItemID": 22,
                            "FareLineItem": "Vehicle Under 50'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 259.05
                          },
                          {
                            "FareLineItemID": 23,
                            "FareLineItem": "Vehicle Under 60'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 310.65
                          },
                          {
                            "FareLineItemID": 24,
                            "FareLineItem": "Vehicle Under 70'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 362.3
                          },
                          {
                            "FareLineItemID": 25,
                            "FareLineItem": "Vehicle Under 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 413.9
                          },
                          {
                            "FareLineItemID": 26,
                            "FareLineItem": "Cost per foot over 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 5.15
                          }
                        ],
                        [
                          {
                            "FareLineItemID": 1,
                            "FareLineItem": "Adult (age 19 - 64)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 17.5
                          },
                          {
                            "FareLineItemID": 2,
                            "FareLineItem": "Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target=\"_blank\" title=\"Disability\">Disability</a>",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 8.75
                          },
                          {
                            "FareLineItemID": 3,
                            "FareLineItem": "Youth (age 18 and under)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 4,
                            "FareLineItem": "Multi-Ride Commuter Card 10 Ride",
                            "Category": "Passenger",
                            "DirectionIndependent": true,
                            "Amount": 117.25
                          },
                          {
                            "FareLineItemID": 6,
                            "FareLineItem": "Bicycle Surcharge Only (19 and over)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 2
                          },
                          {
                            "FareLineItemID": 168,
                            "FareLineItem": "Vehicle Under 14' (less than 168”) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 42.05
                          },
                          {
                            "FareLineItemID": 178,
                            "FareLineItem": "Vehicle Under 22' (standard veh) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 52.6
                          },
                          {
                            "FareLineItemID": 188,
                            "FareLineItem": "Vehicle U14' (less than 168\") & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 33.3
                          },
                          {
                            "FareLineItemID": 189,
                            "FareLineItem": "Vehicle U22' (standard veh) & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 43.85
                          },
                          {
                            "FareLineItemID": 170,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U14' & Driver 5 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 158.95
                          },
                          {
                            "FareLineItemID": 180,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U22' & Driver 5 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 198.5
                          },
                          {
                            "FareLineItemID": 13,
                            "FareLineItem": "Motorcycle & Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 24.5
                          },
                          {
                            "FareLineItemID": 14,
                            "FareLineItem": "Motorcycle & Senior/Disability Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 15.75
                          },
                          {
                            "FareLineItemID": 16,
                            "FareLineItem": "Multi-Ride Commuter Card - Motorcycle & Driver 10 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 186.25
                          },
                          {
                            "FareLineItemID": 19,
                            "FareLineItem": "Vehicle Under 30' Under 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 78.45
                          },
                          {
                            "FareLineItemID": 20,
                            "FareLineItem": "Vehicle Under 30' Over 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 155.85
                          },
                          {
                            "FareLineItemID": 21,
                            "FareLineItem": "Vehicle Under 40'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 207.45
                          },
                          {
                            "FareLineItemID": 22,
                            "FareLineItem": "Vehicle Under 50'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 259.05
                          },
                          {
                            "FareLineItemID": 23,
                            "FareLineItem": "Vehicle Under 60'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 310.65
                          },
                          {
                            "FareLineItemID": 24,
                            "FareLineItem": "Vehicle Under 70'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 362.3
                          },
                          {
                            "FareLineItemID": 25,
                            "FareLineItem": "Vehicle Under 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 413.9
                          },
                          {
                            "FareLineItemID": 26,
                            "FareLineItem": "Cost per foot over 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 5.15
                          }
                        ],
                        [
                          {
                            "FareLineItemID": 1,
                            "FareLineItem": "Adult (age 19 - 64)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 2,
                            "FareLineItem": "Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target=\"_blank\" title=\"Disability\">Disability</a>",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 3,
                            "FareLineItem": "Youth (age 18 and under)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 4,
                            "FareLineItem": "Multi-Ride Commuter Card 10 Ride",
                            "Category": "Passenger",
                            "DirectionIndependent": true,
                            "Amount": 90.4
                          },
                          {
                            "FareLineItemID": 37,
                            "FareLineItem": "WSF Monthly Pass 31 Ride",
                            "Category": "Passenger",
                            "DirectionIndependent": true,
                            "Amount": 144.65
                          },
                          {
                            "FareLineItemID": 6,
                            "FareLineItem": "Bicycle Surcharge Only (19 and over)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 168,
                            "FareLineItem": "Vehicle Under 14' (less than 168”) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 15.6
                          },
                          {
                            "FareLineItemID": 178,
                            "FareLineItem": "Vehicle Under 22' (standard veh) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 19.7
                          },
                          {
                            "FareLineItemID": 188,
                            "FareLineItem": "Vehicle U14' (less than 168\") & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 12.8
                          },
                          {
                            "FareLineItemID": 189,
                            "FareLineItem": "Vehicle U22' (standard veh) & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 16.9
                          },
                          {
                            "FareLineItemID": 170,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U14' & Driver 20 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 253.6
                          },
                          {
                            "FareLineItemID": 180,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U22' & Driver 20 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 319.2
                          },
                          {
                            "FareLineItemID": 13,
                            "FareLineItem": "Motorcycle & Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 8.75
                          },
                          {
                            "FareLineItemID": 14,
                            "FareLineItem": "Motorcycle & Senior/Disability Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 5.95
                          },
                          {
                            "FareLineItemID": 16,
                            "FareLineItem": "Multi-Ride Commuter Card - Motorcycle & Driver 20 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 144
                          },
                          {
                            "FareLineItemID": 19,
                            "FareLineItem": "Vehicle Under 30' Under 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 29.05
                          },
                          {
                            "FareLineItemID": 20,
                            "FareLineItem": "Vehicle Under 30' Over 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 57.1
                          },
                          {
                            "FareLineItemID": 21,
                            "FareLineItem": "Vehicle Under 40'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 75.8
                          },
                          {
                            "FareLineItemID": 22,
                            "FareLineItem": "Vehicle Under 50'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 94.5
                          },
                          {
                            "FareLineItemID": 23,
                            "FareLineItem": "Vehicle Under 60'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 113.2
                          },
                          {
                            "FareLineItemID": 24,
                            "FareLineItem": "Vehicle Under 70'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 131.9
                          },
                          {
                            "FareLineItemID": 25,
                            "FareLineItem": "Vehicle Under 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 150.6
                          },
                          {
                            "FareLineItemID": 26,
                            "FareLineItem": "Cost per foot over 80'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 1.85
                          }
                        ],
                        [
                          {
                            "FareLineItemID": 1,
                            "FareLineItem": "Adult (age 19 - 64)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 2,
                            "FareLineItem": "Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target=\"_blank\" title=\"Disability\">Disability</a>",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 3,
                            "FareLineItem": "Youth (age 18 and under)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 4,
                            "FareLineItem": "Multi-Ride Commuter Card 10 Ride",
                            "Category": "Passenger",
                            "DirectionIndependent": true,
                            "Amount": 90.4
                          },
                          {
                            "FareLineItemID": 37,
                            "FareLineItem": "WSF Monthly Pass 31 Ride",
                            "Category": "Passenger",
                            "DirectionIndependent": true,
                            "Amount": 144.65
                          },
                          {
                            "FareLineItemID": 6,
                            "FareLineItem": "Bicycle Surcharge Only (19 and over)",
                            "Category": "Passenger",
                            "DirectionIndependent": false,
                            "Amount": 0
                          },
                          {
                            "FareLineItemID": 168,
                            "FareLineItem": "Vehicle Under 14' (less than 168”) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 15.6
                          },
                          {
                            "FareLineItemID": 178,
                            "FareLineItem": "Vehicle Under 22' (standard veh) & Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 19.7
                          },
                          {
                            "FareLineItemID": 188,
                            "FareLineItem": "Vehicle U14' (less than 168\") & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 12.8
                          },
                          {
                            "FareLineItemID": 189,
                            "FareLineItem": "Vehicle U22' (standard veh) & Sr/Disability Driver",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 16.9
                          },
                          {
                            "FareLineItemID": 170,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U14' & Driver 20 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 253.6
                          },
                          {
                            "FareLineItemID": 180,
                            "FareLineItem": "Multi-Ride Commuter Card - Vehicle U22' & Driver 20 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 319.2
                          },
                          {
                            "FareLineItemID": 13,
                            "FareLineItem": "Motorcycle & Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 8.75
                          },
                          {
                            "FareLineItemID": 14,
                            "FareLineItem": "Motorcycle & Senior/Disability Driver / Stowage Fare",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": false,
                            "Amount": 5.95
                          },
                          {
                            "FareLineItemID": 16,
                            "FareLineItem": "Multi-Ride Commuter Card - Motorcycle & Driver 20 Ride",
                            "Category": "Vehicle, Motorcycle, and Stowage Fares",
                            "DirectionIndependent": true,
                            "Amount": 144
                          },
                          {
                            "FareLineItemID": 19,
                            "FareLineItem": "Vehicle Under 30' Under 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 29.05
                          },
                          {
                            "FareLineItemID": 20,
                            "FareLineItem": "Vehicle Under 30' Over 7'2 in.",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 57.1
                          },
                          {
                            "FareLineItemID": 21,
                            "FareLineItem": "Vehicle Under 40'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 75.8
                          },
                          {
                            "FareLineItemID": 22,
                            "FareLineItem": "Vehicle Under 50'",
                            "Category": "Vehicle Length-Based",
                            "DirectionIndependent": false,
                            "Amount": 94.5
                          },
                          {
[...]
