openapi: 3.1.0
info:
  title: Wsdot Weather Readings API
  version: 1.0.0
  description: Wsdot Weather Readings API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/traffic/api/api
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, such as interchange names or cross streets.
        Direction:
          type:
            - string
            - 'null'
          description: 'Traffic direction designation: N, S, B, NB, or SB, indicating which side of the highway is affected.'
        Latitude:
          type: number
          description: Latitude of the roadway location in decimal degrees.
        Longitude:
          type: number
          description: Longitude of the roadway location in decimal degrees.
        MilePost:
          type: number
          description: Milepost marker along the highway corridor, with 0 indicating route terminus.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation code, such as '005' for I-5 or '090' for I-90.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
      description: Roadway location information including route, milepost, coordinates, and direction.
    FetchWeatherReadingsOutput:
      type: object
      properties:
        StationId:
          type: string
          description: National Weather Service assigned station identifier code.
        StationName:
          type: string
          description: Display name of the weather station.
        Latitude:
          type: number
          description: Latitude of the weather station in decimal degrees.
        Longitude:
          type: number
          description: Longitude of the weather station in decimal degrees.
        Elevation:
          type: integer
          description: Elevation of the weather station above sea level in meters.
        ReadingTime:
          type:
            - string
            - 'null'
          description: UTC datetime when the comprehensive weather reading was taken (ISO-8601 format).
        AirTemperature:
          type:
            - number
            - 'null'
          description: Current air temperature in degrees Celsius.
        RelativeHumidty:
          type:
            - integer
            - 'null'
          description: Relative humidity as a percentage (0-100).
        AverageWindSpeed:
          type:
            - integer
            - 'null'
          description: Average wind speed during evaluation cycle in kilometers per hour.
        AverageWindDirection:
          type:
            - integer
            - 'null'
          description: Average wind direction in degrees clockwise from north (0-359).
        WindGust:
          type:
            - integer
            - 'null'
          description: Maximum wind gust speed during evaluation cycle in kilometers per hour.
        Visibility:
          type:
            - integer
            - 'null'
          description: Average visibility distance in meters (computed every 3 minutes).
        PrecipitationIntensity:
          type:
            - integer
            - 'null'
          description: Precipitation intensity derived from precipitation rate (intensity units).
        PrecipitationType:
          type:
            - integer
            - 'null'
          description: 'Code indicating precipitation type: 0 = none, 1 = rain, 2 = snow.'
        PrecipitationPast1Hour:
          type:
            - number
            - 'null'
          description: Precipitation amount (liquid equivalent) for previous 1 hour in millimeters.
        PrecipitationPast3Hours:
          type:
            - number
            - 'null'
          description: Precipitation amount (liquid equivalent) for previous 3 hours in millimeters.
        PrecipitationPast6Hours:
          type:
            - number
            - 'null'
          description: Precipitation amount (liquid equivalent) for previous 6 hours in millimeters.
        PrecipitationPast12Hours:
          type:
            - number
            - 'null'
          description: Precipitation amount (liquid equivalent) for previous 12 hours in millimeters.
        PrecipitationPast24Hours:
          type:
            - number
            - 'null'
          description: Precipitation amount (liquid equivalent) for previous 24 hours in millimeters.
        PrecipitationAccumulation:
          type:
            - number
            - 'null'
          description: Precipitation amount (liquid equivalent) from midnight GMT to current time in millimeters.
        BarometricPressure:
          type:
            - integer
            - 'null'
          description: Atmospheric pressure in millibars (not adjusted for elevation).
        SnowDepth:
          type:
            - integer
            - 'null'
          description: Snow depth on representative areas excluding highway pavement in centimeters.
        SurfaceMeasurements:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              SensorId:
                type: integer
                description: Numeric ID of the surface sensor.
              SurfaceTemperature:
                type:
                  - number
                  - 'null'
                description: Current pavement surface temperature in degrees Celsius.
              RoadFreezingTemperature:
                type:
                  - number
                  - 'null'
                description: Freezing point of moisture on pavement based on chemical treatment in degrees Celsius.
              RoadSurfaceCondition:
                type:
                  - number
                  - 'null'
                description: 'Code indicating road surface condition: 101 = Dry, 102 = Wet, 103 = Moist, 104 = Ice, 105 = Snow.'
            required:
              - SensorId
              - SurfaceTemperature
              - RoadFreezingTemperature
              - RoadSurfaceCondition
          description: Array of surface sensor measurements including pavement temperature, freezing temperature, and condition codes.
        SubSurfaceMeasurements:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              SensorId:
                type: integer
                description: Numeric ID of the subsurface sensor.
              SubSurfaceTemperature:
                type:
                  - number
                  - 'null'
                description: Temperature from sensor embedded 12-18 inches below road pavement in degrees Celsius.
            required:
              - SensorId
              - SubSurfaceTemperature
          description: Array of subsurface sensor measurements including ground temperature from sensors embedded below pavement.
      required:
        - StationId
        - StationName
        - Latitude
        - Longitude
        - Elevation
        - ReadingTime
        - AirTemperature
        - RelativeHumidty
        - AverageWindSpeed
        - AverageWindDirection
        - WindGust
        - Visibility
        - PrecipitationIntensity
        - PrecipitationType
        - PrecipitationPast1Hour
        - PrecipitationPast3Hours
        - PrecipitationPast6Hours
        - PrecipitationPast12Hours
        - PrecipitationPast24Hours
        - PrecipitationAccumulation
        - BarometricPressure
        - SnowDepth
        - SurfaceMeasurements
        - SubSurfaceMeasurements
      description: Comprehensive weather reading from a WSDOT weather station, including atmospheric conditions, precipitation across multiple time periods, and surface/subsurface sensor measurements.
    FetchSurfaceMeasurementsOutput:
      type: object
      properties:
        SensorId:
          type: number
          description: Numeric ID of the surface sensor.
        SurfaceTemperature:
          type: number
          description: Current pavement surface temperature in degrees Celsius.
        RoadFreezingTemperature:
          type: number
          description: Freezing point of moisture on pavement based on chemical treatment in degrees Celsius.
        RoadSurfaceCondition:
          type: number
          description: 'Code indicating road surface condition: 101 = Dry, 102 = Wet, 103 = Moist, 104 = Ice, 105 = Snow, 108 = Unknown/Other.'
      description: Surface sensor measurements including pavement temperature, road freezing temperature, and surface condition code from sensors embedded in or mounted on road surfaces.
    FetchSubSurfaceMeasurementsOutput:
      type: object
      properties:
        SensorId:
          type: number
          description: Numeric ID of the subsurface sensor.
        SubSurfaceTemperature:
          type: number
          description: Temperature from sensor embedded 12-18 inches below road pavement in degrees Celsius.
      description: Subsurface sensor measurements including ground temperature from sensors embedded below road pavement.
  parameters: {}
paths:
  /Scanweb/SurfaceMeasurements:
    get:
      summary: List surface measurements from all weather stations.
      operationId: fetchSurfaceMeasurements
      tags:
        - surface-measurements
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchSurfaceMeasurements } from 'ws-dottie/wsdot-weather-readings/core';

            const data = await fetchDottie({
              endpoint: fetchSurfaceMeasurements,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchSurfaceMeasurementsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 131 total)
                  value:
                    - {}
  /Scanweb/SubSurfaceMeasurements:
    get:
      summary: List subsurface measurements from all weather stations statewide.
      operationId: fetchSubSurfaceMeasurements
      tags:
        - surface-measurements
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchSubSurfaceMeasurements } from 'ws-dottie/wsdot-weather-readings/core';

            const data = await fetchDottie({
              endpoint: fetchSubSurfaceMeasurements,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchSubSurfaceMeasurementsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 131 total)
                  value:
                    - {}
  /Scanweb:
    get:
      summary: List comprehensive weather readings from all weather stations.
      operationId: fetchWeatherReadings
      tags:
        - weather-readings
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchWeatherReadings } from 'ws-dottie/wsdot-weather-readings/core';

            const data = await fetchDottie({
              endpoint: fetchWeatherReadings,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchWeatherReadingsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 131 total)
                  value:
                    - StationId: TALPE
                      StationName: 090ws05226 - Alpental
                      Latitude: 47.427
                      Longitude: -121.418
                      Elevation: 876
                      ReadingTime: 2025-11-16T00:58:33.000Z
                      AirTemperature: 8
                      RelativeHumidty: 99
                      AverageWindSpeed: 2
                      AverageWindDirection: 0
                      WindGust: 5
                      Visibility: 1416
                      PrecipitationIntensity: 10
                      PrecipitationType: 2
                      PrecipitationPast1Hour: 0.1
                      PrecipitationPast3Hours: 1.3
                      PrecipitationPast6Hours: 3.2
                      PrecipitationPast12Hours: 6.9
                      PrecipitationPast24Hours: 22.9
                      PrecipitationAccumulation: null
                      BarometricPressure: null
                      SnowDepth: null
                      SurfaceMeasurements:
                        - SensorId: 0
                          SurfaceTemperature: 9.5
                          RoadFreezingTemperature: null
                          RoadSurfaceCondition: 104
                        - SensorId: 1
                          SurfaceTemperature: 8.1
                          RoadFreezingTemperature: null
                          RoadSurfaceCondition: 105
                      SubSurfaceMeasurements:
                        - SensorId: 0
                          SubSurfaceTemperature: 6.9
webhooks: {}
tags:
  - name: weather-readings
    description: Comprehensive weather readings from all WSDOT weather stations statewide.
    x-useCases:
      - Access complete weather station data for comprehensive analysis.
      - Monitor atmospheric and surface conditions for transportation operations.
      - Track precipitation across multiple time periods (1h, 3h, 6h, 12h, 24h).
    x-updateFrequency: 5m
  - name: surface-measurements
    description: Surface sensor measurements from WSDOT weather stations statewide.
    x-useCases:
      - Monitor road surface conditions for winter maintenance operations.
      - Assess pavement temperature and freezing risk.
      - Evaluate travel safety based on surface condition codes.
    x-updateFrequency: 5m
  - name: sub-surface-measurements
    description: Subsurface temperature measurements from sensors embedded below road pavement.
    x-useCases:
      - Monitor ground temperature conditions for winter maintenance operations.
      - Predict road surface conditions based on subsurface temperature trends.
      - Assess travel safety by understanding ground temperature patterns.
    x-updateFrequency: 5m
