openapi: 3.1.0
info:
  title: Wsdot Weather Information API
  version: 1.0.0
  description: Wsdot Weather Information API - Washington State Department of Transportation APIs
servers:
  - url: https://wsdot.wa.gov/traffic/api/WeatherInformation/WeatherInformationREST.svc
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    FetchWeatherInformationOutput:
      type: object
      properties:
        BarometricPressure:
          type:
            - number
            - 'null'
          description: Atmospheric pressure reading at weather station, as millibars. E.g., '968.5' for 968.5 millibars at S 144th St station, '969.6' for 969.6 millibars at NE 195th station, '1016' for 1016 millibars at NE 130th Street station, null when barometric pressure reading is unavailable. Reading is not adjusted for site elevation. Used for weather condition assessment and pressure trend analysis.
        Latitude:
          type: number
          description: GPS latitude coordinate for weather station location, in decimal degrees. E.g., '47.4748' for S 144th St station on I-5, '47.760632547' for NE 195th station on I-405, '47.509' for Echo Lake station on I-90.
        Longitude:
          type: number
          description: GPS longitude coordinate for weather station location, in decimal degrees. E.g., '-122.2704' for S 144th St station, '-122.18404783' for NE 195th station, '-121.885' for Echo Lake station.
        PrecipitationInInches:
          type:
            - number
            - 'null'
          description: Precipitation amount measured at weather station, as inches. E.g., null when no precipitation has occurred or measurement is unavailable. Used for rainfall tracking and precipitation monitoring.
        ReadingTime:
          type: string
          description: Timestamp when weather reading was taken, as a UTC datetime. E.g., '2025-11-02T19:00:00.000Z' for reading at 7:00 PM on November 2, 2025. Indicates data freshness and when weather measurements occurred.
        RelativeHumidity:
          type:
            - number
            - 'null'
          description: Percent of moisture in air relative to saturation, as percent. E.g., '73' for 73% humidity at S 144th St station, '72' for 72% humidity at Echo Lake station, null when humidity reading is unavailable. Range 0-100% where 0% indicates no moisture and 100% indicates completely saturated air. Used for comfort assessment and weather condition analysis.
        SkyCoverage:
          type:
            - string
            - 'null'
          description: Description of sky coverage conditions, as a sky condition code. E.g., 'N/A' when sky coverage data is not available, null when sky coverage is unavailable. Used for cloud cover assessment.
        StationID:
          type: integer
          description: Unique weather station identifier, as an integer ID. E.g., '1909' for S 144th St station on SB I-5, '1910' for NE 195th station on SB I-405, '1928' for Echo Lake station on EB I-90. Used as primary key for station identification and lookups.
        StationName:
          type:
            - string
            - 'null'
          description: WSDOT-assigned name for weather station, as a station name. E.g., 'S 144th St on SB I-5 at mp 155.32' for station 1909, 'NE 195th on SB I-405 at mp 24.58' for station 1910, 'EB I-90 / SR-18 (Echo Lake) at mp 26.30' for station 1928, null when station name is unavailable. Provides location identification for weather station.
        TemperatureInFahrenheit:
          type:
            - number
            - 'null'
          description: Current air temperature reading at weather station, as degrees Fahrenheit. E.g., '54.14' for 54.14°F at S 144th St station, '50.36' for 50.36°F at Echo Lake station, '53.6' for 53.6°F at NE 130th Street station, null when temperature reading is unavailable. Used for temperature monitoring and weather condition assessment.
        Visibility:
          type:
            - integer
            - 'null'
          description: Average visibility distance that can be seen, as meters. E.g., '1' for 1 meter visibility (very low) at multiple stations, '6' for 6 meters visibility at Alpowa Summit station, null when visibility reading is unavailable. Computed every three minutes for both day and night conditions. Used for fog, smoke, and visibility condition assessment.
        WindDirection:
          type:
            - number
            - 'null'
          description: Wind direction measured in degrees from north, as degrees. E.g., '180' for 180 degrees (south) at S 144th St station, '5' for 5 degrees (north) at NE 195th station, '241' for 241 degrees (west-southwest) at Echo Lake station, null when wind direction reading is unavailable. Measured clockwise from north (0-359 degrees).
        WindDirectionCardinal:
          type:
            - string
            - 'null'
          description: Wind direction in cardinal direction format, as a cardinal direction. E.g., 'S' for south wind at S 144th St station, 'N' for north wind at NE 195th station, 'WSW' for west-southwest wind at Echo Lake station, 'E' for east wind at NE 130th Street station, null when cardinal direction is unavailable. Human-readable format for wind direction display.
        WindGustSpeedInMPH:
          type:
            - number
            - 'null'
          description: Maximum wind gust speed measured at weather station, as miles per hour. E.g., '8' for 8 mph gusts at S 144th St station, '10' for 10 mph gusts at Echo Lake station, '22' for 22 mph gusts at Alpowa Summit station, null when wind gust reading is unavailable. Used for wind condition assessment and safety monitoring.
        WindSpeedInMPH:
          type:
            - number
            - 'null'
          description: Average wind speed measured at weather station, as miles per hour. E.g., '1' for 1 mph wind at S 144th St station, '5' for 5 mph wind at Echo Lake station, '16' for 16 mph wind at Alpowa Summit station, null when wind speed reading is unavailable. Used for wind condition assessment and weather monitoring.
      required:
        - BarometricPressure
        - Latitude
        - Longitude
        - PrecipitationInInches
        - ReadingTime
        - RelativeHumidity
        - SkyCoverage
        - StationID
        - StationName
        - TemperatureInFahrenheit
        - Visibility
        - WindDirection
        - WindDirectionCardinal
        - WindGustSpeedInMPH
        - WindSpeedInMPH
      description: Represents current weather information from weather station including temperature, humidity, wind conditions, visibility, barometric pressure, and precipitation data. E.g., station 1909 (S 144th St on SB I-5) with temperature 54.14°F, humidity 73%, wind 1 mph from south, visibility 1 meter, barometric pressure 968.5 millibars. Used for weather monitoring, road condition assessment, and environmental data collection. Data updated periodically throughout the day.
    FetchWeatherInformationByStationIdInputStationIDParam:
      type: integer
      description: Unique weather station identifier, as an integer ID. E.g., '1909' for S 144th St station on I-5, '1910' for NE 195th station on I-405, '1928' for Echo Lake station on I-90. Used to retrieve specific station weather data.
    FetchCurrentWeatherForStationsInputStationListParam:
      type: string
      description: Comma-separated list of weather station IDs, as a station list string. E.g., '1909,1910,1928' for multiple stations. Used to retrieve weather data for multiple specific stations in single query.
    SearchWeatherInformationInputStationIDParam:
      type: integer
      description: Unique weather station identifier, as an integer ID. E.g., '1909' for S 144th St station, '1928' for Echo Lake station. Used to filter weather data by specific station.
    SearchWeatherInformationInputSearchStartTimeParam:
      type: string
      format: date-time
      description: Start time for weather data search range, as an ISO datetime string. E.g., '2025-11-02T00:00:00Z' for November 2, 2025 midnight UTC. Used to define beginning of time range for historical weather queries.
    SearchWeatherInformationInputSearchEndTimeParam:
      type: string
      format: date-time
      description: End time for weather data search range, as an ISO datetime string. E.g., '2025-11-02T23:59:59Z' for November 2, 2025 end of day UTC. Used to define end of time range for historical weather queries.
  parameters:
    FetchWeatherInformationByStationIdInputStationIDParam:
      schema:
        $ref: '#/components/schemas/FetchWeatherInformationByStationIdInputStationIDParam'
      required: true
      description: Unique weather station identifier, as an integer ID. E.g., '1909' for S 144th St station on I-5, '1910' for NE 195th station on I-405, '1928' for Echo Lake station on I-90. Used to retrieve specific station weather data.
      name: StationID
      in: path
    FetchCurrentWeatherForStationsInputStationListParam:
      schema:
        $ref: '#/components/schemas/FetchCurrentWeatherForStationsInputStationListParam'
      required: true
      description: Comma-separated list of weather station IDs, as a station list string. E.g., '1909,1910,1928' for multiple stations. Used to retrieve weather data for multiple specific stations in single query.
      name: StationList
      in: path
    SearchWeatherInformationInputStationIDParam:
      schema:
        $ref: '#/components/schemas/SearchWeatherInformationInputStationIDParam'
      required: true
      description: Unique weather station identifier, as an integer ID. E.g., '1909' for S 144th St station, '1928' for Echo Lake station. Used to filter weather data by specific station.
      name: StationID
      in: path
    SearchWeatherInformationInputSearchStartTimeParam:
      schema:
        $ref: '#/components/schemas/SearchWeatherInformationInputSearchStartTimeParam'
      required: true
      description: Start time for weather data search range, as an ISO datetime string. E.g., '2025-11-02T00:00:00Z' for November 2, 2025 midnight UTC. Used to define beginning of time range for historical weather queries.
      name: SearchStartTime
      in: path
    SearchWeatherInformationInputSearchEndTimeParam:
      schema:
        $ref: '#/components/schemas/SearchWeatherInformationInputSearchEndTimeParam'
      required: true
      description: End time for weather data search range, as an ISO datetime string. E.g., '2025-11-02T23:59:59Z' for November 2, 2025 end of day UTC. Used to define end of time range for historical weather queries.
      name: SearchEndTime
      in: path
paths:
  /GetCurrentWeatherInformationByStationIDAsJson?StationID={StationID}:
    get:
      summary: Returns single WeatherInfo for specific station.
      operationId: fetchWeatherInformationByStationId
      tags:
        - weather-info
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchWeatherInformationByStationId } from 'ws-dottie/wsdot-weather-information/core';

            const data = await fetchDottie({
              endpoint: fetchWeatherInformationByStationId,
              params: {
                "StationID": 1909
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchWeatherInformationByStationIdInputStationIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchWeatherInformationOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    BarometricPressure: 964
                    Latitude: 47.4748
                    Longitude: -122.2704
                    PrecipitationInInches: null
                    ReadingTime: 2025-11-08T07:45:00.000Z
                    RelativeHumidity: 99
                    SkyCoverage: N/A
                    StationID: 1909
                    StationName: S 144th St on SB I-5 at mp 155.32
                    TemperatureInFahrenheit: 46.58
                    Visibility: 1
                    WindDirection: 130
                    WindDirectionCardinal: SE
                    WindGustSpeedInMPH: 1
                    WindSpeedInMPH: 0
  /GetCurrentWeatherForStationsAsJson?StationList={StationList}:
    get:
      summary: Returns multiple WeatherInfo for specified stations.
      operationId: fetchCurrentWeatherForStations
      tags:
        - weather-info
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchCurrentWeatherForStations } from 'ws-dottie/wsdot-weather-information/core';

            const data = await fetchDottie({
              endpoint: fetchCurrentWeatherForStations,
              params: {
                "StationList": "1909,1966,1970"
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchCurrentWeatherForStationsInputStationListParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchWeatherInformationOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 3 total)
                  value:
                    - BarometricPressure: 964
                      Latitude: 47.4748
                      Longitude: -122.2704
                      PrecipitationInInches: null
                      ReadingTime: 2025-11-08T07:45:00.000Z
                      RelativeHumidity: 99
                      SkyCoverage: N/A
                      StationID: 1909
                      StationName: S 144th St on SB I-5 at mp 155.32
                      TemperatureInFahrenheit: 46.58
                      Visibility: 1
                      WindDirection: 130
                      WindDirectionCardinal: SE
                      WindGustSpeedInMPH: 1
                      WindSpeedInMPH: 0
                    - _note: ... 2 more items
  /SearchWeatherInformationAsJson?StationID={StationID}&SearchStartTime={SearchStartTime}&SearchEndTime={SearchEndTime}:
    get:
      summary: Returns multiple WeatherInfo for historical time range.
      operationId: searchWeatherInformation
      tags:
        - weather-info
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { searchWeatherInformation } from 'ws-dottie/wsdot-weather-information/core';

            const data = await fetchDottie({
              endpoint: searchWeatherInformation,
              params: {
                "StationID": 1980,
                "SearchStartTime": "2025-11-07T00:00:00.000Z",
                "SearchEndTime": "2025-11-08T23:59:59.000Z"
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/SearchWeatherInformationInputStationIDParam'
        - $ref: '#/components/parameters/SearchWeatherInformationInputSearchStartTimeParam'
        - $ref: '#/components/parameters/SearchWeatherInformationInputSearchEndTimeParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchWeatherInformationOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 47 total)
                  value:
                    - BarometricPressure: null
                      Latitude: 47.078
                      Longitude: -120.724
                      PrecipitationInInches: null
                      ReadingTime: 2025-11-07T08:45:00.000Z
                      RelativeHumidity: 73
                      SkyCoverage: N/A
                      StationID: 1980
                      StationName: Rocky Canyon on I-90 at mp 95.74
                      TemperatureInFahrenheit: 41
                      Visibility: 1
                      WindDirection: 305
                      WindDirectionCardinal: NW
                      WindGustSpeedInMPH: 14
                      WindSpeedInMPH: 11
                    - _note: ... 46 more items
  /GetCurrentWeatherInformationAsJson:
    get:
      summary: Returns multiple WeatherInfo items for all stations.
      operationId: fetchWeatherInformation
      tags:
        - weather-info
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchWeatherInformation } from 'ws-dottie/wsdot-weather-information/core';

            const data = await fetchDottie({
              endpoint: fetchWeatherInformation,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchWeatherInformationOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 100 total)
                  value:
                    - BarometricPressure: 964
                      Latitude: 47.4748
                      Longitude: -122.2704
                      PrecipitationInInches: null
                      ReadingTime: 2025-11-08T07:45:00.000Z
                      RelativeHumidity: 99
                      SkyCoverage: N/A
                      StationID: 1909
                      StationName: S 144th St on SB I-5 at mp 155.32
                      TemperatureInFahrenheit: 46.58
                      Visibility: 1
                      WindDirection: 130
                      WindDirectionCardinal: SE
                      WindGustSpeedInMPH: 1
                      WindSpeedInMPH: 0
                    - _note: ... 99 more items
webhooks: {}
tags:
  - name: weather-info
    description: Each WeatherInfo item represents current atmospheric conditions from a WSDOT Road Weather Information System station. These stations measure temperature, humidity, wind speed and direction, barometric pressure, precipitation, visibility, and sky coverage to support transportation operations.
    externalDocs:
      description: Use to assess road weather conditions by providing real-time atmospheric data for transportation management and traveler safety decisions.
