openapi: 3.1.0
info:
  title: Wsdot Border Crossings API
  version: 1.0.0
  description: Wsdot Border Crossings API - Washington State Department of Transportation APIs
servers:
  - url: https://wsdot.wa.gov/Traffic/api/BorderCrossings/BorderCrossingsREST.svc
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    FetchBorderCrossingsOutput:
      type: object
      properties:
        BorderCrossingLocation:
          type:
            - object
            - 'null'
          properties:
            Description:
              type:
                - string
                - 'null'
              description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
            Direction:
              type:
                - string
                - 'null'
              description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
            Latitude:
              type: number
              description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            Longitude:
              type: number
              description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            MilePost:
              type: number
              description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
            RoadName:
              type:
                - string
                - 'null'
              description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
          required:
            - Description
            - Direction
            - Latitude
            - Longitude
            - MilePost
            - RoadName
          description: Roadway location information for border crossing, as a roadway location object. E.g., I-5 General Purpose at latitude 49.004776, longitude -122.756964, null when location data is unavailable like SR539Nexus. Provides geographic and route information for crossing identification.
        CrossingName:
          type:
            - string
            - 'null'
          description: Common name identifier for border crossing, as a crossing code. E.g., 'I5' for I-5 General Purpose, 'I5Nexus' for I-5 Nexus Lane, 'SR543TrucksFast' for SR-543 Trucks FAST Lane, 'SR9' for SR-9 General Purpose, null when crossing name is unavailable. Used for crossing identification and user display.
        Time:
          type: string
          description: Timestamp when border crossing wait time reading was taken, as a UTC datetime. E.g., '2025-11-02T19:10:00.000Z' for reading at 7:10 PM on November 2, 2025. Indicates data freshness and when wait time measurement occurred.
        WaitTime:
          type: integer
          description: Current border crossing wait time, as minutes. E.g., '15' for 15 minutes at I-5 General Purpose, '5' for 5 minutes at I-5 Nexus Lane, '10' for 10 minutes at SR-543 Trucks, '-1' when wait time is unavailable or not applicable. Negative values indicate wait time data is not available for that crossing.
      required:
        - BorderCrossingLocation
        - CrossingName
        - Time
        - WaitTime
      description: Represents border crossing wait time data including crossing identification, location information, current wait times, and measurement timestamp. E.g., I-5 General Purpose crossing (I5) at location 49.004776, -122.756964 with 15 minute wait time measured at 7:10 PM. Used for border crossing planning, route selection, and wait time monitoring. Updates approximately every minute.
  parameters: {}
paths:
  /GetBorderCrossingsAsJson:
    get:
      summary: Returns an array of BorderCrossingData objects containing current wait times for all Washington State border crossings into Canada.
      operationId: fetchBorderCrossings
      tags:
        - border-crossing-data
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchBorderCrossings } from 'ws-dottie/wsdot-border-crossings/core';

            const data = await fetchDottie({
              endpoint: fetchBorderCrossings,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchBorderCrossingsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 11 total)
                  value:
                    - BorderCrossingLocation:
                        Description: I-5 General Purpose
                        Direction: null
                        Latitude: 49.004776
                        Longitude: -122.756964
                        MilePost: 0
                        RoadName: '005'
                      CrossingName: I5
                      Time: 2025-11-08T08:30:00.000Z
                      WaitTime: 5
                    - _note: ... 10 more items
webhooks: {}
tags:
  - name: border-crossing-data
    description: Each BorderCrossingData item represents current border crossing wait time information for Washington State crossings into Canada, including crossing identification (name and type), location coordinates, timestamp data, and wait time measurements in minutes. These items provide real-time traffic flow data for I-5, SR-543, SR-539, and SR-9 crossings, supporting both general purpose and specialized lanes (Nexus, Trucks, FAST).
    externalDocs:
      description: Use to plan border crossing routes and estimate wait times by providing real-time wait time data, crossing location information, and timestamp measurements for Washington State crossings into Canada. Compare wait times across different crossing types (general purpose, Nexus, truck lanes) and select optimal crossing points for travel planning.
