openapi: 3.1.0
info:
  title: Wsdot Weather Stations API
  version: 1.0.0
  description: Wsdot Weather Stations API - Washington State Department of Transportation APIs
servers:
  - url: https://wsdot.wa.gov/traffic/api/WeatherStations/WeatherStationsREST.svc
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    FetchWeatherStationsOutput:
      type: object
      properties:
        Latitude:
          type: number
          description: GPS latitude coordinate for weather station location, in decimal degrees. E.g., '47.4748' for S 144th St station on I-5, '47.760632547' for NE 195th station on I-405, '47.509' for Echo Lake station on I-90.
        Longitude:
          type: number
          description: GPS longitude coordinate for weather station location, in decimal degrees. E.g., '-122.2704' for S 144th St station, '-122.18404783' for NE 195th station, '-121.885' for Echo Lake station.
        StationCode:
          type: integer
          description: Unique weather station identifier code, as an integer ID. E.g., '1909' for S 144th St station on SB I-5, '1910' for NE 195th station on SB I-405, '1928' for Echo Lake station on EB I-90, '1913' for Bear Creek Bridge station. Used as primary key for station identification and weather data lookups.
        StationName:
          type:
            - string
            - 'null'
          description: WSDOT-assigned common name for weather station, as a station name. E.g., 'S 144th St on SB I-5 at mp 155.32' for station 1909, 'NE 195th on SB I-405 at mp 24.58' for station 1910, 'Bear Creek Bridge' for station 1913, 'EB I-90 / SR-18 (Echo Lake) at mp 26.30' for station 1928, null when station name is unavailable. Provides location identification for weather station.
      required:
        - Latitude
        - Longitude
        - StationCode
        - StationName
      description: Represents weather station metadata including station identifier, name, and location coordinates. E.g., station 1909 (S 144th St on SB I-5) at location 47.4748, -122.2704. Used for weather station discovery, location-based queries, and identifying stations for weather data retrieval. Provides reference information for weather station lookups.
  parameters: {}
paths:
  /GetCurrentStationsAsJson:
    get:
      summary: Returns multiple WeatherStation items for statewide coverage.
      operationId: fetchWeatherStations
      tags:
        - weather-stations
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchWeatherStations } from 'ws-dottie/wsdot-weather-stations/core';

            const data = await fetchDottie({
              endpoint: fetchWeatherStations,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchWeatherStationsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 131 total)
                  value:
                    - Latitude: 47.4748
                      Longitude: -122.2704
                      StationCode: 1909
                      StationName: S 144th St on SB I-5 at mp 155.32
                    - _note: ... 130 more items
webhooks: {}
tags:
  - name: weather-stations
    description: Each WeatherStation item represents a road weather information system station location across Washington state. These stations collect atmospheric and pavement condition data to support transportation operations and traveler safety.
    externalDocs:
      description: Use to monitor weather conditions by providing location coordinates, station identifiers, and names for road weather monitoring and maintenance decision support.
