openapi: 3.1.0
info:
  title: Wsdot Bridge Clearances API
  version: 1.0.0
  description: Wsdot Bridge Clearances API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/traffic/api/bridges/clearancerest.svc
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    BridgeClearancesOutput:
      type: object
      properties:
        APILastUpdate:
          type: string
          description: Timestamp when bridge clearance record was last updated, as a UTC datetime. E.g., '2025-10-31T17:30:02.390Z' for update on October 31, 2025 at 10:30 AM. Indicates data freshness and when clearance information was last modified.
        BridgeNumber:
          type:
            - string
            - 'null'
          description: Two-part bridge identifier combining route and structure number, as a bridge identifier. E.g., '519/101FTP' for route 519 bridge 101FTP, '5/629A' for I-5 bridge 629A, '520/36E-E' for SR-520 bridge 36E-E, null when bridge number is unavailable. First part indicates associated state route, second part is unique bridge identifier.
        ControlEntityGuid:
          type: string
          description: Unique bridge control entity identifier, as a GUID. E.g., 'e589eb93-c01b-4498-8243-89f48bf5c43d' for bridge 519/101FTP, '88ba5341-b39c-43c9-95a5-bc9584b2d798' for bridge 5/629A. Used for bridge management and tracking systems.
        CrossingDescription:
          type:
            - string
            - 'null'
          description: Human-readable description of bridge crossing, as a crossing description. E.g., 'SEATTLE SLIP 1 PASS. OHL' for overhead line crossing, 'W FRANKLIN ST UNDER US 101' for street underpass, 'I-5 S-S RAMP UNDER BROADWAY' for ramp crossing, null when description is unavailable. Provides context for bridge location and crossing type.
        CrossingLocationId:
          type: number
          description: Unique identifier for bridge crossing location, as an integer ID. E.g., '9603' for Seattle Slip 1 crossing, '6192' for I-5 Broadway crossing, '9606' for Franklin Street crossing. Used for crossing identification and location tracking.
        CrossingRecordGuid:
          type: string
          description: Unique identifier for bridge crossing record, as a GUID. E.g., '3d78286b-a191-4978-9382-9f914341d6b0' for crossing 9603, '9b764b55-9fc1-4448-8b0b-3f35b83d6f5f' for crossing 6192. Used for crossing record management and data integrity.
        InventoryDirection:
          type:
            - string
            - 'null'
          description: Milepost direction indicator for bridge location, as a direction code. E.g., 'I' for Increasing milepost direction, 'D' for Decreasing milepost direction, 'B' for Both directions, null when direction is not applicable. Indicates which direction of travel the bridge clearance applies to.
        Latitude:
          type: number
          description: Bridge GPS latitude coordinate, in decimal degrees. E.g., '47.602165' for Seattle area bridge, '47.961343' for Everett area bridge, '46.414795' for southern Washington bridge.
        LocationGuid:
          type: string
          description: Unique identifier for bridge location, as a GUID. E.g., 'dcf13720-32a4-40e3-b824-663775ab2bbc' for Seattle location, 'dad9f2c9-ae79-4efb-8f3e-587e402e0f80' for Everett location. Used for location tracking and geographic referencing.
        Longitude:
          type: number
          description: Bridge GPS longitude coordinate, in decimal degrees. E.g., '-122.339587' for Seattle area bridge, '-122.200516' for Everett area bridge, '-122.890212' for southern Washington bridge.
        RouteDate:
          type: string
          description: Date when route information was established or last updated, as a UTC datetime. E.g., '2017-01-01T08:00:00.000Z' for route date December 31, 2016, '2019-01-01T08:00:00.000Z' for route date December 31, 2018. Indicates when route association was established or modified.
        SRMP:
          type: number
          description: State Route Milepost reference point, as a decimal. E.g., '0' for route terminus or non-standard location, '21.59' for milepost 21.59 on SR-167. Linear referencing method value indicating position along state route.
        SRMPAheadBackIndicator:
          type:
            - string
            - 'null'
          description: Milepost equation area indicator, as an indicator code. E.g., 'A' for ahead mileage equation area, null when not in equation area. Indicates if bridge is in back mileage equation area where route segments were added or realigned.
        StateRouteID:
          type:
            - string
            - 'null'
          description: State route identifier assigned by legislature, as a route identifier. E.g., '00167' for SR-167, '005S119195' for I-5 southbound segment, '000GEOMETRY' for non-standard geometry route, null when route ID is not applicable. Official route designation for bridge association.
        StateStructureId:
          type:
            - string
            - 'null'
          description: Permanent bridge structure identifier assigned by WSDOT Bridge Office, as a structure code. E.g., '0014407A' for bridge 519/101FTP, '0003842B' for bridge 5/629A, '0019670A' for bridge 520/36E-E, null when structure ID is unavailable. Permanent 8-digit code that does not change for bridge lifetime.
        VerticalClearanceMaximumFeetInch:
          type:
            - string
            - 'null'
          description: Maximum vertical clearance height in feet and inches. E.g., '14 ft 3 in' for 14 feet 3 inches clearance, '28 ft 6 in' for 28 feet 6 inches clearance, '19 ft 9 in' for 19 feet 9 inches clearance, null when maximum clearance is unavailable. Human-readable format for display purposes.
        VerticalClearanceMaximumInches:
          type: number
          description: Maximum vertical clearance height in total inches, as inches. E.g., '171' for 14 feet 3 inches (171 inches), '342' for 28 feet 6 inches (342 inches), '237' for 19 feet 9 inches (237 inches). Used for clearance calculations and height-restricted vehicle routing.
        VerticalClearanceMinimumFeetInch:
          type:
            - string
            - 'null'
          description: Minimum vertical clearance height in feet and inches. E.g., '14 ft 3 in' for 14 feet 3 inches clearance, '27 ft 11 in' for 27 feet 11 inches clearance, '16 ft 8 in' for 16 feet 8 inches clearance, null when minimum clearance is unavailable. Human-readable format indicating lowest clearance point.
        VerticalClearanceMinimumInches:
          type: number
          description: Minimum vertical clearance height in total inches, as inches. E.g., '171' for 14 feet 3 inches (171 inches), '335' for 27 feet 11 inches (335 inches), '200' for 16 feet 8 inches (200 inches). Used for clearance calculations and determining safe passage for height-restricted vehicles.
      required:
        - APILastUpdate
        - BridgeNumber
        - ControlEntityGuid
        - CrossingDescription
        - CrossingLocationId
        - CrossingRecordGuid
        - InventoryDirection
        - Latitude
        - LocationGuid
        - Longitude
        - RouteDate
        - SRMP
        - SRMPAheadBackIndicator
        - StateRouteID
        - StateStructureId
        - VerticalClearanceMaximumFeetInch
        - VerticalClearanceMaximumInches
        - VerticalClearanceMinimumFeetInch
        - VerticalClearanceMinimumInches
      description: Represents bridge clearance information including location coordinates, route associations, vertical clearance measurements, and structure identification. E.g., bridge 519/101FTP at location 47.602165, -122.339587 with clearance 14 ft 3 in (171 inches) on route 519. Used for route planning, height-restricted vehicle navigation, and bridge inventory management. Data updated periodically as bridge measurements change.
    BridgeClearancesByRouteInputRouteParam:
      type: string
      description: State route identifier formatted as three-digit number, as a route identifier. E.g., '005' for I-5, '167' for SR-167, '520' for SR-520. Used to filter bridge clearances for specific highway routes.
  parameters:
    BridgeClearancesByRouteInputRouteParam:
      schema:
        $ref: '#/components/schemas/BridgeClearancesByRouteInputRouteParam'
      required: true
      description: State route identifier formatted as three-digit number, as a route identifier. E.g., '005' for I-5, '167' for SR-167, '520' for SR-520. Used to filter bridge clearances for specific highway routes.
      name: Route
      in: path
paths:
  /getClearancesAsJson?Route={Route}:
    get:
      summary: Returns an array of BridgeDataGIS objects containing vertical clearance data filtered by specified state route.
      operationId: getBridgeClearancesByRoute
      tags:
        - bridge-clearances
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getBridgeClearancesByRoute } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getBridgeClearancesByRoute,
              params: {
                "Route": "005"
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/BridgeClearancesByRouteInputRouteParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BridgeClearancesOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 972 total)
                  value:
                    - APILastUpdate: 2025-11-05T11:30:02.307Z
                      BridgeNumber: 5/629A
                      ControlEntityGuid: 88ba5341-b39c-43c9-95a5-bc9584b2d798
                      CrossingDescription: I-5 S-S RAMP UNDER BROADWAY
                      CrossingLocationId: 6192
                      CrossingRecordGuid: 9b764b55-9fc1-4448-8b0b-3f35b83d6f5f
                      InventoryDirection: I
                      Latitude: 47.961343
                      LocationGuid: dad9f2c9-ae79-4efb-8f3e-587e402e0f80
                      Longitude: -122.200516
                      RouteDate: 2016-12-31T08:00:00.000Z
                      SRMP: 0
                      SRMPAheadBackIndicator: A
                      StateRouteID: 005S119195
                      StateStructureId: 0003842B
                      VerticalClearanceMaximumFeetInch: 14 ft 5 in
                      VerticalClearanceMaximumInches: 173
                      VerticalClearanceMinimumFeetInch: 14 ft 1 in
                      VerticalClearanceMinimumInches: 169
                    - _note: ... 971 more items
  /getClearancesAsJson:
    get:
      summary: Returns an array of BridgeDataGIS objects containing vertical clearance data for all Washington State bridges.
      operationId: getBridgeClearances
      tags:
        - bridge-clearances
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getBridgeClearances } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getBridgeClearances,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BridgeClearancesOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 2992 total)
                  value:
                    - APILastUpdate: 2025-11-05T11:30:02.307Z
                      BridgeNumber: 519/101FTP
                      ControlEntityGuid: e589eb93-c01b-4498-8243-89f48bf5c43d
                      CrossingDescription: SEATTLE SLIP 1 PASS. OHL
                      CrossingLocationId: 9603
                      CrossingRecordGuid: 3d78286b-a191-4978-9382-9f914341d6b0
                      InventoryDirection: null
                      Latitude: 47.602165
                      LocationGuid: dcf13720-32a4-40e3-b824-663775ab2bbc
                      Longitude: -122.339587
                      RouteDate: 2016-12-31T08:00:00.000Z
                      SRMP: 0
                      SRMPAheadBackIndicator: null
                      StateRouteID: null
                      StateStructureId: 0014407A
                      VerticalClearanceMaximumFeetInch: 14 ft 3 in
                      VerticalClearanceMaximumInches: 171
                      VerticalClearanceMinimumFeetInch: 14 ft 3 in
                      VerticalClearanceMinimumInches: 171
                    - _note: ... 2991 more items
webhooks: {}
tags:
  - name: bridge-clearances
    description: Each BridgeDataGIS item represents vertical clearance measurements for Washington State bridges, including bridge identification numbers, GPS coordinates, route information, and clearance height data in both feet-inches and inches formats. These items provide essential height restriction information needed for commercial vehicle routing and oversize load permit applications.
    externalDocs:
      description: Use to check bridge heights and plan commercial vehicle routes by providing vertical clearance measurements, bridge location data, and route information for Washington State bridges. Verify vehicle clearance requirements and identify height restrictions before planning routes with oversize loads.
