openapi: 3.1.0
info:
  title: Wsdot Weather Readings API
  version: 1.0.0
  description: Wsdot Weather Readings API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/traffic/api/api
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    WeatherReadingsOutput:
      type: object
      properties:
        StationId:
          type: string
          description: National Weather Service assigned identifier for weather station, as a station code. E.g., 'KSEA' for Seattle area stations, 'KPDX' for Portland area stations, 'KSFO' for San Francisco area stations. Used for cross-referencing with NWS weather data systems and national weather service integration.
        StationName:
          type: string
          description: WSDOT-assigned name for weather station, as a station name. E.g., 'S 144th St on SB I-5 at mp 155.32' for station on I-5, 'NE 195th on SB I-405 at mp 24.58' for station on I-405, 'EB I-90 / SR-18 (Echo Lake) at mp 26.30' for Echo Lake station. Provides location identification for weather station and context for reading location.
        Latitude:
          type: number
          description: GPS latitude coordinate for weather station location, in decimal degrees. E.g., '47.4748' for S 144th St station on I-5, '47.760632547' for NE 195th station on I-405, '47.509' for Echo Lake station on I-90.
        Longitude:
          type: number
          description: GPS longitude coordinate for weather station location, in decimal degrees. E.g., '-122.2704' for S 144th St station, '-122.18404783' for NE 195th station, '-121.885' for Echo Lake station.
        Elevation:
          type: integer
          description: Elevation of weather station above sea level, as meters. E.g., '150' for 150 meters elevation, '500' for 500 meters elevation. Used for understanding station altitude and weather context.
        ReadingTime:
          type:
            - string
            - 'null'
          description: Timestamp when comprehensive weather reading was taken, as an ISO datetime string. E.g., '2025-11-02T19:00:00Z' for reading at 7:00 PM UTC on November 2, 2025, null when reading time is unavailable. Indicates data freshness and when all measurements occurred.
        AirTemperature:
          type:
            - number
            - 'null'
          description: Current air temperature reading at weather station, as degrees Celsius. E.g., '12.3' for 12.3°C air temperature, '-5.2' for -5.2°C air temperature, null when temperature reading is unavailable. Used for temperature monitoring and weather condition assessment.
        RelativeHumidty:
          type:
            - integer
            - 'null'
          description: Percent of moisture in air relative to saturation, as percent. E.g., '73' for 73% humidity, '45' for 45% humidity, null when humidity reading is unavailable. Range 0-100% where 0% indicates no moisture and 100% indicates completely saturated air. Used for comfort assessment and weather condition analysis.
        AverageWindSpeed:
          type:
            - integer
            - 'null'
          description: Average wind speed during evaluation cycle, as kilometers per hour. E.g., '15' for 15 km/h average wind, '25' for 25 km/h average wind, null when wind speed reading is unavailable. Used for wind condition assessment and weather monitoring.
        AverageWindDirection:
          type:
            - integer
            - 'null'
          description: Average wind direction during evaluation cycle, as degrees from north. E.g., '180' for 180 degrees (south), '270' for 270 degrees (west), null when wind direction reading is unavailable. Measured clockwise from north (0-359 degrees).
        WindGust:
          type:
            - integer
            - 'null'
          description: Maximum wind gust speed measured during evaluation cycle, as kilometers per hour. E.g., '30' for 30 km/h gusts, '50' for 50 km/h gusts, null when wind gust reading is unavailable. Monitoring period varies by RWIS site type and manufacturer. Used for wind condition assessment and safety monitoring.
        Visibility:
          type:
            - integer
            - 'null'
          description: Average visibility distance that can be seen, as meters. E.g., '1000' for 1000 meters visibility, '500' for 500 meters visibility, null when visibility reading is unavailable. Computed every three minutes for both day and night conditions. Used for fog, smoke, and visibility condition assessment.
        PrecipitationIntensity:
          type:
            - integer
            - 'null'
          description: Intensity of precipitation derived from precipitation rate, as intensity units. E.g., '5' for light precipitation intensity, '15' for moderate intensity, null when precipitation intensity is unavailable. Used for precipitation rate assessment.
        PrecipitationType:
          type:
            - integer
            - 'null'
          description: Type of precipitation detected by sensor, as a precipitation type code. E.g., '1' for rain, '2' for snow, '0' for no precipitation when sensor only detects presence/absence, null when precipitation type is unavailable. Some sensors only detect presence (1) or absence (0) of precipitation. Used for precipitation type identification.
        PrecipitationPast1Hour:
          type:
            - number
            - 'null'
          description: Precipitation amount (rainfall or snowfall liquid equivalent) for previous 1 hour period, as millimeters. E.g., '2.5' for 2.5 mm precipitation in past hour, null when 1-hour precipitation is unavailable. Used for short-term precipitation tracking.
        PrecipitationPast3Hours:
          type:
            - number
            - 'null'
          description: Precipitation amount (rainfall or snowfall liquid equivalent) for previous 3 hour period, as millimeters. E.g., '5.2' for 5.2 mm precipitation in past 3 hours, null when 3-hour precipitation is unavailable. Used for medium-term precipitation tracking.
        PrecipitationPast6Hours:
          type:
            - number
            - 'null'
          description: Precipitation amount (rainfall or snowfall liquid equivalent) for previous 6 hour period, as millimeters. E.g., '8.7' for 8.7 mm precipitation in past 6 hours, null when 6-hour precipitation is unavailable. Used for extended precipitation tracking.
        PrecipitationPast12Hours:
          type:
            - number
            - 'null'
          description: Precipitation amount (rainfall or snowfall liquid equivalent) for previous 12 hour period, as millimeters. E.g., '12.3' for 12.3 mm precipitation in past 12 hours, null when 12-hour precipitation is unavailable. Used for half-day precipitation tracking.
        PrecipitationPast24Hours:
          type:
            - number
            - 'null'
          description: Precipitation amount (rainfall or snowfall liquid equivalent) for previous 24 hour period, as millimeters. E.g., '20.5' for 20.5 mm precipitation in past 24 hours, null when 24-hour precipitation is unavailable. Used for daily precipitation tracking.
        PrecipitationAccumulation:
          type:
            - number
            - 'null'
          description: Precipitation amount (rainfall or snowfall liquid equivalent) from midnight GMT to current time, as millimeters. E.g., '15.2' for 15.2 mm accumulation since midnight GMT, null when accumulation is unavailable. Resets to zero at midnight GMT. Used for daily precipitation totals.
        BarometricPressure:
          type:
            - integer
            - 'null'
          description: Atmospheric pressure reading at weather station, as millibars. E.g., '1013' for 1013 millibars, '968' for 968 millibars, null when barometric pressure reading is unavailable. Reading is not adjusted for site elevation. Used for weather condition assessment and pressure trend analysis.
        SnowDepth:
          type:
            - integer
            - 'null'
          description: Depth of snow on representative areas excluding highway pavement, as centimeters. E.g., '15' for 15 cm snow depth, '30' for 30 cm snow depth, null when snow depth reading is unavailable. Avoids drifts and plowed areas. Used for snow accumulation monitoring.
        SurfaceMeasurements:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              SensorId:
                type: integer
                description: Unique surface sensor identifier at weather station, as an integer ID. E.g., '1' for first surface sensor, '2' for second surface sensor. Identifies which surface sensor recorded the measurement.
              SurfaceTemperature:
                type:
                  - number
                  - 'null'
                description: Current pavement surface temperature reading, as degrees Celsius. E.g., '5.2' for 5.2°C surface temperature, '-2.1' for -2.1°C (below freezing) surface temperature. Used for road condition assessment.
              RoadFreezingTemperature:
                type:
                  - number
                  - 'null'
                description: Freezing point of moisture on pavement based on chemical treatment, as degrees Celsius. E.g., '-5.0' for freezing point at -5°C with de-icing chemicals. Calculated based on specific chemical in use. Used for winter maintenance.
              RoadSurfaceCondition:
                type:
                  - number
                  - 'null'
                description: 'Road surface condition code detected by sensor, as a condition code. Valid values: 101 (Dry), 102 (Wet), 103 (Moist), 104 (Ice), 105 (Snow). Used for road condition assessment.'
            required:
              - SensorId
              - SurfaceTemperature
              - RoadFreezingTemperature
              - RoadSurfaceCondition
          description: Array of surface sensor measurements including pavement temperature, road freezing temperature, and surface condition codes. E.g., array with sensor 1 showing surface temperature 5.2°C and condition 102 (wet). Used for road condition monitoring and winter maintenance operations.
        SubSurfaceMeasurements:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              SensorId:
                type: integer
                description: Unique subsurface sensor identifier at weather station, as an integer ID. E.g., '1' for first subsurface sensor, '2' for second subsurface sensor. Identifies which subsurface sensor recorded the measurement.
              SubSurfaceTemperature:
                type:
                  - number
                  - 'null'
                description: Temperature reading from sensor embedded below road pavement, as degrees Celsius. E.g., '8.5' for 8.5°C subsurface temperature. Sensors typically embedded 12-18 inches below pavement surface. Used for ground temperature monitoring.
            required:
              - SensorId
              - SubSurfaceTemperature
          description: Array of subsurface sensor measurements including ground temperature from sensors embedded below road pavement. E.g., array with sensor 1 showing subsurface temperature 8.5°C. Used for ground temperature monitoring and predicting road surface conditions.
      required:
        - StationId
        - StationName
        - Latitude
        - Longitude
        - Elevation
        - ReadingTime
        - AirTemperature
        - RelativeHumidty
        - AverageWindSpeed
        - AverageWindDirection
        - WindGust
        - Visibility
        - PrecipitationIntensity
        - PrecipitationType
        - PrecipitationPast1Hour
        - PrecipitationPast3Hours
        - PrecipitationPast6Hours
        - PrecipitationPast12Hours
        - PrecipitationPast24Hours
        - PrecipitationAccumulation
        - BarometricPressure
        - SnowDepth
        - SurfaceMeasurements
        - SubSurfaceMeasurements
      description: Represents comprehensive weather reading from weather station including air temperature, humidity, wind conditions, visibility, precipitation data across multiple time periods, barometric pressure, snow depth, and surface/subsurface sensor measurements. E.g., station with air temperature 12.3°C, humidity 73%, wind 15 km/h, visibility 1000 meters, and surface measurements showing wet conditions. Used for complete weather station data access, road condition assessment, and comprehensive weather analysis. Data updated periodically throughout the day.
    SurfaceMeasurementsOutput:
      type: object
      properties:
        SensorId:
          type: number
          description: Unique sensor identifier at weather station, as an integer ID. E.g., '1' for first sensor, '2' for second sensor. Identifies which surface sensor recorded the measurement when multiple sensors exist at station.
        SurfaceTemperature:
          type: number
          description: Current pavement surface temperature reading, as degrees Celsius. E.g., '5.2' for 5.2°C surface temperature, '-2.1' for -2.1°C (below freezing) surface temperature. Used for road condition assessment and ice formation prediction.
        RoadFreezingTemperature:
          type: number
          description: Freezing point of moisture on pavement based on chemical treatment, as degrees Celsius. E.g., '-5.0' for freezing point at -5°C with de-icing chemicals, '-10.0' for lower freezing point with stronger treatment. Calculated based on specific chemical in use at sensor location. Used for winter maintenance decision-making.
        RoadSurfaceCondition:
          type: number
          description: 'Road surface condition code detected by sensor, as a condition code. Valid values: 101 (Dry), 102 (Wet), 103 (Moist), 104 (Ice), 105 (Snow), 108 (Unknown/Other). E.g., ''101'' indicates dry pavement, ''102'' indicates wet pavement, ''104'' indicates icy conditions. Used for road condition assessment and travel safety evaluation.'
      description: Represents surface sensor measurements including pavement temperature, road freezing temperature, and surface condition code. E.g., sensor 1 with surface temperature 5.2°C, freezing temperature -5.0°C, and condition 102 (wet). Used for road condition monitoring, winter maintenance operations, and travel safety assessments. Measurements recorded by sensors embedded in or mounted on road surfaces.
    SubSurfaceMeasurementsOutput:
      type: object
      properties:
        SensorId:
          type: number
          description: Unique sensor identifier at weather station, as an integer ID. E.g., '1' for first subsurface sensor, '2' for second subsurface sensor. Identifies which subsurface sensor recorded the measurement when multiple sensors exist at station.
        SubSurfaceTemperature:
          type: number
          description: Temperature reading from sensor embedded below road pavement, as degrees Celsius. E.g., '8.5' for 8.5°C subsurface temperature, '2.1' for 2.1°C subsurface temperature. Sensors typically embedded 12-18 inches below pavement surface. Used for ground temperature monitoring and predicting road surface conditions.
      description: Represents subsurface sensor measurements including ground temperature from sensors embedded below road pavement. E.g., sensor 1 with subsurface temperature 8.5°C. Used for ground temperature monitoring, winter maintenance operations, and travel safety assessments. Measurements recorded by sensors embedded 12-18 inches below road pavement surfaces.
  parameters: {}
paths:
  /Scanweb:
    get:
      summary: Returns current weather readings from all weather stations.
      operationId: getWeatherReadings
      tags:
        - weather-readings
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getWeatherReadings } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getWeatherReadings,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WeatherReadingsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 131 total)
                  value:
                    - StationId: TALPE
                      StationName: 090ws05226 - Alpental
                      Latitude: 47.427
                      Longitude: -121.418
                      Elevation: 876
                      ReadingTime: 2025-11-05T07:48:33.000Z
                      AirTemperature: 4
                      RelativeHumidty: 86
                      AverageWindSpeed: 2
                      AverageWindDirection: 155
                      WindGust: 26
                      Visibility: 2000
                      PrecipitationIntensity: 0
                      PrecipitationType: 0
                      PrecipitationPast1Hour: null
                      PrecipitationPast3Hours: null
                      PrecipitationPast6Hours: null
                      PrecipitationPast12Hours: 1.3
                      PrecipitationPast24Hours: 4.8
                      PrecipitationAccumulation: null
                      BarometricPressure: null
                      SnowDepth: null
                      SurfaceMeasurements:
                        - SensorId: 0
                          SurfaceTemperature: 6.8
                          RoadFreezingTemperature: null
                          RoadSurfaceCondition: 103
                        - SensorId: 1
                          SurfaceTemperature: 5.2
                          RoadFreezingTemperature: null
                          RoadSurfaceCondition: 103
                      SubSurfaceMeasurements:
                        - SensorId: 0
                          SubSurfaceTemperature: 3.8
                    - _note: ... 130 more items
  /Scanweb/SubSurfaceMeasurements:
    get:
      summary: Returns array of SubSurfaceMeasurements for all weather stations statewide.
      operationId: getSubSurfaceMeasurements
      tags:
        - sub-surface-measurements
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getSubSurfaceMeasurements } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getSubSurfaceMeasurements,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubSurfaceMeasurementsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 131 total)
                  value:
                    - {}
                    - _note: ... 130 more items
  /Scanweb/SurfaceMeasurements:
    get:
      summary: Returns surface measurements from all weather stations.
      operationId: getSurfaceMeasurements
      tags:
        - surface-measurements
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getSurfaceMeasurements } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getSurfaceMeasurements,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SurfaceMeasurementsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 131 total)
                  value:
                    - {}
                    - _note: ... 130 more items
webhooks: {}
tags:
  - name: weather-readings
    description: 'WeatherReading provides current information from weather stations including temperature, humidity, wind conditions, visibility, precipitation data, and atmospheric pressure. Coverage Area: Statewide.'
  - name: surface-measurements
    description: 'SurfaceMeasurements provides surface sensor data including surface temperature, road freezing temperature, and road surface condition from weather stations. Coverage Area: Statewide.'
  - name: sub-surface-measurements
    description: Each SubSurfaceMeasurements item represents temperature data collected from sensors embedded 12-18 inches below road pavement surfaces. These measurements help transportation officials monitor ground temperature conditions that affect road safety and maintenance decisions.
    externalDocs:
      description: Use to assess road surface conditions by providing subsurface temperature data for winter maintenance operations and travel safety assessments.
