openapi: 3.1.0
info:
  title: Wsdot Travel Times API
  version: 1.0.0
  description: Wsdot Travel Times API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/traffic/api/traveltimes/traveltimesrest.svc
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    TravelTimeByIdOutput:
      type: object
      properties:
        AverageTime:
          type: number
          description: Average travel time to complete route based on historical data, as minutes. E.g., '30' for 30 minutes average on Everett-Seattle HOV route, '25' for 25 minutes average on Seattle-Everett route, '9' for 9 minutes average on Bellevue-Issaquah route. Used for comparing current conditions to typical travel times.
        CurrentTime:
          type: number
          description: Current estimated travel time to complete route based on real-time conditions, as minutes. E.g., '33' for 33 minutes current time on Everett-Seattle route, '26' for 26 minutes current time on Seattle-Everett HOV route, '9' for 9 minutes current time on Bellevue-Issaquah route. Reflects real-time traffic conditions and congestion.
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of travel time route, as a route description. E.g., 'Everett to Downtown Seattle using HOV lanes' for HOV route, 'Downtown Bellevue to Issaquah' for standard route, null when description is unavailable. Provides context about route purpose and characteristics.
        Distance:
          type: number
          description: Total route distance from start to end point, as miles. E.g., '26.72' for 26.72 miles on Everett-Seattle route, '9.28' for 9.28 miles on Bellevue-Issaquah route, '26.94' for 26.94 miles on Seattle-Everett route. Used for calculating average speed and route planning.
        EndPoint:
          type:
            - object
            - 'null'
          properties:
            Description:
              type:
                - string
                - 'null'
              description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
            Direction:
              type:
                - string
                - 'null'
              description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
            Latitude:
              type: number
              description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            Longitude:
              type: number
              description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            MilePost:
              type: number
              description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
            RoadName:
              type:
                - string
                - 'null'
              description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
          required:
            - Description
            - Direction
            - Latitude
            - Longitude
            - MilePost
            - RoadName
          description: Roadway location where travel time route ends, as a roadway location object. E.g., I-5 at University St in Seattle (milepost 165.83) for Everett-Seattle route, I-90 at Front St in Issaquah (milepost 16.96) for Bellevue-Issaquah route, null when end point is unavailable. Provides destination location for route.
        Name:
          type:
            - string
            - 'null'
          description: Human-readable name identifier for travel time route, as a route name. E.g., 'Everett-Seattle HOV' for HOV route, 'Seattle-Everett' for standard route, 'Bellevue-Issaquah' for Bellevue to Issaquah route, null when route name is unavailable. Used for route identification and display.
        StartPoint:
          type:
            - object
            - 'null'
          properties:
            Description:
              type:
                - string
                - 'null'
              description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
            Direction:
              type:
                - string
                - 'null'
              description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
            Latitude:
              type: number
              description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            Longitude:
              type: number
              description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            MilePost:
              type: number
              description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
            RoadName:
              type:
                - string
                - 'null'
              description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
          required:
            - Description
            - Direction
            - Latitude
            - Longitude
            - MilePost
            - RoadName
          description: Roadway location where travel time route begins, as a roadway location object. E.g., I-5 at 41st St in Everett (milepost 192.55) for Everett-Seattle route, I-405 at NE 8th St in Bellevue (milepost 13.33) for Bellevue-Issaquah route, null when start point is unavailable. Provides origin location for route.
        TimeUpdated:
          type: string
          description: Timestamp when travel time data was last updated, as a UTC datetime. E.g., '2025-11-02T19:25:00.000Z' for update at 7:25 PM on November 2, 2025. Indicates data freshness and when travel time calculation occurred.
        TravelTimeID:
          type: number
          description: Unique identifier for travel time route, as an integer ID. E.g., '1' for Everett-Seattle route, '2' for Everett-Seattle HOV route, '5' for Bellevue-Issaquah route. Used as primary key for route identification and lookups.
      required:
        - AverageTime
        - CurrentTime
        - Description
        - Distance
        - EndPoint
        - Name
        - StartPoint
        - TimeUpdated
        - TravelTimeID
      description: Represents travel time route information including current and average travel times, route distance, start/end point locations, and update timestamp. E.g., Everett-Seattle HOV route (ID 2) from Everett to Seattle with current time 33 minutes, average time 30 minutes, distance 26.72 miles. Used for route planning, travel time monitoring, and comparing current conditions to historical averages. Coverage includes Seattle, Tacoma, and Snoqualmie Pass areas. Data updated periodically to reflect current traffic conditions.
    TravelTimeByIdInputTravelTimeIDParam:
      type: number
      description: Unique travel time route identifier, as an integer ID. E.g., '1' for Everett-Seattle route, '2' for Everett-Seattle HOV route, '5' for Bellevue-Issaquah route. Used to retrieve specific route travel time data.
  parameters:
    TravelTimeByIdInputTravelTimeIDParam:
      schema:
        $ref: '#/components/schemas/TravelTimeByIdInputTravelTimeIDParam'
      required: true
      description: Unique travel time route identifier, as an integer ID. E.g., '1' for Everett-Seattle route, '2' for Everett-Seattle HOV route, '5' for Bellevue-Issaquah route. Used to retrieve specific route travel time data.
      name: TravelTimeID
      in: path
paths:
  /getTravelTimeAsJson?TravelTimeID={TravelTimeID}:
    get:
      summary: Returns a TravelTimeRoute object containing travel time data for a specified route ID.
      operationId: getTravelTimeById
      tags:
        - travel-time-routes
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getTravelTimeById } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getTravelTimeById,
              params: {
                "TravelTimeID": 1
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/TravelTimeByIdInputTravelTimeIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelTimeByIdOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    AverageTime: 50
                    CurrentTime: 79
                    Description: Everett to Downtown Seattle
                    Distance: 26.72
                    EndPoint:
                      Description: I-5 @ University St in Seattle
                      Direction: S
                      Latitude: 47.609294
                      Longitude: -122.331759
                      MilePost: 165.83
                      RoadName: '005'
                    Name: Everett-Seattle
                    StartPoint:
                      Description: I-5 @ 41st St in Everett
                      Direction: S
                      Latitude: 47.964146
                      Longitude: -122.199237
                      MilePost: 192.55
                      RoadName: '005'
                    TimeUpdated: 2025-11-06T00:05:00.000Z
                    TravelTimeID: 1
  /getTravelTimesAsJson:
    get:
      summary: Returns an array of TravelTimeRoute objects containing travel time data for all available routes.
      operationId: getTravelTimes
      tags:
        - travel-time-routes
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getTravelTimes } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getTravelTimes,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TravelTimeByIdOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 163 total)
                  value:
                    - AverageTime: 44
                      CurrentTime: 66
                      Description: Everett to Downtown Seattle using HOV lanes
                      Distance: 26.72
                      EndPoint:
                        Description: I-5 @ University St in Seattle
                        Direction: S
                        Latitude: 47.609294
                        Longitude: -122.331759
                        MilePost: 165.83
                        RoadName: '005'
                      Name: Everett-Seattle HOV
                      StartPoint:
                        Description: I-5 @ 41st St in Everett
                        Direction: S
                        Latitude: 47.964146
                        Longitude: -122.199237
                        MilePost: 192.55
                        RoadName: '005'
                      TimeUpdated: 2025-11-06T00:05:00.000Z
                      TravelTimeID: 2
                    - _note: ... 162 more items
webhooks: {}
tags:
  - name: travel-time-routes
    description: Each TravelTimeRoute item represents current travel time data for a specific route in Washington State, including average and current travel times, distance information, and start/end point locations. These routes cover major corridors in Seattle, Tacoma, and Snoqualmie Pass areas, helping travelers make informed routing decisions.
    externalDocs:
      description: Use to plan travel routes and estimate arrival times by providing current travel times, average times, distance, and route location information for Washington State highways. Compare current conditions against historical averages to identify traffic delays and optimize departure times.
