openapi: 3.1.0
info:
  title: Wsdot Commercial Vehicle Restrictions API
  version: 1.0.0
  description: Wsdot Commercial Vehicle Restrictions API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/traffic/api/cvrestrictions/cvrestrictionsrest.svc
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    CommercialVehicleRestrictionsOutput:
      type: object
      properties:
        BLMaxAxle:
          type:
            - number
            - 'null'
          description: Maximum axle weight for BL (Bridge Legal) classification, as pounds. E.g., '20000' for 20,000 lb per axle limit on Teanaway River bridge, '21500' for 21,500 lb limit on South Nemah River bridge, null when BL classification does not apply. Used for bridge legal weight compliance.
        BridgeName:
          type:
            - string
            - 'null'
          description: Name of bridge associated with restriction, as a bridge name. E.g., 'Teanaway River' for bridge 10/142, 'Bear River' for bridge 101/16, 'Greenhead Slough' for bridge 101/18, empty string when restriction is not bridge-specific. Provides bridge identification for restriction lookup.
        BridgeNumber:
          type:
            - string
            - 'null'
          description: WSDOT bridge identifier, as a bridge identifier. E.g., '10/142' for Teanaway River bridge, '101/16' for Bear River bridge, '101/18' for Greenhead Slough bridge, empty string when restriction is not bridge-specific. Used for bridge identification and cross-referencing with bridge clearance data.
        CL8MaxAxle:
          type:
            - number
            - 'null'
          description: Maximum axle weight for CL-8 classification, as pounds. E.g., '20000' for 20,000 lb per axle limit, '18000' for 18,000 lb limit, null when CL-8 classification does not apply. Used for commercial vehicle class 8 weight compliance.
        DateEffective:
          type: string
          description: Date when commercial vehicle restriction becomes effective, as a UTC datetime. E.g., '2011-10-18T07:00:00.000Z' for October 18, 2011, '2024-06-26T07:00:00.000Z' for June 26, 2024. Indicates when restriction enforcement begins.
        DateExpires:
          type: string
          description: Date when commercial vehicle restriction expires, as a UTC datetime. E.g., '2075-12-31T08:00:00.000Z' for December 31, 2075 (long-term restriction), '2013-10-24T07:00:00.000Z' for October 24, 2013 (temporary restriction). Indicates when restriction is no longer in force.
        DatePosted:
          type: string
          description: Date when commercial vehicle restriction was first posted, as a UTC datetime. E.g., '2011-10-19T05:12:00.000Z' for October 18, 2011 at 10:12 PM, '2014-08-27T05:43:00.000Z' for August 26, 2014 at 10:43 PM. Indicates when restriction information was published.
        EndRoadwayLocation:
          type:
            - object
            - 'null'
          properties:
            Description:
              type:
                - string
                - 'null'
              description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
            Direction:
              type:
                - string
                - 'null'
              description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
            Latitude:
              type: number
              description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            Longitude:
              type: number
              description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            MilePost:
              type: number
              description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
            RoadName:
              type:
                - string
                - 'null'
              description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
          required:
            - Description
            - Direction
            - Latitude
            - Longitude
            - MilePost
            - RoadName
          description: End location of restriction along roadway, as a roadway location object. E.g., SR 10 at milepost 0 for restriction end point, null when end location is not specified. Provides termination point for restriction zone along highway.
        IsDetourAvailable:
          type: boolean
          description: Indicator whether detour route is available around restriction, as a boolean. E.g., false for most restrictions like Teanaway River bridge, true when alternate route exists. Used for route planning when restriction must be avoided.
        IsExceptionsAllowed:
          type: boolean
          description: Indicator whether exceptions are permitted for restriction, as a boolean. E.g., false for most restrictions indicating strict enforcement, true when special permits or exceptions may be granted. Used for determining if restriction can be bypassed with authorization.
        IsPermanentRestriction:
          type: boolean
          description: Indicator whether restriction is permanent or temporary, as a boolean. E.g., false for temporary restrictions with expiration dates, true for permanent restrictions like railroad trestle height limits. Determines if restriction requires long-term route planning.
        IsWarning:
          type: boolean
          description: Indicator whether restriction is a warning rather than enforceable limit, as a boolean. E.g., false for enforceable restrictions, true when restriction serves as advisory warning. Used for distinguishing advisory versus mandatory restrictions.
        Latitude:
          type: number
          description: GPS latitude coordinate for restriction location, in decimal degrees. E.g., '47.15136148800159' for Teanaway River bridge near SR 10, '46.348343747148334' for Bear River bridge on US 101.
        LocationDescription:
          type:
            - string
            - 'null'
          description: Human-readable description of restriction location, as a location description. E.g., 'SR 10, MP 89.33 both directions-20,000 lbs limitation' for Teanaway River, 'US 101 MP 18.65 BD - Legal axle weights only. Max GVW 105,500lbs' for Bear River, null when description is unavailable. Provides detailed location context for restriction.
        LocationName:
          type:
            - string
            - 'null'
          description: Name of location where restriction applies, as a location name. E.g., '1.3 E Jct SR 970' for Teanaway River location, '5.2 N JCT SR 103' for Bear River location, 'Railroad Trestle - Thorp Area' for SR-10 height restriction, null when location name is unavailable. Provides landmark reference for restriction identification.
        Longitude:
          type: number
          description: GPS longitude coordinate for restriction location, in decimal degrees. E.g., '-120.80431521930812' for Teanaway River bridge, '-123.95870200417737' for Bear River bridge.
        MaximumGrossVehicleWeightInPounds:
          type:
            - number
            - 'null'
          description: Maximum gross vehicle weight limit in pounds, as pounds. E.g., '105500' for 105,500 lb maximum GVW on Bear River bridge, null when GVW limit is not specified. Used for total vehicle weight compliance checking.
        RestrictionComment:
          type:
            - string
            - 'null'
          description: 'Additional details and comments about restriction, as a human-readable description. E.g., ''BL =20,000 lbs, CL-8 =20,000 lbs, SA = 40,000 lbs.'' for axle weight breakdown, ''CAUTION: Bridge height is 15''. If your height is over 14''10" alternate route is advised.'' for height warning, null when comments are unavailable. Provides detailed restriction information and compliance guidance.'
        RestrictionHeightInInches:
          type:
            - number
            - 'null'
          description: 'Maximum load height restriction in inches, as inches. E.g., null when height restriction is not specified, ''180'' for 15-foot height limit (180 inches). Used for height-restricted vehicle routing. Note: Height restrictions may be specified in comments rather than this field.'
        RestrictionLengthInInches:
          type:
            - number
            - 'null'
          description: Maximum load length restriction in inches, as inches. E.g., null when length restriction is not specified. Used for length-restricted vehicle routing.
        RestrictionType:
          type: number
          description: 'Type of commercial vehicle restriction, as a restriction type code. Valid values: 0 (BridgeRestriction), 1 (RoadRestriction). E.g., ''0'' indicates bridge-specific restriction like Teanaway River bridge, ''1'' indicates roadway restriction like SR-10 height restriction. Determines whether restriction applies to bridge structure or roadway segment.'
        RestrictionWeightInPounds:
          type:
            - number
            - 'null'
          description: Maximum load weight restriction in pounds, as pounds. E.g., '0' when weight restriction uses axle classifications instead, null when weight restriction is not specified. Used for weight-restricted vehicle routing.
        RestrictionWidthInInches:
          type:
            - number
            - 'null'
          description: Maximum load width restriction in inches, as inches. E.g., null when width restriction is not specified. Used for width-restricted vehicle routing.
        SAMaxAxle:
          type:
            - number
            - 'null'
          description: Maximum axle weight for SA (Semi-Automatic) classification, as pounds. E.g., '40000' for 40,000 lb per axle limit, '38000' for 38,000 lb limit, '44500' for 44,500 lb limit, null when SA classification does not apply. Used for semi-automatic vehicle weight compliance.
        StartRoadwayLocation:
          type:
            - object
            - 'null'
          properties:
            Description:
              type:
                - string
                - 'null'
              description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
            Direction:
              type:
                - string
                - 'null'
              description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
            Latitude:
              type: number
              description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            Longitude:
              type: number
              description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            MilePost:
              type: number
              description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
            RoadName:
              type:
                - string
                - 'null'
              description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
          required:
            - Description
            - Direction
            - Latitude
            - Longitude
            - MilePost
            - RoadName
          description: Start location of restriction along roadway, as a roadway location object. E.g., SR 10 at milepost 89.33 for restriction start point, US 101 at milepost 18.65 for Bear River restriction. Provides origin point for restriction zone along highway.
        State:
          type:
            - string
            - 'null'
          description: State where commercial vehicle restriction is located, as a state code. E.g., 'WA' for Washington state restrictions, null when state is not specified. Used for multi-state restriction filtering.
        StateRouteID:
          type:
            - string
            - 'null'
          description: State route identifier where restriction applies, as a route identifier. E.g., '10' for SR-10, '101' for US-101. Used for route-specific restriction filtering and identification.
        TDMaxAxle:
          type:
            - number
            - 'null'
          description: Maximum axle weight for TD (Tandem Drive) classification, as pounds. E.g., null when TD classification does not apply. Used for tandem drive vehicle weight compliance.
        VehicleType:
          type:
            - string
            - 'null'
          description: Type of vehicle affected by restriction, as a vehicle type code. E.g., empty string when restriction applies to all commercial vehicles, null when vehicle type is not specified. Used for vehicle-specific restriction filtering.
      required:
        - BLMaxAxle
        - BridgeName
        - BridgeNumber
        - CL8MaxAxle
        - DateEffective
        - DateExpires
        - DatePosted
        - EndRoadwayLocation
        - IsDetourAvailable
        - IsExceptionsAllowed
        - IsPermanentRestriction
        - IsWarning
        - Latitude
        - LocationDescription
        - LocationName
        - Longitude
        - MaximumGrossVehicleWeightInPounds
        - RestrictionComment
        - RestrictionHeightInInches
        - RestrictionLengthInInches
        - RestrictionType
        - RestrictionWeightInPounds
        - RestrictionWidthInInches
        - SAMaxAxle
        - StartRoadwayLocation
        - State
        - StateRouteID
        - TDMaxAxle
        - VehicleType
      description: Represents commercial vehicle restriction information including weight limits by classification, height/width/length restrictions, location data, effective dates, and restriction type. E.g., Teanaway River bridge (10/142) on SR-10 with 20,000 lb BL and CL-8 axle limits effective October 2011 through December 2075. Used for commercial vehicle route planning, compliance checking, and restriction awareness. Covers bridge and roadway restrictions statewide.
    CommercialVehicleRestrictionsWithIdOutput:
      type: object
      properties:
        BLMaxAxle:
          type:
            - number
            - 'null'
          description: Maximum axle weight for BL (Bridge Legal) classification, as pounds. E.g., '20000' for 20,000 lb per axle limit on Teanaway River bridge, '21500' for 21,500 lb limit on South Nemah River bridge, null when BL classification does not apply. Used for bridge legal weight compliance.
        BridgeName:
          type:
            - string
            - 'null'
          description: Name of bridge associated with restriction, as a bridge name. E.g., 'Teanaway River' for bridge 10/142, 'Bear River' for bridge 101/16, 'Greenhead Slough' for bridge 101/18, empty string when restriction is not bridge-specific. Provides bridge identification for restriction lookup.
        BridgeNumber:
          type:
            - string
            - 'null'
          description: WSDOT bridge identifier, as a bridge identifier. E.g., '10/142' for Teanaway River bridge, '101/16' for Bear River bridge, '101/18' for Greenhead Slough bridge, empty string when restriction is not bridge-specific. Used for bridge identification and cross-referencing with bridge clearance data.
        CL8MaxAxle:
          type:
            - number
            - 'null'
          description: Maximum axle weight for CL-8 classification, as pounds. E.g., '20000' for 20,000 lb per axle limit, '18000' for 18,000 lb limit, null when CL-8 classification does not apply. Used for commercial vehicle class 8 weight compliance.
        DateEffective:
          type: string
          description: Date when commercial vehicle restriction becomes effective, as a UTC datetime. E.g., '2011-10-18T07:00:00.000Z' for October 18, 2011, '2024-06-26T07:00:00.000Z' for June 26, 2024. Indicates when restriction enforcement begins.
        DateExpires:
          type: string
          description: Date when commercial vehicle restriction expires, as a UTC datetime. E.g., '2075-12-31T08:00:00.000Z' for December 31, 2075 (long-term restriction), '2013-10-24T07:00:00.000Z' for October 24, 2013 (temporary restriction). Indicates when restriction is no longer in force.
        DatePosted:
          type: string
          description: Date when commercial vehicle restriction was first posted, as a UTC datetime. E.g., '2011-10-19T05:12:00.000Z' for October 18, 2011 at 10:12 PM, '2014-08-27T05:43:00.000Z' for August 26, 2014 at 10:43 PM. Indicates when restriction information was published.
        EndRoadwayLocation:
          type:
            - object
            - 'null'
          properties:
            Description:
              type:
                - string
                - 'null'
              description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
            Direction:
              type:
                - string
                - 'null'
              description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
            Latitude:
              type: number
              description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            Longitude:
              type: number
              description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            MilePost:
              type: number
              description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
            RoadName:
              type:
                - string
                - 'null'
              description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
          required:
            - Description
            - Direction
            - Latitude
            - Longitude
            - MilePost
            - RoadName
          description: End location of restriction along roadway, as a roadway location object. E.g., SR 10 at milepost 0 for restriction end point, null when end location is not specified. Provides termination point for restriction zone along highway.
        IsDetourAvailable:
          type: boolean
          description: Indicator whether detour route is available around restriction, as a boolean. E.g., false for most restrictions like Teanaway River bridge, true when alternate route exists. Used for route planning when restriction must be avoided.
        IsExceptionsAllowed:
          type: boolean
          description: Indicator whether exceptions are permitted for restriction, as a boolean. E.g., false for most restrictions indicating strict enforcement, true when special permits or exceptions may be granted. Used for determining if restriction can be bypassed with authorization.
        IsPermanentRestriction:
          type: boolean
          description: Indicator whether restriction is permanent or temporary, as a boolean. E.g., false for temporary restrictions with expiration dates, true for permanent restrictions like railroad trestle height limits. Determines if restriction requires long-term route planning.
        IsWarning:
          type: boolean
          description: Indicator whether restriction is a warning rather than enforceable limit, as a boolean. E.g., false for enforceable restrictions, true when restriction serves as advisory warning. Used for distinguishing advisory versus mandatory restrictions.
        Latitude:
          type: number
          description: GPS latitude coordinate for restriction location, in decimal degrees. E.g., '47.15136148800159' for Teanaway River bridge near SR 10, '46.348343747148334' for Bear River bridge on US 101.
        LocationDescription:
          type:
            - string
            - 'null'
          description: Human-readable description of restriction location, as a location description. E.g., 'SR 10, MP 89.33 both directions-20,000 lbs limitation' for Teanaway River, 'US 101 MP 18.65 BD - Legal axle weights only. Max GVW 105,500lbs' for Bear River, null when description is unavailable. Provides detailed location context for restriction.
        LocationName:
          type:
            - string
            - 'null'
          description: Name of location where restriction applies, as a location name. E.g., '1.3 E Jct SR 970' for Teanaway River location, '5.2 N JCT SR 103' for Bear River location, 'Railroad Trestle - Thorp Area' for SR-10 height restriction, null when location name is unavailable. Provides landmark reference for restriction identification.
        Longitude:
          type: number
          description: GPS longitude coordinate for restriction location, in decimal degrees. E.g., '-120.80431521930812' for Teanaway River bridge, '-123.95870200417737' for Bear River bridge.
        MaximumGrossVehicleWeightInPounds:
          type:
            - number
            - 'null'
          description: Maximum gross vehicle weight limit in pounds, as pounds. E.g., '105500' for 105,500 lb maximum GVW on Bear River bridge, null when GVW limit is not specified. Used for total vehicle weight compliance checking.
        RestrictionComment:
          type:
            - string
            - 'null'
          description: 'Additional details and comments about restriction, as a human-readable description. E.g., ''BL =20,000 lbs, CL-8 =20,000 lbs, SA = 40,000 lbs.'' for axle weight breakdown, ''CAUTION: Bridge height is 15''. If your height is over 14''10" alternate route is advised.'' for height warning, null when comments are unavailable. Provides detailed restriction information and compliance guidance.'
        RestrictionHeightInInches:
          type:
            - number
            - 'null'
          description: 'Maximum load height restriction in inches, as inches. E.g., null when height restriction is not specified, ''180'' for 15-foot height limit (180 inches). Used for height-restricted vehicle routing. Note: Height restrictions may be specified in comments rather than this field.'
        RestrictionLengthInInches:
          type:
            - number
            - 'null'
          description: Maximum load length restriction in inches, as inches. E.g., null when length restriction is not specified. Used for length-restricted vehicle routing.
        RestrictionType:
          type: number
          description: 'Type of commercial vehicle restriction, as a restriction type code. Valid values: 0 (BridgeRestriction), 1 (RoadRestriction). E.g., ''0'' indicates bridge-specific restriction like Teanaway River bridge, ''1'' indicates roadway restriction like SR-10 height restriction. Determines whether restriction applies to bridge structure or roadway segment.'
        RestrictionWeightInPounds:
          type:
            - number
            - 'null'
          description: Maximum load weight restriction in pounds, as pounds. E.g., '0' when weight restriction uses axle classifications instead, null when weight restriction is not specified. Used for weight-restricted vehicle routing.
        RestrictionWidthInInches:
          type:
            - number
            - 'null'
          description: Maximum load width restriction in inches, as inches. E.g., null when width restriction is not specified. Used for width-restricted vehicle routing.
        SAMaxAxle:
          type:
            - number
            - 'null'
          description: Maximum axle weight for SA (Semi-Automatic) classification, as pounds. E.g., '40000' for 40,000 lb per axle limit, '38000' for 38,000 lb limit, '44500' for 44,500 lb limit, null when SA classification does not apply. Used for semi-automatic vehicle weight compliance.
        StartRoadwayLocation:
          type:
            - object
            - 'null'
          properties:
            Description:
              type:
                - string
                - 'null'
              description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
            Direction:
              type:
                - string
                - 'null'
              description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
            Latitude:
              type: number
              description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            Longitude:
              type: number
              description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
            MilePost:
              type: number
              description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
            RoadName:
              type:
                - string
                - 'null'
              description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
          required:
            - Description
            - Direction
            - Latitude
            - Longitude
            - MilePost
            - RoadName
          description: Start location of restriction along roadway, as a roadway location object. E.g., SR 10 at milepost 89.33 for restriction start point, US 101 at milepost 18.65 for Bear River restriction. Provides origin point for restriction zone along highway.
        State:
          type:
            - string
            - 'null'
          description: State where commercial vehicle restriction is located, as a state code. E.g., 'WA' for Washington state restrictions, null when state is not specified. Used for multi-state restriction filtering.
        StateRouteID:
          type:
            - string
            - 'null'
          description: State route identifier where restriction applies, as a route identifier. E.g., '10' for SR-10, '101' for US-101. Used for route-specific restriction filtering and identification.
        TDMaxAxle:
          type:
            - number
            - 'null'
          description: Maximum axle weight for TD (Tandem Drive) classification, as pounds. E.g., null when TD classification does not apply. Used for tandem drive vehicle weight compliance.
        VehicleType:
          type:
            - string
            - 'null'
          description: Type of vehicle affected by restriction, as a vehicle type code. E.g., empty string when restriction applies to all commercial vehicles, null when vehicle type is not specified. Used for vehicle-specific restriction filtering.
        UniqueID:
          type:
            - string
            - 'null'
          description: 'Unique identifier for commercial vehicle restriction, as a restriction ID. E.g., ''B-WA-010-1'' for bridge restriction on SR-10, ''R-WA-010-1'' for road restriction on SR-10, ''B-WA-101-40'' for bridge restriction on US-101, null when unique ID is unavailable. Format: [Type]-[State]-[Route]-[Sequence]. Used for restriction tracking and ID-based lookups.'
      required:
        - BLMaxAxle
        - BridgeName
        - BridgeNumber
        - CL8MaxAxle
        - DateEffective
        - DateExpires
        - DatePosted
        - EndRoadwayLocation
        - IsDetourAvailable
        - IsExceptionsAllowed
        - IsPermanentRestriction
        - IsWarning
        - Latitude
        - LocationDescription
        - LocationName
        - Longitude
        - MaximumGrossVehicleWeightInPounds
        - RestrictionComment
        - RestrictionHeightInInches
        - RestrictionLengthInInches
        - RestrictionType
        - RestrictionWeightInPounds
        - RestrictionWidthInInches
        - SAMaxAxle
        - StartRoadwayLocation
        - State
        - StateRouteID
        - TDMaxAxle
        - VehicleType
        - UniqueID
      description: 'Represents commercial vehicle restriction information with unique identifier, including weight limits by classification, height/width/length restrictions, location data, effective dates, restriction type, and unique restriction ID. E.g., Teanaway River bridge restriction (ID: B-WA-010-1) on SR-10 with 20,000 lb axle limits. Used for commercial vehicle route planning, compliance checking, and restriction tracking with ID-based operations. Covers bridge and roadway restrictions statewide.'
  parameters: {}
paths:
  /getCommercialVehicleRestrictionsWithIdAsJson:
    get:
      summary: Returns an array of CVRestrictionDataWithId objects containing restriction information with unique identifiers for all Washington State highways.
      operationId: getCommercialVehicleRestrictionsWithId
      tags:
        - cv-restriction-data-with-id
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getCommercialVehicleRestrictionsWithId } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getCommercialVehicleRestrictionsWithId,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommercialVehicleRestrictionsWithIdOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 348 total)
                  value:
                    - BLMaxAxle: 20000
                      BridgeName: Teanaway River
                      BridgeNumber: 10/142
                      CL8MaxAxle: 20000
                      DateEffective: 2011-10-18T07:00:00.000Z
                      DateExpires: 2075-12-31T08:00:00.000Z
                      DatePosted: 2011-10-18T22:12:00.000Z
                      EndRoadwayLocation:
                        Description: null
                        Direction: Both
                        Latitude: 0
                        Longitude: 0
                        MilePost: 0
                        RoadName: SR 10
                      IsDetourAvailable: false
                      IsExceptionsAllowed: false
                      IsPermanentRestriction: false
                      IsWarning: false
                      Latitude: 47.15136148800159
                      LocationDescription: SR 10, MP 89.33 both directions-20,000 lbs limitation
                      LocationName: 1.3 E Jct SR 970
                      Longitude: -120.80431521930812
                      MaximumGrossVehicleWeightInPounds: null
                      RestrictionComment: BL =20,000 lbs, CL-8 =20,000 lbs, SA = 40,000 lbs.
                      RestrictionHeightInInches: 0
                      RestrictionLengthInInches: 0
                      RestrictionType: 0
                      RestrictionWeightInPounds: 0
                      RestrictionWidthInInches: 0
                      SAMaxAxle: 40000
                      StartRoadwayLocation:
                        Description: null
                        Direction: Both
                        Latitude: 0
                        Longitude: 0
                        MilePost: 89.33
                        RoadName: SR 10
                      State: WA
                      StateRouteID: '10'
                      TDMaxAxle: null
                      VehicleType: ''
                      UniqueID: B-WA-010-1
                    - _note: ... 347 more items
  /getCommercialVehicleRestrictionsAsJson:
    get:
      summary: Returns an array of CVRestrictionData objects containing restriction information for all Washington State highways.
      operationId: getCommercialVehicleRestrictions
      tags:
        - cv-restriction-data
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getCommercialVehicleRestrictions } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getCommercialVehicleRestrictions,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommercialVehicleRestrictionsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 348 total)
                  value:
                    - BLMaxAxle: 20000
                      BridgeName: Teanaway River
                      BridgeNumber: 10/142
                      CL8MaxAxle: 20000
                      DateEffective: 2011-10-18T07:00:00.000Z
                      DateExpires: 2075-12-31T08:00:00.000Z
                      DatePosted: 2011-10-18T22:12:00.000Z
                      EndRoadwayLocation:
                        Description: null
                        Direction: Both
                        Latitude: 0
                        Longitude: 0
                        MilePost: 0
                        RoadName: SR 10
                      IsDetourAvailable: false
                      IsExceptionsAllowed: false
                      IsPermanentRestriction: false
                      IsWarning: false
                      Latitude: 47.15136148800159
                      LocationDescription: SR 10, MP 89.33 both directions-20,000 lbs limitation
                      LocationName: 1.3 E Jct SR 970
                      Longitude: -120.80431521930812
                      MaximumGrossVehicleWeightInPounds: null
                      RestrictionComment: BL =20,000 lbs, CL-8 =20,000 lbs, SA = 40,000 lbs.
                      RestrictionHeightInInches: 0
                      RestrictionLengthInInches: 0
                      RestrictionType: 0
                      RestrictionWeightInPounds: 0
                      RestrictionWidthInInches: 0
                      SAMaxAxle: 40000
                      StartRoadwayLocation:
                        Description: null
                        Direction: Both
                        Latitude: 0
                        Longitude: 0
                        MilePost: 89.33
                        RoadName: SR 10
                      State: WA
                      StateRouteID: '10'
                      TDMaxAxle: null
                      VehicleType: ''
                    - _note: ... 347 more items
webhooks: {}
tags:
  - name: cv-restriction-data
    description: Each CVRestrictionData item represents current commercial vehicle restrictions for Washington State highways, including weight limits, height clearances, axle restrictions, and location details. These items provide essential regulatory information for bridge and road restrictions needed for commercial vehicle routing and permit processing.
    externalDocs:
      description: Use to check vehicle restrictions and plan commercial routes by providing weight limits, height clearances, and axle restrictions for Washington State highways. Determine route feasibility and permit requirements for trucking companies and logistics providers.
  - name: cv-restriction-data-with-id
    description: Each CVRestrictionDataWithId item represents current commercial vehicle restrictions for Washington State highways with unique tracking identifiers. These include weight limits, height clearances, axle restrictions, and restriction details for both bridge and road restrictions across the statewide coverage area.
    externalDocs:
      description: Use to check vehicle restrictions and track specific limitations by providing weight limits, height clearances, and unique identifiers for Washington State highways. Monitor restriction changes and manage permit requirements for trucking companies and logistics providers.
