openapi: 3.1.0
info:
  title: Wsf Terminals API
  version: 1.0.0
  description: Wsf Terminals API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/ferries/api/terminals/rest
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    CacheFlushDateOutput:
      type: string
      description: Cache flush timestamp indicating when terminal data was last updated, as a UTC datetime. E.g., '2025-11-02T19:45:00.517Z' when terminal metadata was refreshed. Use to determine when cached terminal information should be invalidated and refreshed. Poll this endpoint periodically to detect when terminal data changes.
    TerminalBasicsOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal. Used as primary key for all terminal-related API calls and terminal identification.
        TerminalSubjectID:
          type: integer
          description: Unique WSF subject identifier for terminal, as an integer ID. E.g., '111' for Anacortes subject, '103' for Bainbridge Island subject, '102' for Bremerton subject. Identifies terminal as unique entity within WSF subject management system.
        RegionID:
          type: integer
          description: Geographical region identifier where terminal is located, as an integer ID. E.g., '1' for region 1 (Anacortes area), '4' for region 4 (Puget Sound central), '2' for region 2 (Whidbey Island area). Used for regional terminal grouping and filtering.
        TerminalName:
          type:
            - string
            - 'null'
          description: Terminal name, as a human-readable description. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, null when terminal name is unavailable. Provides terminal identification for display and user interfaces.
        TerminalAbbrev:
          type:
            - string
            - 'null'
          description: Terminal abbreviation code, as a terminal abbreviation. E.g., 'ANA' for Anacortes, 'BBI' for Bainbridge Island, 'BRE' for Bremerton, 'CLI' for Clinton, null when abbreviation is unavailable. Used for compact terminal identification in displays and route codes.
        SortSeq:
          type: integer
          description: Preferred sort order for terminal display, as an integer. E.g., '10' for Anacortes, '40' for Bainbridge Island, '30' for Bremerton, '20' for Clinton. Lower values appear first when sorting terminals in ascending order.
        OverheadPassengerLoading:
          type: boolean
          description: Indicator whether overhead passenger loading facility is available, as a boolean. E.g., true for terminals with overhead walkway/ramp for passenger boarding, false for terminals without overhead loading. Used to determine passenger boarding method and accessibility.
        Elevator:
          type: boolean
          description: Indicator whether terminal has elevator access, as a boolean. E.g., false for terminals without elevators, true for terminals with elevator access. Used to determine accessibility for passengers with mobility needs.
        WaitingRoom:
          type: boolean
          description: Indicator whether terminal has waiting room facility, as a boolean. E.g., true for terminals with indoor waiting areas, false for terminals without waiting rooms. Used to determine passenger comfort amenities.
        FoodService:
          type: boolean
          description: Indicator whether terminal offers food service, as a boolean. E.g., true for terminals with cafés or food vendors, false for terminals without food service. Used to determine passenger amenities.
        Restroom:
          type: boolean
          description: Indicator whether terminal has restroom facilities, as a boolean. E.g., true for terminals with restrooms, false for terminals without restrooms. Used to determine passenger amenities.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - OverheadPassengerLoading
        - Elevator
        - WaitingRoom
        - FoodService
        - Restroom
      description: Represents basic terminal information including terminal identification, region, amenities (overhead passenger loading, elevator, waiting room, food service, restrooms), and sort order. E.g., Anacortes terminal (ID 1) with overhead loading, waiting room, food service, and restrooms. Used for terminal discovery, terminal identification, and amenity display.
    TerminalBulletinsOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal. Used as primary key for all terminal-related API calls and terminal identification.
        TerminalSubjectID:
          type: integer
          description: Unique WSF subject identifier for terminal, as an integer ID. E.g., '111' for Anacortes subject, '103' for Bainbridge Island subject, '102' for Bremerton subject. Identifies terminal as unique entity within WSF subject management system.
        RegionID:
          type: integer
          description: Geographical region identifier where terminal is located, as an integer ID. E.g., '1' for region 1 (Anacortes area), '4' for region 4 (Puget Sound central), '2' for region 2 (Whidbey Island area). Used for regional terminal grouping and filtering.
        TerminalName:
          type:
            - string
            - 'null'
          description: Terminal name, as a human-readable description. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, null when terminal name is unavailable. Provides terminal identification for display and user interfaces.
        TerminalAbbrev:
          type:
            - string
            - 'null'
          description: Terminal abbreviation code, as a terminal abbreviation. E.g., 'ANA' for Anacortes, 'BBI' for Bainbridge Island, 'BRE' for Bremerton, 'CLI' for Clinton, null when abbreviation is unavailable. Used for compact terminal identification in displays and route codes.
        SortSeq:
          type: integer
          description: Preferred sort order for terminal display, as an integer. E.g., '10' for Anacortes, '40' for Bainbridge Island, '30' for Bremerton, '20' for Clinton. Lower values appear first when sorting terminals in ascending order.
        Bulletins:
          type: array
          items:
            type: object
            properties:
              BulletinTitle:
                type:
                  - string
                  - 'null'
                description: Title of bulletin, as a bulletin title. E.g., 'Vehicle reservations for the winter season opened Oct 28 at 10am' for reservation bulletin, null when title is unavailable. Provides bulletin identification for display.
              BulletinText:
                type:
                  - string
                  - 'null'
                description: Content of bulletin, as HTML-formatted bulletin text. E.g., '<p><a href="...">Vehicle reservations</a> for the winter 2025 schedule...</p>' for reservation details, null when content is unavailable. HTML-formatted text for bulletin display.
              BulletinSortSeq:
                type: integer
                description: Preferred sort order for bulletin display, as an integer. E.g., '4' for fourth bulletin priority. Lower values appear first when sorting bulletins in ascending order. Used for bulletin display ordering.
              BulletinLastUpdated:
                type:
                  - string
                  - 'null'
                description: Date when bulletin was last updated, as a UTC datetime. E.g., '2025-10-30T22:28:21.497Z' for bulletin updated at 10:28 PM on October 30, 2025, null when update date is unavailable. Indicates when bulletin information was last modified.
              BulletinLastUpdatedSortable:
                type:
                  - string
                  - 'null'
                description: Legacy string representation of bulletin last updated date, as a sortable date string. E.g., '20251030152821' for October 30, 2025 at 15:28:21, null when sortable date is unavailable. Used for legacy sorting systems.
            required:
              - BulletinTitle
              - BulletinText
              - BulletinSortSeq
              - BulletinLastUpdated
              - BulletinLastUpdatedSortable
            description: Represents bulletin information including title, HTML-formatted content, sort order, update date, and legacy sortable date string. E.g., bulletin 'Vehicle reservations for the winter season opened Oct 28 at 10am' (sort 4, updated October 30, 2025). Used for bulletin display and alert notifications.
          description: Array of bulletins and alerts associated with terminal, as bulletin objects. E.g., array containing reservation bulletin, empty array when terminal has no bulletins. Used for displaying terminal alerts and bulletins.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - Bulletins
      description: Represents terminal information with associated bulletins including terminal identification, region, and bulletin list. E.g., Anacortes terminal (ID 1) with reservation bulletin. Used for terminal alert and bulletin display.
    TerminalLocationsOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal. Used as primary key for all terminal-related API calls and terminal identification.
        TerminalSubjectID:
          type: integer
          description: Unique WSF subject identifier for terminal, as an integer ID. E.g., '111' for Anacortes subject, '103' for Bainbridge Island subject, '102' for Bremerton subject. Identifies terminal as unique entity within WSF subject management system.
        RegionID:
          type: integer
          description: Geographical region identifier where terminal is located, as an integer ID. E.g., '1' for region 1 (Anacortes area), '4' for region 4 (Puget Sound central), '2' for region 2 (Whidbey Island area). Used for regional terminal grouping and filtering.
        TerminalName:
          type:
            - string
            - 'null'
          description: Terminal name, as a human-readable description. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, null when terminal name is unavailable. Provides terminal identification for display and user interfaces.
        TerminalAbbrev:
          type:
            - string
            - 'null'
          description: Terminal abbreviation code, as a terminal abbreviation. E.g., 'ANA' for Anacortes, 'BBI' for Bainbridge Island, 'BRE' for Bremerton, 'CLI' for Clinton, null when abbreviation is unavailable. Used for compact terminal identification in displays and route codes.
        SortSeq:
          type: integer
          description: Preferred sort order for terminal display, as an integer. E.g., '10' for Anacortes, '40' for Bainbridge Island, '30' for Bremerton, '20' for Clinton. Lower values appear first when sorting terminals in ascending order.
        Latitude:
          type:
            - number
            - 'null'
          description: Terminal latitude coordinate, as a decimal degrees. E.g., 48.507351 for Anacortes terminal, 47.622339 for Bainbridge Island terminal, null when coordinate is unavailable. Used for terminal location mapping and GPS navigation.
        Longitude:
          type:
            - number
            - 'null'
          description: Terminal longitude coordinate, as a decimal degrees. E.g., -122.677 for Anacortes terminal, -122.509617 for Bainbridge Island terminal, null when coordinate is unavailable. Used for terminal location mapping and GPS navigation.
        AddressLineOne:
          type:
            - string
            - 'null'
          description: First line of terminal street address, as an address line. E.g., '2100 Ferry Terminal Road' for Anacortes terminal, '270 Olympic Drive SE' for Bainbridge Island terminal, null when address is unavailable. Used for address display and navigation.
        AddressLineTwo:
          type:
            - string
            - 'null'
          description: Second line of terminal street address, as an address line. E.g., null when no second address line, suite or building information when available. Used for complete address display.
        City:
          type:
            - string
            - 'null'
          description: City where terminal is located, as a city name. E.g., 'Anacortes' for Anacortes terminal, 'Bainbridge Island' for Bainbridge Island terminal, null when city is unavailable. Used for address display and location identification.
        State:
          type:
            - string
            - 'null'
          description: State where terminal is located, as a state code. E.g., 'WA' for Washington state terminals, null when state is unavailable. Used for address display and location identification.
        ZipCode:
          type:
            - string
            - 'null'
          description: Terminal postal zip code, as a zip code string. E.g., '98221' for Anacortes terminal, '98110' for Bainbridge Island terminal, null when zip code is unavailable. Used for address display and location identification.
        Country:
          type:
            - string
            - 'null'
          description: Country where terminal is located, as a country code. E.g., 'USA' for United States terminals, null when country is unavailable. Used for address display and location identification.
        MapLink:
          type:
            - string
            - 'null'
          description: URL to page displaying terminal on GIS map, as a map URL. E.g., 'https://www.google.com/maps/place/Anacortes+Ferry+Terminal...' for Google Maps link, null when map link is unavailable. Used for terminal location mapping and navigation.
        Directions:
          type:
            - string
            - 'null'
          description: HTML-formatted driving directions to terminal, as driving directions. E.g., 'From Interstate 5 take exit 230...' for Anacortes directions, null when directions are unavailable. HTML-formatted text for navigation instructions.
        DispGISZoomLoc:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              ZoomLevel:
                type: integer
                description: GIS zoom level for map display, as an integer zoom level. E.g., '0' for world view, '10' for city view, '17' for street view. Used to determine appropriate map zoom level for terminal display.
              Latitude:
                type:
                  - number
                  - 'null'
                description: Terminal latitude coordinate for this zoom level, as a decimal degrees. E.g., 48.507351 for Anacortes terminal, 47.622339 for Bainbridge Island terminal, null when coordinate is unavailable. Used for GIS map positioning at specific zoom levels.
              Longitude:
                type:
                  - number
                  - 'null'
                description: Terminal longitude coordinate for this zoom level, as a decimal degrees. E.g., -122.677 for Anacortes terminal, -122.509617 for Bainbridge Island terminal, null when coordinate is unavailable. Used for GIS map positioning at specific zoom levels.
            required:
              - ZoomLevel
              - Latitude
              - Longitude
            description: Represents GIS zoom level location information including zoom level and coordinates. E.g., zoom level 17 with coordinates (48.507351, -122.677) for Anacortes terminal. Used for dynamic map positioning at different zoom levels.
          description: Array of GIS zoom level locations for terminal, as zoom level location objects. E.g., array containing coordinates for zoom levels 0-17, null when zoom level locations are unavailable. Used for dynamic map positioning at different zoom levels.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - Latitude
        - Longitude
        - AddressLineOne
        - AddressLineTwo
        - City
        - State
        - ZipCode
        - Country
        - MapLink
        - Directions
        - DispGISZoomLoc
      description: Represents detailed terminal location information including terminal identification, coordinates, address, map link, driving directions, and GIS zoom level locations. E.g., Anacortes terminal (ID 1) at 2100 Ferry Terminal Road, Anacortes, WA 98221 with coordinates (48.507351, -122.677). Used for terminal location mapping, navigation, and GIS display.
    TerminalSailingSpaceOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal. Used as primary key for all terminal-related API calls and terminal identification.
        TerminalSubjectID:
          type: integer
          description: Unique WSF subject identifier for terminal, as an integer ID. E.g., '111' for Anacortes subject, '103' for Bainbridge Island subject, '102' for Bremerton subject. Identifies terminal as unique entity within WSF subject management system.
        RegionID:
          type: integer
          description: Geographical region identifier where terminal is located, as an integer ID. E.g., '1' for region 1 (Anacortes area), '4' for region 4 (Puget Sound central), '2' for region 2 (Whidbey Island area). Used for regional terminal grouping and filtering.
        TerminalName:
          type:
            - string
            - 'null'
          description: Terminal name, as a human-readable description. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, null when terminal name is unavailable. Provides terminal identification for display and user interfaces.
        TerminalAbbrev:
          type:
            - string
            - 'null'
          description: Terminal abbreviation code, as a terminal abbreviation. E.g., 'ANA' for Anacortes, 'BBI' for Bainbridge Island, 'BRE' for Bremerton, 'CLI' for Clinton, null when abbreviation is unavailable. Used for compact terminal identification in displays and route codes.
        SortSeq:
          type: integer
          description: Preferred sort order for terminal display, as an integer. E.g., '10' for Anacortes, '40' for Bainbridge Island, '30' for Bremerton, '20' for Clinton. Lower values appear first when sorting terminals in ascending order.
        DepartingSpaces:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              Departure:
                type: string
                description: Date and time of departure, as a UTC datetime. E.g., '2025-11-02T21:35:00.000Z' for departure at 9:35 PM on November 2, 2025. Used for departure schedule display and space availability timing.
              IsCancelled:
                type: boolean
                description: Indicator whether departure is cancelled, as a boolean. E.g., false for active departures, true for cancelled departures. Used to determine if departure is operational.
              VesselID:
                type: integer
                description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '17' for Kaleetan vessel. Used to identify which vessel operates departure.
              VesselName:
                type:
                  - string
                  - 'null'
                description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Kaleetan' for vessel 17, null when vessel name is unavailable. Provides vessel identification for display.
              MaxSpaceCount:
                type: integer
                description: Maximum vehicle capacity on vessel making departure, as an integer count. E.g., '141' for Samish vessel capacity, '139' for Yakima vessel capacity, '197' for Tacoma vessel capacity. Used to calculate space availability percentage.
              SpaceForArrivalTerminals:
                type:
                  - array
                  - 'null'
                items:
                  type: object
                  properties:
                    TerminalID:
                      type: integer
                      description: Unique identifier for arrival terminal destination, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Used to identify destination terminal for space availability.
                    TerminalName:
                      type:
                        - string
                        - 'null'
                      description: Human-readable name of arrival terminal destination, as a terminal name. E.g., 'Anacortes -> Friday Harbor' for multi-destination sailing, 'Seattle' for single destination, null when terminal name is unavailable. Provides destination identification for display.
                    VesselID:
                      type: integer
                      description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '17' for Kaleetan vessel. Used to identify which vessel operates departure.
                    VesselName:
                      type:
                        - string
                        - 'null'
                      description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Kaleetan' for vessel 17, null when vessel name is unavailable. Provides vessel identification for display.
                    DisplayReservableSpace:
                      type: boolean
                      description: Indicator whether reservable space information should be displayed, as a boolean. E.g., true for routes supporting reservations, false for routes without reservations. Used to determine if reservation space data should be shown.
                    ReservableSpaceCount:
                      type:
                        - integer
                        - 'null'
                      description: Remaining reservable vehicle spaces available on vessel, as an integer count. E.g., '45' for 45 reservable spaces remaining, '36' for 36 reservable spaces, null when reservations are not supported or count is unavailable. Used for reservation availability display.
                    ReservableSpaceHexColor:
                      type:
                        - string
                        - 'null'
                      description: Hex color code representing reservable space availability status, as a hex color. E.g., '#FFFF00' for yellow (limited availability), '#888888' for gray (not available), null when color is unavailable. Used for visual space availability indicators.
                    DisplayDriveUpSpace:
                      type: boolean
                      description: Indicator whether drive-up space information should be displayed, as a boolean. E.g., true for routes with drive-up space tracking, false when drive-up space is not tracked. Used to determine if drive-up space data should be shown.
                    DriveUpSpaceCount:
                      type:
                        - integer
                        - 'null'
                      description: Remaining drive-up vehicle spaces available on vessel, as an integer count. E.g., '67' for 67 drive-up spaces remaining, '197' for 197 drive-up spaces, null when drive-up space is not tracked or count is unavailable. Used for drive-up availability display.
                    DriveUpSpaceHexColor:
                      type:
                        - string
                        - 'null'
                      description: Hex color code representing drive-up space availability status, as a hex color. E.g., '#00FF00' for green (good availability), '#FFFF00' for yellow (limited availability), null when color is unavailable. Used for visual space availability indicators.
                    MaxSpaceCount:
                      type: integer
                      description: Maximum vehicle capacity on vessel making departure, as an integer count. E.g., '141' for Samish vessel capacity, '139' for Yakima vessel capacity, '197' for Tacoma vessel capacity. Used to calculate space availability percentage.
                    ArrivalTerminalIDs:
                      type:
                        - array
                        - 'null'
                      items:
                        type: integer
                      description: Array of arrival terminal IDs associated with this space count set, as terminal ID integers. E.g., array containing terminal 10 for single destination, array containing terminals 13, 10 for multi-destination sailing, null when terminal IDs are unavailable. Used to identify all destinations served by this space count.
                  required:
                    - TerminalID
                    - TerminalName
                    - VesselID
                    - VesselName
                    - DisplayReservableSpace
                    - ReservableSpaceCount
                    - ReservableSpaceHexColor
                    - DisplayDriveUpSpace
                    - DriveUpSpaceCount
                    - DriveUpSpaceHexColor
                    - MaxSpaceCount
                    - ArrivalTerminalIDs
                  description: Represents space availability information for arrival terminal destination including terminal/vessel identification, reservable space count and color, drive-up space count and color, maximum capacity, and arrival terminal IDs. E.g., Friday Harbor destination with 67 drive-up spaces (green) and 141 maximum capacity on Samish vessel. Used for real-time space availability display.
                description: Array of space availability information for one or more arrival terminal destinations, as space for arrival terminal objects. E.g., array containing Friday Harbor destination with space counts, array containing multiple destinations for multi-destination sailing, null when space information is unavailable. Used for real-time space availability display by destination.
            required:
              - Departure
              - IsCancelled
              - VesselID
              - VesselName
              - MaxSpaceCount
              - SpaceForArrivalTerminals
            description: Represents departing space information including departure time, cancellation status, vessel details, maximum capacity, and space availability for arrival terminals. E.g., departure at 9:35 PM with Samish vessel (ID 69, capacity 141) and space information for Friday Harbor destination. Used for real-time departure space availability display.
          description: Array of upcoming departures leaving terminal with space availability information, as departing space objects. E.g., array containing multiple departures with vessel and space details, null when departure information is unavailable. Used for real-time departure space availability display.
        IsNoFareCollected:
          type:
            - boolean
            - 'null'
          description: Indicator whether terminal is capable of collecting fares, as a boolean. E.g., null when fare collection status is unknown, false when terminal collects fares, true when terminal does not collect fares. Used to determine fare collection capability.
        NoFareCollectedMsg:
          type:
            - string
            - 'null'
          description: Optional message explaining how inability to collect fares affects terminal conditions data, as a message string. E.g., null when fare collection is available, message when fare collection affects space tracking accuracy. Used to inform users about data limitations.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - IsNoFareCollected
        - NoFareCollectedMsg
      description: Represents terminal sailing space information including terminal identification, upcoming departures with space availability, and fare collection status. E.g., Anacortes terminal (ID 1) with multiple departures showing drive-up and reservation space availability. Used for real-time terminal condition monitoring and space availability display.
    TerminalTransportsOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal. Used as primary key for all terminal-related API calls and terminal identification.
        TerminalSubjectID:
          type: integer
          description: Unique WSF subject identifier for terminal, as an integer ID. E.g., '111' for Anacortes subject, '103' for Bainbridge Island subject, '102' for Bremerton subject. Identifies terminal as unique entity within WSF subject management system.
        RegionID:
          type: integer
          description: Geographical region identifier where terminal is located, as an integer ID. E.g., '1' for region 1 (Anacortes area), '4' for region 4 (Puget Sound central), '2' for region 2 (Whidbey Island area). Used for regional terminal grouping and filtering.
        TerminalName:
          type:
            - string
            - 'null'
          description: Terminal name, as a human-readable description. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, null when terminal name is unavailable. Provides terminal identification for display and user interfaces.
        TerminalAbbrev:
          type:
            - string
            - 'null'
          description: Terminal abbreviation code, as a terminal abbreviation. E.g., 'ANA' for Anacortes, 'BBI' for Bainbridge Island, 'BRE' for Bremerton, 'CLI' for Clinton, null when abbreviation is unavailable. Used for compact terminal identification in displays and route codes.
        SortSeq:
          type: integer
          description: Preferred sort order for terminal display, as an integer. E.g., '10' for Anacortes, '40' for Bainbridge Island, '30' for Bremerton, '20' for Clinton. Lower values appear first when sorting terminals in ascending order.
        ParkingInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted parking information for terminal, as parking details. E.g., 'Off-Peak rates effective October 1 through April 30, 2026...' for Anacortes parking rates, null when parking information is unavailable. HTML-formatted text for parking information display.
        ParkingShuttleInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted information about parking-related shuttles servicing terminal, as shuttle information. E.g., null when no parking shuttles, shuttle details when available. Used for parking shuttle information display.
        AirportInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted tips for commuting to terminal from airport, as airport directions. E.g., 'From the Seattle-Tacoma International Airport, allow a minimum of 2 1/2 hours...' for Anacortes airport directions, null when airport information is unavailable. HTML-formatted text for airport commuter information.
        AirportShuttleInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted information about airport shuttles servicing terminal, as shuttle information. E.g., 'When traveling from Sea-Tac Airport to Anacortes there is a shuttle...' for Anacortes airport shuttle, null when airport shuttle information is unavailable. HTML-formatted text for airport shuttle information.
        MotorcycleInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted information for motorcycle travelers, as motorcycle tips. E.g., 'While motorcycles are not, by Washington Administrative Code...' for motorcycle staging and loading information, null when motorcycle information is unavailable. HTML-formatted text for motorcycle commuter information.
        TruckInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted information for truck travelers, as truck tips. E.g., 'Expect heavy truck traffic on the first 3 sailings in the morning...' for truck travel information, null when truck information is unavailable. HTML-formatted text for truck commuter information.
        BikeInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted information for bicycle travelers, as bicycle tips. E.g., 'Approaching the Anacortes Terminal, you will arrive at the vehicle tollbooths...' for bicycle staging information, null when bicycle information is unavailable. HTML-formatted text for bicycle commuter information.
        TrainInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted information about trains servicing terminal, as train information. E.g., null when no train service, train details when available. Used for train commuter information display.
        TaxiInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted information about taxis servicing terminal, as taxi information. E.g., null when no taxi information, taxi details when available. Used for taxi commuter information display.
        HovInfo:
          type:
            - string
            - 'null'
          description: HTML-formatted tips for carpool/vanpool commuters, as HOV information. E.g., 'Carpool/Vanpools must be ticketed and in line 10 minutes before...' for Bainbridge Island HOV information, null when HOV information is unavailable. HTML-formatted text for carpool/vanpool commuter information.
        TransitLinks:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              LinkURL:
                type:
                  - string
                  - 'null'
                description: URL to transit agency website or service page, as a transit URL. E.g., 'http://www.skagittransit.org/' for Skagit Transit, 'http://www.kitsaptransit.com/service/routed-buses' for Kitsap Transit, null when transit link is unavailable. Used for accessing transit agency information.
              LinkName:
                type:
                  - string
                  - 'null'
                description: Human-readable name of transit agency, as a transit agency name. E.g., 'Skagit Transit' for Skagit Transit agency, 'Kitsap Transit' for Kitsap Transit agency, null when transit name is unavailable. Provides transit agency identification for display.
              SortSeq:
                type:
                  - integer
                  - 'null'
                description: Preferred sort order for transit link display, as an integer. E.g., null when sort order is not specified. Lower values appear first when sorting transit links in ascending order. Used for transit link display ordering.
            required:
              - LinkURL
              - LinkName
              - SortSeq
            description: Represents transit link information including transit agency URL, name, and sort order. E.g., Skagit Transit link (http://www.skagittransit.org/). Used for displaying transit agency connections and links.
          description: Array of transit agency links servicing terminal, as transit link objects. E.g., array containing Skagit Transit link for Anacortes terminal, array containing Kitsap Transit link for Bainbridge Island terminal, null when transit links are unavailable. Used for displaying transit agency connections.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - ParkingInfo
        - ParkingShuttleInfo
        - AirportInfo
        - AirportShuttleInfo
        - MotorcycleInfo
        - TruckInfo
        - BikeInfo
        - TrainInfo
        - TaxiInfo
        - HovInfo
        - TransitLinks
      description: Represents terminal transportation and commuter information including terminal identification, parking details, vehicle-specific tips (motorcycle, truck, bike), airport information, transit links, and HOV/carpool information. E.g., Anacortes terminal (ID 1) with parking rates, airport directions, and Skagit Transit link. Used for terminal commuter information and transportation planning.
    TerminalVerboseOutput:
      allOf:
        - type: object
          properties:
            TerminalID:
              type: integer
              description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal. Used as primary key for all terminal-related API calls and terminal identification.
            TerminalSubjectID:
              type: integer
              description: Unique WSF subject identifier for terminal, as an integer ID. E.g., '111' for Anacortes subject, '103' for Bainbridge Island subject, '102' for Bremerton subject. Identifies terminal as unique entity within WSF subject management system.
            RegionID:
              type: integer
              description: Geographical region identifier where terminal is located, as an integer ID. E.g., '1' for region 1 (Anacortes area), '4' for region 4 (Puget Sound central), '2' for region 2 (Whidbey Island area). Used for regional terminal grouping and filtering.
            TerminalName:
              type:
                - string
                - 'null'
              description: Terminal name, as a human-readable description. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, null when terminal name is unavailable. Provides terminal identification for display and user interfaces.
            TerminalAbbrev:
              type:
                - string
                - 'null'
              description: Terminal abbreviation code, as a terminal abbreviation. E.g., 'ANA' for Anacortes, 'BBI' for Bainbridge Island, 'BRE' for Bremerton, 'CLI' for Clinton, null when abbreviation is unavailable. Used for compact terminal identification in displays and route codes.
            SortSeq:
              type: integer
              description: Preferred sort order for terminal display, as an integer. E.g., '10' for Anacortes, '40' for Bainbridge Island, '30' for Bremerton, '20' for Clinton. Lower values appear first when sorting terminals in ascending order.
            OverheadPassengerLoading:
              type: boolean
              description: Indicator whether terminal supports overhead passenger loading from upper vehicle deck, as a boolean. E.g., true for terminals with overhead walkways like Anacortes and Bainbridge Island, false for terminals without overhead loading capability. Used to determine passenger boarding capabilities and accessibility features.
            Elevator:
              type: boolean
              description: Indicator whether terminal has elevator access for passengers, as a boolean. E.g., false for terminals like Anacortes and Bainbridge Island without elevators, true for terminals with elevator access. Used to determine ADA accessibility and passenger mobility accommodations.
            WaitingRoom:
              type: boolean
              description: Indicator whether terminal has indoor waiting room facility, as a boolean. E.g., true for terminals like Anacortes and Bainbridge Island with waiting rooms, false for terminals without waiting facilities. Used to determine passenger comfort amenities and sheltered waiting areas.
            FoodService:
              type: boolean
              description: Indicator whether terminal offers food service facilities, as a boolean. E.g., true for terminals like Anacortes and Bainbridge Island with galleys or cafes, false for terminals without food service. Used to determine available amenities for passengers during wait times.
            Restroom:
              type: boolean
              description: Indicator whether terminal has restroom facilities, as a boolean. E.g., true for terminals like Anacortes and Bainbridge Island with restrooms, false for terminals without restroom access. Used to determine passenger comfort amenities and basic facility availability.
          required:
            - TerminalID
            - TerminalSubjectID
            - RegionID
            - TerminalName
            - TerminalAbbrev
            - SortSeq
            - OverheadPassengerLoading
            - Elevator
            - WaitingRoom
            - FoodService
            - Restroom
        - type: object
          properties:
            Bulletins:
              type: array
              items:
                type: object
                properties:
                  BulletinTitle:
                    type:
                      - string
                      - 'null'
                    description: Title of bulletin, as a bulletin title. E.g., 'Vehicle reservations for the winter season opened Oct 28 at 10am' for reservation bulletin, null when title is unavailable. Provides bulletin identification for display.
                  BulletinText:
                    type:
                      - string
                      - 'null'
                    description: Content of bulletin, as HTML-formatted bulletin text. E.g., '<p><a href="...">Vehicle reservations</a> for the winter 2025 schedule...</p>' for reservation details, null when content is unavailable. HTML-formatted text for bulletin display.
                  BulletinSortSeq:
                    type: integer
                    description: Preferred sort order for bulletin display, as an integer. E.g., '4' for fourth bulletin priority. Lower values appear first when sorting bulletins in ascending order. Used for bulletin display ordering.
                  BulletinLastUpdated:
                    type:
                      - string
                      - 'null'
                    description: Date when bulletin was last updated, as a UTC datetime. E.g., '2025-10-30T22:28:21.497Z' for bulletin updated at 10:28 PM on October 30, 2025, null when update date is unavailable. Indicates when bulletin information was last modified.
                  BulletinLastUpdatedSortable:
                    type:
                      - string
                      - 'null'
                    description: Legacy string representation of bulletin last updated date, as a sortable date string. E.g., '20251030152821' for October 30, 2025 at 15:28:21, null when sortable date is unavailable. Used for legacy sorting systems.
                required:
                  - BulletinTitle
                  - BulletinText
                  - BulletinSortSeq
                  - BulletinLastUpdated
                  - BulletinLastUpdatedSortable
                description: Represents bulletin information including title, HTML-formatted content, sort order, update date, and legacy sortable date string. E.g., bulletin 'Vehicle reservations for the winter season opened Oct 28 at 10am' (sort 4, updated October 30, 2025). Used for bulletin display and alert notifications.
              description: Active bulletins and alerts associated with terminal, as an array of bulletin objects. E.g., array containing vehicle reservation notices for Anacortes terminal, empty array for terminals without active bulletins. Used to display important terminal information, service changes, and passenger notifications.
          required:
            - Bulletins
        - type: object
          properties:
            Latitude:
              type:
                - number
                - 'null'
              description: Terminal latitude coordinate, in decimal degrees. E.g., 48.507351 for Anacortes terminal, 47.622339 for Bainbridge Island terminal, null when coordinate data is unavailable. Used for mapping, distance calculations, and geographic display.
            Longitude:
              type:
                - number
                - 'null'
              description: Terminal longitude coordinate, in decimal degrees. E.g., -122.677 for Anacortes terminal, -122.509617 for Bainbridge Island terminal, null when coordinate data is unavailable. Used for mapping, distance calculations, and geographic display.
            AddressLineOne:
              type:
                - string
                - 'null'
              description: Primary street address line for terminal location, as a street address. E.g., '2100 Ferry Terminal Road' for Anacortes terminal, '270 Olympic Drive SE' for Bainbridge Island terminal, null when address is unavailable. Used for navigation, mapping, and location identification.
            AddressLineTwo:
              type:
                - string
                - 'null'
              description: Secondary address line for terminal location, as an address supplement. E.g., null for most terminals without suite or building numbers, present when additional address details are needed. Used for complete address formatting when available.
            City:
              type:
                - string
                - 'null'
              description: City name where terminal is located, as a city name. E.g., 'Anacortes' for Anacortes terminal, 'Bainbridge Island' for Bainbridge Island terminal, null when city is unavailable. Used for location identification and address formatting.
            State:
              type:
                - string
                - 'null'
              description: State abbreviation where terminal is located, as a state code. E.g., 'WA' for Washington state terminals, null when state is unavailable. Used for location identification and address formatting.
            ZipCode:
              type:
                - string
                - 'null'
              description: Postal code for terminal location, as a zip code string. E.g., '98221' for Anacortes terminal, '98110' for Bainbridge Island terminal, null when zip code is unavailable. Used for location identification and address formatting.
            Country:
              type:
                - string
                - 'null'
              description: Country name where terminal is located, as a country code. E.g., 'USA' for United States terminals, null when country is unavailable. Used for location identification and international address formatting.
            MapLink:
              type:
                - string
                - 'null'
              description: URL link to external mapping service displaying terminal location, as a map URL. E.g., Google Maps link for Anacortes terminal, null when map link is unavailable. Used for providing direct navigation links to terminal location.
            Directions:
              type:
                - string
                - 'null'
              description: Driving directions to terminal from major routes, as HTML-formatted text. E.g., directions from Interstate 5 to Anacortes terminal, null when directions are unavailable. Used for navigation assistance and route planning.
            DispGISZoomLoc:
              type:
                - array
                - 'null'
              items:
                type: object
                properties:
                  ZoomLevel:
                    type: integer
                    description: GIS zoom level for map display, as an integer zoom level. E.g., '0' for world view, '10' for city view, '17' for street view. Used to determine appropriate map zoom level for terminal display.
                  Latitude:
                    type:
                      - number
                      - 'null'
                    description: Terminal latitude coordinate for this zoom level, as a decimal degrees. E.g., 48.507351 for Anacortes terminal, 47.622339 for Bainbridge Island terminal, null when coordinate is unavailable. Used for GIS map positioning at specific zoom levels.
                  Longitude:
                    type:
                      - number
                      - 'null'
                    description: Terminal longitude coordinate for this zoom level, as a decimal degrees. E.g., -122.677 for Anacortes terminal, -122.509617 for Bainbridge Island terminal, null when coordinate is unavailable. Used for GIS map positioning at specific zoom levels.
                required:
                  - ZoomLevel
                  - Latitude
                  - Longitude
                description: Represents GIS zoom level location information including zoom level and coordinates. E.g., zoom level 17 with coordinates (48.507351, -122.677) for Anacortes terminal. Used for dynamic map positioning at different zoom levels.
              description: GIS map display coordinates for terminal at various zoom levels, as an array of zoom-level coordinates. E.g., array with 18 zoom levels for Anacortes terminal, null when zoom-level data is unavailable. Used for optimized map rendering at different zoom levels.
          required:
            - Latitude
            - Longitude
            - AddressLineOne
            - AddressLineTwo
            - City
            - State
            - ZipCode
            - Country
            - MapLink
            - Directions
            - DispGISZoomLoc
        - type: object
          properties:
            DepartingSpaces:
              type:
                - array
                - 'null'
              items:
                type: object
                properties:
                  Departure:
                    type: string
                    description: Date and time of departure, as a UTC datetime. E.g., '2025-11-02T21:35:00.000Z' for departure at 9:35 PM on November 2, 2025. Used for departure schedule display and space availability timing.
                  IsCancelled:
                    type: boolean
                    description: Indicator whether departure is cancelled, as a boolean. E.g., false for active departures, true for cancelled departures. Used to determine if departure is operational.
                  VesselID:
                    type: integer
                    description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '17' for Kaleetan vessel. Used to identify which vessel operates departure.
                  VesselName:
                    type:
                      - string
                      - 'null'
                    description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Kaleetan' for vessel 17, null when vessel name is unavailable. Provides vessel identification for display.
                  MaxSpaceCount:
                    type: integer
                    description: Maximum vehicle capacity on vessel making departure, as an integer count. E.g., '141' for Samish vessel capacity, '139' for Yakima vessel capacity, '197' for Tacoma vessel capacity. Used to calculate space availability percentage.
                  SpaceForArrivalTerminals:
                    type:
                      - array
                      - 'null'
                    items:
                      type: object
                      properties:
                        TerminalID:
                          type: integer
                          description: Unique identifier for arrival terminal destination, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Used to identify destination terminal for space availability.
                        TerminalName:
                          type:
                            - string
                            - 'null'
                          description: Human-readable name of arrival terminal destination, as a terminal name. E.g., 'Anacortes -> Friday Harbor' for multi-destination sailing, 'Seattle' for single destination, null when terminal name is unavailable. Provides destination identification for display.
                        VesselID:
                          type: integer
                          description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '17' for Kaleetan vessel. Used to identify which vessel operates departure.
                        VesselName:
                          type:
                            - string
                            - 'null'
                          description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Kaleetan' for vessel 17, null when vessel name is unavailable. Provides vessel identification for display.
                        DisplayReservableSpace:
                          type: boolean
                          description: Indicator whether reservable space information should be displayed, as a boolean. E.g., true for routes supporting reservations, false for routes without reservations. Used to determine if reservation space data should be shown.
                        ReservableSpaceCount:
                          type:
                            - integer
                            - 'null'
                          description: Remaining reservable vehicle spaces available on vessel, as an integer count. E.g., '45' for 45 reservable spaces remaining, '36' for 36 reservable spaces, null when reservations are not supported or count is unavailable. Used for reservation availability display.
                        ReservableSpaceHexColor:
                          type:
                            - string
                            - 'null'
                          description: Hex color code representing reservable space availability status, as a hex color. E.g., '#FFFF00' for yellow (limited availability), '#888888' for gray (not available), null when color is unavailable. Used for visual space availability indicators.
                        DisplayDriveUpSpace:
                          type: boolean
                          description: Indicator whether drive-up space information should be displayed, as a boolean. E.g., true for routes with drive-up space tracking, false when drive-up space is not tracked. Used to determine if drive-up space data should be shown.
                        DriveUpSpaceCount:
                          type:
                            - integer
                            - 'null'
                          description: Remaining drive-up vehicle spaces available on vessel, as an integer count. E.g., '67' for 67 drive-up spaces remaining, '197' for 197 drive-up spaces, null when drive-up space is not tracked or count is unavailable. Used for drive-up availability display.
                        DriveUpSpaceHexColor:
                          type:
                            - string
                            - 'null'
                          description: Hex color code representing drive-up space availability status, as a hex color. E.g., '#00FF00' for green (good availability), '#FFFF00' for yellow (limited availability), null when color is unavailable. Used for visual space availability indicators.
                        MaxSpaceCount:
                          type: integer
                          description: Maximum vehicle capacity on vessel making departure, as an integer count. E.g., '141' for Samish vessel capacity, '139' for Yakima vessel capacity, '197' for Tacoma vessel capacity. Used to calculate space availability percentage.
                        ArrivalTerminalIDs:
                          type:
                            - array
                            - 'null'
                          items:
                            type: integer
                          description: Array of arrival terminal IDs associated with this space count set, as terminal ID integers. E.g., array containing terminal 10 for single destination, array containing terminals 13, 10 for multi-destination sailing, null when terminal IDs are unavailable. Used to identify all destinations served by this space count.
                      required:
                        - TerminalID
                        - TerminalName
                        - VesselID
                        - VesselName
                        - DisplayReservableSpace
                        - ReservableSpaceCount
                        - ReservableSpaceHexColor
                        - DisplayDriveUpSpace
                        - DriveUpSpaceCount
                        - DriveUpSpaceHexColor
                        - MaxSpaceCount
                        - ArrivalTerminalIDs
                      description: Represents space availability information for arrival terminal destination including terminal/vessel identification, reservable space count and color, drive-up space count and color, maximum capacity, and arrival terminal IDs. E.g., Friday Harbor destination with 67 drive-up spaces (green) and 141 maximum capacity on Samish vessel. Used for real-time space availability display.
                    description: Array of space availability information for one or more arrival terminal destinations, as space for arrival terminal objects. E.g., array containing Friday Harbor destination with space counts, array containing multiple destinations for multi-destination sailing, null when space information is unavailable. Used for real-time space availability display by destination.
                required:
                  - Departure
                  - IsCancelled
                  - VesselID
                  - VesselName
                  - MaxSpaceCount
                  - SpaceForArrivalTerminals
                description: Represents departing space information including departure time, cancellation status, vessel details, maximum capacity, and space availability for arrival terminals. E.g., departure at 9:35 PM with Samish vessel (ID 69, capacity 141) and space information for Friday Harbor destination. Used for real-time departure space availability display.
              description: Most recent departure sailing space information from terminal, as an array of departing space objects. E.g., array containing vessel details, departure times, and space availability for recent sailings, null or empty when departure data is unavailable. Used for real-time sailing space tracking and capacity monitoring.
            IsNoFareCollected:
              type:
                - boolean
                - 'null'
              description: Indicator whether terminal lacks fare collection capability, as a boolean. E.g., null for terminals like Anacortes and Bainbridge Island that collect fares, true for terminals without fare collection. Used to determine fare collection availability and terminal conditions data reliability.
            NoFareCollectedMsg:
              type:
                - string
                - 'null'
              description: Message explaining how lack of fare collection affects terminal conditions data, as a notification message. E.g., null for terminals with fare collection, present when terminal cannot collect fares. Used to inform users about data limitations for terminals without fare collection.
          required:
            - IsNoFareCollected
            - NoFareCollectedMsg
        - type: object
          properties:
            ParkingInfo:
              type:
                - string
                - 'null'
              description: Parking availability, rates, and policies for terminal, as HTML-formatted text. E.g., parking rates and payment options for Anacortes terminal, null when parking information is unavailable. Used for parking planning and cost estimation.
            ParkingShuttleInfo:
              type:
                - string
                - 'null'
              description: Information about shuttle services connecting parking areas to terminal, as HTML-formatted text. E.g., null for terminals without parking shuttles, present when parking shuttles are available. Used for planning parking and terminal access.
            AirportInfo:
              type:
                - string
                - 'null'
              description: Driving directions and travel time from airport to terminal, as HTML-formatted text. E.g., directions from Sea-Tac Airport to Anacortes terminal, null when airport information is unavailable. Used for airport-to-terminal route planning.
            AirportShuttleInfo:
              type:
                - string
                - 'null'
              description: Information about shuttle services connecting airport to terminal, as HTML-formatted text. E.g., Bellair Airporter service information for Anacortes terminal, null when airport shuttles are unavailable. Used for airport-to-terminal transportation planning.
            MotorcycleInfo:
              type:
                - string
                - 'null'
              description: Motorcycle staging, loading, and fare information for terminal, as HTML-formatted text. E.g., motorcycle loading procedures and staging areas for Anacortes terminal, null when motorcycle information is unavailable. Used for motorcycle rider planning and terminal procedures.
            TruckInfo:
              type:
                - string
                - 'null'
              description: Truck requirements, oversized vehicle approval, and loading information for terminal, as HTML-formatted text. E.g., overweight vehicle travel approval requirements for Anacortes terminal, null when truck information is unavailable. Used for commercial vehicle planning and compliance.
            BikeInfo:
              type:
                - string
                - 'null'
              description: Bicycle staging, loading procedures, and fare information for terminal, as HTML-formatted text. E.g., bicycle loading procedures and rack availability for Anacortes terminal, null when bicycle information is unavailable. Used for bicycle rider planning and terminal procedures.
            TrainInfo:
              type:
                - string
                - 'null'
              description: Train service information connecting to terminal, as HTML-formatted text. E.g., null for terminals without train service, present when train connections are available. Used for multimodal transportation planning.
            TaxiInfo:
              type:
                - string
                - 'null'
              description: Taxi service information for terminal, as HTML-formatted text. E.g., null for terminals without taxi information, present when taxi services are documented. Used for local transportation planning.
            HovInfo:
              type:
                - string
                - 'null'
              description: Carpool and vanpool information including preferential loading requirements, as HTML-formatted text. E.g., carpool registration and loading procedures for Bainbridge Island terminal, null when HOV information is unavailable. Used for rideshare planning and preferential loading coordination.
            TransitLinks:
              type:
                - array
                - 'null'
              items:
                type: object
                properties:
                  LinkURL:
                    type:
                      - string
                      - 'null'
                    description: URL to transit agency website or service page, as a transit URL. E.g., 'http://www.skagittransit.org/' for Skagit Transit, 'http://www.kitsaptransit.com/service/routed-buses' for Kitsap Transit, null when transit link is unavailable. Used for accessing transit agency information.
                  LinkName:
                    type:
                      - string
                      - 'null'
                    description: Human-readable name of transit agency, as a transit agency name. E.g., 'Skagit Transit' for Skagit Transit agency, 'Kitsap Transit' for Kitsap Transit agency, null when transit name is unavailable. Provides transit agency identification for display.
                  SortSeq:
                    type:
                      - integer
                      - 'null'
                    description: Preferred sort order for transit link display, as an integer. E.g., null when sort order is not specified. Lower values appear first when sorting transit links in ascending order. Used for transit link display ordering.
                required:
                  - LinkURL
                  - LinkName
                  - SortSeq
                description: Represents transit link information including transit agency URL, name, and sort order. E.g., Skagit Transit link (http://www.skagittransit.org/). Used for displaying transit agency connections and links.
              description: Links to transit agencies providing service to terminal, as an array of transit link objects. E.g., array containing Skagit Transit link for Anacortes terminal, Kitsap Transit link for Bainbridge Island terminal, null or empty when no transit links are available. Used for multimodal transportation planning and transit connection information.
          required:
            - ParkingInfo
            - ParkingShuttleInfo
            - AirportInfo
            - AirportShuttleInfo
            - MotorcycleInfo
            - TruckInfo
            - BikeInfo
            - TrainInfo
            - TaxiInfo
            - HovInfo
            - TransitLinks
        - type: object
          properties:
            WaitTimes:
              type:
                - array
                - 'null'
              items:
                type: object
                properties:
                  RouteID:
                    type:
                      - integer
                      - 'null'
                    description: Unique identifier for route associated with wait time, as an integer ID. E.g., null when wait time applies to all routes from terminal, route ID when wait time is route-specific. Used to identify route for wait time context.
                  RouteName:
                    type:
                      - string
                      - 'null'
                    description: Human-readable name of route associated with wait time, as a route name. E.g., null when wait time applies to all routes, route name when wait time is route-specific. Provides route identification for wait time context.
                  WaitTimeNotes:
                    type:
                      - string
                      - 'null'
                    description: Text notes detailing wait time conditions and tips for vehicles and passengers, as wait time notes. E.g., 'Vehicle reservations to the San Juan Islands are available...' for Anacortes wait time notes, 'The morning departures are extremely heavy...' for Bainbridge Island wait time notes, null when notes are unavailable. Used for wait time information display.
                  WaitTimeLastUpdated:
                    type:
                      - string
                      - 'null'
                    description: Date when wait time information was last updated, as a UTC datetime. E.g., '2020-08-18T19:31:10.000Z' for wait time updated at 7:31 PM on August 18, 2020, null when update date is unavailable. Indicates when wait time information was last modified.
                  WaitTimeIVRNotes:
                    type:
                      - string
                      - 'null'
                    description: Wait time notes formatted for Interactive Voice Response systems, as IVR notes. E.g., 'Vehicle reservations to the San Juan Islands are available online or by speaking to an information agent...' for IVR playback, null when IVR notes are unavailable. Used for telephone-based wait time information systems.
                required:
                  - RouteID
                  - RouteName
                  - WaitTimeNotes
                  - WaitTimeLastUpdated
                  - WaitTimeIVRNotes
                description: Represents wait time information including route association, wait time notes, IVR notes, and update date. E.g., wait time for Anacortes terminal with reservation and arrival time guidance (updated August 18, 2020). Used for wait time information display and passenger guidance.
              description: Current wait time information and arrival recommendations for terminal, as an array of wait time objects. E.g., array containing vehicle reservation requirements and arrival time recommendations for Anacortes terminal, null when wait time data is unavailable. Used for trip planning and arrival time guidance.
          required:
            - WaitTimes
        - type: object
          properties:
            RealtimeIntroMsg:
              type:
                - string
                - 'null'
              description: Introductory message explaining real-time terminal conditions data display, as HTML-formatted text. E.g., message about approximate vehicle spaces available in holding area for Anacortes terminal, null when intro message is unavailable. Used to provide context for real-time conditions data.
            AdditionalInfo:
              type:
                - string
                - 'null'
              description: Additional terminal information including hours, services, and general details, as HTML-formatted text. E.g., passenger booth hours and kiosk information for Anacortes terminal, null when additional information is unavailable. Used for comprehensive terminal information display.
            LostAndFoundInfo:
              type:
                - string
                - 'null'
              description: Lost and found procedures, contact information, and retention policies for terminal, as HTML-formatted text. E.g., lost and found location and contact details for Anacortes terminal, null when lost and found information is unavailable. Used for lost item reporting and retrieval.
            SecurityInfo:
              type:
                - string
                - 'null'
              description: Security plan information and safety policies for terminal, as HTML-formatted text. E.g., U.S. Coast Guard approved security plan information, null when security information is unavailable. Used for security awareness and compliance information.
            ConstructionInfo:
              type:
                - string
                - 'null'
              description: Ongoing or planned construction activities affecting terminal, as HTML-formatted text. E.g., null for terminals without active construction, present when construction impacts terminal operations. Used for construction impact awareness and trip planning.
            FoodServiceInfo:
              type:
                - string
                - 'null'
              description: Food service hours, locations, and availability for terminal, as HTML-formatted text. E.g., galley hours and cafe information for Anacortes terminal, null when food service information is unavailable. Used for meal planning and food service availability.
            AdaInfo:
              type:
                - string
                - 'null'
              description: ADA accessibility features, elevator access, and accommodation information for terminal, as HTML-formatted text. E.g., overhead passenger ramp and elevator access information for Anacortes terminal, null when ADA information is unavailable. Used for accessibility planning and accommodation requests.
            FareDiscountInfo:
              type:
                - string
                - 'null'
              description: Fare discount programs, eligibility requirements, and purchase information for terminal, as HTML-formatted text. E.g., senior and youth fare information for Anacortes terminal, null when fare discount information is unavailable. Used for fare planning and discount eligibility.
            TallySystemInfo:
              type:
                - string
                - 'null'
              description: Tally system information for terminal operations, as HTML-formatted text. E.g., null for terminals without tally system documentation, present when tally system information is available. Used for operational information and system documentation.
            ChamberOfCommerce:
              type:
                - object
                - 'null'
              properties:
                LinkURL:
                  type:
                    - string
                    - 'null'
                  description: URL link to local chamber of commerce website, as a web URL. E.g., 'http://www.anacortes.org' for Anacortes Chamber of Commerce, null when chamber link is unavailable. Used for local business and visitor information.
                LinkName:
                  type:
                    - string
                    - 'null'
                  description: Display name for local chamber of commerce, as a chamber name. E.g., 'Chamber of Commerce' for Anacortes, 'Bainbridge Island Chamber of Commerce' for Bainbridge Island, null when chamber name is unavailable. Used for display and identification.
                SortSeq:
                  type:
                    - integer
                    - 'null'
                  description: Preferred display sort order for chamber of commerce link, as an integer sequence number. E.g., null for default sorting, numeric value when specific sort order is required. Used for controlling link display order.
              required:
                - LinkURL
                - LinkName
                - SortSeq
              description: Chamber of commerce information including link URL, name, and sort order for terminal, as a chamber object. E.g., object with Anacortes Chamber of Commerce link, null when chamber information is unavailable. Used for local business and visitor information.
            FacInfo:
              type:
                - string
                - 'null'
              description: Facility advisory committee contact information for terminal, as HTML-formatted text. E.g., Ferry Advisory Committee contact information, null when facility information is unavailable. Used for community participation and feedback.
            ResourceStatus:
              type:
                - string
                - 'null'
              description: Resource status information for terminal operations, as a status string. E.g., null for terminals without resource status documentation, present when resource status information is available. Used for operational status tracking.
            TypeDesc:
              type:
                - string
                - 'null'
              description: Terminal type classification description, as a type string. E.g., 'Passenger and Car' for terminals like Anacortes and Bainbridge Island, null when type description is unavailable. Used for terminal classification and display.
            REALTIME_SHUTOFF_FLAG:
              type: boolean
              description: Indicator whether real-time conditions data is disabled for terminal, as a boolean. E.g., false for terminals with active real-time data, true when real-time data is shut off. Used to determine real-time data availability.
            REALTIME_SHUTOFF_MESSAGE:
              type:
                - string
                - 'null'
              description: Message explaining why real-time conditions data is unavailable, as a status message. E.g., 'The Real-Time Conditions are unavailable due to technical difficulties' for terminals with shutoff flag true, null when real-time data is available. Used to inform users about real-time data status.
            VisitorLinks:
              type:
                - array
                - 'null'
              items:
                type: object
                properties:
                  LinkURL:
                    type:
                      - string
                      - 'null'
                    description: URL to transit agency website or service page, as a transit URL. E.g., 'http://www.skagittransit.org/' for Skagit Transit, 'http://www.kitsaptransit.com/service/routed-buses' for Kitsap Transit, null when transit link is unavailable. Used for accessing transit agency information.
                  LinkName:
                    type:
                      - string
                      - 'null'
                    description: Human-readable name of transit agency, as a transit agency name. E.g., 'Skagit Transit' for Skagit Transit agency, 'Kitsap Transit' for Kitsap Transit agency, null when transit name is unavailable. Provides transit agency identification for display.
                  SortSeq:
                    type:
                      - integer
                      - 'null'
                    description: Preferred sort order for transit link display, as an integer. E.g., null when sort order is not specified. Lower values appear first when sorting transit links in ascending order. Used for transit link display ordering.
                required:
                  - LinkURL
                  - LinkName
                  - SortSeq
                description: Represents transit link information including transit agency URL, name, and sort order. E.g., Skagit Transit link (http://www.skagittransit.org/). Used for displaying transit agency connections and links.
              description: Links to visitor information and tourism resources for terminal area, as an array of visitor link objects. E.g., empty array for terminals without visitor links, array with tourism resources when available. Used for visitor information and local attractions.
          required:
            - RealtimeIntroMsg
            - AdditionalInfo
            - LostAndFoundInfo
            - SecurityInfo
            - ConstructionInfo
            - FoodServiceInfo
            - AdaInfo
            - FareDiscountInfo
            - TallySystemInfo
            - ChamberOfCommerce
            - FacInfo
            - ResourceStatus
            - TypeDesc
            - REALTIME_SHUTOFF_FLAG
            - REALTIME_SHUTOFF_MESSAGE
            - VisitorLinks
      description: Represents comprehensive terminal information combining data from terminalBasics, terminalBulletins, terminalLocations, terminalTransports, and terminalWaitTimes endpoints. Includes terminal identification, amenities (overhead loading, elevator, waiting room, food service, restrooms), bulletins, location details (address, coordinates, map links, directions, GIS zoom levels), sailing space information (departures, vessel details, space availability), transportation information (parking, vehicle tips, airport info, transit links), wait times, and additional terminal details (lost and found, security, construction, food service, ADA, fare discounts, chamber of commerce, real-time status). E.g., Anacortes terminal (ID 1) with complete information including amenities, bulletins, location, transportation options, sailing space, and wait times. Used for comprehensive terminal information when reducing API calls is desired.
    TerminalWaitTimesOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal. Used as primary key for all terminal-related API calls and terminal identification.
        TerminalSubjectID:
          type: integer
          description: Unique WSF subject identifier for terminal, as an integer ID. E.g., '111' for Anacortes subject, '103' for Bainbridge Island subject, '102' for Bremerton subject. Identifies terminal as unique entity within WSF subject management system.
        RegionID:
          type: integer
          description: Geographical region identifier where terminal is located, as an integer ID. E.g., '1' for region 1 (Anacortes area), '4' for region 4 (Puget Sound central), '2' for region 2 (Whidbey Island area). Used for regional terminal grouping and filtering.
        TerminalName:
          type:
            - string
            - 'null'
          description: Terminal name, as a human-readable description. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, null when terminal name is unavailable. Provides terminal identification for display and user interfaces.
        TerminalAbbrev:
          type:
            - string
            - 'null'
          description: Terminal abbreviation code, as a terminal abbreviation. E.g., 'ANA' for Anacortes, 'BBI' for Bainbridge Island, 'BRE' for Bremerton, 'CLI' for Clinton, null when abbreviation is unavailable. Used for compact terminal identification in displays and route codes.
        SortSeq:
          type: integer
          description: Preferred sort order for terminal display, as an integer. E.g., '10' for Anacortes, '40' for Bainbridge Island, '30' for Bremerton, '20' for Clinton. Lower values appear first when sorting terminals in ascending order.
        WaitTimes:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              RouteID:
                type:
                  - integer
                  - 'null'
                description: Unique identifier for route associated with wait time, as an integer ID. E.g., null when wait time applies to all routes from terminal, route ID when wait time is route-specific. Used to identify route for wait time context.
              RouteName:
                type:
                  - string
                  - 'null'
                description: Human-readable name of route associated with wait time, as a route name. E.g., null when wait time applies to all routes, route name when wait time is route-specific. Provides route identification for wait time context.
              WaitTimeNotes:
                type:
                  - string
                  - 'null'
                description: Text notes detailing wait time conditions and tips for vehicles and passengers, as wait time notes. E.g., 'Vehicle reservations to the San Juan Islands are available...' for Anacortes wait time notes, 'The morning departures are extremely heavy...' for Bainbridge Island wait time notes, null when notes are unavailable. Used for wait time information display.
              WaitTimeLastUpdated:
                type:
                  - string
                  - 'null'
                description: Date when wait time information was last updated, as a UTC datetime. E.g., '2020-08-18T19:31:10.000Z' for wait time updated at 7:31 PM on August 18, 2020, null when update date is unavailable. Indicates when wait time information was last modified.
              WaitTimeIVRNotes:
                type:
                  - string
                  - 'null'
                description: Wait time notes formatted for Interactive Voice Response systems, as IVR notes. E.g., 'Vehicle reservations to the San Juan Islands are available online or by speaking to an information agent...' for IVR playback, null when IVR notes are unavailable. Used for telephone-based wait time information systems.
            required:
              - RouteID
              - RouteName
              - WaitTimeNotes
              - WaitTimeLastUpdated
              - WaitTimeIVRNotes
            description: Represents wait time information including route association, wait time notes, IVR notes, and update date. E.g., wait time for Anacortes terminal with reservation and arrival time guidance (updated August 18, 2020). Used for wait time information display and passenger guidance.
          description: Array of wait time information associated with terminal, as wait time objects. E.g., array containing wait time notes for Anacortes terminal, array containing wait time notes for Bainbridge Island terminal, null when wait time information is unavailable. Used for displaying terminal wait time conditions and passenger guidance.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - WaitTimes
      description: Represents terminal wait time information including terminal identification and wait time list. E.g., Anacortes terminal (ID 1) with wait time notes for San Juan Islands routes. Used for terminal wait time information and passenger guidance.
    TerminalBasicsByTerminalIdInputTerminalIDParam:
      type: integer
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for basic information lookup.
    TerminalBulletinsByTerminalIdInputTerminalIDParam:
      type: integer
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for bulletin lookup.
    TerminalLocationsByTerminalIdInputTerminalIDParam:
      type: integer
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for location lookup.
    TerminalSailingSpaceByTerminalIdInputTerminalIDParam:
      type: integer
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for sailing space lookup.
    TerminalTransportsByTerminalIdInputTerminalIDParam:
      type: integer
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for transportation information lookup.
    TerminalVerboseByTerminalIdInputTerminalIDParam:
      type: integer
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for comprehensive information lookup.
    TerminalWaitTimesByTerminalIdInputTerminalIDParam:
      type: integer
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for wait time lookup.
  parameters:
    TerminalBasicsByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/TerminalBasicsByTerminalIdInputTerminalIDParam'
      required: true
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for basic information lookup.
      name: TerminalID
      in: path
    TerminalBulletinsByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/TerminalBulletinsByTerminalIdInputTerminalIDParam'
      required: true
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for bulletin lookup.
      name: TerminalID
      in: path
    TerminalLocationsByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/TerminalLocationsByTerminalIdInputTerminalIDParam'
      required: true
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for location lookup.
      name: TerminalID
      in: path
    TerminalSailingSpaceByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/TerminalSailingSpaceByTerminalIdInputTerminalIDParam'
      required: true
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for sailing space lookup.
      name: TerminalID
      in: path
    TerminalTransportsByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/TerminalTransportsByTerminalIdInputTerminalIDParam'
      required: true
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for transportation information lookup.
      name: TerminalID
      in: path
    TerminalVerboseByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/TerminalVerboseByTerminalIdInputTerminalIDParam'
      required: true
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for comprehensive information lookup.
      name: TerminalID
      in: path
    TerminalWaitTimesByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/TerminalWaitTimesByTerminalIdInputTerminalIDParam'
      required: true
      description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalBasics to retrieve valid terminal IDs. Used to identify specific terminal for wait time lookup.
      name: TerminalID
      in: path
paths:
  /terminalBasics:
    get:
      summary: Returns multiple TerminalBasic objects for all terminals.
      operationId: getTerminalBasics
      tags:
        - terminal-basics
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getTerminalBasics } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getTerminalBasics,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TerminalBasicsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 20 total)
                  value:
                    - TerminalID: 1
                      TerminalSubjectID: 111
                      RegionID: 1
                      TerminalName: Anacortes
                      TerminalAbbrev: ANA
                      SortSeq: 10
                      OverheadPassengerLoading: true
                      Elevator: false
                      WaitingRoom: true
                      FoodService: true
                      Restroom: true
                    - _note: ... 19 more items
  /terminalBasics/{TerminalID}:
    get:
      summary: Returns a TerminalBasic object containing essential identification and status information for the specified terminal.
      operationId: getTerminalBasicsByTerminalId
      tags:
        - terminal-basics
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getTerminalBasicsByTerminalId } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getTerminalBasicsByTerminalId,
              params: {
                "TerminalID": 1
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/TerminalBasicsByTerminalIdInputTerminalIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalBasicsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    TerminalID: 1
                    TerminalSubjectID: 111
                    RegionID: 1
                    TerminalName: Anacortes
                    TerminalAbbrev: ANA
                    SortSeq: 10
                    OverheadPassengerLoading: true
                    Elevator: false
                    WaitingRoom: true
                    FoodService: true
                    Restroom: true
  /terminalWaitTimes:
    get:
      summary: Returns multiple TerminalWaitTime objects for all terminals.
      operationId: getTerminalWaitTimes
      tags:
        - terminal-wait-times
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getTerminalWaitTimes } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getTerminalWaitTimes,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TerminalWaitTimesOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 20 total)
                  value:
                    - TerminalID: 1
                      TerminalSubjectID: 111
                      RegionID: 1
                      TerminalName: Anacortes
                      TerminalAbbrev: ANA
                      SortSeq: 10
                      WaitTimes:
                        - RouteID: null
                          RouteName: null
                          WaitTimeNotes: 'Vehicle reservations to the San Juan Islands are available at www.takeaferry.com or by calling 511, and must be made at least 2 hours prior to sailing time.  A 45 to 60 minute advance arrival is advised for reservation holders. Reservation holders who check in later than 30 minutes prior to sailing time will travel stand by. Walk-on passengers should arrive at least 15 minutes prior to departure sailing. '
                          WaitTimeLastUpdated: 2020-08-18T19:31:10.000Z
                          WaitTimeIVRNotes: Vehicle reservations to the San Juan Islands are available online or by speaking to an information agent, and must be made at least 2 hours prior to sailing time.  A 45 to 60 minute advance arrival is advised for reservation holders. Reservation holders who check in later than 30 minutes prior to sailing time will travel stand by. Walk on passengers should arrive at least 15 minutes prior to departure.  To speak with an information agent please press zero.
                    - _note: ... 19 more items
  /terminalVerbose/{TerminalID}:
    get:
      summary: Returns TerminalVerbose data for the terminal with the specified terminal.
      operationId: getTerminalVerboseByTerminalId
      tags:
        - terminal-verbose
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getTerminalVerboseByTerminalId } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getTerminalVerboseByTerminalId,
              params: {
[...]
