openapi: 3.1.0
info:
  title: Wsf Fares API
  version: 1.0.0
  description: Wsf Fares API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/ferries/api/fares/rest
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    FetchCacheFlushDateFaresOutput:
      type: string
      description: Cache flush timestamp indicating when any static endpoint data for the wsf-fares API was last updated, as a UTC datetime. E.g., '2025-11-02T19:45:00.517Z' when static wsf-fares data was last refreshed.
    FetchFaresValidDateRangeOutput:
      type: object
      properties:
        DateFrom:
          type: string
          description: Start date when data becomes available, as a UTC datetime. E.g., '2025-11-02T07:00:00.000Z'. Indicates earliest trip date for which data is published.
        DateThru:
          type: string
          description: End date when data stops being available, as a UTC datetime. E.g., '2026-03-21T07:00:00.000Z'. Indicates latest trip date for which data is published.
      required:
        - DateFrom
        - DateThru
      description: Represents date range for which fares data is currently published and available, including start and end dates. E.g., fares available from November 2, 2025 through March 21, 2026. Use to determine valid trip dates for fare queries before calling other endpoints.
    FetchTerminalFaresOutput:
      type: object
      properties:
        TerminalID:
          type: number
          description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal, '5' for Clinton terminal, '11' for Coupeville terminal. Used as primary key for terminal identification and fare queries.
        Description:
          type: string
          description: Human-readable terminal name, as a terminal name. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, 'Clinton' for terminal 5, 'Coupeville ' for terminal 11. Provides terminal identification for display and user interfaces.
      required:
        - TerminalID
        - Description
      description: Represents base terminal information including terminal identifier and name. E.g., terminal 1 (Anacortes) or terminal 3 (Bainbridge Island). Used for terminal identification in fare queries and terminal lookups.
    FetchTerminalComboFaresOutput:
      type: object
      properties:
        DepartingDescription:
          type:
            - string
            - 'null'
          description: Human-readable name of departing terminal, as a terminal name. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, null when departing terminal name is unavailable. Provides origin terminal identification for fare collection description.
        ArrivingDescription:
          type:
            - string
            - 'null'
          description: Human-readable name of arriving terminal, as a terminal name. E.g., 'Friday Harbor' for terminal 10, 'Lopez Island' for terminal 13, 'Orcas Island' for terminal 15, null when arriving terminal name is unavailable. Provides destination terminal identification for fare collection description.
        CollectionDescription:
          type:
            - string
            - 'null'
          description: Text description of fare collection procedures for terminal combination, as a collection description. E.g., 'Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor' for Anacortes-Friday Harbor route, null when collection description is unavailable. Explains which fares are collected at which terminal and collection procedures.
      required:
        - DepartingDescription
        - ArrivingDescription
        - CollectionDescription
      description: Represents fare collection description for specific terminal combination including departing/arriving terminal names and collection details. E.g., Anacortes to Friday Harbor with fares collected at Anacortes only. Used for understanding fare collection procedures and determining where fares are paid for specific routes.
    FetchTerminalComboFaresVerboseOutput:
      type: object
      properties:
        DepartingTerminalID:
          type: number
          description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Used as primary key for terminal identification in verbose response.
        DepartingDescription:
          type:
            - string
            - 'null'
          description: Human-readable name of departing terminal, as a terminal name. E.g., 'Anacortes' for terminal 1, null when departing terminal name is unavailable. Provides origin terminal identification for fare collection description.
        ArrivingTerminalID:
          type: number
          description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal, '15' for Orcas Island terminal. Used as primary key for terminal identification in verbose response.
        ArrivingDescription:
          type:
            - string
            - 'null'
          description: Human-readable name of arriving terminal, as a terminal name. E.g., 'Friday Harbor' for terminal 10, 'Lopez Island' for terminal 13, null when arriving terminal name is unavailable. Provides destination terminal identification for fare collection description.
        CollectionDescription:
          type:
            - string
            - 'null'
          description: Text description of fare collection procedures for terminal combination, as a collection description. E.g., 'Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor' for Anacortes-Friday Harbor route, null when collection description is unavailable. Explains which fares are collected at which terminal and collection procedures.
      required:
        - DepartingTerminalID
        - DepartingDescription
        - ArrivingTerminalID
        - ArrivingDescription
        - CollectionDescription
      description: Represents fare collection description for terminal combination including terminal IDs, names, and collection details. E.g., Anacortes (ID 1) to Friday Harbor (ID 10) with fares collected at Anacortes only. Used for comprehensive fare collection information lookup and understanding collection procedures for all available routes.
    FetchFareLineItemsByTripDateAndTerminalsOutput:
      type: object
      properties:
        FareLineItemID:
          type: number
          description: Unique fare line item identifier, as an integer ID. E.g., '1' for Adult fare, '2' for Senior/Disability fare, '3' for Youth fare. Used as primary key for fare line item identification and fare total calculations.
        FareLineItem:
          type:
            - string
            - 'null'
          description: Human-readable description of fare line item, as a fare description. E.g., 'Adult (age 19 - 64)' for adult passenger fare, 'Senior (age 65 & over) / <a href=...>Disability</a>' for senior/disability fare, 'Youth (age 18 and under)' for youth fare, null when fare description is unavailable. Provides fare type identification for display and user selection.
        Category:
          type:
            - string
            - 'null'
          description: Logical grouping category for fare line item, as a category name. E.g., 'Passenger' for passenger fares, 'Vehicle' for vehicle fares, null when category is unavailable. Used for fare type organization and filtering.
        DirectionIndependent:
          type: boolean
          description: Indicator whether fare amount is independent of departure direction, as a boolean. E.g., false when fare amount varies by departing terminal (Anacortes vs Friday Harbor), true when fare amount is same regardless of departure terminal. Used to determine if fare calculation depends on departure direction.
        Amount:
          type: number
          description: Fare cost amount, as dollars. E.g., '0' for free fares (when no fare collected at departing terminal), fare amount in dollars for paid fares. Used for fare calculation and total computation.
      required:
        - FareLineItemID
        - FareLineItem
        - Category
        - DirectionIndependent
        - Amount
      description: Represents fare line item information including fare identifier, description, category, direction independence, and amount. E.g., Adult fare (ID 1) in Passenger category with amount $0 (free). Used for fare lookups, fare calculation, and fare total computations.
    FetchFareLineItemsVerboseOutput:
      type: object
      properties:
        TerminalComboVerbose:
          type: array
          items:
            type: object
            properties:
              DepartingTerminalID:
                type: number
                description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Used as primary key for terminal identification in verbose response.
              DepartingDescription:
                type:
                  - string
                  - 'null'
                description: Human-readable name of departing terminal, as a terminal name. E.g., 'Anacortes' for terminal 1, null when departing terminal name is unavailable. Provides origin terminal identification for fare collection description.
              ArrivingTerminalID:
                type: number
                description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal, '15' for Orcas Island terminal. Used as primary key for terminal identification in verbose response.
              ArrivingDescription:
                type:
                  - string
                  - 'null'
                description: Human-readable name of arriving terminal, as a terminal name. E.g., 'Friday Harbor' for terminal 10, 'Lopez Island' for terminal 13, null when arriving terminal name is unavailable. Provides destination terminal identification for fare collection description.
              CollectionDescription:
                type:
                  - string
                  - 'null'
                description: Text description of fare collection procedures for terminal combination, as a collection description. E.g., 'Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor' for Anacortes-Friday Harbor route, null when collection description is unavailable. Explains which fares are collected at which terminal and collection procedures.
            required:
              - DepartingTerminalID
              - DepartingDescription
              - ArrivingTerminalID
              - ArrivingDescription
              - CollectionDescription
            description: Represents fare collection description for terminal combination including terminal IDs, names, and collection details. E.g., Anacortes (ID 1) to Friday Harbor (ID 10) with fares collected at Anacortes only. Used for comprehensive fare collection information lookup and understanding collection procedures for all available routes.
          description: Array of terminal combination verbose information, as terminal combo objects. E.g., array containing Anacortes-Friday Harbor combination, Anacortes-Lopez Island combination. Provides all valid terminal pairs for trip date.
        LineItemLookup:
          type: array
          items:
            type: object
            properties:
              TerminalComboIndex:
                type: number
                description: Array index referencing terminal combination in TerminalComboVerbose array, as an integer index. E.g., '0' for first terminal combination, '1' for second terminal combination. Used to cross-reference fare line items with terminal combinations in verbose response.
              LineItemIndex:
                type: number
                description: Array index referencing one-way fare line items in LineItems array, as an integer index. E.g., '0' for first line item array, '1' for second line item array. Used to identify which line items apply to which terminal combination for one-way fares.
              RoundTripLineItemIndex:
                type: number
                description: Array index referencing round trip fare line items in RoundTripLineItems array, as an integer index. E.g., '0' for first round trip line item array, '1' for second round trip line item array. Used to identify which line items apply to which terminal combination for round trip fares.
            required:
              - TerminalComboIndex
              - LineItemIndex
              - RoundTripLineItemIndex
            description: Represents cross-reference mapping between terminal combinations and fare line items, including indices for terminal combo, one-way line items, and round trip line items. E.g., terminal combo index 0 maps to line item index 0 and round trip line item index 0. Used for associating fare line items with specific terminal combinations in verbose response.
          description: Array of cross-reference mappings between terminal combinations and fare line items, as line item xref objects. E.g., array mapping each terminal combo to corresponding fare line item arrays. Used to associate fare line items with terminal combinations.
        LineItems:
          type: array
          items:
            type: array
            items:
              type: object
              properties:
                FareLineItemID:
                  type: number
                  description: Unique fare line item identifier, as an integer ID. E.g., '1' for Adult fare, '2' for Senior/Disability fare, '3' for Youth fare. Used as primary key for fare line item identification and fare total calculations.
                FareLineItem:
                  type:
                    - string
                    - 'null'
                  description: Human-readable description of fare line item, as a fare description. E.g., 'Adult (age 19 - 64)' for adult passenger fare, 'Senior (age 65 & over) / <a href=...>Disability</a>' for senior/disability fare, 'Youth (age 18 and under)' for youth fare, null when fare description is unavailable. Provides fare type identification for display and user selection.
                Category:
                  type:
                    - string
                    - 'null'
                  description: Logical grouping category for fare line item, as a category name. E.g., 'Passenger' for passenger fares, 'Vehicle' for vehicle fares, null when category is unavailable. Used for fare type organization and filtering.
                DirectionIndependent:
                  type: boolean
                  description: Indicator whether fare amount is independent of departure direction, as a boolean. E.g., false when fare amount varies by departing terminal (Anacortes vs Friday Harbor), true when fare amount is same regardless of departure terminal. Used to determine if fare calculation depends on departure direction.
                Amount:
                  type: number
                  description: Fare cost amount, as dollars. E.g., '0' for free fares (when no fare collected at departing terminal), fare amount in dollars for paid fares. Used for fare calculation and total computation.
              required:
                - FareLineItemID
                - FareLineItem
                - Category
                - DirectionIndependent
                - Amount
              description: Represents fare line item information including fare identifier, description, category, direction independence, and amount. E.g., Adult fare (ID 1) in Passenger category with amount $0 (free). Used for fare lookups, fare calculation, and fare total computations.
          description: Array of one-way fare line item arrays, where each inner array contains line items for specific terminal combination, as nested arrays of line item objects. E.g., array containing Adult, Senior, Youth fares for each terminal combo. Used for one-way fare lookups.
        RoundTripLineItems:
          type: array
          items:
            type: array
            items:
              type: object
              properties:
                FareLineItemID:
                  type: number
                  description: Unique fare line item identifier, as an integer ID. E.g., '1' for Adult fare, '2' for Senior/Disability fare, '3' for Youth fare. Used as primary key for fare line item identification and fare total calculations.
                FareLineItem:
                  type:
                    - string
                    - 'null'
                  description: Human-readable description of fare line item, as a fare description. E.g., 'Adult (age 19 - 64)' for adult passenger fare, 'Senior (age 65 & over) / <a href=...>Disability</a>' for senior/disability fare, 'Youth (age 18 and under)' for youth fare, null when fare description is unavailable. Provides fare type identification for display and user selection.
                Category:
                  type:
                    - string
                    - 'null'
                  description: Logical grouping category for fare line item, as a category name. E.g., 'Passenger' for passenger fares, 'Vehicle' for vehicle fares, null when category is unavailable. Used for fare type organization and filtering.
                DirectionIndependent:
                  type: boolean
                  description: Indicator whether fare amount is independent of departure direction, as a boolean. E.g., false when fare amount varies by departing terminal (Anacortes vs Friday Harbor), true when fare amount is same regardless of departure terminal. Used to determine if fare calculation depends on departure direction.
                Amount:
                  type: number
                  description: Fare cost amount, as dollars. E.g., '0' for free fares (when no fare collected at departing terminal), fare amount in dollars for paid fares. Used for fare calculation and total computation.
              required:
                - FareLineItemID
                - FareLineItem
                - Category
                - DirectionIndependent
                - Amount
              description: Represents fare line item information including fare identifier, description, category, direction independence, and amount. E.g., Adult fare (ID 1) in Passenger category with amount $0 (free). Used for fare lookups, fare calculation, and fare total computations.
          description: Array of round trip fare line item arrays, where each inner array contains line items for specific terminal combination, as nested arrays of line item objects. E.g., array containing Adult, Senior, Youth fares for round trip journeys. Used for round trip fare lookups.
      description: Represents comprehensive fare line item data for all terminal combinations including terminal combo information, cross-reference mappings, one-way fares, and round trip fares. E.g., complete fare data for all routes on November 2, 2025. Used for bulk fare lookups across all routes and comprehensive fare data access.
    FetchFareTotalsByTripDateAndRouteOutput:
      type: object
      properties:
        TotalType:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
            - type: number
              enum:
                - 3
            - type: number
              enum:
                - 4
          description: 'Fare total type code indicating logical grouping for total amount, as a total type code. Valid values: 1 (Departing), 2 (Return), 3 (Either - direction independent), 4 (Grand Total). E.g., ''1'' for departing leg total, ''4'' for grand total. Used for fare total categorization.'
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of fare total, as a total description. E.g., 'Anacortes to Friday Harbor' for departing total, 'Either' for direction-independent total, 'Grand Total' for grand total, null when description is unavailable. Provides context for total amount.
        BriefDescription:
          type:
            - string
            - 'null'
          description: Short string representation of fare total type, as a brief description. E.g., 'Depart' for departing total (type 1), 'Either' for direction-independent total (type 3), 'Total' for grand total (type 4), null when brief description is unavailable. Used for compact total type display.
        Amount:
          type: number
          description: Total fare amount for this total type, as dollars. E.g., '61.25' for $61.25 departing total, '0' for $0 direction-independent total, '61.25' for $61.25 grand total. Used for fare total display and payment calculation.
      required:
        - TotalType
        - Description
        - BriefDescription
        - Amount
      description: Represents fare total breakdown including total type, description, and amount. E.g., departing total (type 1) 'Anacortes to Friday Harbor' with amount $61.25, grand total (type 4) with amount $61.25. Used for fare calculation results, total breakdowns, and payment amount determination.
    FetchTerminalFaresInputTripDateParam:
      type: string
      description: Trip date for which to retrieve valid departing terminals, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025, '2026-03-21' for March 21, 2026. Must be within valid date range from GetValidDateRange. Used to filter terminals by trip date availability.
    FetchTerminalMatesFaresInputTripDateParam:
      type: string
      description: Trip date for which to retrieve arriving terminals, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter terminal mates by trip date availability.
    FetchTerminalMatesFaresInputTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to filter arriving terminals by origin terminal.
    FetchTerminalComboFaresInputTripDateParam:
      type: string
      description: Trip date for fare collection description, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fare collection information by trip date.
    FetchTerminalComboFaresInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to identify origin terminal for fare collection.
    FetchTerminalComboFaresInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalMates to retrieve valid arriving terminals for departing terminal. Used to identify destination terminal for fare collection.
    FetchTerminalComboFaresVerboseInputTripDateParam:
      type: string
      description: Trip date for fare collection descriptions, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fare collection information by trip date.
    FetchFareLineItemsByTripDateAndTerminalsInputTripDateParam:
      type: string
      description: Trip date for fare line items, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fares by trip date.
    FetchFareLineItemsByTripDateAndTerminalsInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to identify origin terminal for fare calculation.
    FetchFareLineItemsByTripDateAndTerminalsInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalMates to retrieve valid arriving terminals. Used to identify destination terminal for fare calculation.
    FetchFareLineItemsByTripDateAndTerminalsInputRoundTripParam:
      type: boolean
      description: Trip type indicator, as a boolean. E.g., true for round trip fares, false for one-way fares. Determines whether returned fares are for round trip or one-way journeys.
    FetchFareLineItemsBasicInputTripDateParam:
      type: string
      description: Trip date for fare line items, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fares by trip date.
    FetchFareLineItemsBasicInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to identify origin terminal for fare calculation.
    FetchFareLineItemsBasicInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalMates to retrieve valid arriving terminals. Used to identify destination terminal for fare calculation.
    FetchFareLineItemsBasicInputRoundTripParam:
      type: boolean
      description: Trip type indicator, as a boolean. E.g., true for round trip fares, false for one-way fares. Determines whether returned fares are for round trip or one-way journeys.
    FetchFareLineItemsVerboseInputTripDateParam:
      type: string
      description: Trip date for fare line items, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fares by trip date.
    FetchFareTotalsByTripDateAndRouteInputTripDateParam:
      type: string
      description: Trip date for fare total calculation, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fare calculations by trip date.
    FetchFareTotalsByTripDateAndRouteInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to identify origin terminal for fare calculation.
    FetchFareTotalsByTripDateAndRouteInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalMates to retrieve valid arriving terminals. Used to identify destination terminal for fare calculation.
    FetchFareTotalsByTripDateAndRouteInputRoundTripParam:
      type: boolean
      description: Trip type indicator, as a boolean. E.g., true for round trip fare totals, false for one-way fare totals. Determines whether totals include return journey fares.
    FetchFareTotalsByTripDateAndRouteInputFareLineItemIDParam:
      type: string
      description: Comma-separated list of fare line item IDs to include in total calculation, as a comma-delimited string. E.g., '1,2,3' for Adult, Senior, and Youth fares. Use GetFareLineItems to find valid fare line item IDs. Each ID corresponds to quantity at same index in Quantity array.
    FetchFareTotalsByTripDateAndRouteInputQuantityParam:
      type: string
      description: Comma-separated list of quantities for corresponding fare line items, as a comma-delimited string. E.g., '2,1,0' for 2 adults, 1 senior, 0 youth. Values must be >= 0. Each quantity corresponds to fare line item ID at same index in FareLineItemID array.
  parameters:
    FetchTerminalFaresInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalFaresInputTripDateParam'
      required: true
      description: Trip date for which to retrieve valid departing terminals, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025, '2026-03-21' for March 21, 2026. Must be within valid date range from GetValidDateRange. Used to filter terminals by trip date availability.
      name: TripDate
      in: path
    FetchTerminalMatesFaresInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalMatesFaresInputTripDateParam'
      required: true
      description: Trip date for which to retrieve arriving terminals, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter terminal mates by trip date availability.
      name: TripDate
      in: path
    FetchTerminalMatesFaresInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalMatesFaresInputTerminalIDParam'
      required: true
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to filter arriving terminals by origin terminal.
      name: TerminalID
      in: path
    FetchTerminalComboFaresInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalComboFaresInputTripDateParam'
      required: true
      description: Trip date for fare collection description, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fare collection information by trip date.
      name: TripDate
      in: path
    FetchTerminalComboFaresInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalComboFaresInputDepartingTerminalIDParam'
      required: true
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to identify origin terminal for fare collection.
      name: DepartingTerminalID
      in: path
    FetchTerminalComboFaresInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalComboFaresInputArrivingTerminalIDParam'
      required: true
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalMates to retrieve valid arriving terminals for departing terminal. Used to identify destination terminal for fare collection.
      name: ArrivingTerminalID
      in: path
    FetchTerminalComboFaresVerboseInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalComboFaresVerboseInputTripDateParam'
      required: true
      description: Trip date for fare collection descriptions, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fare collection information by trip date.
      name: TripDate
      in: path
    FetchFareLineItemsByTripDateAndTerminalsInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsByTripDateAndTerminalsInputTripDateParam'
      required: true
      description: Trip date for fare line items, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fares by trip date.
      name: TripDate
      in: path
    FetchFareLineItemsByTripDateAndTerminalsInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsByTripDateAndTerminalsInputDepartingTerminalIDParam'
      required: true
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to identify origin terminal for fare calculation.
      name: DepartingTerminalID
      in: path
    FetchFareLineItemsByTripDateAndTerminalsInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsByTripDateAndTerminalsInputArrivingTerminalIDParam'
      required: true
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalMates to retrieve valid arriving terminals. Used to identify destination terminal for fare calculation.
      name: ArrivingTerminalID
      in: path
    FetchFareLineItemsByTripDateAndTerminalsInputRoundTripParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsByTripDateAndTerminalsInputRoundTripParam'
      required: true
      description: Trip type indicator, as a boolean. E.g., true for round trip fares, false for one-way fares. Determines whether returned fares are for round trip or one-way journeys.
      name: RoundTrip
      in: path
    FetchFareLineItemsBasicInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsBasicInputTripDateParam'
      required: true
      description: Trip date for fare line items, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fares by trip date.
      name: TripDate
      in: path
    FetchFareLineItemsBasicInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsBasicInputDepartingTerminalIDParam'
      required: true
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to identify origin terminal for fare calculation.
      name: DepartingTerminalID
      in: path
    FetchFareLineItemsBasicInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsBasicInputArrivingTerminalIDParam'
      required: true
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalMates to retrieve valid arriving terminals. Used to identify destination terminal for fare calculation.
      name: ArrivingTerminalID
      in: path
    FetchFareLineItemsBasicInputRoundTripParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsBasicInputRoundTripParam'
      required: true
      description: Trip type indicator, as a boolean. E.g., true for round trip fares, false for one-way fares. Determines whether returned fares are for round trip or one-way journeys.
      name: RoundTrip
      in: path
    FetchFareLineItemsVerboseInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchFareLineItemsVerboseInputTripDateParam'
      required: true
      description: Trip date for fare line items, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fares by trip date.
      name: TripDate
      in: path
    FetchFareTotalsByTripDateAndRouteInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchFareTotalsByTripDateAndRouteInputTripDateParam'
      required: true
      description: Trip date for fare total calculation, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter fare calculations by trip date.
      name: TripDate
      in: path
    FetchFareTotalsByTripDateAndRouteInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchFareTotalsByTripDateAndRouteInputDepartingTerminalIDParam'
      required: true
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to identify origin terminal for fare calculation.
      name: DepartingTerminalID
      in: path
    FetchFareTotalsByTripDateAndRouteInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchFareTotalsByTripDateAndRouteInputArrivingTerminalIDParam'
      required: true
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalMates to retrieve valid arriving terminals. Used to identify destination terminal for fare calculation.
      name: ArrivingTerminalID
      in: path
    FetchFareTotalsByTripDateAndRouteInputRoundTripParam:
      schema:
        $ref: '#/components/schemas/FetchFareTotalsByTripDateAndRouteInputRoundTripParam'
      required: true
      description: Trip type indicator, as a boolean. E.g., true for round trip fare totals, false for one-way fare totals. Determines whether totals include return journey fares.
      name: RoundTrip
      in: path
    FetchFareTotalsByTripDateAndRouteInputFareLineItemIDParam:
      schema:
        $ref: '#/components/schemas/FetchFareTotalsByTripDateAndRouteInputFareLineItemIDParam'
      required: true
      description: Comma-separated list of fare line item IDs to include in total calculation, as a comma-delimited string. E.g., '1,2,3' for Adult, Senior, and Youth fares. Use GetFareLineItems to find valid fare line item IDs. Each ID corresponds to quantity at same index in Quantity array.
      name: FareLineItemID
      in: path
    FetchFareTotalsByTripDateAndRouteInputQuantityParam:
      schema:
        $ref: '#/components/schemas/FetchFareTotalsByTripDateAndRouteInputQuantityParam'
      required: true
      description: Comma-separated list of quantities for corresponding fare line items, as a comma-delimited string. E.g., '2,1,0' for 2 adults, 1 senior, 0 youth. Values must be >= 0. Each quantity corresponds to fare line item ID at same index in FareLineItemID array.
      name: Quantity
      in: path
paths:
  /cacheflushdate:
    get:
      summary: Returns the timestamp of when any static endpoint data for the wsf-fares API was last updated.
      operationId: fetchCacheFlushDateFares
      tags:
        - cache-flush-date-fares
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchCacheFlushDateFares } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchCacheFlushDateFares,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchCacheFlushDateFaresOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value: 2025-11-08T04:24:35.480Z
  /terminals/{TripDate}:
    get:
      summary: Returns a list of valid departing terminals for the specified trip date.
      operationId: fetchTerminalFares
      tags:
        - terminals
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchTerminalFares } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchTerminalFares,
              params: {
                "TripDate": "2025-11-09"
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchTerminalFaresInputTripDateParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchTerminalFaresOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 19 total)
                  value:
                    - TerminalID: 1
                      Description: Anacortes
                    - _note: ... 18 more items
  /validdaterange:
    get:
      summary: Returns a single ValidDateRange object for the current fares data validity period.
      operationId: fetchFaresValidDateRange
      tags:
        - valid-date-range
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchFaresValidDateRange } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchFaresValidDateRange,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchFaresValidDateRangeOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    DateFrom: 2025-11-07T08:00:00.000Z
                    DateThru: 2026-03-21T07:00:00.000Z
  /terminalMates/{TripDate}/{TerminalID}:
    get:
      summary: Returns arriving terminals for the given departing terminal and trip date.
      operationId: fetchTerminalMatesFares
      tags:
        - terminals
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchTerminalMatesFares } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchTerminalMatesFares,
              params: {
                "TripDate": "2025-11-09",
                "TerminalID": 1
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchTerminalMatesFaresInputTripDateParam'
        - $ref: '#/components/parameters/FetchTerminalMatesFaresInputTerminalIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchTerminalFaresOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 4 total)
                  value:
                    - TerminalID: 10
                      Description: Friday Harbor
                    - _note: ... 3 more items
  /terminalCombo/{TripDate}/{DepartingTerminalID}/{ArrivingTerminalID}:
    get:
      summary: Returns fare collection descriptions for the specified terminal combination and trip date.
      operationId: fetchTerminalComboFares
      tags:
        - terminal-combo
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchTerminalComboFares } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchTerminalComboFares,
              params: {
                "TripDate": "2025-11-09",
                "DepartingTerminalID": 1,
                "ArrivingTerminalID": 10
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchTerminalComboFaresInputTripDateParam'
        - $ref: '#/components/parameters/FetchTerminalComboFaresInputDepartingTerminalIDParam'
        - $ref: '#/components/parameters/FetchTerminalComboFaresInputArrivingTerminalIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchTerminalComboFaresOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    DepartingDescription: Anacortes
                    ArrivingDescription: Friday Harbor
                    CollectionDescription: Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor.
  /fareLineItems/{TripDate}/{DepartingTerminalID}/{ArrivingTerminalID}/{RoundTrip}:
    get:
      summary: Returns multiple of FareLineItem for specific terminal combination.
      operationId: fetchFareLineItemsByTripDateAndTerminals
      tags:
        - fare-line-items
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchFareLineItemsByTripDateAndTerminals } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchFareLineItemsByTripDateAndTerminals,
              params: {
                "TripDate": "2025-11-09",
                "DepartingTerminalID": 3,
                "ArrivingTerminalID": 7,
                "RoundTrip": false
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchFareLineItemsByTripDateAndTerminalsInputTripDateParam'
        - $ref: '#/components/parameters/FetchFareLineItemsByTripDateAndTerminalsInputDepartingTerminalIDParam'
        - $ref: '#/components/parameters/FetchFareLineItemsByTripDateAndTerminalsInputArrivingTerminalIDParam'
        - $ref: '#/components/parameters/FetchFareLineItemsByTripDateAndTerminalsInputRoundTripParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchFareLineItemsByTripDateAndTerminalsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 23 total)
                  value:
                    - FareLineItemID: 1
                      FareLineItem: Adult (age 19 - 64)
                      Category: Passenger
                      DirectionIndependent: false
                      Amount: 0
                    - _note: ... 22 more items
  /fareLineItemsBasic/{TripDate}/{DepartingTerminalID}/{ArrivingTerminalID}/{RoundTrip}:
    get:
      summary: Returns multiple of FareLineItem for popular fare options.
      operationId: fetchFareLineItemsBasic
      tags:
        - fare-line-items
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchFareLineItemsBasic } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchFareLineItemsBasic,
              params: {
                "TripDate": "2025-11-09",
                "DepartingTerminalID": 1,
                "ArrivingTerminalID": 10,
                "RoundTrip": false
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchFareLineItemsBasicInputTripDateParam'
        - $ref: '#/components/parameters/FetchFareLineItemsBasicInputDepartingTerminalIDParam'
        - $ref: '#/components/parameters/FetchFareLineItemsBasicInputArrivingTerminalIDParam'
        - $ref: '#/components/parameters/FetchFareLineItemsBasicInputRoundTripParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchFareLineItemsByTripDateAndTerminalsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 12 total)
                  value:
                    - FareLineItemID: 1
                      FareLineItem: Adult (age 19 - 64)
                      Category: Passenger
                      DirectionIndependent: false
                      Amount: 17.5
                    - _note: ... 11 more items
  /fareTotals/{TripDate}/{DepartingTerminalID}/{ArrivingTerminalID}/{RoundTrip}/{FareLineItemID}/{Quantity}:
    get:
      summary: Calculates total fares for the specified terminal combination, trip type, and selected fare line items with quantities.
      operationId: fetchFareTotalsByTripDateAndRoute
      tags:
        - fare-totals
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchFareTotalsByTripDateAndRoute } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchFareTotalsByTripDateAndRoute,
              params: {
                "TripDate": "2025-11-08",
                "DepartingTerminalID": 1,
                "ArrivingTerminalID": 10,
                "RoundTrip": false,
                "FareLineItemID": "1,2",
                "Quantity": "3,1"
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchFareTotalsByTripDateAndRouteInputTripDateParam'
        - $ref: '#/components/parameters/FetchFareTotalsByTripDateAndRouteInputDepartingTerminalIDParam'
        - $ref: '#/components/parameters/FetchFareTotalsByTripDateAndRouteInputArrivingTerminalIDParam'
        - $ref: '#/components/parameters/FetchFareTotalsByTripDateAndRouteInputRoundTripParam'
        - $ref: '#/components/parameters/FetchFareTotalsByTripDateAndRouteInputFareLineItemIDParam'
        - $ref: '#/components/parameters/FetchFareTotalsByTripDateAndRouteInputQuantityParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchFareTotalsByTripDateAndRouteOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 3 total)
                  value:
                    - TotalType: 1
                      Description: Anacortes to Friday Harbor
                      BriefDescription: Depart
                      Amount: 61.25
                    - _note: ... 2 more items
  /terminalComboVerbose/{TripDate}:
    get:
      summary: Returns fare collection descriptions for all terminal combinations available on the specified trip date.
      operationId: fetchTerminalComboFaresVerbose
      tags:
        - terminal-combo
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchTerminalComboFaresVerbose } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchTerminalComboFaresVerbose,
              params: {
                "TripDate": "2025-11-09"
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchTerminalComboFaresVerboseInputTripDateParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchTerminalComboFaresVerboseOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 38 total)
                  value:
                    - DepartingTerminalID: 1
                      DepartingDescription: Anacortes
                      ArrivingTerminalID: 10
                      ArrivingDescription: Friday Harbor
                      CollectionDescription: Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor.
                    - _note: ... 37 more items
  /fareLineItemsVerbose/{TripDate}:
    get:
      summary: Returns multiple of FareLineItem for all terminal combinations.
      operationId: fetchFareLineItemsVerbose
      tags:
        - fare-line-items
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie } from 'ws-dottie';
            import { fetchFareLineItemsVerbose } from 'ws-dottie/wsf-fares/core';

            const data = await fetchDottie({
              endpoint: fetchFareLineItemsVerbose,
              params: {
                "TripDate": "2025-11-08"
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchFareLineItemsVerboseInputTripDateParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchFareLineItemsVerboseOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    TerminalComboVerbose:
                      - DepartingTerminalID: 1
                        DepartingDescription: Anacortes
                        ArrivingTerminalID: 10
                        ArrivingDescription: Friday Harbor
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Friday Harbor.
                      - DepartingTerminalID: 1
                        DepartingDescription: Anacortes
                        ArrivingTerminalID: 13
                        ArrivingDescription: Lopez Island
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Lopez Island.
                      - DepartingTerminalID: 1
                        DepartingDescription: Anacortes
                        ArrivingTerminalID: 15
                        ArrivingDescription: Orcas Island
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Orcas Island.
                      - DepartingTerminalID: 1
                        DepartingDescription: Anacortes
                        ArrivingTerminalID: 18
                        ArrivingDescription: Shaw Island
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Anacortes, while no fares are collected at Shaw Island.
                      - DepartingTerminalID: 3
                        DepartingDescription: Bainbridge Island
                        ArrivingTerminalID: 7
                        ArrivingDescription: Seattle
                        CollectionDescription: Vehicle/driver only fares are collected at Bainbridge Island, while passenger and vehicle/driver fares are collected at Seattle.
                      - DepartingTerminalID: 4
                        DepartingDescription: Bremerton
                        ArrivingTerminalID: 7
                        ArrivingDescription: Seattle
                        CollectionDescription: Vehicle/driver only fares are collected at Bremerton, while passenger and vehicle/driver fares are collected at Seattle.
                      - DepartingTerminalID: 5
                        DepartingDescription: Clinton
                        ArrivingTerminalID: 14
                        ArrivingDescription: Mukilteo
                        CollectionDescription: Vehicle/driver only fares are collected at Clinton, while passenger and vehicle/driver fares are collected at Mukilteo.
                      - DepartingTerminalID: 11
                        DepartingDescription: 'Coupeville '
                        ArrivingTerminalID: 17
                        ArrivingDescription: Port Townsend
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Coupeville , while passenger and vehicle/driver fares are collected at port Townsend.
                      - DepartingTerminalID: 8
                        DepartingDescription: Edmonds
                        ArrivingTerminalID: 12
                        ArrivingDescription: Kingston
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Edmonds, while vehicle/driver only fares are collected at Kingston.
                      - DepartingTerminalID: 9
                        DepartingDescription: Fauntleroy
                        ArrivingTerminalID: 20
                        ArrivingDescription: Southworth
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Fauntleroy, while vehicle/driver only fares are collected at Southworth.
                      - DepartingTerminalID: 9
                        DepartingDescription: Fauntleroy
                        ArrivingTerminalID: 22
                        ArrivingDescription: Vashon Island
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Fauntleroy, while no fares are collected at Vashon Island.
                      - DepartingTerminalID: 10
                        DepartingDescription: Friday Harbor
                        ArrivingTerminalID: 1
                        ArrivingDescription: Anacortes
                        CollectionDescription: No fares are collected at Friday Harbor, while passenger and vehicle/driver fares are collected at Anacortes.
                      - DepartingTerminalID: 10
                        DepartingDescription: Friday Harbor
                        ArrivingTerminalID: 13
                        ArrivingDescription: Lopez Island
                        CollectionDescription: No fares are collected at Friday Harbor, while vehicle/driver only fares are collected at Lopez Island.
                      - DepartingTerminalID: 10
                        DepartingDescription: Friday Harbor
                        ArrivingTerminalID: 15
                        ArrivingDescription: Orcas Island
                        CollectionDescription: No fares are collected at Friday Harbor, while vehicle/driver only fares are collected at Orcas Island.
                      - DepartingTerminalID: 10
                        DepartingDescription: Friday Harbor
                        ArrivingTerminalID: 18
                        ArrivingDescription: Shaw Island
                        CollectionDescription: No fares are collected at Friday Harbor, while vehicle/driver only fares are collected at Shaw Island.
                      - DepartingTerminalID: 12
                        DepartingDescription: Kingston
                        ArrivingTerminalID: 8
                        ArrivingDescription: Edmonds
                        CollectionDescription: Vehicle/driver only fares are collected at Kingston, while passenger and vehicle/driver fares are collected at Edmonds.
                      - DepartingTerminalID: 13
                        DepartingDescription: Lopez Island
                        ArrivingTerminalID: 1
                        ArrivingDescription: Anacortes
                        CollectionDescription: No fares are collected at Lopez Island, while passenger and vehicle/driver fares are collected at Anacortes.
                      - DepartingTerminalID: 13
                        DepartingDescription: Lopez Island
                        ArrivingTerminalID: 10
                        ArrivingDescription: Friday Harbor
                        CollectionDescription: Vehicle/driver only fares are collected at Lopez Island, while no fares are collected at Friday Harbor.
                      - DepartingTerminalID: 13
                        DepartingDescription: Lopez Island
                        ArrivingTerminalID: 15
                        ArrivingDescription: Orcas Island
                        CollectionDescription: Vehicle/driver only fares are collected at Lopez Island, while no fares are collected at Orcas Island.
                      - DepartingTerminalID: 13
                        DepartingDescription: Lopez Island
                        ArrivingTerminalID: 18
                        ArrivingDescription: Shaw Island
                        CollectionDescription: Vehicle/driver only fares are collected at Lopez Island, while no fares are collected at Shaw Island.
                      - DepartingTerminalID: 14
                        DepartingDescription: Mukilteo
                        ArrivingTerminalID: 5
                        ArrivingDescription: Clinton
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Mukilteo, while vehicle/driver only fares are collected at Clinton.
                      - DepartingTerminalID: 15
                        DepartingDescription: Orcas Island
                        ArrivingTerminalID: 1
                        ArrivingDescription: Anacortes
                        CollectionDescription: No fares are collected at Orcas Island, while passenger and vehicle/driver fares are collected at Anacortes.
                      - DepartingTerminalID: 15
                        DepartingDescription: Orcas Island
                        ArrivingTerminalID: 10
                        ArrivingDescription: Friday Harbor
                        CollectionDescription: Vehicle/driver only fares are collected at Orcas Island, while no fares are collected at Friday Harbor.
                      - DepartingTerminalID: 15
                        DepartingDescription: Orcas Island
                        ArrivingTerminalID: 13
                        ArrivingDescription: Lopez Island
                        CollectionDescription: No fares are collected at Orcas Island, while vehicle/driver only fares are collected at Lopez Island.
                      - DepartingTerminalID: 15
                        DepartingDescription: Orcas Island
                        ArrivingTerminalID: 18
                        ArrivingDescription: Shaw Island
                        CollectionDescription: No fares are collected at Orcas Island, while vehicle/driver only fares are collected at Shaw Island.
                      - DepartingTerminalID: 16
                        DepartingDescription: Point Defiance
                        ArrivingTerminalID: 21
                        ArrivingDescription: Tahlequah
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Point Defiance, while no fares are collected at Tahlequah.
                      - DepartingTerminalID: 17
                        DepartingDescription: Port Townsend
                        ArrivingTerminalID: 11
                        ArrivingDescription: 'Coupeville '
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Port Townsend, while passenger and vehicle/driver fares are collected at Coupeville .
                      - DepartingTerminalID: 7
                        DepartingDescription: Seattle
                        ArrivingTerminalID: 3
                        ArrivingDescription: Bainbridge Island
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Seattle, while vehicle/driver only fares are collected at Bainbridge Island.
                      - DepartingTerminalID: 7
                        DepartingDescription: Seattle
                        ArrivingTerminalID: 4
                        ArrivingDescription: Bremerton
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Seattle, while vehicle/driver only fares are collected at Bremerton.
                      - DepartingTerminalID: 18
                        DepartingDescription: Shaw Island
                        ArrivingTerminalID: 1
                        ArrivingDescription: Anacortes
                        CollectionDescription: No fares are collected at Shaw Island, while passenger and vehicle/driver fares are collected at Anacortes.
                      - DepartingTerminalID: 18
                        DepartingDescription: Shaw Island
                        ArrivingTerminalID: 10
                        ArrivingDescription: Friday Harbor
                        CollectionDescription: Vehicle/driver only fares are collected at Shaw Island, while no fares are collected at Friday Harbor.
                      - DepartingTerminalID: 18
                        DepartingDescription: Shaw Island
                        ArrivingTerminalID: 13
                        ArrivingDescription: Lopez Island
                        CollectionDescription: No fares are collected at Shaw Island, while vehicle/driver only fares are collected at Lopez Island.
                      - DepartingTerminalID: 18
                        DepartingDescription: Shaw Island
                        ArrivingTerminalID: 15
                        ArrivingDescription: Orcas Island
                        CollectionDescription: Vehicle/driver only fares are collected at Shaw Island, while no fares are collected at Orcas Island.
                      - DepartingTerminalID: 20
                        DepartingDescription: Southworth
                        ArrivingTerminalID: 9
                        ArrivingDescription: Fauntleroy
                        CollectionDescription: Vehicle/driver only fares are collected at Southworth, while passenger and vehicle/driver fares are collected at Fauntleroy.
                      - DepartingTerminalID: 20
                        DepartingDescription: Southworth
                        ArrivingTerminalID: 22
                        ArrivingDescription: Vashon Island
                        CollectionDescription: Passenger and vehicle/driver fares are collected at Southworth, while no fares are collected at Vashon Island.
                      - DepartingTerminalID: 21
                        DepartingDescription: Tahlequah
                        ArrivingTerminalID: 16
                        ArrivingDescription: Point Defiance
                        CollectionDescription: No fares are collected at Tahlequah, while passenger and vehicle/driver fares are collected at point Defiance.
                      - DepartingTerminalID: 22
                        DepartingDescription: Vashon Island
                        ArrivingTerminalID: 9
                        ArrivingDescription: Fauntleroy
                        CollectionDescription: No fares are collected at Vashon Island, while passenger and vehicle/driver fares are collected at Fauntleroy.
                      - DepartingTerminalID: 22
                        DepartingDescription: Vashon Island
                        ArrivingTerminalID: 20
                        ArrivingDescription: Southworth
                        CollectionDescription: No fares are collected at Vashon Island, while passenger and vehicle/driver fares are collected at Southworth.
                    LineItemLookup:
                      - TerminalComboIndex: 0
                        LineItemIndex: 0
                        RoundTripLineItemIndex: 0
                      - TerminalComboIndex: 1
                        LineItemIndex: 1
                        RoundTripLineItemIndex: 1
                      - TerminalComboIndex: 2
                        LineItemIndex: 2
                        RoundTripLineItemIndex: 2
                      - TerminalComboIndex: 3
                        LineItemIndex: 3
                        RoundTripLineItemIndex: 3
                      - TerminalComboIndex: 4
                        LineItemIndex: 4
                        RoundTripLineItemIndex: 4
                      - TerminalComboIndex: 5
                        LineItemIndex: 5
                        RoundTripLineItemIndex: 5
                      - TerminalComboIndex: 6
                        LineItemIndex: 6
                        RoundTripLineItemIndex: 6
                      - TerminalComboIndex: 7
                        LineItemIndex: 7
                        RoundTripLineItemIndex: 7
                      - TerminalComboIndex: 8
                        LineItemIndex: 8
                        RoundTripLineItemIndex: 8
                      - TerminalComboIndex: 9
                        LineItemIndex: 9
                        RoundTripLineItemIndex: 9
                      - TerminalComboIndex: 10
                        LineItemIndex: 10
                        RoundTripLineItemIndex: 10
                      - TerminalComboIndex: 11
                        LineItemIndex: 11
                        RoundTripLineItemIndex: 11
                      - TerminalComboIndex: 12
                        LineItemIndex: 12
                        RoundTripLineItemIndex: 12
                      - TerminalComboIndex: 13
                        LineItemIndex: 12
                        RoundTripLineItemIndex: 12
                      - TerminalComboIndex: 14
                        LineItemIndex: 12
                        RoundTripLineItemIndex: 12
                      - TerminalComboIndex: 15
                        LineItemIndex: 13
                        RoundTripLineItemIndex: 13
                      - TerminalComboIndex: 16
                        LineItemIndex: 14
                        RoundTripLineItemIndex: 14
                      - TerminalComboIndex: 17
                        LineItemIndex: 15
                        RoundTripLineItemIndex: 15
                      - TerminalComboIndex: 18
                        LineItemIndex: 15
                        RoundTripLineItemIndex: 15
                      - TerminalComboIndex: 19
                        LineItemIndex: 15
                        RoundTripLineItemIndex: 15
                      - TerminalComboIndex: 20
                        LineItemIndex: 16
                        RoundTripLineItemIndex: 16
                      - TerminalComboIndex: 21
                        LineItemIndex: 17
                        RoundTripLineItemIndex: 17
                      - TerminalComboIndex: 22
                        LineItemIndex: 15
                        RoundTripLineItemIndex: 15
                      - TerminalComboIndex: 23
                        LineItemIndex: 12
                        RoundTripLineItemIndex: 12
                      - TerminalComboIndex: 24
                        LineItemIndex: 12
                        RoundTripLineItemIndex: 12
                      - TerminalComboIndex: 25
                        LineItemIndex: 18
                        RoundTripLineItemIndex: 18
                      - TerminalComboIndex: 26
                        LineItemIndex: 7
                        RoundTripLineItemIndex: 7
                      - TerminalComboIndex: 27
                        LineItemIndex: 19
                        RoundTripLineItemIndex: 19
                      - TerminalComboIndex: 28
                        LineItemIndex: 20
                        RoundTripLineItemIndex: 20
                      - TerminalComboIndex: 29
                        LineItemIndex: 21
                        RoundTripLineItemIndex: 21
                      - TerminalComboIndex: 30
                        LineItemIndex: 15
                        RoundTripLineItemIndex: 15
                      - TerminalComboIndex: 31
                        LineItemIndex: 12
                        RoundTripLineItemIndex: 12
                      - TerminalComboIndex: 32
                        LineItemIndex: 15
                        RoundTripLineItemIndex: 15
                      - TerminalComboIndex: 33
                        LineItemIndex: 22
                        RoundTripLineItemIndex: 22
                      - TerminalComboIndex: 34
                        LineItemIndex: 23
                        RoundTripLineItemIndex: 23
                      - TerminalComboIndex: 35
                        LineItemIndex: 24
                        RoundTripLineItemIndex: 24
                      - TerminalComboIndex: 36
                        LineItemIndex: 25
                        RoundTripLineItemIndex: 25
                      - TerminalComboIndex: 37
                        LineItemIndex: 26
                        RoundTripLineItemIndex: 26
                    LineItems:
                      - - FareLineItemID: 1
                          FareLineItem: Adult (age 19 - 64)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 17.5
                        - FareLineItemID: 2
                          FareLineItem: Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target="_blank" title="Disability">Disability</a>
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 8.75
                        - FareLineItemID: 3
                          FareLineItem: Youth (age 18 and under)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 0
                        - FareLineItemID: 4
                          FareLineItem: Multi-Ride Commuter Card 10 Ride
                          Category: Passenger
                          DirectionIndependent: true
                          Amount: 117.25
                        - FareLineItemID: 6
                          FareLineItem: Bicycle Surcharge Only (19 and over)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 2
                        - FareLineItemID: 168
                          FareLineItem: Vehicle Under 14' (less than 168”) & Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 49.7
                        - FareLineItemID: 178
                          FareLineItem: Vehicle Under 22' (standard veh) & Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 62.35
                        - FareLineItemID: 188
                          FareLineItem: Vehicle U14' (less than 168") & Sr/Disability Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 40.95
                        - FareLineItemID: 189
                          FareLineItem: Vehicle U22' (standard veh) & Sr/Disability Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 53.6
                        - FareLineItemID: 170
                          FareLineItem: Multi-Ride Commuter Card - Vehicle U14' & Driver 5 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 187.65
                        - FareLineItemID: 180
                          FareLineItem: Multi-Ride Commuter Card - Vehicle U22' & Driver 5 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 235.05
                        - FareLineItemID: 13
                          FareLineItem: Motorcycle & Driver / Stowage Fare
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 26.45
                        - FareLineItemID: 14
                          FareLineItem: Motorcycle & Senior/Disability Driver / Stowage Fare
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 17.7
                        - FareLineItemID: 16
                          FareLineItem: Multi-Ride Commuter Card - Motorcycle & Driver 10 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 200.9
                        - FareLineItemID: 19
                          FareLineItem: Vehicle Under 30' Under 7'2 in.
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 93
                        - FareLineItemID: 20
                          FareLineItem: Vehicle Under 30' Over 7'2 in.
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 185
                        - FareLineItemID: 21
                          FareLineItem: Vehicle Under 40'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 246.35
                        - FareLineItemID: 22
                          FareLineItem: Vehicle Under 50'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 307.7
                        - FareLineItemID: 23
                          FareLineItem: Vehicle Under 60'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 369
                        - FareLineItemID: 24
                          FareLineItem: Vehicle Under 70'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 430.35
                        - FareLineItemID: 25
                          FareLineItem: Vehicle Under 80'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 491.7
                        - FareLineItemID: 26
                          FareLineItem: Cost per foot over 80'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 6.15
                      - - FareLineItemID: 1
                          FareLineItem: Adult (age 19 - 64)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 17.5
                        - FareLineItemID: 2
                          FareLineItem: Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target="_blank" title="Disability">Disability</a>
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 8.75
                        - FareLineItemID: 3
                          FareLineItem: Youth (age 18 and under)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 0
                        - FareLineItemID: 4
                          FareLineItem: Multi-Ride Commuter Card 10 Ride
                          Category: Passenger
                          DirectionIndependent: true
                          Amount: 117.25
                        - FareLineItemID: 6
                          FareLineItem: Bicycle Surcharge Only (19 and over)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 2
                        - FareLineItemID: 168
                          FareLineItem: Vehicle Under 14' (less than 168”) & Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 35.1
                        - FareLineItemID: 178
                          FareLineItem: Vehicle Under 22' (standard veh) & Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 44
                        - FareLineItemID: 188
                          FareLineItem: Vehicle U14' (less than 168") & Sr/Disability Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 26.35
                        - FareLineItemID: 189
                          FareLineItem: Vehicle U22' (standard veh) & Sr/Disability Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 35.25
                        - FareLineItemID: 170
                          FareLineItem: Multi-Ride Commuter Card - Vehicle U14' & Driver 5 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 132.9
                        - FareLineItemID: 180
                          FareLineItem: Multi-Ride Commuter Card - Vehicle U22' & Driver 5 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 166.25
                        - FareLineItemID: 13
                          FareLineItem: Motorcycle & Driver / Stowage Fare
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 22.8
                        - FareLineItemID: 14
                          FareLineItem: Motorcycle & Senior/Disability Driver / Stowage Fare
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 14.05
                        - FareLineItemID: 16
                          FareLineItem: Multi-Ride Commuter Card - Motorcycle & Driver 10 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 173.5
                        - FareLineItemID: 19
                          FareLineItem: Vehicle Under 30' Under 7'2 in.
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 65.55
                        - FareLineItemID: 20
                          FareLineItem: Vehicle Under 30' Over 7'2 in.
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 130.05
                        - FareLineItemID: 21
                          FareLineItem: Vehicle Under 40'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 173.05
                        - FareLineItemID: 22
                          FareLineItem: Vehicle Under 50'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 216.05
                        - FareLineItemID: 23
                          FareLineItem: Vehicle Under 60'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 259.05
                        - FareLineItemID: 24
                          FareLineItem: Vehicle Under 70'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 302.05
                        - FareLineItemID: 25
                          FareLineItem: Vehicle Under 80'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 345.1
                        - FareLineItemID: 26
                          FareLineItem: Cost per foot over 80'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 4.3
                      - - FareLineItemID: 1
                          FareLineItem: Adult (age 19 - 64)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 17.5
                        - FareLineItemID: 2
                          FareLineItem: Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target="_blank" title="Disability">Disability</a>
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 8.75
                        - FareLineItemID: 3
                          FareLineItem: Youth (age 18 and under)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 0
                        - FareLineItemID: 4
                          FareLineItem: Multi-Ride Commuter Card 10 Ride
                          Category: Passenger
                          DirectionIndependent: true
                          Amount: 117.25
                        - FareLineItemID: 6
                          FareLineItem: Bicycle Surcharge Only (19 and over)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 2
                        - FareLineItemID: 168
                          FareLineItem: Vehicle Under 14' (less than 168”) & Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 42.05
                        - FareLineItemID: 178
                          FareLineItem: Vehicle Under 22' (standard veh) & Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 52.6
                        - FareLineItemID: 188
                          FareLineItem: Vehicle U14' (less than 168") & Sr/Disability Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 33.3
                        - FareLineItemID: 189
                          FareLineItem: Vehicle U22' (standard veh) & Sr/Disability Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 43.85
                        - FareLineItemID: 170
                          FareLineItem: Multi-Ride Commuter Card - Vehicle U14' & Driver 5 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 158.95
                        - FareLineItemID: 180
                          FareLineItem: Multi-Ride Commuter Card - Vehicle U22' & Driver 5 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 198.5
                        - FareLineItemID: 13
                          FareLineItem: Motorcycle & Driver / Stowage Fare
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 24.5
                        - FareLineItemID: 14
                          FareLineItem: Motorcycle & Senior/Disability Driver / Stowage Fare
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 15.75
                        - FareLineItemID: 16
                          FareLineItem: Multi-Ride Commuter Card - Motorcycle & Driver 10 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 186.25
                        - FareLineItemID: 19
                          FareLineItem: Vehicle Under 30' Under 7'2 in.
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 78.45
                        - FareLineItemID: 20
                          FareLineItem: Vehicle Under 30' Over 7'2 in.
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 155.85
                        - FareLineItemID: 21
                          FareLineItem: Vehicle Under 40'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 207.45
                        - FareLineItemID: 22
                          FareLineItem: Vehicle Under 50'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 259.05
                        - FareLineItemID: 23
                          FareLineItem: Vehicle Under 60'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 310.65
                        - FareLineItemID: 24
                          FareLineItem: Vehicle Under 70'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 362.3
                        - FareLineItemID: 25
                          FareLineItem: Vehicle Under 80'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 413.9
                        - FareLineItemID: 26
                          FareLineItem: Cost per foot over 80'
                          Category: Vehicle Length-Based
                          DirectionIndependent: false
                          Amount: 5.15
                      - - FareLineItemID: 1
                          FareLineItem: Adult (age 19 - 64)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 17.5
                        - FareLineItemID: 2
                          FareLineItem: Senior (age 65 & over) / <a href=https://wsdot.wa.gov/ferries/rider-information/ada#Reduced%20fare%20passenger%20tickets target="_blank" title="Disability">Disability</a>
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 8.75
                        - FareLineItemID: 3
                          FareLineItem: Youth (age 18 and under)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 0
                        - FareLineItemID: 4
                          FareLineItem: Multi-Ride Commuter Card 10 Ride
                          Category: Passenger
                          DirectionIndependent: true
                          Amount: 117.25
                        - FareLineItemID: 6
                          FareLineItem: Bicycle Surcharge Only (19 and over)
                          Category: Passenger
                          DirectionIndependent: false
                          Amount: 2
                        - FareLineItemID: 168
                          FareLineItem: Vehicle Under 14' (less than 168”) & Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 42.05
                        - FareLineItemID: 178
                          FareLineItem: Vehicle Under 22' (standard veh) & Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 52.6
                        - FareLineItemID: 188
                          FareLineItem: Vehicle U14' (less than 168") & Sr/Disability Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 33.3
                        - FareLineItemID: 189
                          FareLineItem: Vehicle U22' (standard veh) & Sr/Disability Driver
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 43.85
                        - FareLineItemID: 170
                          FareLineItem: Multi-Ride Commuter Card - Vehicle U14' & Driver 5 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 158.95
                        - FareLineItemID: 180
                          FareLineItem: Multi-Ride Commuter Card - Vehicle U22' & Driver 5 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 198.5
                        - FareLineItemID: 13
                          FareLineItem: Motorcycle & Driver / Stowage Fare
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 24.5
                        - FareLineItemID: 14
                          FareLineItem: Motorcycle & Senior/Disability Driver / Stowage Fare
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: false
                          Amount: 15.75
                        - FareLineItemID: 16
                          FareLineItem: Multi-Ride Commuter Card - Motorcycle & Driver 10 Ride
                          Category: Vehicle, Motorcycle, and Stowage Fares
                          DirectionIndependent: true
                          Amount: 186.25
                        - FareLineItemID: 19
                          FareLineItem: Vehicle Under 30' Under 7'2 in.
[...]
