openapi: 3.1.0
info:
  title: Wsf Schedule API
  version: 1.0.0
  description: Wsf Schedule API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/ferries/api/schedule/rest
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    FetchActiveSeasonsOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Unique schedule season identifier, as an integer ID. E.g., '193' for Fall 2025 schedule, '194' for Winter 2026 schedule. Used as primary key for schedule season identification.
        ScheduleName:
          type: string
          description: Human-readable schedule season name, as a season name. E.g., 'Fall 2025' for schedule 193, 'Winter 2026' for schedule 194. Provides season identification for display and user interfaces.
        ScheduleSeason:
          anyOf:
            - type: number
              enum:
                - 0
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
            - type: number
              enum:
                - 3
          description: 'Quarterly season identifier code, as a season code. Valid values: 0 (Spring), 1 (Summer), 2 (Fall), 3 (Winter). E.g., ''2'' for Fall schedule, ''3'' for Winter schedule. Used for seasonal schedule organization and filtering.'
        SchedulePDFUrl:
          type: string
          description: URL to schedule PDF document, as a PDF URL. E.g., 'http://www.wsdot.wa.gov/ferries/pdf/2025Fall.pdf' for Fall 2025 schedule, 'http://www.wsdot.wa.gov/ferries/pdf/2025Winter.pdf' for Winter 2026 schedule. Used for accessing printable schedule documents.
        ScheduleStart:
          type: string
          description: Start date when schedule season becomes effective, as a UTC datetime. E.g., '2025-09-21T07:00:00.000Z' for Fall 2025 season starting September 21, 2025 at 3:00 AM. If consumer needs specific time, translate trip date value to 3:00 AM on that date. Indicates when season schedule begins.
        ScheduleEnd:
          type: string
          description: End date when schedule season stops being effective, as a UTC datetime. E.g., '2025-12-27T08:00:00.000Z' for Fall 2025 season ending December 27, 2025 at 2:59 AM. If consumer needs specific time, translate trip date value to next calendar date at 2:59 AM. Indicates when season schedule ends.
      required:
        - ScheduleID
        - ScheduleName
        - ScheduleSeason
        - SchedulePDFUrl
        - ScheduleStart
        - ScheduleEnd
      description: Represents base schedule season information including season identifier, name, quarterly code, PDF URL, and date range. E.g., Fall 2025 schedule (ID 193, season 2) from September 21, 2025 to December 27, 2025. Used as foundation schema shared across schedule season endpoints.
    FetchAllSailingsBySchedRouteIDOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Unique schedule season identifier, as an integer ID. E.g., '193' for Fall 2025 schedule. Used to identify which schedule season this sailing belongs to.
        SchedRouteID:
          type: number
          description: Unique scheduled route identifier, as an integer ID. E.g., '2401' for Anacortes/San Juan Islands route in Fall 2025. Used to identify which scheduled route this sailing belongs to.
        RouteID:
          type: number
          description: Unique underlying route identifier, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route. Used to identify base route for sailing.
        SailingID:
          type: number
          description: Unique sailing identifier, as an integer ID. E.g., '166518' for sailing from Friday Harbor to Anacortes. Used as primary key for sailing identification.
        SailingDescription:
          type:
            - string
            - 'null'
          description: Human-readable title describing sailing, as a sailing description. E.g., 'Leave Port Townsend' for Port Townsend/Coupeville route, null when description is unavailable. Provides sailing identification for display.
        SailingNotes:
          type:
            - string
            - 'null'
          description: Informational text associated with sailing, as sailing notes. E.g., null when no notes, notes when special conditions apply. Provides additional sailing information.
        DisplayColNum:
          type: number
          description: Suggested number of columns for rendering departures on desktop webpage, as an integer. E.g., '1' for single column display, '2' for two column display. Used for layout optimization in schedule displays.
        SailingDir:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Direction of travel for sailing, as a direction code. Valid values: 1 (Westbound), 2 (Eastbound). E.g., ''1'' for westbound sailing from Anacortes to Friday Harbor, ''2'' for eastbound sailing from Friday Harbor to Anacortes. Used to determine sailing direction.'
        DayOpDescription:
          type:
            - string
            - 'null'
          description: Days of operation grouping for sailing, as a day operation description. E.g., 'Daily' for daily sailings, 'Sundays only' for Sunday-only sailings, 'Sails daily except Sundays' for weekday sailings, null when day operation is unavailable. Used for identifying when sailing operates.
        DayOpUseForHoliday:
          type: boolean
          description: Indicator whether sailing should apply for holidays, as a boolean. E.g., true when sailing operates on holidays, false when sailing does not apply on holidays. Used to determine holiday schedule applicability.
        ActiveDateRanges:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              DateFrom:
                type: string
                description: Start date when sailing date range becomes active, as a UTC datetime. E.g., '2025-09-21T07:00:00.000Z' for Fall 2025 season start. If consumer needs specific time, translate trip date value to 3:00 AM on that date. Indicates when sailing date range begins.
              DateThru:
                type: string
                description: End date when sailing date range stops being active, as a UTC datetime. E.g., '2025-12-27T08:00:00.000Z' for Fall 2025 season end. If consumer needs specific time, translate trip date value to next calendar date at 2:59 AM. Indicates when sailing date range ends.
              EventID:
                type:
                  - number
                  - 'null'
                description: Unique identifier for event associated with sailing date range, as an integer ID. E.g., null when no specific event triggers date range. Used to link date range to specific events or contingencies.
              EventDescription:
                type:
                  - string
                  - 'null'
                description: Human-readable explanation of sailing date range, as an event description. E.g., null when explanation is not needed, description when date range relates to specific events like 'Early Fall' or 'Late Fall'. Provides context for why sailing date range exists.
            required:
              - DateFrom
              - DateThru
              - EventID
              - EventDescription
            description: Represents active date range for sailing including start/end dates, event ID, and event description. E.g., Fall 2025 date range from September 21 to December 27. Used for identifying when specific sailing groups are active.
          description: Array of date ranges detailing when sailing is active, as active date range objects. E.g., array containing Fall 2025 date range from September 21 to December 27, null when date ranges are unavailable. Used for identifying active periods for sailing.
        Journs:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              JourneyID:
                type: number
                description: Unique journey identifier, as an integer ID. E.g., '166518' for journey from Friday Harbor to Anacortes, '166519' for journey from Orcas Island to Friday Harbor. Used as primary key for journey identification.
              ReservationInd:
                type: boolean
                description: Indicator whether journey contains reservable departures, as a boolean. E.g., false for most journeys on San Juan Islands route, true when reservations are available. Used to determine if journey supports advance reservations.
              InternationalInd:
                type: boolean
                description: Indicator whether journey travels outside United States, as a boolean. E.g., false for domestic routes, true for international routes like Anacortes/Sidney B.C. Used to identify international voyages.
              InterislandInd:
                type: boolean
                description: Indicator whether journey operates primarily between islands and single mainland, as a boolean. E.g., false for mainland-to-island journeys, true for interisland journeys like Friday Harbor-Lopez-Shaw-Orcas pattern. Used to identify interisland routes.
              VesselID:
                type: number
                description: Unique identifier for vessel planned to service journey, as an integer ID. E.g., '38' for Yakima vessel, '2' for Chelan vessel, '33' for Tillikum vessel, '69' for Samish vessel. Used to identify which vessel operates journey.
              VesselName:
                type:
                  - string
                  - 'null'
                description: Human-readable name of vessel planned to service journey, as a vessel name. E.g., 'Yakima' for vessel 38, 'Chelan' for vessel 2, 'Tillikum' for vessel 33, 'Samish' for vessel 69, null when vessel name is unavailable. Provides vessel identification for display.
              VesselHandicapAccessible:
                type: boolean
                description: Indicator whether vessel is ADA accessible, as a boolean. E.g., true for accessible vessels like Yakima, Chelan, Tillikum, Samish. Used to determine accessibility for passengers with disabilities.
              VesselPositionNum:
                type: number
                description: Position number representing single vessel servicing all stops in journey, as an integer. E.g., '1' for first vessel position, '2' for second vessel position, '3' for third vessel position, '4' for fourth vessel position. Used for vessel scheduling and position tracking.
              TerminalTimes:
                type:
                  - array
                  - 'null'
                items:
                  type: object
                  properties:
                    JourneyTerminalID:
                      type: number
                      description: Unique identifier for terminal time within journey, as an integer ID. E.g., '236937' for Friday Harbor terminal time, '236938' for Orcas Island terminal time. Used as primary key for terminal time identification within journey.
                    TerminalID:
                      type: number
                      description: Unique identifier for terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '15' for Orcas Island terminal, '18' for Shaw Island terminal. Used to identify which terminal this time applies to.
                    TerminalDescription:
                      type:
                        - string
                        - 'null'
                      description: Human-readable full name of terminal, as a terminal name. E.g., 'Friday Harbor' for terminal 10, 'Orcas Island' for terminal 15, 'Shaw Island' for terminal 18, null when terminal name is unavailable. Provides terminal identification for display.
                    TerminalBriefDescription:
                      type:
                        - string
                        - 'null'
                      description: Brief shortened name for terminal, as a terminal abbreviation. E.g., 'Friday Harbor' for terminal 10, 'Orcas' for terminal 15, 'Shaw' for terminal 18, null when brief description is unavailable. Used for compact terminal display.
                    Time:
                      type:
                        - string
                        - 'null'
                      description: 'Departure or arrival time at terminal, as a UTC datetime. E.g., ''1900-01-01T14:05:00.000Z'' for 2:05 PM departure, null when journey does not stop at this terminal. Note: Date portion (1900-01-01) is placeholder, use time portion for actual schedule time. Used for terminal timing information.'
                    DepArrIndicator:
                      anyOf:
                        - type: number
                          enum:
                            - 1
                        - type: number
                          enum:
                            - 2
                        - type: 'null'
                      description: 'Indicator whether stop represents departure or arrival, as a dep/arr code. Valid values: 1 (Departure), 2 (Arrival). E.g., ''1'' for departure from Friday Harbor, ''2'' for arrival at Anacortes, null when journey does not stop at terminal. Used to determine if time is departure or arrival.'
                    IsNA:
                      type: boolean
                      description: Indicator whether journey interacts with this terminal, as a boolean. E.g., false when journey stops at terminal, true when journey does not interact with terminal (skips terminal). Used to identify terminals skipped by journey.
                    Annotations:
                      type:
                        - array
                        - 'null'
                      items:
                        type: object
                        properties:
                          AnnotationID:
                            type: number
                            description: Unique annotation identifier, as an integer ID. E.g., '13333' for 'No interisland vehicles' annotation, '13334' for 'Loads or unloads eastbound traffic' annotation. Used as primary key for annotation identification.
                          AnnotationText:
                            type:
                              - string
                              - 'null'
                            description: Human-readable descriptive content of annotation, as an annotation description. E.g., 'No interisland vehicles. Foot passenger and bikes okay.' for vehicle restriction, 'Sundays <i>only</i>' for day type restriction, null when annotation text is unavailable. Provides annotation information for display.
                          AnnotationIVRText:
                            type:
                              - string
                              - 'null'
                            description: Annotation text formatted for Interactive Voice Response systems, as an IVR description. E.g., 'No interisland vehicles. Foot passengers and bikes okay.' for IVR playback, 'Sundays only' for simplified IVR text, null when IVR text is unavailable. Used for telephone-based schedule information systems.
                          AdjustedCrossingTime:
                            type:
                              - number
                              - 'null'
                            description: Adjusted crossing time override in minutes, as minutes. E.g., null when annotation does not override crossing time. Present when annotation requires override of standard CrossingTime value from route details. Used for special sailing time adjustments.
                          AnnotationImg:
                            type:
                              - string
                              - 'null'
                            description: URL to image representing annotation graphically, as an image URL. E.g., 'https://www.wsdot.wa.gov/ferries/images/legends/triangle_down_red.gif' for vehicle restriction icon, 'https://www.wsdot.wa.gov/ferries/images/legends/Sun_blue.gif' for Sunday-only icon, null when image URL is unavailable. Used for visual annotation display.
                          TypeDescription:
                            type:
                              - string
                              - 'null'
                            description: Logical grouping category for annotation, as a type description. E.g., 'Informational' for general information annotations, 'Day Type' for day-of-week restrictions, null when type is unavailable. Used for annotation categorization and filtering.
                          SortSeq:
                            type: number
                            description: Preferred sort order for annotation display, as an integer. E.g., '10' for first annotation, '30' for third annotation, '100' for later annotation. Lower values appear first when sorting annotations in ascending order. Used for annotation display ordering.
                        required:
                          - AnnotationID
                          - AnnotationText
                          - AnnotationIVRText
                          - AdjustedCrossingTime
                          - AnnotationImg
                          - TypeDescription
                          - SortSeq
                        description: Represents annotation information including annotation ID, text descriptions, IVR text, crossing time override, image URL, type, and sort order. E.g., annotation 13333 'No interisland vehicles' (Informational type, sort 10). Used for displaying additional sailing information and restrictions.
                      description: Array of informational annotations associated with terminal time, as annotation objects. E.g., array containing 'No interisland vehicles' annotation, null when no annotations apply. Used for displaying additional terminal time information and restrictions.
                  required:
                    - JourneyTerminalID
                    - TerminalID
                    - TerminalDescription
                    - TerminalBriefDescription
                    - Time
                    - DepArrIndicator
                    - IsNA
                    - Annotations
                  description: Represents terminal time information within journey including terminal identification, departure/arrival time, indicator, skip flag, and annotations. E.g., Friday Harbor terminal (ID 10) with departure time 2:05 PM (dep indicator 1). Used for journey terminal stop information.
                description: Array of terminal departures and arrivals made by same vessel, as terminal time objects. E.g., array containing Friday Harbor departure, Orcas Island arrival, Shaw Island arrival, Lopez Island arrival, Anacortes arrival, null when terminal times are unavailable. Represents complete journey terminal stops.
            required:
              - JourneyID
              - ReservationInd
              - InternationalInd
              - InterislandInd
              - VesselID
              - VesselName
              - VesselHandicapAccessible
              - VesselPositionNum
              - TerminalTimes
            description: Represents journey information including journey ID, reservation/international/interisland indicators, vessel details, and terminal times. E.g., journey 166518 with Yakima vessel (ID 38, position 2) traveling from Friday Harbor to Anacortes with multiple terminal stops. Used for journey identification and vessel routing.
          description: Array of journeys representing vessel stops at terminals making full trip in sailing direction, as journey objects. E.g., array containing journey with Yakima vessel from Friday Harbor to Anacortes via multiple island stops, null when journeys are unavailable. Represents complete sailing vessel routing.
      required:
        - ScheduleID
        - SchedRouteID
        - RouteID
        - SailingID
        - SailingDescription
        - SailingNotes
        - DisplayColNum
        - SailingDir
        - DayOpDescription
        - DayOpUseForHoliday
        - ActiveDateRanges
        - Journs
      description: Represents sailing information including schedule/route/sailing IDs, description, direction, days of operation, holiday flag, active date ranges, and journeys. E.g., sailing 166518 (westbound, daily) for Anacortes/San Juan Islands route with journeys from Friday Harbor to Anacortes. Used for schedule structure and sailing group identification.
    FetchCacheFlushDateScheduleOutput:
      type: string
      description: Cache flush timestamp indicating when any static endpoint data for the wsf-schedule API was last updated, as a UTC datetime. E.g., '2025-11-02T19:45:00.517Z' when schedule metadata was refreshed.
    FetchRouteDetailsByTripDateOutput:
      type: object
      properties:
        RouteID:
          type: number
          description: Unique route identifier, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route, '6' for Edmonds/Kingston route, '13' for Fauntleroy/Southworth route. Used as primary key for route identification and lookups.
        RouteAbbrev:
          type:
            - string
            - 'null'
          description: Route abbreviation code, as a route identifier. E.g., 'ana-sj' for Anacortes/San Juan Islands, 'ed-king' for Edmonds/Kingston, 'f-s' for Fauntleroy/Southworth, 'f-v-s' for Fauntleroy/Vashon, 'muk-cl' for Mukilteo/Clinton, null when abbreviation is unavailable. Used for compact route identification in displays and URLs.
        Description:
          type:
            - string
            - 'null'
          description: Human-readable full route name, as a route description. E.g., 'Anacortes / San Juan Islands' for route 9, 'Edmonds / Kingston' for route 6, 'Fauntleroy (West Seattle) / Southworth' for route 13, null when description is unavailable. Provides route identification for display and user interfaces.
        RegionID:
          type: number
          description: Unique identifier for WSF region associated with route, as an integer ID. E.g., '1' for region 1 routes, '3' for region 3 routes, '5' for region 5 routes. Used for regional route organization and filtering.
        VesselWatchID:
          type: number
          description: Unique identifier used to group routes for VesselWatch system, as an integer ID. E.g., '5' for Pt. Defiance/Tahlequah route grouping. Used for vessel tracking and monitoring system integration.
        ReservationFlag:
          type: boolean
          description: Indicator whether route supports advance vehicle reservations, as a boolean. E.g., false for routes without reservations like Pt. Defiance/Tahlequah, true for routes with reservation system like Anacortes/San Juan Islands. Used to determine if route supports advance booking.
        InternationalFlag:
          type: boolean
          description: Indicator whether route operates outside United States, as a boolean. E.g., false for domestic routes, true for international routes like Anacortes/Sidney B.C. Used to identify international voyages requiring customs documentation.
        PassengerOnlyFlag:
          type: boolean
          description: Indicator whether route services only passengers without vehicles, as a boolean. E.g., false for routes supporting vehicles and passengers, true for passenger-only routes. Used to determine if route accommodates vehicle traffic.
        CrossingTime:
          type:
            - string
            - 'null'
          description: Estimated crossing time in minutes, as a string. E.g., '15' for 15-minute crossing on Pt. Defiance/Tahlequah route, null when crossing time is unavailable or route is multi-destination. Used for trip planning and duration estimation.
        AdaNotes:
          type:
            - string
            - 'null'
          description: ADA accessibility information for route, as HTML-formatted accessibility notes. E.g., null when ADA information is unavailable, HTML text describing accessibility features and accommodations. Used for accessibility planning and compliance.
        GeneralRouteNotes:
          type:
            - string
            - 'null'
          description: Miscellaneous route information and notes, as HTML-formatted route notes. E.g., '<ul class="btttwinter2020"><li><a href="...">Best travel times</a></li></ul>' for Pt. Defiance/Tahlequah route notes, null when notes are unavailable. HTML-formatted text for route information display.
        SeasonalRouteNotes:
          type:
            - string
            - 'null'
          description: Route notes specific to schedule season, as HTML-formatted seasonal notes. E.g., null when seasonal notes are unavailable, HTML text describing season-specific route information or modifications. Used for seasonal route information display.
        Alerts:
          type: array
          items:
            type: object
            properties:
              BulletinID:
                type: number
                description: Unique bulletin/alert identifier, as an integer ID. Used to identify specific alert bulletin. Used as primary key for alert identification.
              BulletinFlag:
                type: boolean
                description: Indicator whether alert is also used as bulletin, as a boolean. E.g., true when alert serves dual purpose as bulletin, false when alert is disruption-only. Used to determine if disruption should be displayed as bulletin.
              CommunicationFlag:
                type: boolean
                description: Indicator whether alert is also used as communications announcement, as a boolean. E.g., true when alert serves as communications announcement, false when alert is route-only. Used to determine if alert should be used for communications.
              PublishDate:
                type:
                  - string
                  - 'null'
                description: Date when alert was published, as a UTC datetime. E.g., '2025-11-02T18:53:19.000Z' for alert published at 6:53 PM on November 2, 2025, null when publish date is unavailable. Indicates when alert information was made public.
              AlertDescription:
                type:
                  - string
                  - 'null'
                description: Alert text tailored as brief route announcement, as a route alert description. E.g., 'Route modifications due to maintenance' for route-specific alert, null when route alert text is unavailable. Compact format for route-specific displays.
              DisruptionDescription:
                type:
                  - string
                  - 'null'
                description: Service disruption text associated with alert, as a disruption description. E.g., null when alert is not disruption-specific, disruption text when alert relates to service disruption. Used for identifying disruption-related alerts.
              AlertFullTitle:
                type: string
                description: Full title of alert, as an alert title. E.g., 'Route Service Alert' for general alert, 'Maintenance Delay' for maintenance alert. Provides alert identification for display.
              AlertFullText:
                type:
                  - string
                  - 'null'
                description: Full text content of alert, as HTML-formatted alert text. E.g., '<p>Route modifications due to maintenance...</p>' for detailed alert content, null when full text is unavailable. HTML-formatted text for alert display.
              IVRText:
                type:
                  - string
                  - 'null'
                description: Alert text tailored for Interactive Voice Response systems, as IVR description. E.g., null when IVR text is unavailable. Used for telephone-based alert information systems and text-to-speech playback.
            required:
              - BulletinID
              - BulletinFlag
              - CommunicationFlag
              - PublishDate
              - AlertDescription
              - DisruptionDescription
              - AlertFullTitle
              - AlertFullText
              - IVRText
            description: Represents alert information including bulletin ID, bulletin/communication flags, publish date, alert descriptions (brief and full), disruption description, and IVR text. E.g., alert with bulletin flag true, published November 2, 2025, with route announcement and full HTML text. Used for alert display, notification systems, and route-specific alert filtering.
          description: Array of alerts associated with route, as alert objects. E.g., array containing route-specific alerts with bulletin flags and descriptions, empty array when no alerts. Used for displaying route alerts and notifications.
      required:
        - RouteID
        - RouteAbbrev
        - Description
        - RegionID
        - VesselWatchID
        - ReservationFlag
        - InternationalFlag
        - PassengerOnlyFlag
        - CrossingTime
        - AdaNotes
        - GeneralRouteNotes
        - SeasonalRouteNotes
        - Alerts
      description: Represents detailed route information including route identification, VesselWatch grouping, reservation/international/passenger-only flags, crossing time, ADA notes, general and seasonal route notes, and alerts. E.g., Pt. Defiance/Tahlequah route (ID 1, abbreviation pd-tal) with 15-minute crossing time, no reservations, and route notes. Used for comprehensive route information display and trip planning.
    FetchRoutesByTripDateOutput:
      type: object
      properties:
        RouteID:
          type: number
          description: Unique route identifier, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route, '6' for Edmonds/Kingston route, '13' for Fauntleroy/Southworth route. Used as primary key for route identification and lookups.
        RouteAbbrev:
          type:
            - string
            - 'null'
          description: Route abbreviation code, as a route identifier. E.g., 'ana-sj' for Anacortes/San Juan Islands, 'ed-king' for Edmonds/Kingston, 'f-s' for Fauntleroy/Southworth, 'f-v-s' for Fauntleroy/Vashon, 'muk-cl' for Mukilteo/Clinton, null when abbreviation is unavailable. Used for compact route identification in displays and URLs.
        Description:
          type:
            - string
            - 'null'
          description: Human-readable full route name, as a route description. E.g., 'Anacortes / San Juan Islands' for route 9, 'Edmonds / Kingston' for route 6, 'Fauntleroy (West Seattle) / Southworth' for route 13, null when description is unavailable. Provides route identification for display and user interfaces.
        RegionID:
          type: number
          description: Unique identifier for WSF region associated with route, as an integer ID. E.g., '1' for region 1 routes, '3' for region 3 routes, '5' for region 5 routes. Used for regional route organization and filtering.
        ServiceDisruptions:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              BulletinID:
                type: number
                description: Unique bulletin/alert identifier, as an integer ID. Used to identify specific service disruption bulletin. Used as primary key for disruption identification.
              BulletinFlag:
                type: boolean
                description: Indicator whether alert is also used as bulletin, as a boolean. E.g., true when alert serves dual purpose as bulletin, false when alert is disruption-only. Used to determine if disruption should be displayed as bulletin.
              PublishDate:
                type:
                  - string
                  - 'null'
                description: Date when service disruption alert was published, as a UTC datetime. E.g., null when publish date is unavailable. Indicates when disruption information was made public.
              DisruptionDescription:
                type: string
                description: Text description of service disruption, as a disruption description. E.g., disruption text explaining route modifications, delays, or service changes. Provides details about service disruption affecting route.
            required:
              - BulletinID
              - BulletinFlag
              - PublishDate
              - DisruptionDescription
            description: Represents service disruption information including bulletin ID, bulletin flag, publish date, and disruption description. Used for tracking and displaying service disruptions affecting routes.
          description: Array of service disruption alerts currently affecting route, as service disruption objects. E.g., empty array when no disruptions, array containing disruption details when route is affected, null when disruption information is unavailable. Used for identifying routes with active service disruptions.
      required:
        - RouteID
        - RouteAbbrev
        - Description
        - RegionID
        - ServiceDisruptions
      description: Represents basic route information including route identification, abbreviation, description, region association, and service disruptions. E.g., route 9 (ana-sj, Anacortes/San Juan Islands) in region 1 with no service disruptions. Used for route discovery, route identification, and disruption awareness.
    FetchRoutesHavingServiceDisruptionsByTripDateOutput:
      type: object
      properties:
        BulletinID:
          type: number
          description: Unique bulletin/alert identifier, as an integer ID. Used to identify specific service disruption bulletin. Used as primary key for disruption identification.
        BulletinFlag:
          type: boolean
          description: Indicator whether alert is also used as bulletin, as a boolean. E.g., true when alert serves dual purpose as bulletin, false when alert is disruption-only. Used to determine if disruption should be displayed as bulletin.
        PublishDate:
          type:
            - string
            - 'null'
          description: Date when service disruption alert was published, as a UTC datetime. E.g., null when publish date is unavailable. Indicates when disruption information was made public.
        DisruptionDescription:
          type: string
          description: Text description of service disruption, as a disruption description. E.g., disruption text explaining route modifications, delays, or service changes. Provides details about service disruption affecting route.
      required:
        - BulletinID
        - BulletinFlag
        - PublishDate
        - DisruptionDescription
      description: Represents service disruption information including bulletin ID, bulletin flag, publish date, and disruption description. Used for tracking and displaying service disruptions affecting routes.
    FetchScheduleAlertsOutput:
      type: object
      properties:
        BulletinID:
          type: number
          description: Unique bulletin/alert identifier, as an integer ID. E.g., '110583' for Fauntleroy/Vashon/Southworth mechanical alert, '110577' for vessel replacement alert. Used as primary key for alert identification.
        BulletinFlag:
          type: boolean
          description: Indicator whether alert includes text tailored as bulletin, as a boolean. E.g., true when alert has bulletin text format, false when alert does not include bulletin text. Used to determine if bulletin text is available.
        BulletinText:
          type:
            - string
            - 'null'
          description: Alert text tailored as bulletin, as HTML-formatted bulletin text. E.g., '<p>Due to unplanned mechanical issues with the M/V Cathlamet...</p>' for mechanical alert, null when bulletin text is unavailable. HTML-formatted text for bulletin display.
        CommunicationFlag:
          type: boolean
          description: Indicator whether alert includes text tailored as communications announcement, as a boolean. E.g., false when alert does not include communications text. Used to determine if communications text is available.
        CommunicationText:
          type:
            - string
            - 'null'
          description: Alert text tailored as communications announcement, as a communications description. E.g., null when communications text is unavailable. Used for internal communications and announcements.
        RouteAlertFlag:
          type: boolean
          description: Indicator whether alert includes text tailored as route announcement, as a boolean. E.g., true when alert has route alert text format. Used to determine if route alert text is available.
        RouteAlertText:
          type:
            - string
            - 'null'
          description: Alert text tailored as route announcement, as a route alert description. E.g., 'Faunt/VA/SW-Fauntleroy/VA/Southworth on 1-Boat Service--Mechanical' for mechanical alert, null when route alert text is unavailable. Compact format for route-specific displays.
        HomepageAlertText:
          type:
            - string
            - 'null'
          description: Alert text tailored for homepage/landing page, as HTML-formatted homepage text. E.g., '<p>Due to unplanned mechanical issues...</p>' for homepage display, null when homepage text is unavailable. HTML-formatted text for main page display.
        PublishDate:
          type:
            - string
            - 'null'
          description: Date when alert was published, as a UTC datetime. E.g., '2025-11-02T17:00:42.023Z' for alert published at 5:00 PM on November 2, 2025, null when publish date is unavailable. Indicates when alert information was made public.
        DisruptionDescription:
          type:
            - string
            - 'null'
          description: Service disruption text associated with alert, as a disruption description. E.g., null when alert is not disruption-specific, disruption text when alert relates to service disruption. Used for identifying disruption-related alerts.
        AllRoutesFlag:
          type: boolean
          description: Indicator whether alert affects all routes, as a boolean. E.g., false when alert affects specific routes only, true when alert applies to all routes system-wide. Used to determine alert scope.
        SortSeq:
          type: number
          description: Preferred sort order for alert display, as an integer. E.g., '1' for first alert priority. Lower values appear first when sorting alerts in ascending order. Used for alert display ordering.
        AlertTypeID:
          type: number
          description: Unique identifier for alert type or category, as an integer ID. E.g., '5' for 'All Alerts' category. Used to identify alert category for filtering and organization.
        AlertType:
          type: string
          description: Type or category that alert belongs to, as an alert type name. E.g., 'All Alerts' for general alert category, 'General Information' for informational alerts. Used for alert categorization and filtering.
        AlertFullTitle:
          type: string
          description: Full title of alert, as an alert title. E.g., 'Faunt/VA/SW-Fauntleroy/VA/Southworth on 1-Boat Service--Mechanical' for mechanical alert, 'Faunt/Va/SW-Chimacum to replace Issaquah this Sunday, Nov.2' for vessel replacement alert. Provides alert identification for display.
        AffectedRouteIDs:
          type: array
          items:
            type: number
          description: Array of route IDs affected by alert, as route ID integers. E.g., array containing routes 13, 14, 15, 29 for Fauntleroy/Vashon/Southworth routes, empty array when alert affects all routes. Used to identify which routes are impacted by alert.
        IVRText:
          type:
            - string
            - 'null'
          description: Alert text tailored for Interactive Voice Response systems, as IVR description. E.g., null when IVR text is unavailable. Used for telephone-based alert information systems and text-to-speech playback.
      required:
        - BulletinID
        - BulletinFlag
        - BulletinText
        - CommunicationFlag
        - CommunicationText
        - RouteAlertFlag
        - RouteAlertText
        - HomepageAlertText
        - PublishDate
        - DisruptionDescription
        - AllRoutesFlag
        - SortSeq
        - AlertTypeID
        - AlertType
        - AlertFullTitle
        - AffectedRouteIDs
        - IVRText
      description: Represents detailed alert information including bulletin ID, multiple text formats (bulletin, route alert, homepage, IVR), publish date, alert type, affected routes, and service disruption details. E.g., alert 110583 for Fauntleroy/Vashon/Southworth mechanical issue affecting routes 13, 14, 15, 29. Used for alert display, notification systems, and route-specific alert filtering.
    FetchScheduleByTripDateAndRouteIdOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Unique schedule season identifier, as an integer ID. E.g., '193' for Fall 2025 schedule. Used to identify which schedule season this schedule belongs to.
        ScheduleName:
          type: string
          description: Human-readable schedule season name, as a season name. E.g., 'Fall 2025' for schedule 193. Provides season identification for display.
        ScheduleSeason:
          anyOf:
            - type: number
              enum:
                - 0
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
            - type: number
              enum:
                - 3
          description: 'Quarterly season identifier code, as a season code. Valid values: 0 (Spring), 1 (Summer), 2 (Fall), 3 (Winter). E.g., ''2'' for Fall schedule. Used for seasonal schedule organization.'
        SchedulePDFUrl:
          type: string
          description: URL to schedule PDF document, as a PDF URL. E.g., 'http://www.wsdot.wa.gov/ferries/pdf/2025Fall.pdf' for Fall 2025 schedule. Used for accessing printable schedule documents.
        ScheduleStart:
          type: string
          description: Start date when schedule season becomes effective, as a UTC datetime. E.g., '2025-09-21T07:00:00.000Z' for Fall 2025 season starting September 21, 2025 at 3:00 AM. If consumer needs specific time, translate trip date value to 3:00 AM on that date. Indicates when season schedule begins.
        ScheduleEnd:
          type: string
          description: End date when schedule season stops being effective, as a UTC datetime. E.g., '2025-12-27T08:00:00.000Z' for Fall 2025 season ending December 27, 2025 at 2:59 AM. If consumer needs specific time, translate trip date value to next calendar date at 2:59 AM. Indicates when season schedule ends.
        AllRoutes:
          type: array
          items:
            type: number
          description: Array of route IDs representing all routes accounted for in schedule resultset, as route ID integers. E.g., array containing route 9 for Anacortes/San Juan Islands route. Used to identify which routes are included in schedule.
        TerminalCombos:
          type: array
          items:
            type: object
            properties:
              DepartingTerminalID:
                type: number
                description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '10' for Friday Harbor terminal. Used as primary key for terminal identification in terminal combo.
              DepartingTerminalName:
                type: string
                description: Human-readable name of departing terminal, as a terminal name. E.g., 'Anacortes' for terminal 1, 'Friday Harbor' for terminal 10. Provides origin terminal identification for schedule display.
              ArrivingTerminalID:
                type: number
                description: Unique identifier for arriving terminal, as an integer ID. E.g., '13' for Lopez Island terminal, '15' for Orcas Island terminal. Used as primary key for terminal identification in terminal combo.
              ArrivingTerminalName:
                type: string
                description: Human-readable name of arriving terminal, as a terminal name. E.g., 'Lopez Island' for terminal 13, 'Orcas Island' for terminal 15. Provides destination terminal identification for schedule display.
              SailingNotes:
                type: string
                description: Informational text associated with underlying sailing, as sailing notes. E.g., empty string when no notes, notes when special conditions apply. Provides additional sailing information for terminal combination.
              Annotations:
                type: array
                items:
                  type: string
                description: Array of annotation strings assigned to one or more departures in Times list, as annotation descriptions. E.g., array containing 'No interisland vehicles. Foot passenger and bikes okay.' annotation, empty array when no annotations. Used for displaying additional departure information.
              Times:
                type: array
                items:
                  type: object
                  properties:
                    DepartingTime:
                      type: string
                      description: Date and time of departure, as a UTC datetime. E.g., '2025-11-02T14:15:00.000Z' for departure at 2:15 PM on November 2, 2025. Used for departure schedule display.
                    ArrivingTime:
                      type:
                        - string
                        - 'null'
                      description: Date and time of arrival, as a UTC datetime. E.g., '2025-11-02T15:10:00.000Z' for arrival at 3:10 PM, null when arrival time is unavailable. Used for arrival schedule display.
                    LoadingRule:
                      anyOf:
                        - type: number
                          enum:
                            - 1
                        - type: number
                          enum:
                            - 2
                        - type: number
                          enum:
                            - 3
                      description: 'Category of travelers supported by departure, as a loading rule code. Valid values: 1 (Passenger), 2 (Vehicle), 3 (Both). E.g., ''1'' for passenger-only departure, ''3'' for both passenger and vehicle departure. Used to determine what types of travelers can board.'
                    VesselID:
                      type: number
                      description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '2' for Chelan vessel. Used to identify which vessel operates departure.
                    VesselName:
                      type: string
                      description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Chelan' for vessel 2. Provides vessel identification for display.
                    VesselHandicapAccessible:
                      type: boolean
                      description: Indicator whether vessel is ADA accessible, as a boolean. E.g., true for accessible vessels like Samish, Yakima, Chelan. Used to determine accessibility for passengers with disabilities.
                    VesselPositionNum:
                      type: number
                      description: Position number representing single vessel servicing all stops in journey, as an integer. E.g., '1' for first vessel position, '2' for second vessel position, '3' for third vessel position. Used for vessel scheduling and position tracking.
                    Routes:
                      type: array
                      items:
                        type: number
                      description: Array of route IDs serviced by departure, as route ID integers. E.g., array containing route 9 for Anacortes/San Juan Islands, subset of AllRoutes when departure only serves some routes. Used to identify which routes this departure covers.
                    AnnotationIndexes:
                      type: array
                      items:
                        type: number
                      description: Array of index integers indicating which elements in Annotations array apply to departure, as annotation indexes. E.g., array containing index 0 when first annotation applies, empty array when no annotations apply. Used to associate annotations with specific departures.
                  required:
                    - DepartingTime
                    - ArrivingTime
                    - LoadingRule
                    - VesselID
                    - VesselName
                    - VesselHandicapAccessible
                    - VesselPositionNum
                    - Routes
                    - AnnotationIndexes
                  description: Represents scheduled departure detail including departure/arrival times, loading rule, vessel information, routes, and annotation indexes. E.g., departure at 2:15 PM with Samish vessel (ID 69) supporting both passengers and vehicles on route 9.
                description: Array of scheduled departure details including departure times, vessel information, loading rules, and annotations. E.g., array containing multiple departures throughout day for terminal combination. Used for schedule display and departure lookups.
              AnnotationsIVR:
                type: array
                items:
                  type: string
                description: Array of annotation strings formatted for Interactive Voice Response systems, as IVR descriptions. E.g., array containing 'No interisland vehicles. Foot passengers and bikes okay.' for IVR playback, empty array when no IVR annotations. Used for telephone-based schedule information systems.
            required:
              - DepartingTerminalID
              - DepartingTerminalName
              - ArrivingTerminalID
              - ArrivingTerminalName
              - SailingNotes
              - Annotations
              - Times
              - AnnotationsIVR
            description: Represents terminal combination schedule information including departing/arriving terminal IDs and names, sailing notes, annotations, departure times, and IVR annotations. E.g., Anacortes (ID 1) to Lopez Island (ID 13) with multiple departures throughout day. Used for schedule display and terminal-pair schedule lookups.
          description: Array of departure and arrival terminal pair groupings, as terminal combo objects. E.g., array containing Anacortes-Lopez Island combo, Anacortes-Friday Harbor combo, all terminal pairs for route. Used for schedule display and terminal-pair lookups.
      required:
        - ScheduleID
        - ScheduleName
        - ScheduleSeason
        - SchedulePDFUrl
        - ScheduleStart
        - ScheduleEnd
        - AllRoutes
        - TerminalCombos
      description: Represents schedule information including schedule season details, route list, and terminal combination schedules. E.g., Fall 2025 schedule (ID 193) for route 9 with all terminal combinations and departure times. Used for schedule lookups and schedule display.
    FetchScheduledRoutesOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Unique schedule season identifier, as an integer ID. E.g., '193' for Fall 2025 schedule. Used to identify which schedule season this scheduled route belongs to.
        SchedRouteID:
          type: number
          description: Unique scheduled route identifier, as an integer ID. E.g., '2401' for Anacortes/San Juan Islands route in Fall 2025, '2383' for Port Townsend/Coupeville route. Used as primary key for scheduled route identification.
        ContingencyOnly:
          type: boolean
          description: Indicator whether scheduled route is contingency-only, as a boolean. E.g., false for regular routes operating majority of season, true for contingency routes active only during periods specified in ContingencyAdj list. For contingency routes, see ContingencyAdj additions for active periods. For non-contingency routes, ContingencyAdj may define cancellation periods. Used to determine route type and operation pattern.
        RouteID:
          type: number
          description: Unique identifier for underlying route, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route, '8' for Port Townsend/Coupeville route. Used to identify base route for scheduled route.
        RouteAbbrev:
          type: string
          description: Abbreviation code for underlying route, as a route identifier. E.g., 'ana-sj' for Anacortes/San Juan Islands, 'pt-key' for Port Townsend/Coupeville, 'muk-cl' for Mukilteo/Clinton. Used for compact route identification.
        Description:
          type: string
          description: Human-readable full name of scheduled route, as a route description. E.g., 'Anacortes / San Juan Islands' for route 9, 'Port Townsend / Coupeville' for route 8, 'Mukilteo / Clinton' for route 7. Provides route identification for display.
        SeasonalRouteNotes:
          type:
            - string
            - 'null'
          description: Notes and information for scheduled route during season, as seasonal notes. E.g., 'The Anacortes-San Juan Islands route will operate its regular schedule on Thanksgiving and Christmas.' for holiday notes, HTML-formatted notes for Port Townsend/Coupeville route, null when notes are unavailable. Provides seasonal route information and special conditions.
        RegionID:
          type: number
          description: Unique identifier for WSF region associated with underlying route, as an integer ID. E.g., '1' for region 1 routes, '2' for region 2 routes. Used for regional route organization.
        ServiceDisruptions:
          type: array
          items:
            type: object
            properties:
              BulletinID:
                type: number
                description: Unique bulletin/alert identifier, as an integer ID. Used to identify specific service disruption bulletin. Used as primary key for disruption identification.
              BulletinFlag:
                type: boolean
                description: Indicator whether alert is also used as bulletin, as a boolean. E.g., true when alert serves dual purpose as bulletin, false when alert is disruption-only. Used to determine if disruption should be displayed as bulletin.
              PublishDate:
                type:
                  - string
                  - 'null'
                description: Date when service disruption alert was published, as a UTC datetime. E.g., null when publish date is unavailable. Indicates when disruption information was made public.
              DisruptionDescription:
                type: string
                description: Text description of service disruption, as a disruption description. E.g., disruption text explaining route modifications, delays, or service changes. Provides details about service disruption affecting scheduled route.
            required:
              - BulletinID
              - BulletinFlag
              - PublishDate
              - DisruptionDescription
            description: Represents service disruption information including bulletin ID, bulletin flag, publish date, and disruption description. Used for tracking and displaying service disruptions affecting scheduled routes.
          description: Array of service disruption alerts currently affecting scheduled route, as service disruption objects. E.g., empty array when no disruptions, array containing disruption details when route is affected. Used for identifying scheduled routes with active service disruptions.
        ContingencyAdj:
          type: array
          items:
            type: object
            properties:
              DateFrom:
                type: string
                description: Precise date and time when contingency adjustment starts, as a UTC datetime. E.g., '2025-11-15T08:00:00.000Z' for adjustment starting November 15, 2025. Indicates when contingency period begins.
              DateThru:
                type: string
                description: Precise date and time when contingency adjustment ends, as a UTC datetime. E.g., '2025-11-20T08:00:00.000Z' for adjustment ending November 20, 2025. Indicates when contingency period ends.
              EventID:
                type:
                  - number
                  - 'null'
                description: Unique identifier for event prompting contingency adjustment, as an integer ID. E.g., null when no specific event triggers adjustment. Used to link adjustment to specific events or contingencies.
              EventDescription:
                type:
                  - string
                  - 'null'
                description: Human-readable description of what prompted contingency adjustment, as an event description. E.g., null when description is unavailable, description when adjustment relates to specific events. Provides context for why contingency adjustment exists.
              AdjType:
                anyOf:
                  - type: number
                    enum:
                      - 1
                  - type: number
                    enum:
                      - 2
                description: 'Type of contingency adjustment, as an adjustment type code. Valid values: 1 (Addition), 2 (Cancellation). E.g., ''1'' indicates service addition, ''2'' indicates service cancellation. Used to determine if adjustment adds or removes service.'
              ReplacedBySchedRouteID:
                type:
                  - number
                  - 'null'
                description: Unique identifier for contingency scheduled route replacing cancelled non-contingency route, as an integer ID. E.g., null when route is not being replaced, scheduled route ID when non-contingency route (ContingencyOnly false) is cancelled (AdjType 2) and replaced by contingency route. Used to identify replacement route for cancelled service.
            required:
              - DateFrom
              - DateThru
              - EventID
              - EventDescription
              - AdjType
              - ReplacedBySchedRouteID
            description: Represents contingency adjustment information including start/end dates, event details, adjustment type, and replacement route ID. E.g., cancellation adjustment (type 2) from November 15-20, 2025 with replacement route. Used for tracking service modifications and contingency periods.
          description: Array of contingency adjustments defining service periods for contingency routes or cancellation periods for non-contingency routes, as contingency adjustment objects. E.g., empty array for regular routes, array containing active periods for contingency routes. For contingency routes (ContingencyOnly true), defines when route is active. For non-contingency routes (ContingencyOnly false), may define cancellation periods. Used for tracking service modifications and contingency periods.
      required:
        - ScheduleID
        - SchedRouteID
        - ContingencyOnly
        - RouteID
        - RouteAbbrev
        - Description
        - SeasonalRouteNotes
        - RegionID
        - ServiceDisruptions
        - ContingencyAdj
      description: Represents scheduled route information including schedule/route IDs, contingency flag, route details, seasonal notes, region, service disruptions, and contingency adjustments. E.g., scheduled route 2401 (Anacortes/San Juan Islands, route 9) in Fall 2025 schedule with no disruptions. Used for route discovery, route identification, and schedule management.
    FetchScheduleValidDateRangeOutput:
      type: object
      properties:
        DateFrom:
          type: string
          description: Start date when data becomes available, as a UTC datetime. E.g., '2025-11-02T07:00:00.000Z'. Indicates earliest trip date for which data is published.
        DateThru:
          type: string
          description: End date when data stops being available, as a UTC datetime. E.g., '2026-03-21T07:00:00.000Z'. Indicates latest trip date for which data is published.
      required:
        - DateFrom
        - DateThru
      description: Represents date range for which fares data is currently published and available, including start and end dates. E.g., fares available from November 2, 2025 through March 21, 2026. Use to determine valid trip dates for fare queries before calling other endpoints.
    FetchTerminalMatesScheduleOutput:
      type: object
      properties:
        TerminalID:
          type: number
          description: Unique terminal identifier, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal, '4' for Bremerton terminal, '5' for Clinton terminal, '11' for Coupeville terminal. Used as primary key for terminal identification and fare queries.
        Description:
          type: string
          description: Human-readable terminal name, as a terminal name. E.g., 'Anacortes' for terminal 1, 'Bainbridge Island' for terminal 3, 'Bremerton' for terminal 4, 'Clinton' for terminal 5, 'Coupeville ' for terminal 11. Provides terminal identification for display and user interfaces.
      required:
        - TerminalID
        - Description
      description: Represents base terminal information including terminal identifier and name. E.g., terminal 1 (Anacortes) or terminal 3 (Bainbridge Island). Used for terminal identification in fare queries and terminal lookups.
    FetchTerminalsAndMatesOutput:
      type: object
      properties:
        DepartingTerminalID:
          type: number
          description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal. Used as primary key for terminal identification in terminal mate pairing.
        DepartingDescription:
          type: string
          description: Human-readable name of departing terminal, as a terminal name. E.g., 'Anacortes' for terminal 1. Provides origin terminal identification for terminal mate display.
        ArrivingTerminalID:
          type: number
          description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal, '15' for Orcas Island terminal. Used as primary key for terminal identification in terminal mate pairing.
        ArrivingDescription:
          type: string
          description: Human-readable name of arriving terminal, as a terminal name. E.g., 'Friday Harbor' for terminal 10, 'Lopez Island' for terminal 13, 'Orcas Island' for terminal 15. Provides destination terminal identification for terminal mate display.
      required:
        - DepartingTerminalID
        - DepartingDescription
        - ArrivingTerminalID
        - ArrivingDescription
      description: Represents terminal mate pairing including departing and arriving terminal IDs and names. E.g., Anacortes (ID 1) to Friday Harbor (ID 10). Used for identifying valid terminal combinations for schedule queries and route selection.
    FetchTimeAdjustmentsOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Unique schedule season identifier, as an integer ID. E.g., '193' for Fall 2025 schedule. Used to identify which schedule season this adjustment belongs to.
        SchedRouteID:
          type: number
          description: Unique scheduled route identifier, as an integer ID. E.g., '2383' for Port Townsend/Coupeville route in Fall 2025. Used to identify which scheduled route this adjustment belongs to.
        RouteID:
          type: number
          description: Unique underlying route identifier, as an integer ID. E.g., '8' for Port Townsend/Coupeville route. Used to identify base route for adjustment.
        RouteDescription:
          type:
            - string
            - 'null'
          description: Human-readable full name of route, as a route description. E.g., 'Port Townsend / Coupeville' for route 8, null when route description is unavailable. Provides route identification for display.
        RouteSortSeq:
          type: number
          description: Preferred sort order for route display, as an integer. E.g., '30' for Port Townsend/Coupeville route. Lower values appear first when sorting routes in ascending order. Used for route display ordering.
        SailingID:
          type: number
          description: Unique sailing identifier, as an integer ID. E.g., '7693' for 'Fall Leave Port Townsend' sailing. Used to identify which sailing this adjustment applies to.
        SailingDescription:
          type:
            - string
            - 'null'
          description: Human-readable title describing sailing, as a sailing description. E.g., 'Fall Leave Port Townsend' for Port Townsend/Coupeville route sailing, null when description is unavailable. Provides sailing identification for display.
        ActiveSailingDateRange:
          type:
            - object
            - 'null'
          properties:
            DateFrom:
              type: string
              description: Start date when sailing date range becomes active, as a UTC datetime. E.g., '2025-10-13T07:00:00.000Z' for Fall sailing start. If consumer needs specific time, translate trip date value to 3:00 AM on that date. Indicates when sailing date range begins.
            DateThru:
              type: string
              description: End date when sailing date range stops being active, as a UTC datetime. E.g., '2025-12-27T08:00:00.000Z' for Fall sailing end. If consumer needs specific time, translate trip date value to next calendar date at 2:59 AM. Indicates when sailing date range ends.
            EventID:
              type:
                - number
                - 'null'
              description: Unique identifier for event associated with sailing date range, as an integer ID. E.g., null when no specific event triggers date range. Used to link date range to specific events or contingencies.
            EventDescription:
              type:
                - string
                - 'null'
              description: Human-readable explanation of sailing date range, as an event description. E.g., null when explanation is not needed. Provides context for why sailing date range exists.
          required:
            - DateFrom
            - DateThru
            - EventID
            - EventDescription
          description: Active date range for sailing including start/end dates, event ID, and event description. E.g., Fall 2025 date range from October 13 to December 27. Used for identifying when specific sailing is active.
        SailingDir:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Direction of travel for sailing, as a direction code. Valid values: 1 (Westbound), 2 (Eastbound). E.g., ''1'' for westbound sailing from Port Townsend, ''2'' for eastbound sailing. Used to determine sailing direction.'
        JourneyID:
          type: number
          description: Unique journey identifier, as an integer ID. E.g., '164527' for journey from Port Townsend, '164528' for second journey. Used to identify which journey this adjustment applies to.
        VesselID:
          type: number
          description: Unique identifier for vessel planned to service journey, as an integer ID. E.g., '66' for Salish vessel. Used to identify which vessel operates journey.
        VesselName:
          type:
            - string
            - 'null'
          description: Human-readable name of vessel planned to service journey, as a vessel name. E.g., 'Salish' for vessel 66, null when vessel name is unavailable. Provides vessel identification for display.
        VesselHandicapAccessible:
          type: boolean
          description: Indicator whether vessel is ADA accessible, as a boolean. E.g., true for accessible vessels like Salish. Used to determine accessibility for passengers with disabilities.
        VesselPositionNum:
          type: number
          description: Position number representing single vessel servicing all stops in journey, as an integer. E.g., '1' for first vessel position. Used for vessel scheduling and position tracking.
        JourneyTerminalID:
          type: number
          description: Unique identifier for terminal time within journey, as an integer ID. E.g., '233261' for Port Townsend terminal time, '233262' for second terminal time. Used as primary key for terminal time identification within journey.
        TerminalID:
          type: number
          description: Unique identifier for terminal, as an integer ID. E.g., '17' for Port Townsend terminal. Used to identify which terminal this adjustment applies to.
        TerminalDescription:
          type: string
          description: Human-readable full name of terminal, as a terminal name. E.g., 'Port Townsend' for terminal 17. Provides terminal identification for display.
        TerminalBriefDescription:
          type: string
          description: Brief shortened name for terminal, as a terminal abbreviation. E.g., 'P. Townsend' for Port Townsend terminal. Used for compact terminal display.
        TimeToAdj:
          type: string
          description: 'Departure or arrival time being added or cancelled, as a UTC datetime. E.g., ''1900-01-02T01:15:00.000Z'' for 1:15 AM departure time adjustment. Note: Date portion (1900-01-01) is placeholder, use time portion for actual schedule time. Used for identifying which time is being adjusted.'
        AdjDateFrom:
          type: string
          description: Starting trip date when adjustment should be applied, as a UTC datetime. E.g., '2025-11-03T08:00:00.000Z' for adjustment starting November 3, 2025. Indicates when adjustment period begins.
        AdjDateThru:
          type: string
          description: Ending trip date when adjustment should be applied, as a UTC datetime. E.g., '2025-11-03T08:00:00.000Z' for adjustment ending November 3, 2025 (single date). If same as AdjDateFrom, adjustment applies to single date only. Indicates when adjustment period ends.
        TidalAdj:
          type: boolean
          description: Indicator whether adjustment is result of tidal conditions, as a boolean. E.g., true for tidal adjustments like Port Townsend cancellations, false for non-tidal adjustments. Used to identify tidal-related schedule modifications.
        EventID:
          type:
            - number
            - 'null'
          description: Unique identifier for event prompting adjustment, as an integer ID. E.g., null when no specific event triggers adjustment. Used to link adjustment to specific events or contingencies.
        EventDescription:
          type:
            - string
            - 'null'
          description: Human-readable explanation of adjustment, as an event description. E.g., null when explanation is unavailable. Provides context for why adjustment exists.
        DepArrIndicator:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Indicator whether adjustment applies to departure or arrival, as a dep/arr code. Valid values: 1 (Departure), 2 (Arrival). E.g., ''1'' for departure adjustment. Used to determine if adjustment affects departure or arrival time.'
        AdjType:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Type of time adjustment, as an adjustment type code. Valid values: 1 (Addition), 2 (Cancellation). E.g., ''2'' for cancellation adjustment, ''1'' for addition adjustment. Used to determine if adjustment adds or removes service.'
        Annotations:
          type: array
          items:
            type: object
            properties:
              AnnotationID:
                type: number
                description: Unique annotation identifier, as an integer ID. Used as primary key for annotation identification.
              AnnotationText:
                type:
                  - string
                  - 'null'
                description: Human-readable descriptive content of annotation, as an annotation description. E.g., null when annotation text is unavailable. Provides annotation information for display.
              AnnotationIVRText:
                type:
                  - string
                  - 'null'
                description: Annotation text formatted for Interactive Voice Response systems, as an IVR description. E.g., null when IVR text is unavailable. Used for telephone-based schedule information systems.
              AdjustedCrossingTime:
                type:
                  - number
                  - 'null'
                description: Adjusted crossing time override in minutes, as minutes. E.g., null when annotation does not override crossing time. Present when annotation requires override of standard CrossingTime value from route details. Used for special sailing time adjustments.
              AnnotationImg:
                type:
                  - string
                  - 'null'
                description: URL to image representing annotation graphically, as an image URL. E.g., null when image URL is unavailable. Used for visual annotation display.
              TypeDescription:
                type:
                  - string
                  - 'null'
                description: Logical grouping category for annotation, as a type description. E.g., null when type is unavailable. Used for annotation categorization and filtering.
              SortSeq:
                type: number
                description: Preferred sort order for annotation display, as an integer. Lower values appear first when sorting annotations in ascending order. Used for annotation display ordering.
            required:
              - AnnotationID
              - AnnotationText
              - AnnotationIVRText
              - AdjustedCrossingTime
              - AnnotationImg
              - TypeDescription
              - SortSeq
            description: Represents annotation information including annotation ID, text descriptions, IVR text, crossing time override, image URL, type, and sort order. Used for displaying additional adjustment information and restrictions.
          description: Array of informational annotations associated with departure/arrival time, as annotation objects. E.g., empty array when no annotations, array containing annotation details when annotations apply. Used for displaying additional adjustment information.
      required:
        - ScheduleID
        - SchedRouteID
        - RouteID
        - RouteDescription
        - RouteSortSeq
        - SailingID
        - SailingDescription
        - ActiveSailingDateRange
        - SailingDir
        - JourneyID
        - VesselID
        - VesselName
        - VesselHandicapAccessible
        - VesselPositionNum
        - JourneyTerminalID
        - TerminalID
        - TerminalDescription
        - TerminalBriefDescription
        - TimeToAdj
        - AdjDateFrom
        - AdjDateThru
        - TidalAdj
        - EventID
        - EventDescription
        - DepArrIndicator
        - AdjType
        - Annotations
      description: Represents time adjustment information including schedule/route/sailing/journey IDs, vessel details, terminal information, adjustment dates and times, tidal flag, adjustment type, and annotations. E.g., cancellation adjustment (type 2) for Port Townsend departure at 1:15 AM on November 3, 2025 due to tidal conditions. Used for identifying schedule deviations, special date modifications, and time adjustments.
    FetchAllSailingsBySchedRouteIDInputSchedRouteIDParam:
      type: number
      description: Unique identifier for scheduled route, as an integer ID. E.g., '2401' for Anacortes/San Juan Islands route in Fall 2025. Use GetScheduledRoutes to retrieve valid scheduled route IDs. Used to identify which scheduled route to retrieve all sailings for.
    FetchSailingsByRouteIDInputSchedRouteIDParam:
      type: number
      description: Unique identifier for scheduled route, as an integer ID. E.g., '2401' for Anacortes/San Juan Islands route in Fall 2025, '2383' for Port Townsend/Coupeville route. Use GetScheduledRoutes to retrieve valid scheduled route IDs. Used to identify which scheduled route to retrieve sailings for.
    FetchRouteDetailsByTripDateInputTripDateParam:
      type: string
      description: Trip date for which to retrieve detailed route information, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter routes by trip date availability.
    FetchRouteDetailsByTripDateAndRouteIdInputTripDateParam:
      type: string
      description: Trip date for which to retrieve detailed route information, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter route by trip date availability.
    FetchRouteDetailsByTripDateAndRouteIdInputRouteIDParam:
      type: number
      description: Unique identifier for route, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route, '6' for Edmonds/Kingston route. Use GetRoutes to retrieve valid routes. Used to identify specific route for detailed information.
    FetchRouteDetailsByTripDateAndTerminalsInputTripDateParam:
      type: string
      description: Trip date for which to retrieve detailed route information, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter routes by trip date availability.
    FetchRouteDetailsByTripDateAndTerminalsInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalsAndMates to retrieve valid departing terminals. Used to filter routes by origin terminal.
    FetchRouteDetailsByTripDateAndTerminalsInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalsAndMates to retrieve valid arriving terminals. Used to filter routes by destination terminal.
    FetchRoutesByTripDateInputTripDateParam:
      type: string
      description: Trip date for which to retrieve routes, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter routes by trip date availability.
    FetchRoutesByTripDateInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to filter routes by origin terminal. Optional - if omitted, returns all routes for trip date.
    FetchRoutesByTripDateInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalsAndMates to retrieve valid arriving terminals. Used to filter routes by destination terminal. Optional - if omitted, returns all routes for trip date.
    FetchRoutesByTripDateAndTerminalsInputTripDateParam:
      type: string
      description: Trip date for which to retrieve routes, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter routes by trip date availability.
    FetchRoutesByTripDateAndTerminalsInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalsAndMates to retrieve valid departing terminals. Used to filter routes by origin terminal.
    FetchRoutesByTripDateAndTerminalsInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalsAndMates to retrieve valid arriving terminals. Used to filter routes by destination terminal.
    FetchRoutesHavingServiceDisruptionsByTripDateInputTripDateParam:
      type: string
      description: Trip date for which to retrieve routes with service disruptions, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter disrupted routes by trip date.
    FetchScheduleByTripDateAndRouteIdInputTripDateParam:
      type: string
      description: Trip date for schedule lookup, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter schedules by trip date.
    FetchScheduleByTripDateAndRouteIdInputRouteIDParam:
      type: number
      description: Unique identifier for route, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route, '6' for Edmonds/Kingston route. Use GetRoutes to retrieve valid routes. Used to identify route for schedule lookup.
    FetchScheduleByTripDateAndDepartingTerminalIdAndTerminalIdsInputTripDateParam:
      type: string
      description: Trip date for schedule lookup, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter schedules by trip date.
    FetchScheduleByTripDateAndDepartingTerminalIdAndTerminalIdsInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '10' for Friday Harbor terminal. Use GetTerminalsAndMates to retrieve valid departing terminals. Used to identify origin terminal for schedule lookup.
    FetchScheduleByTripDateAndDepartingTerminalIdAndTerminalIdsInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '13' for Lopez Island terminal, '15' for Orcas Island terminal. Use GetTerminalsAndMates to retrieve valid arriving terminals. Used to identify destination terminal for schedule lookup.
    FetchScheduledRoutesInputScheduleIDParam:
      type: number
      description: Unique identifier for schedule season, as an integer ID. E.g., '193' for Fall 2025 schedule. Use GetActiveSeasons to retrieve valid schedule IDs. Optional - if omitted, returns all scheduled routes across current and upcoming seasons. Used to filter scheduled routes by specific season.
    FetchScheduledRoutesByIdInputScheduleIDParam:
      type: number
      description: Unique identifier for schedule season, as an integer ID. E.g., '193' for Fall 2025 schedule. Use GetActiveSeasons to retrieve valid schedule IDs. Optional - if omitted, returns all scheduled routes across current and upcoming seasons. Used to filter scheduled routes by specific season.
    FetchScheduleTodayByRouteInputRouteIDParam:
      type: number
      description: Unique identifier for route, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route, '6' for Edmonds/Kingston route. Use GetRoutes to retrieve valid routes. Used to identify route for today's schedule.
    FetchScheduleTodayByRouteInputOnlyRemainingTimesParam:
      type: boolean
      description: Filter flag controlling whether past departures are included, as a boolean. E.g., true to show only remaining departures today, false to include all departures including past ones. Used to filter schedule to only upcoming sailings when true.
    FetchScheduleTodayByTerminalsInputDepartingTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalsAndMates to retrieve valid departing terminals. Used to identify origin terminal for today's schedule.
    FetchScheduleTodayByTerminalsInputArrivingTerminalIDParam:
      type: number
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalsAndMates to retrieve valid arriving terminals. Used to identify destination terminal for today's schedule.
    FetchScheduleTodayByTerminalsInputOnlyRemainingTimesParam:
      type: boolean
      description: Filter flag controlling whether past departures are included, as a boolean. E.g., true to show only remaining departures today, false to include all departures including past ones. Used to filter schedule to only upcoming sailings when true.
    FetchTerminalMatesScheduleInputTripDateParam:
      type: string
      description: Trip date for which to retrieve arriving terminals, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetValidDateRange. Used to filter terminal mates by trip date availability.
    FetchTerminalMatesScheduleInputTerminalIDParam:
      type: number
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to filter arriving terminals by origin terminal.
    FetchTerminalsInputTripDateParam:
      type: string
      description: Trip date for which to retrieve valid departing terminals, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025, '2026-03-21' for March 21, 2026. Must be within valid date range from GetValidDateRange. Used to filter terminals by trip date availability.
    FetchTerminalsAndMatesInputTripDateParam:
      type: string
      description: Trip date for which to retrieve all terminal combinations, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter terminal combinations by trip date availability.
    FetchTerminalsAndMatesByRouteInputTripDateParam:
      type: string
      description: Trip date for which to retrieve terminal combinations, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter terminal combinations by trip date and route.
    FetchTerminalsAndMatesByRouteInputRouteIDParam:
      type: number
      description: Unique identifier for route, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route. Use GetRoutes to retrieve valid routes. Used to filter terminal combinations by specific route.
    FetchTimeAdjustmentsByRouteInputRouteIDParam:
      type: number
      description: Unique identifier for route, as an integer ID. E.g., '8' for Port Townsend/Coupeville route. Use GetRoutes to retrieve valid routes. Used to filter time adjustments by specific route.
    FetchTimeAdjustmentsBySchedRouteInputSchedRouteIDParam:
      type: number
      description: Unique identifier for scheduled route, as an integer ID. E.g., '2383' for Port Townsend/Coupeville route in Fall 2025. Use GetScheduledRoutes to retrieve valid scheduled route IDs. Used to filter time adjustments by specific scheduled route.
  parameters:
    FetchAllSailingsBySchedRouteIDInputSchedRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchAllSailingsBySchedRouteIDInputSchedRouteIDParam'
      required: true
      description: Unique identifier for scheduled route, as an integer ID. E.g., '2401' for Anacortes/San Juan Islands route in Fall 2025. Use GetScheduledRoutes to retrieve valid scheduled route IDs. Used to identify which scheduled route to retrieve all sailings for.
      name: SchedRouteID
      in: path
    FetchSailingsByRouteIDInputSchedRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchSailingsByRouteIDInputSchedRouteIDParam'
      required: true
      description: Unique identifier for scheduled route, as an integer ID. E.g., '2401' for Anacortes/San Juan Islands route in Fall 2025, '2383' for Port Townsend/Coupeville route. Use GetScheduledRoutes to retrieve valid scheduled route IDs. Used to identify which scheduled route to retrieve sailings for.
      name: SchedRouteID
      in: path
    FetchRouteDetailsByTripDateInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateInputTripDateParam'
      required: true
      description: Trip date for which to retrieve detailed route information, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter routes by trip date availability.
      name: TripDate
      in: path
    FetchRouteDetailsByTripDateAndRouteIdInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndRouteIdInputTripDateParam'
      required: true
      description: Trip date for which to retrieve detailed route information, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter route by trip date availability.
      name: TripDate
      in: path
    FetchRouteDetailsByTripDateAndRouteIdInputRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndRouteIdInputRouteIDParam'
      required: true
      description: Unique identifier for route, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route, '6' for Edmonds/Kingston route. Use GetRoutes to retrieve valid routes. Used to identify specific route for detailed information.
      name: RouteID
      in: path
    FetchRouteDetailsByTripDateAndTerminalsInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndTerminalsInputTripDateParam'
      required: true
      description: Trip date for which to retrieve detailed route information, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter routes by trip date availability.
      name: TripDate
      in: path
    FetchRouteDetailsByTripDateAndTerminalsInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndTerminalsInputDepartingTerminalIDParam'
      required: true
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalsAndMates to retrieve valid departing terminals. Used to filter routes by origin terminal.
      name: DepartingTerminalID
      in: path
    FetchRouteDetailsByTripDateAndTerminalsInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndTerminalsInputArrivingTerminalIDParam'
      required: true
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalsAndMates to retrieve valid arriving terminals. Used to filter routes by destination terminal.
      name: ArrivingTerminalID
      in: path
    FetchRoutesByTripDateInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateInputTripDateParam'
      required: true
      description: Trip date for which to retrieve routes, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter routes by trip date availability.
      name: TripDate
      in: path
    FetchRoutesByTripDateInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateInputDepartingTerminalIDParam'
      required: false
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminals to retrieve valid departing terminals. Used to filter routes by origin terminal. Optional - if omitted, returns all routes for trip date.
      name: DepartingTerminalID
      in: query
    FetchRoutesByTripDateInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateInputArrivingTerminalIDParam'
      required: false
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalsAndMates to retrieve valid arriving terminals. Used to filter routes by destination terminal. Optional - if omitted, returns all routes for trip date.
      name: ArrivingTerminalID
      in: query
    FetchRoutesByTripDateAndTerminalsInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateAndTerminalsInputTripDateParam'
      required: true
      description: Trip date for which to retrieve routes, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter routes by trip date availability.
      name: TripDate
      in: path
    FetchRoutesByTripDateAndTerminalsInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateAndTerminalsInputDepartingTerminalIDParam'
      required: true
      description: Unique identifier for departing terminal, as an integer ID. E.g., '1' for Anacortes terminal, '3' for Bainbridge Island terminal. Use GetTerminalsAndMates to retrieve valid departing terminals. Used to filter routes by origin terminal.
      name: DepartingTerminalID
      in: path
    FetchRoutesByTripDateAndTerminalsInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateAndTerminalsInputArrivingTerminalIDParam'
      required: true
      description: Unique identifier for arriving terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Use GetTerminalsAndMates to retrieve valid arriving terminals. Used to filter routes by destination terminal.
      name: ArrivingTerminalID
      in: path
    FetchRoutesHavingServiceDisruptionsByTripDateInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesHavingServiceDisruptionsByTripDateInputTripDateParam'
      required: true
      description: Trip date for which to retrieve routes with service disruptions, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter disrupted routes by trip date.
      name: TripDate
      in: path
    FetchScheduleByTripDateAndRouteIdInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndRouteIdInputTripDateParam'
      required: true
      description: Trip date for schedule lookup, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter schedules by trip date.
      name: TripDate
      in: path
    FetchScheduleByTripDateAndRouteIdInputRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndRouteIdInputRouteIDParam'
      required: true
      description: Unique identifier for route, as an integer ID. E.g., '9' for Anacortes/San Juan Islands route, '6' for Edmonds/Kingston route. Use GetRoutes to retrieve valid routes. Used to identify route for schedule lookup.
      name: RouteID
      in: path
    FetchScheduleByTripDateAndDepartingTerminalIdAndTerminalIdsInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndDepartingTerminalIdAndTerminalIdsInputTripDateParam'
      required: true
      description: Trip date for schedule lookup, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter schedules by trip date.
      name: TripDate
      in: path
    FetchScheduleByTripDateAndDepartingTerminalIdAndTerminalIdsInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndDepartingTerminalIdAndTerminalIdsInputDepartingTerminalIDParam'
      required: true
[...]
