openapi: 3.1.0
info:
  title: Wsf Vessels API
  version: 1.0.0
  description: Wsf Vessels API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/ferries/api/vessels/rest
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type:
            - string
            - 'null'
          description: Human-readable description of the roadway location, as a string. E.g., 'I-5 interchange' for major highway junctions, 'Bellevue Way SE' for cross streets. Provides context for precise location identification when milepost alone is insufficient.
        Direction:
          type:
            - string
            - 'null'
          description: Traffic direction designation for the roadway location, as a string. E.g., 'N' for northbound, 'S' for southbound, 'B' for both directions, 'NB' for northbound, 'SB' for southbound. Indicates which side of the highway the alert affects, regardless of actual compass orientation.
        Latitude:
          type: number
          description: Latitude coordinate for the roadway location, in decimal degrees. E.g., '47.6062' for Seattle area, '48.7519' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        Longitude:
          type: number
          description: Longitude coordinate for the roadway location, in decimal degrees. E.g., '-122.3321' for Seattle area, '-122.4785' for Bellingham region. Enables precise geographic mapping and distance calculations for navigation systems.
        MilePost:
          type: number
          description: Milepost marker for the roadway location, as a number. E.g., '12.5' for milepost 12.5, '0' for route terminus. Provides precise location reference along highway corridors for accurate incident reporting and navigation.
        RoadName:
          type:
            - string
            - 'null'
          description: Highway or route designation for the roadway location, as a string. E.g., '005' for I-5, '090' for I-90, '520' for SR-520. Identifies the specific highway corridor where the alert is located.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
    CacheFlushDateOutput:
      type: string
      description: Cache flush timestamp indicating when vessel data was last updated, as a UTC datetime. E.g., '2025-09-08T05:35:01.100Z' when vessel metadata was refreshed. Use to determine when cached vessel information should be invalidated and refreshed. Poll this endpoint periodically to detect when vessel data changes.
    VesselAccommodationsOutput:
      type: object
      properties:
        VesselID:
          type: integer
          description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used as primary key for all vessel-related API calls and vessel tracking operations.
        VesselSubjectID:
          type: integer
          description: Unique WSF subject identifier for this vessel, as an integer ID. E.g., '487' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used for internal WSF subject tracking and cross-referencing with other WSF systems.
        VesselName:
          type:
            - string
            - 'null'
          description: Vessel name, as a human-readable description. E.g., 'Chimacum' for vessel 74, 'Chelan' for vessel 2, 'Cathlamet' for vessel 1, null when vessel name is unavailable. Provides primary identification name for display and vessel selection.
        VesselAbbrev:
          type:
            - string
            - 'null'
          description: Vessel abbreviation code, as a terminal abbreviation. E.g., 'CHM' for Chimacum, 'CHE' for Chelan, 'CAT' for Cathlamet, null when abbreviation is unavailable. Used for compact vessel identification in schedules, displays, and route information.
        Class:
          type:
            - object
            - 'null'
          properties:
            ClassID:
              type: integer
              description: Unique vessel class identifier, as an integer ID. E.g., '10' for Issaquah 130 class, '162' for Kwa-di Tabil class. Used to group similar vessels and reference class-specific properties.
            ClassSubjectID:
              type: integer
              description: Unique WSF subject identifier for this vessel class, as an integer ID. E.g., '310' for Issaquah 130 class, '427' for Kwa-di Tabil class. Used for internal WSF subject tracking and classification.
            ClassName:
              type:
                - string
                - 'null'
              description: Vessel class name, as a human-readable description. E.g., 'Issaquah 130' for standard Issaquah-class vessels, 'Kwa-di Tabil' for newer class, null when class name is unavailable. Provides technical classification name for fleet management.
            SortSeq:
              type:
                - integer
                - 'null'
              description: Preferred sort order for display purposes, as an integer. E.g., '40' for Issaquah class, '75' for Kwa-di Tabil class, null when sort order is unspecified. Lower values appear first when sorting vessel classes in ascending order.
            DrawingImg:
              type:
                - string
                - 'null'
              description: URL to detailed vessel class drawing image, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif' for Issaquah class, null when drawing image is unavailable. Used for displaying detailed vessel class schematics and technical diagrams.
            SilhouetteImg:
              type:
                - string
                - 'null'
              description: URL to small silhouette image of vessel class, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif' for Issaquah class, null when silhouette image is unavailable. Used for compact visual identification in vessel lists and maps.
            PublicDisplayName:
              type:
                - string
                - 'null'
              description: Public-facing vessel class name, as a human-readable description. E.g., 'Issaquah' for Issaquah 130 class, 'Olympic' for Olympic class, null when public display name is unavailable. Provides simplified, public-friendly class name for passenger information displays.
          required:
            - ClassID
            - ClassSubjectID
            - ClassName
            - SortSeq
            - DrawingImg
            - SilhouetteImg
            - PublicDisplayName
          description: Represents vessel class information grouping similar vessels in the fleet, containing class identification, display ordering, and image references. E.g., Issaquah 130 class (ClassID 10) shared by vessels Cathlamet, Chelan, and Issaquah. Used for organizing vessels by shared characteristics and displaying class-specific information. Multiple vessels can belong to the same class.
        CarDeckRestroom:
          type: boolean
          description: ADA-accessible restroom availability on car deck, as a boolean. E.g., true for vessels like Chimacum and Cathlamet, false for vessels like Chetzemoka. Used to inform passengers with accessibility needs about restroom facilities without leaving the vehicle deck.
        CarDeckShelter:
          type: boolean
          description: ADA-accessible shelter availability on car deck, as a boolean. E.g., true for Olympic-class vessels like Chimacum, false for most Issaquah-class vessels. Provides covered waiting area for passengers remaining on vehicle deck during crossing.
        Elevator:
          type: boolean
          description: Elevator availability for passenger deck access, as a boolean. E.g., true for vessels like Chimacum, Cathlamet, and Chetzemoka, false when elevator is unavailable. Enables accessibility between car deck and passenger deck levels.
        ADAAccessible:
          type: boolean
          description: Overall ADA accessibility indicator, as a boolean. E.g., true for vessels with comprehensive accessibility features like Chimacum, false when vessel lacks required accessibility accommodations. Indicates vessel meets Americans with Disabilities Act accessibility standards.
        MainCabinGalley:
          type: boolean
          description: Food service galley availability in main passenger cabin, as a boolean. E.g., true for vessels like Chimacum and Cathlamet, false when galley is unavailable. Indicates food and beverage service availability during crossing.
        MainCabinRestroom:
          type: boolean
          description: Restroom availability in main passenger cabin, as a boolean. E.g., true for all vessels in sample data, false when restroom is unavailable. Indicates restroom facilities accessible from main passenger deck.
        PublicWifi:
          type: boolean
          description: Public WiFi availability on vessel, as a boolean. E.g., false for all vessels in sample data, true when WiFi service is available. Indicates internet connectivity for passengers during crossing.
        ADAInfo:
          type:
            - string
            - 'null'
          description: Detailed ADA accessibility information, as a human-readable description. E.g., 'The M/V Chimacum has two ADA compliant elevators...' for comprehensive accessibility details, null when ADA information is unavailable. Provides detailed accessibility guidance for passengers with disabilities.
        AdditionalInfo:
          type:
            - string
            - 'null'
          description: Additional miscellaneous vessel accommodation notes, as a human-readable description. E.g., empty string ' ' when no additional notes, null when additional information is unavailable. Contains supplementary accommodation details not covered by standard boolean flags.
      required:
        - VesselID
        - VesselSubjectID
        - VesselName
        - VesselAbbrev
        - Class
        - CarDeckRestroom
        - CarDeckShelter
        - Elevator
        - ADAAccessible
        - MainCabinGalley
        - MainCabinRestroom
        - PublicWifi
        - ADAInfo
        - AdditionalInfo
      description: Represents vessel accommodation information including amenities, accessibility features, and passenger facilities. E.g., vessel Chimacum with elevator, ADA accessible restrooms on car deck and main cabin, galley, and detailed ADA information. Used for passenger information displays, accessibility planning, and determining vessel amenities. Extends vesselBaseSchema with accommodation and accessibility fields.
    VesselBasicsOutput:
      type: object
      properties:
        VesselID:
          type: integer
          description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used as primary key for all vessel-related API calls and vessel tracking operations.
        VesselSubjectID:
          type: integer
          description: Unique WSF subject identifier for this vessel, as an integer ID. E.g., '487' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used for internal WSF subject tracking and cross-referencing with other WSF systems.
        VesselName:
          type:
            - string
            - 'null'
          description: Vessel name, as a human-readable description. E.g., 'Chimacum' for vessel 74, 'Chelan' for vessel 2, 'Cathlamet' for vessel 1, null when vessel name is unavailable. Provides primary identification name for display and vessel selection.
        VesselAbbrev:
          type:
            - string
            - 'null'
          description: Vessel abbreviation code, as a terminal abbreviation. E.g., 'CHM' for Chimacum, 'CHE' for Chelan, 'CAT' for Cathlamet, null when abbreviation is unavailable. Used for compact vessel identification in schedules, displays, and route information.
        Class:
          type:
            - object
            - 'null'
          properties:
            ClassID:
              type: integer
              description: Unique vessel class identifier, as an integer ID. E.g., '10' for Issaquah 130 class, '162' for Kwa-di Tabil class. Used to group similar vessels and reference class-specific properties.
            ClassSubjectID:
              type: integer
              description: Unique WSF subject identifier for this vessel class, as an integer ID. E.g., '310' for Issaquah 130 class, '427' for Kwa-di Tabil class. Used for internal WSF subject tracking and classification.
            ClassName:
              type:
                - string
                - 'null'
              description: Vessel class name, as a human-readable description. E.g., 'Issaquah 130' for standard Issaquah-class vessels, 'Kwa-di Tabil' for newer class, null when class name is unavailable. Provides technical classification name for fleet management.
            SortSeq:
              type:
                - integer
                - 'null'
              description: Preferred sort order for display purposes, as an integer. E.g., '40' for Issaquah class, '75' for Kwa-di Tabil class, null when sort order is unspecified. Lower values appear first when sorting vessel classes in ascending order.
            DrawingImg:
              type:
                - string
                - 'null'
              description: URL to detailed vessel class drawing image, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif' for Issaquah class, null when drawing image is unavailable. Used for displaying detailed vessel class schematics and technical diagrams.
            SilhouetteImg:
              type:
                - string
                - 'null'
              description: URL to small silhouette image of vessel class, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif' for Issaquah class, null when silhouette image is unavailable. Used for compact visual identification in vessel lists and maps.
            PublicDisplayName:
              type:
                - string
                - 'null'
              description: Public-facing vessel class name, as a human-readable description. E.g., 'Issaquah' for Issaquah 130 class, 'Olympic' for Olympic class, null when public display name is unavailable. Provides simplified, public-friendly class name for passenger information displays.
          required:
            - ClassID
            - ClassSubjectID
            - ClassName
            - SortSeq
            - DrawingImg
            - SilhouetteImg
            - PublicDisplayName
          description: Represents vessel class information grouping similar vessels in the fleet, containing class identification, display ordering, and image references. E.g., Issaquah 130 class (ClassID 10) shared by vessels Cathlamet, Chelan, and Issaquah. Used for organizing vessels by shared characteristics and displaying class-specific information. Multiple vessels can belong to the same class.
        Status:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
            - type: number
              enum:
                - 3
            - type: 'null'
          description: 'Vessel operational status, as a status code. Valid values: 1 (In Service), 2 (Maintenance), 3 (Out of Service). E.g., ''1'' indicates vessel is available for passenger service like Chimacum, ''2'' indicates scheduled maintenance, ''3'' indicates vessel is unavailable. Null when status is unknown. Determines whether vessel is available for route assignments and passenger operations.'
        OwnedByWSF:
          type: boolean
          description: Vessel ownership indicator, as a boolean. E.g., true for WSF-owned vessels like Chimacum and Chelan, false for chartered or leased vessels. Determines vessel management responsibility and operational control.
      required:
        - VesselID
        - VesselSubjectID
        - VesselName
        - VesselAbbrev
        - Class
        - Status
        - OwnedByWSF
      description: Represents basic vessel information including identification, class association, operational status, and ownership. E.g., vessel Chimacum (VesselID 74) in Olympic class with Status 1 (In Service) and OwnedByWSF true. Used for vessel selection, status displays, and determining vessel availability. Extends vesselBaseSchema with operational status fields.
    VesselHistoriesOutput:
      type: object
      properties:
        VesselId:
          type: integer
          description: Unique vessel identifier, as an integer ID. E.g., '1077' for vessel Tacoma. Used to identify which vessel this history record belongs to.
        Vessel:
          type:
            - string
            - 'null'
          description: Vessel name, as a human-readable description. E.g., 'Tacoma' for vessel 1077, null when vessel name is unavailable. Provides vessel identification for history record display.
        Departing:
          type:
            - string
            - 'null'
          description: Departing terminal name, as a human-readable description. E.g., 'Bainbridge' for Bainbridge Island terminal, 'Colman' for Colman Dock terminal, null when departing terminal is unavailable. Indicates origin terminal for this voyage leg.
        Arriving:
          type:
            - string
            - 'null'
          description: Arriving terminal name, as a human-readable description. E.g., 'Colman' for Colman Dock terminal, 'Bainbridge' for Bainbridge Island terminal, null when arriving terminal is unavailable. Indicates destination terminal for this voyage leg.
        ScheduledDepart:
          type:
            - string
            - 'null'
          description: Scheduled departure time from origin terminal, as a UTC datetime. E.g., '2025-09-08T14:00:00.000Z' for scheduled 7:00 AM departure, null when scheduled departure time is unavailable. Used to compare actual vs. scheduled departure times for on-time performance analysis.
        ActualDepart:
          type:
            - string
            - 'null'
          description: Actual departure time from origin terminal, as a UTC datetime. E.g., '2025-09-08T14:24:00.000Z' for actual 7:24 AM departure, null when actual departure time is unavailable. Used for on-time performance analysis and historical voyage tracking.
        EstArrival:
          type:
            - string
            - 'null'
          description: Estimated arrival time at destination terminal, as a UTC datetime. E.g., '2025-09-08T14:56:00.000Z' for estimated 7:56 AM arrival, null when estimated arrival time is unavailable. Provides expected arrival time calculated during voyage for historical tracking.
        Date:
          type:
            - string
            - 'null'
          description: Voyage date, as a UTC datetime. E.g., '2025-09-08T07:00:00.000Z' for voyage on September 1, 2025, null when voyage date is unavailable. Indicates the calendar date when this voyage occurred, used for date-based filtering and historical analysis.
      required:
        - VesselId
        - Vessel
        - Departing
        - Arriving
        - ScheduledDepart
        - ActualDepart
        - EstArrival
        - Date
      description: Represents historical vessel voyage information including departure and arrival terminals, scheduled and actual departure times, and estimated arrival times. E.g., vessel Tacoma departing Bainbridge Island at 7:00 AM scheduled (7:24 AM actual) arriving Colman Dock at 7:56 AM on September 1, 2025. Used for historical voyage tracking, on-time performance analysis, and route pattern analysis. Updates as historical data is recorded.
    VesselLocationsOutput:
      type: object
      properties:
        VesselID:
          type: integer
          description: Unique vessel identifier, as an integer ID. E.g., '2' for vessel Chelan, '38' for vessel Yakima. Used as primary key for vessel location tracking.
        VesselName:
          type:
            - string
            - 'null'
          description: Vessel name, as a human-readable description. E.g., 'Chelan' for vessel 2, 'Yakima' for vessel 38, null when vessel name is unavailable. Provides vessel identification for location display.
        Mmsi:
          type:
            - integer
            - 'null'
          description: Maritime Mobile Service Identity number, as an integer ID. E.g., '366709770' for vessel Chelan, '366772750' for vessel Yakima, null when MMSI is unavailable. Used for AIS tracking and maritime communication systems.
        DepartingTerminalID:
          type: integer
          description: Unique identifier for departing terminal, as an integer ID. E.g., '10' for Friday Harbor terminal, '1' for Anacortes terminal. Indicates origin terminal where vessel is docked or was last docked.
        DepartingTerminalName:
          type:
            - string
            - 'null'
          description: Departing terminal name, as a human-readable description. E.g., 'Friday Harbor' for terminal 10, 'Anacortes' for terminal 1, null when terminal name is unavailable. Provides origin terminal identification for display.
        DepartingTerminalAbbrev:
          type:
            - string
            - 'null'
          description: Departing terminal abbreviation code, as a terminal abbreviation. E.g., 'FRH' for Friday Harbor, 'ANA' for Anacortes, null when abbreviation is unavailable. Used for compact terminal identification in displays and route information.
        ArrivingTerminalID:
          type:
            - integer
            - 'null'
          description: Unique identifier for arriving terminal, as an integer ID. E.g., '1' for Anacortes terminal, '10' for Friday Harbor terminal, null when next destination is undetermined. Indicates destination terminal for vessel's current voyage.
        ArrivingTerminalName:
          type:
            - string
            - 'null'
          description: Arriving terminal name, as a human-readable description. E.g., 'Anacortes' for terminal 1, 'Friday Harbor' for terminal 10, null when next destination is undetermined. Provides destination terminal identification for display.
        ArrivingTerminalAbbrev:
          type:
            - string
            - 'null'
          description: Arriving terminal abbreviation code, as a terminal abbreviation. E.g., 'ANA' for Anacortes, 'FRH' for Friday Harbor, null when next destination is undetermined. Used for compact destination terminal identification.
        Latitude:
          type: number
          description: Vessel GPS latitude coordinate, in decimal degrees. E.g., '48.529468' for vessel Chelan near Friday Harbor, '48.548502' for vessel Yakima near Anacortes.
        Longitude:
          type: number
          description: Vessel GPS longitude coordinate, in decimal degrees. E.g., '-122.818977' for vessel Chelan near Friday Harbor, '-122.83794' for vessel Yakima near Anacortes.
        Speed:
          type: number
          description: Vessel speed over ground, as knots. E.g., '15.7' for vessel Chelan in transit, '0' when vessel is docked like Suquamish. Used for voyage progress tracking and arrival time calculations.
        Heading:
          type: number
          description: Vessel heading direction, as degrees. E.g., '102' for vessel Chelan heading east, '324' for vessel Yakima heading northwest, '159' for docked vessel Suquamish. Measured clockwise from north (0-359 degrees).
        InService:
          type: boolean
          description: Vessel operational service status, as a boolean. E.g., true for active vessels like Chelan and Yakima, false when vessel is out of service. Indicates whether vessel is available for passenger operations.
        AtDock:
          type: boolean
          description: Vessel docked status, as a boolean. E.g., true for docked vessels like Suquamish and Puyallup, false for vessels in transit like Chelan and Yakima. Determines whether vessel is currently at terminal or underway.
        LeftDock:
          type:
            - string
            - 'null'
          description: Timestamp when vessel last departed from dock, as a UTC datetime. E.g., '2025-09-08T01:20:00.000Z' for vessel Chelan that left Friday Harbor at 6:20 PM, null when vessel is currently docked. Used to calculate voyage duration and departure delay tracking.
        Eta:
          type:
            - string
            - 'null'
          description: Estimated arrival time at destination terminal, as a UTC datetime. E.g., '2025-09-08T02:30:00.000Z' for vessel Chelan arriving Anacortes at 7:30 PM, null when vessel is docked or ETA unavailable. Used for arrival time predictions and passenger information displays.
        EtaBasis:
          type:
            - string
            - 'null'
          description: Description of ETA calculation method, as a human-readable description. E.g., 'Vessel Chelan departed Friday Harbor going to Anacortes and using vessel Chelan closest location data from Nov 1 2025 10:59AM' for calculated ETA, 'Vessel is Docked. ETA is only available when underway.' when docked, null when ETA basis is unavailable. Explains how arrival time estimate was derived.
        ScheduledDeparture:
          type:
            - string
            - 'null'
          description: Scheduled departure time from origin terminal, as a UTC datetime. E.g., '2025-09-08T01:20:00.000Z' for vessel Chelan scheduled to depart Friday Harbor at 6:20 PM, null when scheduled departure is undetermined. Used to compare actual vs. scheduled departure times.
        OpRouteAbbrev:
          type:
            - array
            - 'null'
          items:
            type: string
          description: Abbreviated route names currently serviced by vessel, as an array of route codes. E.g., ['ana-sj'] for Anacortes-San Juan route, ['muk-cl'] for Mukilteo-Clinton route, null or empty array when vessel is not in service. Used to identify which routes vessel is currently operating.
        VesselPositionNum:
          type:
            - integer
            - 'null'
          description: Vessel position number for route scheduling, as an integer. E.g., '1' for first vessel on route, '2' for second vessel, null when vessel is not in service. Identifies which scheduled departure slot vessel is servicing on route.
        SortSeq:
          type: integer
          description: Preferred sort order for display purposes, as an integer. E.g., '20' for San Juan Islands routes, '30' for Port Townsend-Coupeville route, '40' for Mukilteo-Clinton route. Lower values appear first when sorting vessels in ascending order.
        ManagedBy:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Vessel management organization, as a status code. Valid values: 1 (WSF), 2 (KCM). E.g., ''1'' indicates vessel is managed by Washington State Ferries, ''2'' indicates vessel is managed by King County Metro. Determines operational control and management responsibility.'
        TimeStamp:
          type: string
          description: Timestamp when vessel location data was last updated, as a UTC datetime. E.g., '2025-09-08T02:02:00.000Z' for location update at 7:02 PM. Indicates data freshness and update frequency for real-time tracking systems.
        VesselWatchShutID:
          type: integer
          description: VesselWatch shutdown identifier, as an integer ID. E.g., '2' for vessel information unavailable, '3' for vessel in service. Used to identify specific VesselWatch system status conditions.
        VesselWatchShutMsg:
          type:
            - string
            - 'null'
          description: VesselWatch shutdown message, as a human-readable description. E.g., 'Vessel information unavailable' for status ID 2, 'Vessel in Service' for status ID 3, null when shutdown message is unavailable. Provides user-facing status message for VesselWatch system.
        VesselWatchShutFlag:
          type:
            - string
            - 'null'
          description: VesselWatch shutdown flag, as a status code. E.g., '0' for normal operation, null when flag is unavailable. Indicates whether VesselWatch system shutdown conditions are active.
        VesselWatchStatus:
          type:
            - string
            - 'null'
          description: VesselWatch system status, as a status code. E.g., '0' for normal operation, null when status is unavailable. Indicates current operational state of VesselWatch tracking system.
        VesselWatchMsg:
          type:
            - string
            - 'null'
          description: VesselWatch system message, as a human-readable description. E.g., 'WSF's VesselWatch page is currently not responding and is out of service...' for system issues, null when message is unavailable. Provides user-facing information about VesselWatch system status.
      required:
        - VesselID
        - VesselName
        - Mmsi
        - DepartingTerminalID
        - DepartingTerminalName
        - DepartingTerminalAbbrev
        - ArrivingTerminalID
        - ArrivingTerminalName
        - ArrivingTerminalAbbrev
        - Latitude
        - Longitude
        - Speed
        - Heading
        - InService
        - AtDock
        - LeftDock
        - Eta
        - EtaBasis
        - ScheduledDeparture
        - OpRouteAbbrev
        - VesselPositionNum
        - SortSeq
        - ManagedBy
        - TimeStamp
        - VesselWatchShutID
        - VesselWatchShutMsg
        - VesselWatchShutFlag
        - VesselWatchStatus
        - VesselWatchMsg
      description: Represents real-time vessel location data including GPS coordinates, terminal assignments, speed/heading, and ETA information. E.g., vessel Chelan at position 48.529468, -122.818977 departing Friday Harbor going to Anacortes at 15.7 knots with ETA 7:30 PM. Used for real-time vessel tracking, arrival time calculations, and passenger information systems. Updates every 5 seconds.
    VesselStatsOutput:
      type: object
      properties:
        VesselID:
          type: integer
          description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used as primary key for all vessel-related API calls and vessel tracking operations.
        VesselSubjectID:
          type: integer
          description: Unique WSF subject identifier for this vessel, as an integer ID. E.g., '487' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used for internal WSF subject tracking and cross-referencing with other WSF systems.
        VesselName:
          type:
            - string
            - 'null'
          description: Vessel name, as a human-readable description. E.g., 'Chimacum' for vessel 74, 'Chelan' for vessel 2, 'Cathlamet' for vessel 1, null when vessel name is unavailable. Provides primary identification name for display and vessel selection.
        VesselAbbrev:
          type:
            - string
            - 'null'
          description: Vessel abbreviation code, as a terminal abbreviation. E.g., 'CHM' for Chimacum, 'CHE' for Chelan, 'CAT' for Cathlamet, null when abbreviation is unavailable. Used for compact vessel identification in schedules, displays, and route information.
        Class:
          type:
            - object
            - 'null'
          properties:
            ClassID:
              type: integer
              description: Unique vessel class identifier, as an integer ID. E.g., '10' for Issaquah 130 class, '162' for Kwa-di Tabil class. Used to group similar vessels and reference class-specific properties.
            ClassSubjectID:
              type: integer
              description: Unique WSF subject identifier for this vessel class, as an integer ID. E.g., '310' for Issaquah 130 class, '427' for Kwa-di Tabil class. Used for internal WSF subject tracking and classification.
            ClassName:
              type:
                - string
                - 'null'
              description: Vessel class name, as a human-readable description. E.g., 'Issaquah 130' for standard Issaquah-class vessels, 'Kwa-di Tabil' for newer class, null when class name is unavailable. Provides technical classification name for fleet management.
            SortSeq:
              type:
                - integer
                - 'null'
              description: Preferred sort order for display purposes, as an integer. E.g., '40' for Issaquah class, '75' for Kwa-di Tabil class, null when sort order is unspecified. Lower values appear first when sorting vessel classes in ascending order.
            DrawingImg:
              type:
                - string
                - 'null'
              description: URL to detailed vessel class drawing image, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif' for Issaquah class, null when drawing image is unavailable. Used for displaying detailed vessel class schematics and technical diagrams.
            SilhouetteImg:
              type:
                - string
                - 'null'
              description: URL to small silhouette image of vessel class, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif' for Issaquah class, null when silhouette image is unavailable. Used for compact visual identification in vessel lists and maps.
            PublicDisplayName:
              type:
                - string
                - 'null'
              description: Public-facing vessel class name, as a human-readable description. E.g., 'Issaquah' for Issaquah 130 class, 'Olympic' for Olympic class, null when public display name is unavailable. Provides simplified, public-friendly class name for passenger information displays.
          required:
            - ClassID
            - ClassSubjectID
            - ClassName
            - SortSeq
            - DrawingImg
            - SilhouetteImg
            - PublicDisplayName
          description: Represents vessel class information grouping similar vessels in the fleet, containing class identification, display ordering, and image references. E.g., Issaquah 130 class (ClassID 10) shared by vessels Cathlamet, Chelan, and Issaquah. Used for organizing vessels by shared characteristics and displaying class-specific information. Multiple vessels can belong to the same class.
        VesselNameDesc:
          type: string
          description: 'Vessel name origin and significance, as a human-readable description. E.g., ''The Chimacum People who spoke the Chimaquan dialect, inhabited the area...'' for Chimacum, ''From the Chelan language: Tsill-ane, meaning "deep water."'' for Chelan. Provides cultural and historical context for vessel naming.'
        VesselHistory:
          type:
            - string
            - 'null'
          description: Vessel operational history and milestones, as a human-readable description. E.g., 'Chimacum is the third of the 144-car, Olympic Class ferries scheduled to begin service in June 2017.' for Chimacum, empty string ' ' when no history available, null when history is unavailable. Documents significant events in vessel's operational life.
        Beam:
          type: string
          description: Vessel beam width, as feet and inches. E.g., '78' 8"' for Issaquah-class vessels, '83' 6"' for Olympic-class Chimacum. Measured at widest point of vessel, used for terminal dock compatibility and vessel classification.
        CityBuilt:
          type: string
          description: City where vessel was constructed, as a human-readable description. E.g., 'Seattle' for most WSF vessels. Indicates vessel construction location and shipyard.
        SpeedInKnots:
          type:
            - integer
            - 'null'
          description: Vessel maximum operational speed, as knots. E.g., '17' for Olympic-class Chimacum, '16' for Issaquah-class Cathlamet, '14' for Kwa-di Tabil class Chetzemoka, null when speed is unavailable. Used for voyage time calculations and route planning.
        Draft:
          type: string
          description: Vessel draft depth, as feet and inches. E.g., '18'' for Olympic-class Chimacum, '16' 7"' for Issaquah-class vessels, '11'' for Kwa-di Tabil class. Measured from waterline to bottom of hull, used for harbor depth requirements and navigation planning.
        EngineCount:
          type:
            - integer
            - 'null'
          description: Total number of propulsion engines aboard vessel, as an integer. E.g., '2' for most WSF vessels, null when engine count is unavailable. Indicates vessel propulsion redundancy and power configuration.
        Horsepower:
          type:
            - integer
            - 'null'
          description: Total engine horsepower output, as horsepower. E.g., '6000' for Olympic-class and Kwa-di Tabil class vessels, '5100' for Issaquah-class vessels, null when horsepower is unavailable. Indicates vessel power and performance capability.
        Length:
          type: string
          description: Vessel overall length, as feet and inches. E.g., '362' 5"' for Olympic-class Chimacum, '328' 2"' for Issaquah-class vessels, '273' 10"' for Kwa-di Tabil class. Measured from bow to stern, used for terminal dock length requirements and vessel classification.
        MaxPassengerCount:
          type:
            - integer
            - 'null'
          description: Maximum passenger capacity, as an integer. E.g., '1500' for Olympic-class Chimacum, '1196' for Issaquah-class vessels, '748' for Kwa-di Tabil class, null when capacity is unavailable. Used for capacity planning and passenger load management.
        PassengerOnly:
          type: boolean
          description: Vehicle support indicator, as a boolean. E.g., false for vehicles and passengers like all WSF vessels, true for passenger-only vessels. Indicates whether vessel carries vehicles or only passengers.
        FastFerry:
          type: boolean
          description: Fast ferry classification indicator, as a boolean. E.g., false for standard ferries like Chimacum and Cathlamet, true for high-speed passenger ferries. Indicates vessel speed classification and service type.
        PropulsionInfo:
          type: string
          description: Engine propulsion type, as a human-readable description. E.g., 'DIESEL' for all WSF vessels. Indicates fuel type and propulsion technology used.
        TallDeckClearance:
          type:
            - integer
            - 'null'
          description: Tall deck vertical clearance height, as inches. E.g., '192' for Olympic-class Chimacum, '186' for Issaquah-class vessels, '173' for Kwa-di Tabil class, null when clearance is unavailable. Used to determine if tall vehicles can access tall deck spaces.
        RegDeckSpace:
          type:
            - integer
            - 'null'
          description: Maximum regular deck vehicle capacity including tall deck spaces, as an integer. E.g., '144' for Olympic-class Chimacum, '124' for Issaquah-class vessels, '64' for Kwa-di Tabil class, null when capacity is unavailable. Total vehicle capacity including standard and tall deck spaces.
        TallDeckSpace:
          type:
            - integer
            - 'null'
          description: Tall deck vehicle capacity, as an integer. E.g., '34' for Olympic-class Chimacum, '25' for Issaquah-class and Kwa-di Tabil class vessels, null when tall deck capacity is unavailable. Number of vehicle spaces on tall deck for vehicles exceeding standard clearance height.
        Tonnage:
          type:
            - integer
            - 'null'
          description: Vessel gross tonnage, as tons. E.g., '3525' for Olympic-class Chimacum, '2477' for Issaquah-class vessels, '4623' for Kwa-di Tabil class, null when tonnage is unavailable. Used for vessel classification and regulatory compliance.
        Displacement:
          type:
            - integer
            - 'null'
          description: Vessel displacement weight, as long tons. E.g., '5171' for Olympic-class Chimacum, '3310' for Issaquah-class vessels, '2090' for Kwa-di Tabil class, null when displacement is unavailable. Weight of water displaced by vessel, used for stability calculations.
        YearBuilt:
          type:
            - integer
            - 'null'
          description: Vessel construction year, as a year. E.g., '2017' for Olympic-class Chimacum, '1981' for Issaquah-class Cathlamet, '2010' for Kwa-di Tabil class Chetzemoka, null when build year is unavailable. Indicates vessel age and construction era.
        YearRebuilt:
          type:
            - integer
            - 'null'
          description: Vessel major rebuild year, as a year. E.g., '2005' for vessel Chelan, '1993' for vessel Cathlamet, null when vessel has not been rebuilt. Indicates significant renovation or modernization work completed.
        VesselDrawingImg:
          type:
            - string
            - 'null'
          description: URL to detailed vessel drawing image, as a URL string. E.g., null when vessel-specific drawing unavailable (use class DrawingImg instead). Used for displaying vessel schematics and technical diagrams.
        SolasCertified:
          type: boolean
          description: International travel certification indicator, as a boolean. E.g., true for SOLAS-certified vessels like Chelan, false for domestic-only vessels like Chimacum. Indicates vessel meets Safety of Life at Sea international standards.
        MaxPassengerCountForInternational:
          type:
            - integer
            - 'null'
          description: Maximum passenger capacity for international routes, as an integer. E.g., '1090' for SOLAS-certified vessel Chelan, null for domestic-only vessels. Used for international route capacity planning when vessel has different domestic and international capacity limits.
      required:
        - VesselID
        - VesselSubjectID
        - VesselName
        - VesselAbbrev
        - Class
        - VesselNameDesc
        - VesselHistory
        - Beam
        - CityBuilt
        - SpeedInKnots
        - Draft
        - EngineCount
        - Horsepower
        - Length
        - MaxPassengerCount
        - PassengerOnly
        - FastFerry
        - PropulsionInfo
        - TallDeckClearance
        - RegDeckSpace
        - TallDeckSpace
        - Tonnage
        - Displacement
        - YearBuilt
        - YearRebuilt
        - VesselDrawingImg
        - SolasCertified
        - MaxPassengerCountForInternational
      description: Represents vessel technical specifications including dimensions, capacity, speed, propulsion, and build details. E.g., vessel Chimacum built 2017 in Seattle, 362 feet 5 inches long, 1500 passenger capacity, 17 knots speed, 6000 horsepower. Used for vessel comparison, capacity planning, terminal compatibility assessment, and technical reference. Extends vesselBaseSchema with technical specification fields.
    VesselsVerboseOutput:
      allOf:
        - type: object
          properties:
            VesselID:
              type: integer
              description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used as primary key for all vessel-related API calls and vessel tracking operations.
            VesselSubjectID:
              type: integer
              description: Unique WSF subject identifier for this vessel, as an integer ID. E.g., '487' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used for internal WSF subject tracking and cross-referencing with other WSF systems.
            VesselName:
              type:
                - string
                - 'null'
              description: Vessel name, as a human-readable description. E.g., 'Chimacum' for vessel 74, 'Chelan' for vessel 2, 'Cathlamet' for vessel 1, null when vessel name is unavailable. Provides primary identification name for display and vessel selection.
            VesselAbbrev:
              type:
                - string
                - 'null'
              description: Vessel abbreviation code, as a terminal abbreviation. E.g., 'CHM' for Chimacum, 'CHE' for Chelan, 'CAT' for Cathlamet, null when abbreviation is unavailable. Used for compact vessel identification in schedules, displays, and route information.
            Class:
              type:
                - object
                - 'null'
              properties:
                ClassID:
                  type: integer
                  description: Unique vessel class identifier, as an integer ID. E.g., '10' for Issaquah 130 class, '162' for Kwa-di Tabil class. Used to group similar vessels and reference class-specific properties.
                ClassSubjectID:
                  type: integer
                  description: Unique WSF subject identifier for this vessel class, as an integer ID. E.g., '310' for Issaquah 130 class, '427' for Kwa-di Tabil class. Used for internal WSF subject tracking and classification.
                ClassName:
                  type:
                    - string
                    - 'null'
                  description: Vessel class name, as a human-readable description. E.g., 'Issaquah 130' for standard Issaquah-class vessels, 'Kwa-di Tabil' for newer class, null when class name is unavailable. Provides technical classification name for fleet management.
                SortSeq:
                  type:
                    - integer
                    - 'null'
                  description: Preferred sort order for display purposes, as an integer. E.g., '40' for Issaquah class, '75' for Kwa-di Tabil class, null when sort order is unspecified. Lower values appear first when sorting vessel classes in ascending order.
                DrawingImg:
                  type:
                    - string
                    - 'null'
                  description: URL to detailed vessel class drawing image, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif' for Issaquah class, null when drawing image is unavailable. Used for displaying detailed vessel class schematics and technical diagrams.
                SilhouetteImg:
                  type:
                    - string
                    - 'null'
                  description: URL to small silhouette image of vessel class, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif' for Issaquah class, null when silhouette image is unavailable. Used for compact visual identification in vessel lists and maps.
                PublicDisplayName:
                  type:
                    - string
                    - 'null'
                  description: Public-facing vessel class name, as a human-readable description. E.g., 'Issaquah' for Issaquah 130 class, 'Olympic' for Olympic class, null when public display name is unavailable. Provides simplified, public-friendly class name for passenger information displays.
              required:
                - ClassID
                - ClassSubjectID
                - ClassName
                - SortSeq
                - DrawingImg
                - SilhouetteImg
                - PublicDisplayName
              description: Represents vessel class information grouping similar vessels in the fleet, containing class identification, display ordering, and image references. E.g., Issaquah 130 class (ClassID 10) shared by vessels Cathlamet, Chelan, and Issaquah. Used for organizing vessels by shared characteristics and displaying class-specific information. Multiple vessels can belong to the same class.
            Status:
              anyOf:
                - type: number
                  enum:
                    - 1
                - type: number
                  enum:
                    - 2
                - type: number
                  enum:
                    - 3
                - type: 'null'
              description: 'Vessel operational status, as a status code. Valid values: 1 (In Service), 2 (Maintenance), 3 (Out of Service). E.g., ''1'' indicates vessel is available for passenger service like Chimacum, ''2'' indicates scheduled maintenance, ''3'' indicates vessel is unavailable. Null when status is unknown. Determines whether vessel is available for route assignments and passenger operations.'
            OwnedByWSF:
              type: boolean
              description: Vessel ownership indicator, as a boolean. E.g., true for WSF-owned vessels like Chimacum and Chelan, false for chartered or leased vessels. Determines vessel management responsibility and operational control.
          required:
            - VesselID
            - VesselSubjectID
            - VesselName
            - VesselAbbrev
            - Class
            - Status
            - OwnedByWSF
          description: Represents basic vessel information including identification, class association, operational status, and ownership. E.g., vessel Chimacum (VesselID 74) in Olympic class with Status 1 (In Service) and OwnedByWSF true. Used for vessel selection, status displays, and determining vessel availability. Extends vesselBaseSchema with operational status fields.
        - type: object
          properties:
            VesselID:
              type: integer
              description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used as primary key for all vessel-related API calls and vessel tracking operations.
            VesselSubjectID:
              type: integer
              description: Unique WSF subject identifier for this vessel, as an integer ID. E.g., '487' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used for internal WSF subject tracking and cross-referencing with other WSF systems.
            VesselName:
              type:
                - string
                - 'null'
              description: Vessel name, as a human-readable description. E.g., 'Chimacum' for vessel 74, 'Chelan' for vessel 2, 'Cathlamet' for vessel 1, null when vessel name is unavailable. Provides primary identification name for display and vessel selection.
            VesselAbbrev:
              type:
                - string
                - 'null'
              description: Vessel abbreviation code, as a terminal abbreviation. E.g., 'CHM' for Chimacum, 'CHE' for Chelan, 'CAT' for Cathlamet, null when abbreviation is unavailable. Used for compact vessel identification in schedules, displays, and route information.
            Class:
              type:
                - object
                - 'null'
              properties:
                ClassID:
                  type: integer
                  description: Unique vessel class identifier, as an integer ID. E.g., '10' for Issaquah 130 class, '162' for Kwa-di Tabil class. Used to group similar vessels and reference class-specific properties.
                ClassSubjectID:
                  type: integer
                  description: Unique WSF subject identifier for this vessel class, as an integer ID. E.g., '310' for Issaquah 130 class, '427' for Kwa-di Tabil class. Used for internal WSF subject tracking and classification.
                ClassName:
                  type:
                    - string
                    - 'null'
                  description: Vessel class name, as a human-readable description. E.g., 'Issaquah 130' for standard Issaquah-class vessels, 'Kwa-di Tabil' for newer class, null when class name is unavailable. Provides technical classification name for fleet management.
                SortSeq:
                  type:
                    - integer
                    - 'null'
                  description: Preferred sort order for display purposes, as an integer. E.g., '40' for Issaquah class, '75' for Kwa-di Tabil class, null when sort order is unspecified. Lower values appear first when sorting vessel classes in ascending order.
                DrawingImg:
                  type:
                    - string
                    - 'null'
                  description: URL to detailed vessel class drawing image, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif' for Issaquah class, null when drawing image is unavailable. Used for displaying detailed vessel class schematics and technical diagrams.
                SilhouetteImg:
                  type:
                    - string
                    - 'null'
                  description: URL to small silhouette image of vessel class, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif' for Issaquah class, null when silhouette image is unavailable. Used for compact visual identification in vessel lists and maps.
                PublicDisplayName:
                  type:
                    - string
                    - 'null'
                  description: Public-facing vessel class name, as a human-readable description. E.g., 'Issaquah' for Issaquah 130 class, 'Olympic' for Olympic class, null when public display name is unavailable. Provides simplified, public-friendly class name for passenger information displays.
              required:
                - ClassID
                - ClassSubjectID
                - ClassName
                - SortSeq
                - DrawingImg
                - SilhouetteImg
                - PublicDisplayName
              description: Represents vessel class information grouping similar vessels in the fleet, containing class identification, display ordering, and image references. E.g., Issaquah 130 class (ClassID 10) shared by vessels Cathlamet, Chelan, and Issaquah. Used for organizing vessels by shared characteristics and displaying class-specific information. Multiple vessels can belong to the same class.
            CarDeckRestroom:
              type: boolean
              description: ADA-accessible restroom availability on car deck, as a boolean. E.g., true for vessels like Chimacum and Cathlamet, false for vessels like Chetzemoka. Used to inform passengers with accessibility needs about restroom facilities without leaving the vehicle deck.
            CarDeckShelter:
              type: boolean
              description: ADA-accessible shelter availability on car deck, as a boolean. E.g., true for Olympic-class vessels like Chimacum, false for most Issaquah-class vessels. Provides covered waiting area for passengers remaining on vehicle deck during crossing.
            Elevator:
              type: boolean
              description: Elevator availability for passenger deck access, as a boolean. E.g., true for vessels like Chimacum, Cathlamet, and Chetzemoka, false when elevator is unavailable. Enables accessibility between car deck and passenger deck levels.
            ADAAccessible:
              type: boolean
              description: Overall ADA accessibility indicator, as a boolean. E.g., true for vessels with comprehensive accessibility features like Chimacum, false when vessel lacks required accessibility accommodations. Indicates vessel meets Americans with Disabilities Act accessibility standards.
            MainCabinGalley:
              type: boolean
              description: Food service galley availability in main passenger cabin, as a boolean. E.g., true for vessels like Chimacum and Cathlamet, false when galley is unavailable. Indicates food and beverage service availability during crossing.
            MainCabinRestroom:
              type: boolean
              description: Restroom availability in main passenger cabin, as a boolean. E.g., true for all vessels in sample data, false when restroom is unavailable. Indicates restroom facilities accessible from main passenger deck.
            PublicWifi:
              type: boolean
              description: Public WiFi availability on vessel, as a boolean. E.g., false for all vessels in sample data, true when WiFi service is available. Indicates internet connectivity for passengers during crossing.
            ADAInfo:
              type:
                - string
                - 'null'
              description: Detailed ADA accessibility information, as a human-readable description. E.g., 'The M/V Chimacum has two ADA compliant elevators...' for comprehensive accessibility details, null when ADA information is unavailable. Provides detailed accessibility guidance for passengers with disabilities.
            AdditionalInfo:
              type:
                - string
                - 'null'
              description: Additional miscellaneous vessel accommodation notes, as a human-readable description. E.g., empty string ' ' when no additional notes, null when additional information is unavailable. Contains supplementary accommodation details not covered by standard boolean flags.
          required:
            - VesselID
            - VesselSubjectID
            - VesselName
            - VesselAbbrev
            - Class
            - CarDeckRestroom
            - CarDeckShelter
            - Elevator
            - ADAAccessible
            - MainCabinGalley
            - MainCabinRestroom
            - PublicWifi
            - ADAInfo
            - AdditionalInfo
          description: Represents vessel accommodation information including amenities, accessibility features, and passenger facilities. E.g., vessel Chimacum with elevator, ADA accessible restrooms on car deck and main cabin, galley, and detailed ADA information. Used for passenger information displays, accessibility planning, and determining vessel amenities. Extends vesselBaseSchema with accommodation and accessibility fields.
        - type: object
          properties:
            VesselID:
              type: integer
              description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used as primary key for all vessel-related API calls and vessel tracking operations.
            VesselSubjectID:
              type: integer
              description: Unique WSF subject identifier for this vessel, as an integer ID. E.g., '487' for vessel Chimacum, '2' for vessel Chelan, '1' for vessel Cathlamet. Used for internal WSF subject tracking and cross-referencing with other WSF systems.
            VesselName:
              type:
                - string
                - 'null'
              description: Vessel name, as a human-readable description. E.g., 'Chimacum' for vessel 74, 'Chelan' for vessel 2, 'Cathlamet' for vessel 1, null when vessel name is unavailable. Provides primary identification name for display and vessel selection.
            VesselAbbrev:
              type:
                - string
                - 'null'
              description: Vessel abbreviation code, as a terminal abbreviation. E.g., 'CHM' for Chimacum, 'CHE' for Chelan, 'CAT' for Cathlamet, null when abbreviation is unavailable. Used for compact vessel identification in schedules, displays, and route information.
            Class:
              type:
                - object
                - 'null'
              properties:
                ClassID:
                  type: integer
                  description: Unique vessel class identifier, as an integer ID. E.g., '10' for Issaquah 130 class, '162' for Kwa-di Tabil class. Used to group similar vessels and reference class-specific properties.
                ClassSubjectID:
                  type: integer
                  description: Unique WSF subject identifier for this vessel class, as an integer ID. E.g., '310' for Issaquah 130 class, '427' for Kwa-di Tabil class. Used for internal WSF subject tracking and classification.
                ClassName:
                  type:
                    - string
                    - 'null'
                  description: Vessel class name, as a human-readable description. E.g., 'Issaquah 130' for standard Issaquah-class vessels, 'Kwa-di Tabil' for newer class, null when class name is unavailable. Provides technical classification name for fleet management.
                SortSeq:
                  type:
                    - integer
                    - 'null'
                  description: Preferred sort order for display purposes, as an integer. E.g., '40' for Issaquah class, '75' for Kwa-di Tabil class, null when sort order is unspecified. Lower values appear first when sorting vessel classes in ascending order.
                DrawingImg:
                  type:
                    - string
                    - 'null'
                  description: URL to detailed vessel class drawing image, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif' for Issaquah class, null when drawing image is unavailable. Used for displaying detailed vessel class schematics and technical diagrams.
                SilhouetteImg:
                  type:
                    - string
                    - 'null'
                  description: URL to small silhouette image of vessel class, as a URL string. E.g., 'https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif' for Issaquah class, null when silhouette image is unavailable. Used for compact visual identification in vessel lists and maps.
                PublicDisplayName:
                  type:
                    - string
                    - 'null'
                  description: Public-facing vessel class name, as a human-readable description. E.g., 'Issaquah' for Issaquah 130 class, 'Olympic' for Olympic class, null when public display name is unavailable. Provides simplified, public-friendly class name for passenger information displays.
              required:
                - ClassID
                - ClassSubjectID
                - ClassName
                - SortSeq
                - DrawingImg
                - SilhouetteImg
                - PublicDisplayName
              description: Represents vessel class information grouping similar vessels in the fleet, containing class identification, display ordering, and image references. E.g., Issaquah 130 class (ClassID 10) shared by vessels Cathlamet, Chelan, and Issaquah. Used for organizing vessels by shared characteristics and displaying class-specific information. Multiple vessels can belong to the same class.
            VesselNameDesc:
              type: string
              description: 'Vessel name origin and significance, as a human-readable description. E.g., ''The Chimacum People who spoke the Chimaquan dialect, inhabited the area...'' for Chimacum, ''From the Chelan language: Tsill-ane, meaning "deep water."'' for Chelan. Provides cultural and historical context for vessel naming.'
            VesselHistory:
              type:
                - string
                - 'null'
              description: Vessel operational history and milestones, as a human-readable description. E.g., 'Chimacum is the third of the 144-car, Olympic Class ferries scheduled to begin service in June 2017.' for Chimacum, empty string ' ' when no history available, null when history is unavailable. Documents significant events in vessel's operational life.
            Beam:
              type: string
              description: Vessel beam width, as feet and inches. E.g., '78' 8"' for Issaquah-class vessels, '83' 6"' for Olympic-class Chimacum. Measured at widest point of vessel, used for terminal dock compatibility and vessel classification.
            CityBuilt:
              type: string
              description: City where vessel was constructed, as a human-readable description. E.g., 'Seattle' for most WSF vessels. Indicates vessel construction location and shipyard.
            SpeedInKnots:
              type:
                - integer
                - 'null'
              description: Vessel maximum operational speed, as knots. E.g., '17' for Olympic-class Chimacum, '16' for Issaquah-class Cathlamet, '14' for Kwa-di Tabil class Chetzemoka, null when speed is unavailable. Used for voyage time calculations and route planning.
            Draft:
              type: string
              description: Vessel draft depth, as feet and inches. E.g., '18'' for Olympic-class Chimacum, '16' 7"' for Issaquah-class vessels, '11'' for Kwa-di Tabil class. Measured from waterline to bottom of hull, used for harbor depth requirements and navigation planning.
            EngineCount:
              type:
                - integer
                - 'null'
              description: Total number of propulsion engines aboard vessel, as an integer. E.g., '2' for most WSF vessels, null when engine count is unavailable. Indicates vessel propulsion redundancy and power configuration.
            Horsepower:
              type:
                - integer
                - 'null'
              description: Total engine horsepower output, as horsepower. E.g., '6000' for Olympic-class and Kwa-di Tabil class vessels, '5100' for Issaquah-class vessels, null when horsepower is unavailable. Indicates vessel power and performance capability.
            Length:
              type: string
              description: Vessel overall length, as feet and inches. E.g., '362' 5"' for Olympic-class Chimacum, '328' 2"' for Issaquah-class vessels, '273' 10"' for Kwa-di Tabil class. Measured from bow to stern, used for terminal dock length requirements and vessel classification.
            MaxPassengerCount:
              type:
                - integer
                - 'null'
              description: Maximum passenger capacity, as an integer. E.g., '1500' for Olympic-class Chimacum, '1196' for Issaquah-class vessels, '748' for Kwa-di Tabil class, null when capacity is unavailable. Used for capacity planning and passenger load management.
            PassengerOnly:
              type: boolean
              description: Vehicle support indicator, as a boolean. E.g., false for vehicles and passengers like all WSF vessels, true for passenger-only vessels. Indicates whether vessel carries vehicles or only passengers.
            FastFerry:
              type: boolean
              description: Fast ferry classification indicator, as a boolean. E.g., false for standard ferries like Chimacum and Cathlamet, true for high-speed passenger ferries. Indicates vessel speed classification and service type.
            PropulsionInfo:
              type: string
              description: Engine propulsion type, as a human-readable description. E.g., 'DIESEL' for all WSF vessels. Indicates fuel type and propulsion technology used.
            TallDeckClearance:
              type:
                - integer
                - 'null'
              description: Tall deck vertical clearance height, as inches. E.g., '192' for Olympic-class Chimacum, '186' for Issaquah-class vessels, '173' for Kwa-di Tabil class, null when clearance is unavailable. Used to determine if tall vehicles can access tall deck spaces.
            RegDeckSpace:
              type:
                - integer
                - 'null'
              description: Maximum regular deck vehicle capacity including tall deck spaces, as an integer. E.g., '144' for Olympic-class Chimacum, '124' for Issaquah-class vessels, '64' for Kwa-di Tabil class, null when capacity is unavailable. Total vehicle capacity including standard and tall deck spaces.
            TallDeckSpace:
              type:
                - integer
                - 'null'
              description: Tall deck vehicle capacity, as an integer. E.g., '34' for Olympic-class Chimacum, '25' for Issaquah-class and Kwa-di Tabil class vessels, null when tall deck capacity is unavailable. Number of vehicle spaces on tall deck for vehicles exceeding standard clearance height.
            Tonnage:
              type:
                - integer
                - 'null'
              description: Vessel gross tonnage, as tons. E.g., '3525' for Olympic-class Chimacum, '2477' for Issaquah-class vessels, '4623' for Kwa-di Tabil class, null when tonnage is unavailable. Used for vessel classification and regulatory compliance.
            Displacement:
              type:
                - integer
                - 'null'
              description: Vessel displacement weight, as long tons. E.g., '5171' for Olympic-class Chimacum, '3310' for Issaquah-class vessels, '2090' for Kwa-di Tabil class, null when displacement is unavailable. Weight of water displaced by vessel, used for stability calculations.
            YearBuilt:
              type:
                - integer
                - 'null'
              description: Vessel construction year, as a year. E.g., '2017' for Olympic-class Chimacum, '1981' for Issaquah-class Cathlamet, '2010' for Kwa-di Tabil class Chetzemoka, null when build year is unavailable. Indicates vessel age and construction era.
            YearRebuilt:
              type:
                - integer
                - 'null'
              description: Vessel major rebuild year, as a year. E.g., '2005' for vessel Chelan, '1993' for vessel Cathlamet, null when vessel has not been rebuilt. Indicates significant renovation or modernization work completed.
            VesselDrawingImg:
              type:
                - string
                - 'null'
              description: URL to detailed vessel drawing image, as a URL string. E.g., null when vessel-specific drawing unavailable (use class DrawingImg instead). Used for displaying vessel schematics and technical diagrams.
            SolasCertified:
              type: boolean
              description: International travel certification indicator, as a boolean. E.g., true for SOLAS-certified vessels like Chelan, false for domestic-only vessels like Chimacum. Indicates vessel meets Safety of Life at Sea international standards.
            MaxPassengerCountForInternational:
              type:
                - integer
                - 'null'
              description: Maximum passenger capacity for international routes, as an integer. E.g., '1090' for SOLAS-certified vessel Chelan, null for domestic-only vessels. Used for international route capacity planning when vessel has different domestic and international capacity limits.
          required:
            - VesselID
            - VesselSubjectID
            - VesselName
            - VesselAbbrev
            - Class
            - VesselNameDesc
            - VesselHistory
            - Beam
            - CityBuilt
            - SpeedInKnots
            - Draft
            - EngineCount
            - Horsepower
            - Length
            - MaxPassengerCount
            - PassengerOnly
            - FastFerry
            - PropulsionInfo
            - TallDeckClearance
            - RegDeckSpace
            - TallDeckSpace
            - Tonnage
            - Displacement
            - YearBuilt
            - YearRebuilt
            - VesselDrawingImg
            - SolasCertified
            - MaxPassengerCountForInternational
          description: Represents vessel technical specifications including dimensions, capacity, speed, propulsion, and build details. E.g., vessel Chimacum built 2017 in Seattle, 362 feet 5 inches long, 1500 passenger capacity, 17 knots speed, 6000 horsepower. Used for vessel comparison, capacity planning, terminal compatibility assessment, and technical reference. Extends vesselBaseSchema with technical specification fields.
      description: Represents comprehensive vessel information combining identification, operational status, accommodations, accessibility features, and technical specifications in a single schema. E.g., vessel Tokitae (VesselID 68) in Olympic class with Status 1 (In Service), elevator and ADA accessible restrooms, 362 feet 5 inches long, 1500 passenger capacity, built 2014. Used when complete vessel information is needed in one response, reducing multiple API calls. Combines fields from vesselBasics, vesselAccommodations, and vesselStats schemas.
    VesselAccommodationsByVesselIdInputVesselIDParam:
      type: integer
      description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '1' for vessel Cathlamet. Required to retrieve accommodation details for a specific vessel.
    VesselBasicsByVesselIdInputVesselIDParam:
      type: integer
      description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '2' for vessel Chelan. Required to retrieve basic information for a specific vessel.
    VesselHistoriesByVesselNameAndDateRangeInputVesselNameParam:
      type: string
      description: Vessel name for history query, as a human-readable description. E.g., 'Tacoma' for vessel Tacoma, 'Chelan' for vessel Chelan. Required to filter history records for a specific vessel.
    VesselHistoriesByVesselNameAndDateRangeInputDateStartParam:
      type: string
      description: Start date for history query date range, as a date string. E.g., '2025-09-01' for September 1, 2025. Defines the beginning of the date range for retrieving historical vessel departure and arrival records.
    VesselHistoriesByVesselNameAndDateRangeInputDateEndParam:
      type: string
      description: End date for history query date range, as a date string. E.g., '2025-09-30' for September 30, 2025. Defines the end of the date range for retrieving historical vessel departure and arrival records.
    VesselLocationsByVesselIdInputVesselIDParam:
      type: integer
      description: Unique vessel identifier, as an integer ID. E.g., '2' for vessel Chelan, '38' for vessel Yakima. Required to retrieve real-time location data for a specific vessel.
    VesselStatsByVesselIdInputVesselIDParam:
      type: integer
      description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '1' for vessel Cathlamet. Required to retrieve technical specifications for a specific vessel.
    VesselsVerboseByVesselIdInputVesselIDParam:
      type: integer
      description: Unique vessel identifier, as an integer ID. E.g., '68' for vessel Tokitae, '74' for vessel Chimacum. Required to retrieve comprehensive information for a specific vessel.
  parameters:
    VesselAccommodationsByVesselIdInputVesselIDParam:
      schema:
        $ref: '#/components/schemas/VesselAccommodationsByVesselIdInputVesselIDParam'
      required: true
      description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '1' for vessel Cathlamet. Required to retrieve accommodation details for a specific vessel.
      name: VesselID
      in: path
    VesselBasicsByVesselIdInputVesselIDParam:
      schema:
        $ref: '#/components/schemas/VesselBasicsByVesselIdInputVesselIDParam'
      required: true
      description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '2' for vessel Chelan. Required to retrieve basic information for a specific vessel.
      name: VesselID
      in: path
    VesselHistoriesByVesselNameAndDateRangeInputVesselNameParam:
      schema:
        $ref: '#/components/schemas/VesselHistoriesByVesselNameAndDateRangeInputVesselNameParam'
      required: true
      description: Vessel name for history query, as a human-readable description. E.g., 'Tacoma' for vessel Tacoma, 'Chelan' for vessel Chelan. Required to filter history records for a specific vessel.
      name: VesselName
      in: path
    VesselHistoriesByVesselNameAndDateRangeInputDateStartParam:
      schema:
        $ref: '#/components/schemas/VesselHistoriesByVesselNameAndDateRangeInputDateStartParam'
      required: true
      description: Start date for history query date range, as a date string. E.g., '2025-09-01' for September 1, 2025. Defines the beginning of the date range for retrieving historical vessel departure and arrival records.
      name: DateStart
      in: path
    VesselHistoriesByVesselNameAndDateRangeInputDateEndParam:
      schema:
        $ref: '#/components/schemas/VesselHistoriesByVesselNameAndDateRangeInputDateEndParam'
      required: true
      description: End date for history query date range, as a date string. E.g., '2025-09-30' for September 30, 2025. Defines the end of the date range for retrieving historical vessel departure and arrival records.
      name: DateEnd
      in: path
    VesselLocationsByVesselIdInputVesselIDParam:
      schema:
        $ref: '#/components/schemas/VesselLocationsByVesselIdInputVesselIDParam'
      required: true
      description: Unique vessel identifier, as an integer ID. E.g., '2' for vessel Chelan, '38' for vessel Yakima. Required to retrieve real-time location data for a specific vessel.
      name: VesselID
      in: path
    VesselStatsByVesselIdInputVesselIDParam:
      schema:
        $ref: '#/components/schemas/VesselStatsByVesselIdInputVesselIDParam'
      required: true
      description: Unique vessel identifier, as an integer ID. E.g., '74' for vessel Chimacum, '1' for vessel Cathlamet. Required to retrieve technical specifications for a specific vessel.
      name: VesselID
      in: path
    VesselsVerboseByVesselIdInputVesselIDParam:
      schema:
        $ref: '#/components/schemas/VesselsVerboseByVesselIdInputVesselIDParam'
      required: true
      description: Unique vessel identifier, as an integer ID. E.g., '68' for vessel Tokitae, '74' for vessel Chimacum. Required to retrieve comprehensive information for a specific vessel.
      name: VesselID
      in: path
paths:
  /vesselAccommodations/{VesselID}:
    get:
      summary: Returns VesselAccommodation data for the vesselaccommodation with the given identifier.
      operationId: getVesselAccommodationsByVesselId
      tags:
        - vessel-accommodations
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getVesselAccommodationsByVesselId } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getVesselAccommodationsByVesselId,
              params: {
                "VesselID": 65
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/VesselAccommodationsByVesselIdInputVesselIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VesselAccommodationsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    VesselID: 65
                    VesselSubjectID: 428
                    VesselName: Chetzemoka
                    VesselAbbrev: CHZ
                    Class:
                      ClassID: 162
                      ClassSubjectID: 427
                      ClassName: Kwa-di Tabil
                      SortSeq: 75
                      DrawingImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/13-kwaditabil.gif
                      SilhouetteImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/13-kwaditabil-silouette_sml.gif
                      PublicDisplayName: Kwa-di Tabil
                    CarDeckRestroom: false
                    CarDeckShelter: false
                    Elevator: true
                    ADAAccessible: true
                    MainCabinGalley: true
                    MainCabinRestroom: true
                    PublicWifi: false
                    ADAInfo: "The M/V Chetzemoka has elevator access from the auto deck to all passenger deck levels. In the event of an elevator closure, a crew member can assist passengers with mobility disabilities to the passenger deck by way of a small freight elevator, though it is not ADA accessible. When you arrive at the terminal, notify the ticket seller if you need to park near the elevator. The main passenger deck has accessible restrooms, vending machines and a galley.\r\n"
                    AdditionalInfo: null
  /cacheflushdate:
    get:
      summary: Returns the date and time when the WSF vessel data was last updated. This operation helps applications coordinate caching of vessel data that changes infrequently. When the returned date changes, applications should refresh their cached data.
      operationId: getCacheFlushDate
      tags:
        - cache-flush-date
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getCacheFlushDate } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getCacheFlushDate,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheFlushDateOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value: 2025-11-05T12:19:57.087Z
  /vesselVerbose:
    get:
      summary: Returns multiple VesselVerbose objects for all vessels in fleet.
      operationId: getVesselsVerbose
      tags:
        - vessel-verbose
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getVesselsVerbose } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getVesselsVerbose,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VesselsVerboseOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 21 total)
                  value:
                    - VesselID: 1
                      VesselSubjectID: 1
                      VesselName: Cathlamet
                      VesselAbbrev: CAT
                      Class:
                        ClassID: 10
                        ClassSubjectID: 310
                        ClassName: Issaquah 130
                        SortSeq: 40
                        DrawingImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif
                        SilhouetteImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif
                        PublicDisplayName: Issaquah
                      Status: 1
                      OwnedByWSF: true
                      CarDeckRestroom: true
                      CarDeckShelter: false
                      Elevator: true
                      ADAAccessible: true
                      MainCabinGalley: true
                      MainCabinRestroom: true
                      PublicWifi: false
                      ADAInfo: The M/V Cathlamet has elevator access from the car deck to the passenger deck. The vessel has accessible restrooms located on both the main passenger deck and the car deck. Notify a ticket seller if you are traveling by car and need to park near an elevator or car deck restroom. The main passenger deck also has vending and newspaper machines and a galley. This vessel is equipped with our visual paging system.
                      AdditionalInfo: ' '
                      VesselNameDesc: "From the Kathlamet tribe, the Chinook word calamet  meaning \"stone,\" was given to the tribe because its members lived along a rocky stretch of the Columbia River. A city also bears its name. \r\n\r\n"
                      VesselHistory: ' '
                      Beam: 78' 8"
                      CityBuilt: Seattle
                      SpeedInKnots: 16
                      Draft: 16' 7"
                      EngineCount: 2
                      Horsepower: 5100
                      Length: 328' 2"
                      MaxPassengerCount: 1196
                      PassengerOnly: false
                      FastFerry: false
                      PropulsionInfo: DIESEL
                      TallDeckClearance: 186
                      RegDeckSpace: 124
                      TallDeckSpace: 25
                      Tonnage: 2477
                      Displacement: 3310
                      YearBuilt: 1981
                      YearRebuilt: 1993
                      VesselDrawingImg: null
                      SolasCertified: false
                      MaxPassengerCountForInternational: null
                    - _note: ... 20 more items
  /vesselLocations:
    get:
      summary: Returns multiple VesselLocation objects for all vessels in the fleet.
      operationId: getVesselLocations
      tags:
        - vessel-locations
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getVesselLocations } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getVesselLocations,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VesselLocationsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 21 total)
                  value:
                    - VesselID: 2
                      VesselName: Chelan
                      Mmsi: 366709770
                      DepartingTerminalID: 1
                      DepartingTerminalName: Anacortes
                      DepartingTerminalAbbrev: ANA
                      ArrivingTerminalID: 15
                      ArrivingTerminalName: Orcas Island
                      ArrivingTerminalAbbrev: ORI
                      Latitude: 48.588405
                      Longitude: -122.815042
                      Speed: 17.8
                      Heading: 239
                      InService: true
                      AtDock: false
                      LeftDock: 2025-11-05T23:23:46.000Z
                      Eta: 2025-11-06T00:25:00.000Z
                      EtaBasis: Vessel Chelan departed Anacortes going to Orcas and using vessel Chelan closest location data from Nov  5 2025  6:08AM
                      ScheduledDeparture: 2025-11-05T23:20:00.000Z
                      OpRouteAbbrev:
                        - ana-sj
                      VesselPositionNum: 1
                      SortSeq: 20
                      ManagedBy: 1
                      TimeStamp: 2025-11-06T00:09:42.000Z
                      VesselWatchShutID: 2
                      VesselWatchShutMsg: Vessel information unavailable
                      VesselWatchShutFlag: '0'
                      VesselWatchStatus: '0'
                      VesselWatchMsg: 'WSF''s VesselWatch page is currently not responding and is out of service. Thank you for your patience while we work to restore this page. '
                    - _note: ... 20 more items
  /vesselStats:
    get:
      summary: Returns multiple VesselStat objects for all vessels in the fleet.
      operationId: getVesselStats
      tags:
        - vessel-stats
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getVesselStats } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getVesselStats,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VesselStatsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 21 total)
                  value:
                    - VesselID: 1
                      VesselSubjectID: 1
                      VesselName: Cathlamet
                      VesselAbbrev: CAT
                      Class:
                        ClassID: 10
                        ClassSubjectID: 310
                        ClassName: Issaquah 130
                        SortSeq: 40
                        DrawingImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif
                        SilhouetteImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif
                        PublicDisplayName: Issaquah
                      VesselNameDesc: "From the Kathlamet tribe, the Chinook word calamet  meaning \"stone,\" was given to the tribe because its members lived along a rocky stretch of the Columbia River. A city also bears its name. \r\n\r\n"
                      VesselHistory: ' '
                      Beam: 78' 8"
                      CityBuilt: Seattle
                      SpeedInKnots: 16
                      Draft: 16' 7"
                      EngineCount: 2
                      Horsepower: 5100
                      Length: 328' 2"
                      MaxPassengerCount: 1196
                      PassengerOnly: false
                      FastFerry: false
                      PropulsionInfo: DIESEL
                      TallDeckClearance: 186
                      RegDeckSpace: 124
                      TallDeckSpace: 25
                      Tonnage: 2477
                      Displacement: 3310
                      YearBuilt: 1981
                      YearRebuilt: 1993
                      VesselDrawingImg: null
                      SolasCertified: false
                      MaxPassengerCountForInternational: null
                    - _note: ... 20 more items
  /vesselStats/{VesselID}:
    get:
      summary: Returns a VesselStat object containing detailed technical specifications and performance characteristics for the specified vessel.
      operationId: getVesselStatsByVesselId
      tags:
        - vessel-stats
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getVesselStatsByVesselId } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getVesselStatsByVesselId,
              params: {
                "VesselID": 32
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/VesselStatsByVesselIdInputVesselIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VesselStatsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    VesselID: 32
                    VesselSubjectID: 32
                    VesselName: Tacoma
                    VesselAbbrev: TAC
                    Class:
                      ClassID: 90
                      ClassSubjectID: 318
                      ClassName: Jumbo Mark II
                      SortSeq: 10
                      DrawingImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/0-mark2.gif
                      SilhouetteImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/0-mark2-sillouette_sml.gif
                      PublicDisplayName: Jumbo Mark II
                    VesselNameDesc: "From the Lushootseed word Tah-ho-mah (now Mt. Rainier), meaning \"snowy mountain.\" Tacoma  was first attributed to the mountain in an 1860s book, \"The Canoe and the Saddle\"  by Theodore Winthrop, a popular volume on the early Pacific Northwest. The city picked the name over Commencement City  when the railroad made its terminius there in the 1870s. \r\n"
                    VesselHistory: "Todd Shipyard Delivery Date: 15 August 1997\r\nKeel Laid Date: 16 October 1995"
                    Beam: 90'
                    CityBuilt: Seattle
                    SpeedInKnots: 18
                    Draft: 18' 6"
                    EngineCount: 4
                    Horsepower: 16000
                    Length: 460' 2"
                    MaxPassengerCount: 1791
                    PassengerOnly: false
                    FastFerry: false
                    PropulsionInfo: DIESEL-ELECTRIC (AC)
                    TallDeckClearance: 186
                    RegDeckSpace: 202
                    TallDeckSpace: 68
                    Tonnage: 4938
                    Displacement: 6184
                    YearBuilt: 1997
                    YearRebuilt: null
                    VesselDrawingImg: null
                    SolasCertified: false
                    MaxPassengerCountForInternational: null
  /vesselLocations/{VesselID}:
    get:
      summary: Returns a VesselLocation object containing real-time position and status information for the specified vessel.
      operationId: getVesselLocationsByVesselId
      tags:
        - vessel-locations
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getVesselLocationsByVesselId } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getVesselLocationsByVesselId,
              params: {
                "VesselID": 18
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/VesselLocationsByVesselIdInputVesselIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VesselLocationsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    VesselID: 18
                    VesselName: Kitsap
                    Mmsi: 366772980
                    DepartingTerminalID: 138
                    DepartingTerminalName: Everett Harbor
                    DepartingTerminalAbbrev: EVH
                    ArrivingTerminalID: null
                    ArrivingTerminalName: null
                    ArrivingTerminalAbbrev: null
                    Latitude: 47.981485
                    Longitude: -122.222075
                    Speed: 0
                    Heading: 285
                    InService: false
                    AtDock: true
                    LeftDock: null
                    Eta: null
                    EtaBasis: null
                    ScheduledDeparture: null
                    OpRouteAbbrev: []
                    VesselPositionNum: null
                    SortSeq: 9999
                    ManagedBy: 1
                    TimeStamp: 2025-10-22T16:15:39.000Z
                    VesselWatchShutID: 6
                    VesselWatchShutMsg: Vessel temporarily out of service
                    VesselWatchShutFlag: '0'
                    VesselWatchStatus: '0'
                    VesselWatchMsg: 'WSF''s VesselWatch page is currently not responding and is out of service. Thank you for your patience while we work to restore this page. '
  /vesselBasics:
    get:
      summary: Returns multiple VesselBasic objects for all vessels in the fleet.
      operationId: getVesselBasics
      tags:
        - vessel-basics
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getVesselBasics } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getVesselBasics,
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VesselBasicsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 21 total)
                  value:
                    - VesselID: 1
                      VesselSubjectID: 1
                      VesselName: Cathlamet
                      VesselAbbrev: CAT
                      Class:
                        ClassID: 10
                        ClassSubjectID: 310
                        ClassName: Issaquah 130
                        SortSeq: 40
                        DrawingImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130.gif
                        SilhouetteImg: https://www.wsdot.wa.gov/ferries/images/pages/boat_drawings/4-issaquah130-sillouette_sml.gif
                        PublicDisplayName: Issaquah
                      Status: 1
                      OwnedByWSF: true
                    - _note: ... 20 more items
  /vesselVerbose/{VesselID}:
    get:
      summary: Returns a single VesselVerbose object for the specified vessel identifier.
      operationId: getVesselsVerboseByVesselId
      tags:
        - vessel-verbose
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchDottie, getVesselsVerboseByVesselId } from 'ws-dottie';

            const data = await fetchDottie({
              endpoint: getVesselsVerboseByVesselId,
              params: {
                "VesselID": 68
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/VesselsVerboseByVesselIdInputVesselIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VesselsVerboseOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    VesselID: 68
                    VesselSubjectID: 462
[...]
