openapi: 3.0.0
info:
  title: Wsf Schedule API
  version: 1.0.0
  description: Wsf Schedule API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/ferries/api/schedule/rest
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type: string
          nullable: true
          description: Human-readable description of the roadway location, such as interchange names or cross streets.
        Direction:
          type: string
          nullable: true
          description: 'Traffic direction designation: N, S, B, NB, or SB, indicating which side of the highway is affected.'
        Latitude:
          type: number
          description: Latitude of the roadway location in decimal degrees.
        Longitude:
          type: number
          description: Longitude of the roadway location in decimal degrees.
        MilePost:
          type: number
          description: Milepost marker along the highway corridor, with 0 indicating route terminus.
        RoadName:
          type: string
          nullable: true
          description: Highway or route designation code, such as '005' for I-5 or '090' for I-90.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
      description: Roadway location information including route, milepost, coordinates, and direction.
    FetchActiveSeasonsOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Numeric ID of the schedule season.
        ScheduleName:
          type: string
          description: Display name of the schedule season.
        ScheduleSeason:
          anyOf:
            - type: number
              enum:
                - 0
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
            - type: number
              enum:
                - 3
          description: 'Code indicating season: 0 = Spring, 1 = Summer, 2 = Fall, 3 = Winter.'
        SchedulePDFUrl:
          type: string
          description: URL to printable schedule PDF document.
        ScheduleStart:
          type: string
          format: date
          description: UTC datetime when the schedule season becomes effective (typically 3:00 AM).
        ScheduleEnd:
          type: string
          format: date
          description: UTC datetime when the schedule season stops being effective (typically 2:59 AM next day).
      required:
        - ScheduleID
        - ScheduleName
        - ScheduleSeason
        - SchedulePDFUrl
        - ScheduleStart
        - ScheduleEnd
      description: Schedule season information including identifier, name, season code, PDF URL, and effective date range.
    FetchSailingsByRouteIDOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Numeric ID of the schedule season this sailing belongs to.
        SchedRouteID:
          type: number
          description: Numeric ID of the scheduled route this sailing belongs to.
        RouteID:
          type: number
          description: Numeric ID of the underlying route for sailing.
        SailingID:
          type: number
          description: Numeric ID of the sailing.
        SailingDescription:
          type: string
          nullable: true
          description: Human-readable title describing sailing, or null if unavailable.
        SailingNotes:
          type: string
          nullable: true
          description: Informational text associated with sailing, or null if unavailable.
        DisplayColNum:
          type: number
          description: Suggested number of columns for rendering departures on desktop webpage.
        SailingDir:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Code indicating direction: 1 = Westbound, 2 = Eastbound.'
        DayOpDescription:
          type: string
          nullable: true
          description: Days of operation grouping for sailing, or null if unavailable.
        DayOpUseForHoliday:
          type: boolean
          description: True if sailing should apply for holidays; otherwise false.
        ActiveDateRanges:
          type: array
          nullable: true
          items:
            type: object
            properties:
              DateFrom:
                type: string
                format: date
                description: UTC datetime when the sailing date range becomes active (typically 3:00 AM).
              DateThru:
                type: string
                format: date
                description: UTC datetime when the sailing date range stops being active (typically 2:59 AM next day).
              EventID:
                type: number
                nullable: true
                description: Numeric ID of the event associated with sailing date range, or null if none.
              EventDescription:
                type: string
                nullable: true
                description: Human-readable explanation of sailing date range, or null if unavailable.
            required:
              - DateFrom
              - DateThru
              - EventID
              - EventDescription
            description: Active date range for sailing including start/end dates, event ID, and description.
          description: Array of date ranges detailing when sailing is active, or null if unavailable.
        Journs:
          type: array
          nullable: true
          items:
            type: object
            properties:
              JourneyID:
                type: number
                description: Numeric ID of the journey.
              ReservationInd:
                type: boolean
                description: True if journey contains reservable departures; otherwise false.
              InternationalInd:
                type: boolean
                description: True if journey travels outside United States; otherwise false.
              InterislandInd:
                type: boolean
                description: True if journey operates primarily between islands; otherwise false.
              VesselID:
                type: number
                description: Numeric ID of the vessel planned to service journey.
              VesselName:
                type: string
                nullable: true
                description: Display name of the vessel, or null if unavailable.
              VesselHandicapAccessible:
                type: boolean
                description: True if vessel is ADA accessible; otherwise false.
              VesselPositionNum:
                type: number
                description: Position number representing vessel servicing all stops in journey.
              TerminalTimes:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    JourneyTerminalID:
                      type: number
                      description: Numeric ID of the terminal time within journey.
                    TerminalID:
                      type: number
                      description: Numeric ID of the terminal.
                    TerminalDescription:
                      type: string
                      nullable: true
                      description: Display name of the terminal, or null if unavailable.
                    TerminalBriefDescription:
                      type: string
                      nullable: true
                      description: Brief name for terminal, or null if unavailable.
                    Time:
                      type: string
                      nullable: true
                      format: date
                      description: 'Departure or arrival time at terminal in UTC. Note: Date portion (1900-01-01) is placeholder, use time portion only. Null if journey does not stop at terminal.'
                    DepArrIndicator:
                      anyOf:
                        - type: number
                          enum:
                            - 1
                        - type: number
                          enum:
                            - 2
                        - nullable: true
                      description: 'Code indicating stop type: 1 = Departure, 2 = Arrival. Null if journey does not stop at terminal.'
                    IsNA:
                      type: boolean
                      description: True if journey does not interact with this terminal (skips it); otherwise false.
                    Annotations:
                      type: array
                      nullable: true
                      items:
                        type: object
                        properties:
                          AnnotationID:
                            type: number
                            description: Numeric ID of the annotation.
                          AnnotationText:
                            type: string
                            nullable: true
                            description: Human-readable annotation content, or null if unavailable.
                          AnnotationIVRText:
                            type: string
                            nullable: true
                            description: Annotation text formatted for Interactive Voice Response systems, or null if unavailable.
                          AdjustedCrossingTime:
                            type: number
                            nullable: true
                            description: Adjusted crossing time override in minutes, or null if no override.
                          AnnotationImg:
                            type: string
                            nullable: true
                            description: URL to image representing annotation, or null if unavailable.
                          TypeDescription:
                            type: string
                            nullable: true
                            description: Logical grouping category for annotation, or null if unavailable.
                          SortSeq:
                            type: number
                            description: Display sort order; lower values appear first.
                        required:
                          - AnnotationID
                          - AnnotationText
                          - AnnotationIVRText
                          - AdjustedCrossingTime
                          - AnnotationImg
                          - TypeDescription
                          - SortSeq
                        description: Annotation information including ID, text, IVR text, crossing time override, image URL, type, and sort order.
                      description: Array of informational annotations associated with terminal time, or null if none.
                  required:
                    - JourneyTerminalID
                    - TerminalID
                    - TerminalDescription
                    - TerminalBriefDescription
                    - Time
                    - DepArrIndicator
                    - IsNA
                    - Annotations
                  description: Terminal time information within journey including terminal identification, time, indicator, skip flag, and annotations.
                description: Array of terminal departures and arrivals made by same vessel, or null if unavailable.
            required:
              - JourneyID
              - ReservationInd
              - InternationalInd
              - InterislandInd
              - VesselID
              - VesselName
              - VesselHandicapAccessible
              - VesselPositionNum
              - TerminalTimes
            description: Journey information including ID, indicators, vessel details, and terminal times.
          description: Array of journeys representing vessel stops at terminals, or null if unavailable.
      required:
        - ScheduleID
        - SchedRouteID
        - RouteID
        - SailingID
        - SailingDescription
        - SailingNotes
        - DisplayColNum
        - SailingDir
        - DayOpDescription
        - DayOpUseForHoliday
        - ActiveDateRanges
        - Journs
      description: Sailing information including IDs, description, direction, days of operation, holiday flag, active date ranges, and journeys.
    FetchCacheFlushDateScheduleOutput:
      type: string
      format: date
      description: UTC datetime when static endpoint data was last updated, or undefined if no update has occurred.
    FetchRouteDetailsByTripDateOutput:
      type: object
      properties:
        RouteID:
          type: number
          description: Numeric ID of the route.
        RouteAbbrev:
          type: string
          nullable: true
          description: Route abbreviation code for compact identification.
        Description:
          type: string
          nullable: true
          description: Display name of the route.
        RegionID:
          type: number
          description: Numeric ID of the WSF region associated with route.
        VesselWatchID:
          type: number
          description: Numeric ID used to group routes for VesselWatch system.
        ReservationFlag:
          type: boolean
          description: True if route supports advance vehicle reservations; otherwise false.
        InternationalFlag:
          type: boolean
          description: True if route operates outside United States; otherwise false.
        PassengerOnlyFlag:
          type: boolean
          description: True if route services only passengers without vehicles; otherwise false.
        CrossingTime:
          type: string
          nullable: true
          description: Estimated crossing time in minutes as string, or null if unavailable.
          format: date-time
        AdaNotes:
          type: string
          nullable: true
          description: ADA accessibility information in HTML format, or null if unavailable.
        GeneralRouteNotes:
          type: string
          nullable: true
          description: Miscellaneous route information in HTML format, or null if unavailable.
        SeasonalRouteNotes:
          type: string
          nullable: true
          description: Route notes specific to schedule season in HTML format, or null if unavailable.
        Alerts:
          type: array
          items:
            type: object
            properties:
              BulletinID:
                type: number
                description: Numeric ID of the alert bulletin.
              BulletinFlag:
                type: boolean
                description: True if alert is also used as bulletin; otherwise false.
              CommunicationFlag:
                type: boolean
                description: True if alert is also used as communications announcement; otherwise false.
              PublishDate:
                type: string
                nullable: true
                format: date
                description: UTC datetime when the alert was published.
              AlertDescription:
                type: string
                nullable: true
                description: Brief route announcement text, or null if unavailable.
              DisruptionDescription:
                type: string
                nullable: true
                description: Service disruption text associated with alert, or null if not disruption-specific.
              AlertFullTitle:
                type: string
                description: Full title of the alert.
              AlertFullText:
                type: string
                nullable: true
                description: Full HTML-formatted alert text, or null if unavailable.
              IVRText:
                type: string
                nullable: true
                description: Alert text formatted for Interactive Voice Response systems, or null if unavailable.
            required:
              - BulletinID
              - BulletinFlag
              - CommunicationFlag
              - PublishDate
              - AlertDescription
              - DisruptionDescription
              - AlertFullTitle
              - AlertFullText
              - IVRText
            description: Alert information including bulletin ID, flags, publish date, descriptions, and IVR text.
          description: Array of alerts associated with route.
      required:
        - RouteID
        - RouteAbbrev
        - Description
        - RegionID
        - VesselWatchID
        - ReservationFlag
        - InternationalFlag
        - PassengerOnlyFlag
        - CrossingTime
        - AdaNotes
        - GeneralRouteNotes
        - SeasonalRouteNotes
        - Alerts
      description: Detailed route information including identification, flags, crossing time, notes, and alerts.
    FetchRoutesByTripDateOutput:
      type: object
      properties:
        RouteID:
          type: number
          description: Numeric ID of the route.
        RouteAbbrev:
          type: string
          nullable: true
          description: Route abbreviation code for compact identification.
        Description:
          type: string
          nullable: true
          description: Display name of the route.
        RegionID:
          type: number
          description: Numeric ID of the WSF region associated with route.
        ServiceDisruptions:
          type: array
          nullable: true
          items:
            type: object
            properties:
              BulletinID:
                type: number
                description: Numeric ID of the service disruption bulletin.
              BulletinFlag:
                type: boolean
                description: True if alert is also used as bulletin; otherwise false.
              PublishDate:
                type: string
                nullable: true
                format: date
                description: UTC datetime when the disruption alert was published.
              DisruptionDescription:
                type: string
                description: Text description of the service disruption.
            required:
              - BulletinID
              - BulletinFlag
              - PublishDate
              - DisruptionDescription
            description: Service disruption information including bulletin ID, flag, publish date, and description.
          description: Array of service disruption alerts currently affecting route, or null if unavailable.
      required:
        - RouteID
        - RouteAbbrev
        - Description
        - RegionID
        - ServiceDisruptions
      description: Basic route information including identification, abbreviation, description, region, and service disruptions.
    FetchRoutesHavingServiceDisruptionsByTripDateOutput:
      type: object
      properties:
        BulletinID:
          type: number
          description: Numeric ID of the service disruption bulletin.
        BulletinFlag:
          type: boolean
          description: True if alert is also used as bulletin; otherwise false.
        PublishDate:
          type: string
          nullable: true
          format: date
          description: UTC datetime when the disruption alert was published.
        DisruptionDescription:
          type: string
          description: Text description of the service disruption.
      required:
        - BulletinID
        - BulletinFlag
        - PublishDate
        - DisruptionDescription
      description: Service disruption information including bulletin ID, flag, publish date, and description.
    FetchScheduleAlertsOutput:
      type: object
      properties:
        BulletinID:
          type: number
          description: Numeric ID of the alert bulletin.
        BulletinFlag:
          type: boolean
          description: True if alert includes bulletin-formatted text; otherwise false.
        BulletinText:
          type: string
          nullable: true
          description: HTML-formatted alert text for bulletin display.
        CommunicationFlag:
          type: boolean
          description: True if alert includes communications announcement text; otherwise false.
        CommunicationText:
          type: string
          nullable: true
          description: Alert text formatted for internal communications.
        RouteAlertFlag:
          type: boolean
          description: True if alert includes route announcement text; otherwise false.
        RouteAlertText:
          type: string
          nullable: true
          description: Compact route-specific alert text for route displays.
        HomepageAlertText:
          type: string
          nullable: true
          description: HTML-formatted alert text for homepage display.
        PublishDate:
          type: string
          nullable: true
          format: date
          description: UTC datetime when the alert was published.
        DisruptionDescription:
          type: string
          nullable: true
          description: Service disruption description associated with alert.
        AllRoutesFlag:
          type: boolean
          description: True if alert affects all routes system-wide; otherwise false.
        SortSeq:
          type: number
          description: Display sort order; lower values appear first in lists.
        AlertTypeID:
          type: number
          description: Numeric ID of the alert type category.
        AlertType:
          type: string
          description: Display name of the alert type category.
        AlertFullTitle:
          type: string
          description: Full title of the alert for display.
        AffectedRouteIDs:
          type: array
          items:
            type: number
          description: Array of route IDs affected by this alert; empty if all routes.
        IVRText:
          type: string
          nullable: true
          description: Alert text formatted for Interactive Voice Response systems.
      required:
        - BulletinID
        - BulletinFlag
        - BulletinText
        - CommunicationFlag
        - CommunicationText
        - RouteAlertFlag
        - RouteAlertText
        - HomepageAlertText
        - PublishDate
        - DisruptionDescription
        - AllRoutesFlag
        - SortSeq
        - AlertTypeID
        - AlertType
        - AlertFullTitle
        - AffectedRouteIDs
        - IVRText
      description: Detailed alert information with multiple text formats, publish date, alert type, and affected routes.
    FetchScheduleByTripDateAndRouteIdOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Numeric ID of the schedule season.
        ScheduleName:
          type: string
          description: Display name of the schedule season.
        ScheduleSeason:
          anyOf:
            - type: number
              enum:
                - 0
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
            - type: number
              enum:
                - 3
          description: 'Code indicating season: 0 = Spring, 1 = Summer, 2 = Fall, 3 = Winter.'
        SchedulePDFUrl:
          type: string
          description: URL to the schedule PDF document.
        ScheduleStart:
          type: string
          format: date
          description: UTC datetime when the schedule season becomes effective.
        ScheduleEnd:
          type: string
          format: date
          description: UTC datetime when the schedule season stops being effective.
        AllRoutes:
          type: array
          items:
            type: number
          description: Array of route IDs included in this schedule.
        TerminalCombos:
          type: array
          items:
            type: object
            properties:
              DepartingTerminalID:
                type: number
                description: Numeric ID of the departing terminal.
              DepartingTerminalName:
                type: string
                description: Display name of the departing terminal.
                format: date-time
              ArrivingTerminalID:
                type: number
                description: Numeric ID of the arriving terminal.
              ArrivingTerminalName:
                type: string
                description: Display name of the arriving terminal.
              SailingNotes:
                type: string
                description: Informational text for this terminal combination.
              Annotations:
                type: array
                items:
                  type: string
                description: Array of annotation strings assigned to departures in Times list.
              Times:
                type: array
                items:
                  type: object
                  properties:
                    DepartingTime:
                      type: string
                      format: date
                      description: UTC datetime of the departure.
                    ArrivingTime:
                      type: string
                      nullable: true
                      format: date
                      description: UTC datetime of the arrival.
                    LoadingRule:
                      anyOf:
                        - type: number
                          enum:
                            - 1
                        - type: number
                          enum:
                            - 2
                        - type: number
                          enum:
                            - 3
                      description: 'Code indicating traveler types: 1 = Passenger, 2 = Vehicle, 3 = Both.'
                    VesselID:
                      type: number
                      description: Numeric ID of the vessel planned for this departure.
                    VesselName:
                      type: string
                      description: Display name of the vessel planned for this departure.
                    VesselHandicapAccessible:
                      type: boolean
                      description: True if vessel is ADA accessible; otherwise false.
                    VesselPositionNum:
                      type: number
                      description: Position number of the vessel servicing all stops in journey.
                    Routes:
                      type: array
                      items:
                        type: number
                      description: Array of route IDs serviced by this departure.
                    AnnotationIndexes:
                      type: array
                      items:
                        type: number
                      description: Array of indexes into Annotations array that apply to this departure.
                  required:
                    - DepartingTime
                    - ArrivingTime
                    - LoadingRule
                    - VesselID
                    - VesselName
                    - VesselHandicapAccessible
                    - VesselPositionNum
                    - Routes
                    - AnnotationIndexes
                  description: Scheduled departure detail with times, vessel, and loading rules.
                description: Array of scheduled departure details for this terminal combination.
              AnnotationsIVR:
                type: array
                items:
                  type: string
                description: Array of annotation strings formatted for Interactive Voice Response systems.
            required:
              - DepartingTerminalID
              - DepartingTerminalName
              - ArrivingTerminalID
              - ArrivingTerminalName
              - SailingNotes
              - Annotations
              - Times
              - AnnotationsIVR
            description: Terminal combination schedule with terminal IDs and names, sailing notes, annotations, and departure times.
          description: Array of terminal combination schedules with departure times.
      required:
        - ScheduleID
        - ScheduleName
        - ScheduleSeason
        - SchedulePDFUrl
        - ScheduleStart
        - ScheduleEnd
        - AllRoutes
        - TerminalCombos
      description: Complete schedule information including season details, routes, and terminal combination schedules with departure times.
    FetchScheduledRoutesOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Numeric ID of the schedule season.
        SchedRouteID:
          type: number
          description: Numeric ID of the scheduled route.
        ContingencyOnly:
          type: boolean
          description: True if this is a contingency-only route active only during periods in ContingencyAdj; otherwise false. For contingency routes, ContingencyAdj defines active periods. For regular routes, ContingencyAdj may define cancellation periods.
        RouteID:
          type: number
          description: Numeric ID of the underlying route.
        RouteAbbrev:
          type: string
          description: Abbreviation code for the route.
        Description:
          type: string
          description: Display name of the scheduled route.
        SeasonalRouteNotes:
          type: string
          nullable: true
          description: HTML-formatted seasonal notes and special conditions.
        RegionID:
          type: number
          description: Numeric ID of the WSF region for this route.
        ServiceDisruptions:
          type: array
          items:
            type: object
            properties:
              BulletinID:
                type: number
                description: Numeric ID of the service disruption bulletin.
              BulletinFlag:
                type: boolean
                description: True if alert is also used as bulletin; otherwise false.
              PublishDate:
                type: string
                nullable: true
                format: date
                description: UTC datetime when the disruption alert was published.
              DisruptionDescription:
                type: string
                description: Text description of the service disruption.
            required:
              - BulletinID
              - BulletinFlag
              - PublishDate
              - DisruptionDescription
            description: Service disruption information affecting this scheduled route.
          description: Array of service disruption alerts currently affecting this route.
        ContingencyAdj:
          type: array
          items:
            type: object
            properties:
              DateFrom:
                type: string
                format: date
                description: UTC datetime when the contingency adjustment period starts.
              DateThru:
                type: string
                format: date
                description: UTC datetime when the contingency adjustment period ends.
              EventID:
                type: number
                nullable: true
                description: Numeric ID of the event prompting this adjustment.
              EventDescription:
                type: string
                nullable: true
                description: Description of the event that prompted this adjustment.
              AdjType:
                anyOf:
                  - type: number
                    enum:
                      - 1
                  - type: number
                    enum:
                      - 2
                description: 'Code indicating adjustment type: 1 = Addition, 2 = Cancellation.'
              ReplacedBySchedRouteID:
                type: number
                nullable: true
                description: Numeric ID of the scheduled route replacing a cancelled route.
            required:
              - DateFrom
              - DateThru
              - EventID
              - EventDescription
              - AdjType
              - ReplacedBySchedRouteID
            description: Contingency adjustment defining service periods for contingency routes or cancellation periods for regular routes.
          description: Array of contingency adjustments. For contingency routes, defines active periods. For regular routes, may define cancellation periods.
      required:
        - ScheduleID
        - SchedRouteID
        - ContingencyOnly
        - RouteID
        - RouteAbbrev
        - Description
        - SeasonalRouteNotes
        - RegionID
        - ServiceDisruptions
        - ContingencyAdj
      description: Scheduled route information including schedule and route IDs, contingency flag, route details, seasonal notes, region, service disruptions, and contingency adjustments.
    FetchScheduleValidDateRangeOutput:
      type: object
      properties:
        DateFrom:
          type: string
          format: date
          description: UTC datetime when data becomes available (earliest valid trip date).
        DateThru:
          type: string
          format: date
          description: UTC datetime when data stops being available (latest valid trip date).
      required:
        - DateFrom
        - DateThru
      description: Date range for which fares data is currently published and available.
    FetchTerminalMatesScheduleOutput:
      type: object
      properties:
        TerminalID:
          type: number
          description: Numeric ID of the terminal.
        Description:
          type: string
          description: Display name of the terminal.
      required:
        - TerminalID
        - Description
      description: Terminal information with identifier and display name.
    FetchTerminalsAndMatesOutput:
      type: object
      properties:
        DepartingTerminalID:
          type: number
          description: Numeric ID of the departing terminal.
        DepartingDescription:
          type: string
          description: Display name of the departing terminal.
          format: date-time
        ArrivingTerminalID:
          type: number
          description: Numeric ID of the arriving terminal.
        ArrivingDescription:
          type: string
          description: Display name of the arriving terminal.
      required:
        - DepartingTerminalID
        - DepartingDescription
        - ArrivingTerminalID
        - ArrivingDescription
      description: Terminal pair representing a valid departure and arrival terminal combination for schedule queries.
    FetchTimeAdjustmentsOutput:
      type: object
      properties:
        ScheduleID:
          type: number
          description: Numeric ID of the schedule season.
        SchedRouteID:
          type: number
          description: Numeric ID of the scheduled route.
        RouteID:
          type: number
          description: Numeric ID of the underlying route.
        RouteDescription:
          type: string
          nullable: true
          description: Display name of the route.
        RouteSortSeq:
          type: number
          description: Display sort order; lower values appear first.
        SailingID:
          type: number
          description: Numeric ID of the sailing.
        SailingDescription:
          type: string
          nullable: true
          description: Display name of the sailing.
        ActiveSailingDateRange:
          type: object
          nullable: true
          properties:
            DateFrom:
              type: string
              format: date
              description: UTC datetime when the sailing date range begins.
            DateThru:
              type: string
              format: date
              description: UTC datetime when the sailing date range ends.
            EventID:
              type: number
              nullable: true
              description: Numeric ID of the event associated with the date range.
            EventDescription:
              type: string
              nullable: true
              description: Description of the event associated with the date range.
          required:
            - DateFrom
            - DateThru
            - EventID
            - EventDescription
          description: Active date range for the sailing.
        SailingDir:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Sailing direction code: 1 = Westbound, 2 = Eastbound.'
        JourneyID:
          type: number
          description: Numeric ID of the journey.
        VesselID:
          type: number
          description: Numeric ID of the vessel.
        VesselName:
          type: string
          nullable: true
          description: Display name of the vessel.
        VesselHandicapAccessible:
          type: boolean
          description: True if the vessel is ADA accessible; otherwise false.
        VesselPositionNum:
          type: number
          description: Position number for vessel scheduling.
        JourneyTerminalID:
          type: number
          description: Numeric ID of the terminal time within the journey.
        TerminalID:
          type: number
          description: Numeric ID of the terminal.
        TerminalDescription:
          type: string
          description: Display name of the terminal.
        TerminalBriefDescription:
          type: string
          description: Abbreviated name of the terminal.
        TimeToAdj:
          type: string
          format: date
          description: 'UTC datetime of the departure or arrival time being adjusted. Note: date portion is placeholder; use time portion.'
        AdjDateFrom:
          type: string
          format: date
          description: UTC datetime when the adjustment period begins.
        AdjDateThru:
          type: string
          format: date
          description: UTC datetime when the adjustment period ends.
        TidalAdj:
          type: boolean
          description: True if the adjustment is due to tidal conditions; otherwise false.
        EventID:
          type: number
          nullable: true
          description: Numeric ID of the event prompting the adjustment.
        EventDescription:
          type: string
          nullable: true
          description: Description of the event prompting the adjustment.
        DepArrIndicator:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Indicator code: 1 = Departure, 2 = Arrival.'
        AdjType:
          anyOf:
            - type: number
              enum:
                - 1
            - type: number
              enum:
                - 2
          description: 'Adjustment type code: 1 = Addition, 2 = Cancellation.'
        Annotations:
          type: array
          items:
            type: object
            properties:
              AnnotationID:
                type: number
                description: Numeric ID of the annotation.
              AnnotationText:
                type: string
                nullable: true
                description: Text content of the annotation.
              AnnotationIVRText:
                type: string
                nullable: true
                description: Annotation text formatted for IVR systems.
              AdjustedCrossingTime:
                type: number
                nullable: true
                description: Adjusted crossing time override in minutes.
              AnnotationImg:
                type: string
                nullable: true
                description: URL to image representing the annotation.
              TypeDescription:
                type: string
                nullable: true
                description: Category or type of the annotation.
              SortSeq:
                type: number
                description: Display sort order; lower values appear first.
            required:
              - AnnotationID
              - AnnotationText
              - AnnotationIVRText
              - AdjustedCrossingTime
              - AnnotationImg
              - TypeDescription
              - SortSeq
            description: Annotation information for the adjustment.
          description: Array of annotations associated with the adjustment.
      required:
        - ScheduleID
        - SchedRouteID
        - RouteID
        - RouteDescription
        - RouteSortSeq
        - SailingID
        - SailingDescription
        - ActiveSailingDateRange
        - SailingDir
        - JourneyID
        - VesselID
        - VesselName
        - VesselHandicapAccessible
        - VesselPositionNum
        - JourneyTerminalID
        - TerminalID
        - TerminalDescription
        - TerminalBriefDescription
        - TimeToAdj
        - AdjDateFrom
        - AdjDateThru
        - TidalAdj
        - EventID
        - EventDescription
        - DepArrIndicator
        - AdjType
        - Annotations
      description: Time adjustment representing modifications to scheduled sailing times, including additions, cancellations, and timing changes for specific dates.
    FetchSailingsByRouteIDInputSchedRouteIDParam:
      type: number
      description: Numeric ID of the scheduled route.
    FetchAllSailingsBySchedRouteIDInputSchedRouteIDParam:
      type: number
      description: Numeric ID of the scheduled route.
    FetchRouteDetailsByTripDateInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      format: date-time
    FetchRouteDetailsByTripDateAndTerminalsInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      format: date-time
    FetchRouteDetailsByTripDateAndTerminalsInputDepartingTerminalIDParam:
      type: number
      description: Numeric ID of the departing terminal.
    FetchRouteDetailsByTripDateAndTerminalsInputArrivingTerminalIDParam:
      type: number
      description: Numeric ID of the arriving terminal.
    FetchRouteDetailsByTripDateAndRouteIdInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      format: date-time
    FetchRouteDetailsByTripDateAndRouteIdInputRouteIDParam:
      type: number
      description: Numeric ID of the route.
    FetchRoutesByTripDateInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      format: date-time
    FetchRoutesByTripDateInputDepartingTerminalIDParam:
      type: number
      description: Numeric ID of the departing terminal. Optional.
    FetchRoutesByTripDateInputArrivingTerminalIDParam:
      type: number
      description: Numeric ID of the arriving terminal. Optional.
    FetchRoutesByTripDateAndTerminalsInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      format: date-time
    FetchRoutesByTripDateAndTerminalsInputDepartingTerminalIDParam:
      type: number
      description: Numeric ID of the departing terminal.
    FetchRoutesByTripDateAndTerminalsInputArrivingTerminalIDParam:
      type: number
      description: Numeric ID of the arriving terminal.
    FetchRoutesHavingServiceDisruptionsByTripDateInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range.
      format: date-time
    FetchScheduleByTripDateAndRouteIdInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range.
      format: date-time
    FetchScheduleByTripDateAndRouteIdInputRouteIDParam:
      type: number
      description: Numeric ID of the route.
    FetchScheduleByTripDateAndTerminalIdsInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range.
      format: date-time
    FetchScheduleByTripDateAndTerminalIdsInputDepartingTerminalIDParam:
      type: number
      description: Numeric ID of the departing terminal.
    FetchScheduleByTripDateAndTerminalIdsInputArrivingTerminalIDParam:
      type: number
      description: Numeric ID of the arriving terminal.
    FetchScheduledRoutesInputScheduleIDParam:
      type: number
      description: Numeric ID of the schedule season. Optional; if omitted, returns all scheduled routes across current and upcoming seasons.
    FetchScheduledRoutesByIdInputScheduleIDParam:
      type: number
      description: Numeric ID of the schedule season. Optional; if omitted, returns all scheduled routes across current and upcoming seasons.
    FetchScheduleTodayByRouteInputRouteIDParam:
      type: number
      description: Numeric ID of the route.
    FetchScheduleTodayByRouteInputOnlyRemainingTimesParam:
      type: boolean
      description: True to show only remaining departures today; false to include all departures.
    FetchScheduleTodayByTerminalsInputDepartingTerminalIDParam:
      type: number
      description: Numeric ID of the departing terminal.
    FetchScheduleTodayByTerminalsInputArrivingTerminalIDParam:
      type: number
      description: Numeric ID of the arriving terminal.
    FetchScheduleTodayByTerminalsInputOnlyRemainingTimesParam:
      type: boolean
      description: True to show only remaining departures today; false to include all departures.
    FetchTerminalMatesScheduleInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format; must be within valid date range from GetValidDateRange.
      format: date-time
    FetchTerminalMatesScheduleInputTerminalIDParam:
      type: number
      description: Numeric ID of the departing terminal.
    FetchTerminalsInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format; must be within valid date range from GetValidDateRange.
      format: date-time
    FetchTerminalsAndMatesInputTripDateParam:
      type: string
      description: Trip date for which to retrieve all terminal combinations, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter terminal combinations by trip date availability.
      format: date-time
    FetchTerminalsAndMatesByRouteInputTripDateParam:
      type: string
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      format: date-time
    FetchTerminalsAndMatesByRouteInputRouteIDParam:
      type: number
      description: Numeric ID of the route.
    FetchTimeAdjustmentsByRouteInputRouteIDParam:
      type: number
      description: Numeric ID of the route.
    FetchTimeAdjustmentsBySchedRouteInputSchedRouteIDParam:
      type: number
      description: Numeric ID of the scheduled route.
  parameters:
    FetchSailingsByRouteIDInputSchedRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchSailingsByRouteIDInputSchedRouteIDParam'
      required: true
      description: Numeric ID of the scheduled route.
      name: SchedRouteID
      in: path
    FetchAllSailingsBySchedRouteIDInputSchedRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchAllSailingsBySchedRouteIDInputSchedRouteIDParam'
      required: true
      description: Numeric ID of the scheduled route.
      name: SchedRouteID
      in: path
    FetchRouteDetailsByTripDateInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      name: TripDate
      in: path
    FetchRouteDetailsByTripDateAndTerminalsInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndTerminalsInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      name: TripDate
      in: path
    FetchRouteDetailsByTripDateAndTerminalsInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndTerminalsInputDepartingTerminalIDParam'
      required: true
      description: Numeric ID of the departing terminal.
      name: DepartingTerminalID
      in: path
    FetchRouteDetailsByTripDateAndTerminalsInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndTerminalsInputArrivingTerminalIDParam'
      required: true
      description: Numeric ID of the arriving terminal.
      name: ArrivingTerminalID
      in: path
    FetchRouteDetailsByTripDateAndRouteIdInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndRouteIdInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      name: TripDate
      in: path
    FetchRouteDetailsByTripDateAndRouteIdInputRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchRouteDetailsByTripDateAndRouteIdInputRouteIDParam'
      required: true
      description: Numeric ID of the route.
      name: RouteID
      in: path
    FetchRoutesByTripDateInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      name: TripDate
      in: path
    FetchRoutesByTripDateInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateInputDepartingTerminalIDParam'
      required: false
      description: Numeric ID of the departing terminal. Optional.
      name: DepartingTerminalID
      in: query
    FetchRoutesByTripDateInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateInputArrivingTerminalIDParam'
      required: false
      description: Numeric ID of the arriving terminal. Optional.
      name: ArrivingTerminalID
      in: query
    FetchRoutesByTripDateAndTerminalsInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateAndTerminalsInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      name: TripDate
      in: path
    FetchRoutesByTripDateAndTerminalsInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateAndTerminalsInputDepartingTerminalIDParam'
      required: true
      description: Numeric ID of the departing terminal.
      name: DepartingTerminalID
      in: path
    FetchRoutesByTripDateAndTerminalsInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesByTripDateAndTerminalsInputArrivingTerminalIDParam'
      required: true
      description: Numeric ID of the arriving terminal.
      name: ArrivingTerminalID
      in: path
    FetchRoutesHavingServiceDisruptionsByTripDateInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchRoutesHavingServiceDisruptionsByTripDateInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range.
      name: TripDate
      in: path
    FetchScheduleByTripDateAndRouteIdInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndRouteIdInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range.
      name: TripDate
      in: path
    FetchScheduleByTripDateAndRouteIdInputRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndRouteIdInputRouteIDParam'
      required: true
      description: Numeric ID of the route.
      name: RouteID
      in: path
    FetchScheduleByTripDateAndTerminalIdsInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndTerminalIdsInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range.
      name: TripDate
      in: path
    FetchScheduleByTripDateAndTerminalIdsInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndTerminalIdsInputDepartingTerminalIDParam'
      required: true
      description: Numeric ID of the departing terminal.
      name: DepartingTerminalID
      in: path
    FetchScheduleByTripDateAndTerminalIdsInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleByTripDateAndTerminalIdsInputArrivingTerminalIDParam'
      required: true
      description: Numeric ID of the arriving terminal.
      name: ArrivingTerminalID
      in: path
    FetchScheduledRoutesInputScheduleIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduledRoutesInputScheduleIDParam'
      required: false
      description: Numeric ID of the schedule season. Optional; if omitted, returns all scheduled routes across current and upcoming seasons.
      name: ScheduleID
      in: query
    FetchScheduledRoutesByIdInputScheduleIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduledRoutesByIdInputScheduleIDParam'
      required: true
      description: Numeric ID of the schedule season. Optional; if omitted, returns all scheduled routes across current and upcoming seasons.
      name: ScheduleID
      in: path
    FetchScheduleTodayByRouteInputRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleTodayByRouteInputRouteIDParam'
      required: true
      description: Numeric ID of the route.
      name: RouteID
      in: path
    FetchScheduleTodayByRouteInputOnlyRemainingTimesParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleTodayByRouteInputOnlyRemainingTimesParam'
      required: true
      description: True to show only remaining departures today; false to include all departures.
      name: OnlyRemainingTimes
      in: path
    FetchScheduleTodayByTerminalsInputDepartingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleTodayByTerminalsInputDepartingTerminalIDParam'
      required: true
      description: Numeric ID of the departing terminal.
      name: DepartingTerminalID
      in: path
    FetchScheduleTodayByTerminalsInputArrivingTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleTodayByTerminalsInputArrivingTerminalIDParam'
      required: true
      description: Numeric ID of the arriving terminal.
      name: ArrivingTerminalID
      in: path
    FetchScheduleTodayByTerminalsInputOnlyRemainingTimesParam:
      schema:
        $ref: '#/components/schemas/FetchScheduleTodayByTerminalsInputOnlyRemainingTimesParam'
      required: true
      description: True to show only remaining departures today; false to include all departures.
      name: OnlyRemainingTimes
      in: path
    FetchTerminalMatesScheduleInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalMatesScheduleInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format; must be within valid date range from GetValidDateRange.
      name: TripDate
      in: path
    FetchTerminalMatesScheduleInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalMatesScheduleInputTerminalIDParam'
      required: true
      description: Numeric ID of the departing terminal.
      name: TerminalID
      in: path
    FetchTerminalsInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalsInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format; must be within valid date range from GetValidDateRange.
      name: TripDate
      in: path
    FetchTerminalsAndMatesInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalsAndMatesInputTripDateParam'
      required: true
      description: Trip date for which to retrieve all terminal combinations, as a date string in YYYY-MM-DD format. E.g., '2025-11-02' for November 2, 2025. Must be within valid date range from GetScheduleValidDateRange. Used to filter terminal combinations by trip date availability.
      name: TripDate
      in: path
    FetchTerminalsAndMatesByRouteInputTripDateParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalsAndMatesByRouteInputTripDateParam'
      required: true
      description: Trip date in YYYY-MM-DD format. Must be within valid date range from GetScheduleValidDateRange.
      name: TripDate
      in: path
    FetchTerminalsAndMatesByRouteInputRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalsAndMatesByRouteInputRouteIDParam'
      required: true
      description: Numeric ID of the route.
      name: RouteID
      in: path
    FetchTimeAdjustmentsByRouteInputRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchTimeAdjustmentsByRouteInputRouteIDParam'
      required: true
      description: Numeric ID of the route.
      name: RouteID
      in: path
    FetchTimeAdjustmentsBySchedRouteInputSchedRouteIDParam:
      schema:
        $ref: '#/components/schemas/FetchTimeAdjustmentsBySchedRouteInputSchedRouteIDParam'
      required: true
      description: Numeric ID of the scheduled route.
      name: SchedRouteID
      in: path
paths:
  /activeseasons:
    get:
      summary: List all active schedule seasons with dates and PDF URLs.
      operationId: fetchActiveSeasons
      tags:
        - active-seasons
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchActiveSeasons } from 'ws-dottie/wsf-schedule/core';

            const data = await fetchActiveSeasons({
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchActiveSeasonsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 2 total)
                  value:
                    - ScheduleID: 193
                      ScheduleName: Fall 2025
                      ScheduleSeason: 2
                      SchedulePDFUrl: http://www.wsdot.wa.gov/ferries/pdf/2025Fall.pdf
                      ScheduleStart: '2025-09-21T07:00:00.000Z'
                      ScheduleEnd: '2025-12-27T08:00:00.000Z'
  /sailings/{SchedRouteID}:
    get:
      summary: List active sailings for specified scheduled route.
      operationId: fetchSailingsByRouteID
      tags:
        - sailings
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchSailingsByRouteID } from 'ws-dottie/wsf-schedule/core';

            const data = await fetchSailingsByRouteID({
              params: {
                "SchedRouteID": 2401
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchSailingsByRouteIDInputSchedRouteIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchSailingsByRouteIDOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 2 total)
                  value:
                    - ScheduleID: 193
                      SchedRouteID: 2401
                      RouteID: 9
                      SailingID: 7793
                      SailingDescription: Leave Westbound - <font color="red">SERVICE DISRUPTION</font>
                      SailingNotes: Due to urgent vessel repairs, we are using an <a href="https://wsdot.com/ferries/schedule/bulletin.aspx">alternate schedule Monday, Dec. 8 - Thursday, Dec. 11</a>.
                      DisplayColNum: 0
                      SailingDir: 1
                      DayOpDescription: Daily
                      DayOpUseForHoliday: false
                      ActiveDateRanges:
                        - DateFrom: '2025-09-21T07:00:00.000Z'
                          DateThru: '2025-12-27T08:00:00.000Z'
                          EventID: null
                          EventDescription: null
                      Journs:
                        - JourneyID: 166493
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 38
                          VesselName: Yakima
                          VesselHandicapAccessible: true
                          VesselPositionNum: 2
                          TerminalTimes:
                            - JourneyTerminalID: 236797
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T12:05:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236798
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236799
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236800
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236801
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T13:15:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                        - JourneyID: 166494
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 15
                          VesselName: Issaquah
                          VesselHandicapAccessible: true
                          VesselPositionNum: 1
                          TerminalTimes:
                            - JourneyTerminalID: 236802
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T13:30:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236803
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236804
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T15:05:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13332
                                  AnnotationText: Loads or unloads westbound traffic on eastbound sailing.
                                  AnnotationIVRText: Loads or unloads westbound traffic on eastbound sailing.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/circle_red.gif
                                  TypeDescription: Informational
                                  SortSeq: 20
                            - JourneyTerminalID: 236805
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T14:25:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236806
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                        - JourneyID: 166495
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 33
                          VesselName: Tillikum
                          VesselHandicapAccessible: true
                          VesselPositionNum: 3
                          TerminalTimes:
                            - JourneyTerminalID: 236807
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T14:15:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236808
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T15:10:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236809
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236810
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236811
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T15:45:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                        - JourneyID: 166496
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: true
                          VesselID: 66
                          VesselName: Salish
                          VesselHandicapAccessible: true
                          VesselPositionNum: 4
                          TerminalTimes:
                            - JourneyTerminalID: 236812
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236813
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T14:50:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236814
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T15:20:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236815
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T15:40:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236816
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T16:30:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                        - JourneyID: 166497
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 38
                          VesselName: Yakima
                          VesselHandicapAccessible: true
                          VesselPositionNum: 2
                          TerminalTimes:
                            - JourneyTerminalID: 236817
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T15:30:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236818
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236819
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T17:10:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13332
                                  AnnotationText: Loads or unloads westbound traffic on eastbound sailing.
                                  AnnotationIVRText: Loads or unloads westbound traffic on eastbound sailing.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/circle_red.gif
                                  TypeDescription: Informational
                                  SortSeq: 20
                            - JourneyTerminalID: 236820
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T16:30:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236821
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                        - JourneyID: 166498
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 15
                          VesselName: Issaquah
                          VesselHandicapAccessible: true
                          VesselPositionNum: 1
                          TerminalTimes:
                            - JourneyTerminalID: 236822
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T16:40:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236823
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236824
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236825
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236826
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T17:50:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                        - JourneyID: 166499
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 33
                          VesselName: Tillikum
                          VesselHandicapAccessible: true
                          VesselPositionNum: 3
                          TerminalTimes:
                            - JourneyTerminalID: 236827
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T18:05:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236828
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T19:00:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236829
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236830
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T19:20:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236831
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                        - JourneyID: 166500
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: true
                          VesselID: 66
                          VesselName: Salish
                          VesselHandicapAccessible: true
                          VesselPositionNum: 4
                          TerminalTimes:
                            - JourneyTerminalID: 236832
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236833
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T18:30:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236834
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T18:00:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13332
                                  AnnotationText: Loads or unloads westbound traffic on eastbound sailing.
                                  AnnotationIVRText: Loads or unloads westbound traffic on eastbound sailing.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/circle_red.gif
                                  TypeDescription: Informational
                                  SortSeq: 20
                            - JourneyTerminalID: 236835
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T17:45:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13332
                                  AnnotationText: Loads or unloads westbound traffic on eastbound sailing.
                                  AnnotationIVRText: Loads or unloads westbound traffic on eastbound sailing.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/circle_red.gif
                                  TypeDescription: Informational
                                  SortSeq: 20
                            - JourneyTerminalID: 236836
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T19:10:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                        - JourneyID: 166501
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 38
                          VesselName: Yakima
                          VesselHandicapAccessible: true
                          VesselPositionNum: 2
                          TerminalTimes:
                            - JourneyTerminalID: 236837
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T18:30:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236838
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236839
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236840
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236841
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T19:40:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                        - JourneyID: 166502
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 15
                          VesselName: Issaquah
                          VesselHandicapAccessible: true
                          VesselPositionNum: 1
                          TerminalTimes:
                            - JourneyTerminalID: 236842
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T19:55:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236843
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236844
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T20:55:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236845
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T21:05:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236846
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                        - JourneyID: 166503
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: true
                          VesselID: 66
                          VesselName: Salish
                          VesselHandicapAccessible: true
                          VesselPositionNum: 4
                          TerminalTimes:
                            - JourneyTerminalID: 236847
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236848
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T21:35:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations: []
                            - JourneyTerminalID: 236849
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T21:05:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13332
                                  AnnotationText: Loads or unloads westbound traffic on eastbound sailing.
                                  AnnotationIVRText: Loads or unloads westbound traffic on eastbound sailing.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/circle_red.gif
                                  TypeDescription: Informational
                                  SortSeq: 20
                            - JourneyTerminalID: 236850
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T20:50:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13332
                                  AnnotationText: Loads or unloads westbound traffic on eastbound sailing.
                                  AnnotationIVRText: Loads or unloads westbound traffic on eastbound sailing.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/circle_red.gif
                                  TypeDescription: Informational
                                  SortSeq: 20
                            - JourneyTerminalID: 236851
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T22:15:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations: []
                        - JourneyID: 166504
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 33
                          VesselName: Tillikum
                          VesselHandicapAccessible: true
                          VesselPositionNum: 3
                          TerminalTimes:
                            - JourneyTerminalID: 236852
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T21:35:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13713
                                  AnnotationText: Mondays through Wednesdays <i>only</i>.
                                  AnnotationIVRText: Mondays through Wednesdays only.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/M-W.gif
                                  TypeDescription: Day Type
                                  SortSeq: 60
                            - JourneyTerminalID: 236853
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T22:25:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13333
                                  AnnotationText: No interisland vehicles. Foot passenger and bikes okay.
                                  AnnotationIVRText: No interisland vehicles. Foot passengers and bikes okay.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/triangle_down_red.gif
                                  TypeDescription: Informational
                                  SortSeq: 10
                                - AnnotationID: 13713
                                  AnnotationText: Mondays through Wednesdays <i>only</i>.
                                  AnnotationIVRText: Mondays through Wednesdays only.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/M-W.gif
                                  TypeDescription: Day Type
                                  SortSeq: 60
                            - JourneyTerminalID: 236854
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236855
                              TerminalID: 15
                              TerminalDescription: Orcas Island
                              TerminalBriefDescription: Orcas
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 236856
                              TerminalID: 10
                              TerminalDescription: Friday Harbor
                              TerminalBriefDescription: Friday Harbor
                              Time: '1900-01-01T23:00:00.000Z'
                              DepArrIndicator: 2
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13713
                                  AnnotationText: Mondays through Wednesdays <i>only</i>.
                                  AnnotationIVRText: Mondays through Wednesdays only.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/M-W.gif
                                  TypeDescription: Day Type
                                  SortSeq: 60
                        - JourneyID: 172506
                          ReservationInd: false
                          InternationalInd: false
                          InterislandInd: false
                          VesselID: 33
                          VesselName: Tillikum
                          VesselHandicapAccessible: true
                          VesselPositionNum: 3
                          TerminalTimes:
                            - JourneyTerminalID: 245086
                              TerminalID: 1
                              TerminalDescription: Anacortes
                              TerminalBriefDescription: Anacortes
                              Time: '1900-01-01T21:35:00.000Z'
                              DepArrIndicator: 1
                              IsNA: false
                              Annotations:
                                - AnnotationID: 13714
                                  AnnotationText: Thursdays through Sundays <i>only</i>.
                                  AnnotationIVRText: Thursdays through Sundays only.
                                  AdjustedCrossingTime: null
                                  AnnotationImg: https://www.wsdot.wa.gov/ferries/images/legends/ThFSS_blue.gif
                                  TypeDescription: Day Type
                                  SortSeq: 70
                            - JourneyTerminalID: 245087
                              TerminalID: 13
                              TerminalDescription: Lopez Island
                              TerminalBriefDescription: Lopez
                              Time: '1900-01-01T08:00:00.000Z'
                              DepArrIndicator: null
                              IsNA: true
                              Annotations: []
                            - JourneyTerminalID: 245088
                              TerminalID: 18
                              TerminalDescription: Shaw Island
                              TerminalBriefDescription: Shaw
[...]
