openapi: 3.0.0
info:
  title: Wsf Terminals API
  version: 1.0.0
  description: Wsf Terminals API - Washington State Department of Transportation APIs
servers:
  - url: https://www.wsdot.wa.gov/ferries/api/terminals/rest
    description: Production server
components:
  schemas:
    RoadwayLocation:
      type: object
      properties:
        Description:
          type: string
          nullable: true
          description: Human-readable description of the roadway location, such as interchange names or cross streets.
        Direction:
          type: string
          nullable: true
          description: 'Traffic direction designation: N, S, B, NB, or SB, indicating which side of the highway is affected.'
        Latitude:
          type: number
          description: Latitude of the roadway location in decimal degrees.
        Longitude:
          type: number
          description: Longitude of the roadway location in decimal degrees.
        MilePost:
          type: number
          description: Milepost marker along the highway corridor, with 0 indicating route terminus.
        RoadName:
          type: string
          nullable: true
          description: Highway or route designation code, such as '005' for I-5 or '090' for I-90.
      required:
        - Description
        - Direction
        - Latitude
        - Longitude
        - MilePost
        - RoadName
      description: Roadway location information including route, milepost, coordinates, and direction.
    FetchCacheFlushDateTerminalsOutput:
      type: string
      description: UTC datetime when static endpoint data was last updated, or undefined if no update has occurred.
    FetchTerminalBasicsOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Numeric ID of the terminal.
        TerminalSubjectID:
          type: integer
          description: Numeric ID of the terminal in the WSF subject management system.
        RegionID:
          type: integer
          description: Numeric ID of the geographical region where the terminal is located.
        TerminalName:
          type: string
          nullable: true
          description: Display name of the terminal.
        TerminalAbbrev:
          type: string
          nullable: true
          description: Abbreviation code for the terminal.
        SortSeq:
          type: integer
          description: Display sort order; lower values appear first in lists.
        OverheadPassengerLoading:
          type: boolean
          description: True if overhead passenger loading facility is available; otherwise false.
        Elevator:
          type: boolean
          description: True if terminal has elevator access; otherwise false.
        WaitingRoom:
          type: boolean
          description: True if terminal has waiting room facility; otherwise false.
        FoodService:
          type: boolean
          description: True if terminal offers food service; otherwise false.
        Restroom:
          type: boolean
          description: True if terminal has restroom facilities; otherwise false.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - OverheadPassengerLoading
        - Elevator
        - WaitingRoom
        - FoodService
        - Restroom
      description: Basic terminal information including identification, amenities, and regional assignments.
    FetchTerminalBulletinsOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Numeric ID of the terminal.
        TerminalSubjectID:
          type: integer
          description: Numeric ID of the terminal in the WSF subject management system.
        RegionID:
          type: integer
          description: Numeric ID of the geographical region where the terminal is located.
        TerminalName:
          type: string
          nullable: true
          description: Display name of the terminal.
        TerminalAbbrev:
          type: string
          nullable: true
          description: Abbreviation code for the terminal.
        SortSeq:
          type: integer
          description: Display sort order; lower values appear first in lists.
        Bulletins:
          type: array
          items:
            type: object
            properties:
              BulletinTitle:
                type: string
                nullable: true
                description: Title of the bulletin.
              BulletinText:
                type: string
                nullable: true
                description: HTML-formatted content of the bulletin.
              BulletinSortSeq:
                type: integer
                description: Display sort order for the bulletin; lower values appear first.
              BulletinLastUpdated:
                type: string
                nullable: true
                description: UTC datetime when the bulletin was last updated.
              BulletinLastUpdatedSortable:
                type: string
                nullable: true
                description: Legacy sortable string representation of the bulletin update date.
            required:
              - BulletinTitle
              - BulletinText
              - BulletinSortSeq
              - BulletinLastUpdated
              - BulletinLastUpdatedSortable
            description: Bulletin information including title, HTML content, sort order, and update date.
          description: Array of bulletins and alerts associated with the terminal.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - Bulletins
      description: Terminal information with associated bulletins and alerts.
    FetchTerminalLocationsOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Numeric ID of the terminal.
        TerminalSubjectID:
          type: integer
          description: Numeric ID of the terminal in the WSF subject management system.
        RegionID:
          type: integer
          description: Numeric ID of the geographical region where the terminal is located.
        TerminalName:
          type: string
          nullable: true
          description: Display name of the terminal.
        TerminalAbbrev:
          type: string
          nullable: true
          description: Abbreviation code for the terminal.
        SortSeq:
          type: integer
          description: Display sort order; lower values appear first in lists.
        Latitude:
          type: number
          nullable: true
          description: Latitude of the terminal in decimal degrees.
        Longitude:
          type: number
          nullable: true
          description: Longitude of the terminal in decimal degrees.
        AddressLineOne:
          type: string
          nullable: true
          description: First line of the terminal street address.
        AddressLineTwo:
          type: string
          nullable: true
          description: Second line of the terminal street address.
        City:
          type: string
          nullable: true
          description: City where the terminal is located.
        State:
          type: string
          nullable: true
          description: State code where the terminal is located.
        ZipCode:
          type: string
          nullable: true
          description: Postal zip code for the terminal location.
        Country:
          type: string
          nullable: true
          description: Country code where the terminal is located.
        MapLink:
          type: string
          nullable: true
          description: URL to a map displaying the terminal location.
        Directions:
          type: string
          nullable: true
          description: HTML-formatted driving directions to the terminal.
        DispGISZoomLoc:
          type: array
          nullable: true
          items:
            type: object
            properties:
              ZoomLevel:
                type: integer
                description: GIS zoom level for map display.
              Latitude:
                type: number
                nullable: true
                description: Latitude coordinate for this zoom level in decimal degrees.
              Longitude:
                type: number
                nullable: true
                description: Longitude coordinate for this zoom level in decimal degrees.
            required:
              - ZoomLevel
              - Latitude
              - Longitude
            description: GIS zoom level location information including zoom level and coordinates.
          description: Array of GIS zoom level locations for the terminal.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - Latitude
        - Longitude
        - AddressLineOne
        - AddressLineTwo
        - City
        - State
        - ZipCode
        - Country
        - MapLink
        - Directions
        - DispGISZoomLoc
      description: Detailed terminal location information including coordinates, address, map link, driving directions, and GIS zoom level locations.
    FetchTerminalSailingSpaceOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Numeric ID of the terminal.
        TerminalSubjectID:
          type: integer
          description: Numeric ID of the terminal in the WSF subject management system.
        RegionID:
          type: integer
          description: Numeric ID of the geographical region where the terminal is located.
        TerminalName:
          type: string
          nullable: true
          description: Display name of the terminal.
        TerminalAbbrev:
          type: string
          nullable: true
          description: Abbreviation code for the terminal.
        SortSeq:
          type: integer
          description: Display sort order; lower values appear first in lists.
        DepartingSpaces:
          type: array
          nullable: true
          items:
            type: object
            properties:
              Departure:
                type: string
                description: Date and time of departure, as a UTC datetime. E.g., '2025-11-02T21:35:00.000Z' for departure at 9:35 PM on November 2, 2025. Used for departure schedule display and space availability timing.
              IsCancelled:
                type: boolean
                description: Indicator whether departure is cancelled, as a boolean. E.g., false for active departures, true for cancelled departures. Used to determine if departure is operational.
              VesselID:
                type: integer
                description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '17' for Kaleetan vessel. Used to identify which vessel operates departure.
              VesselName:
                type: string
                nullable: true
                description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Kaleetan' for vessel 17, null when vessel name is unavailable. Provides vessel identification for display.
              MaxSpaceCount:
                type: integer
                description: Maximum vehicle capacity on vessel making departure, as an integer count. E.g., '141' for Samish vessel capacity, '139' for Yakima vessel capacity, '197' for Tacoma vessel capacity. Used to calculate space availability percentage.
              SpaceForArrivalTerminals:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    TerminalID:
                      type: integer
                      description: Unique identifier for arrival terminal destination, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Used to identify destination terminal for space availability.
                    TerminalName:
                      type: string
                      nullable: true
                      description: Human-readable name of arrival terminal destination, as a terminal name. E.g., 'Anacortes -> Friday Harbor' for multi-destination sailing, 'Seattle' for single destination, null when terminal name is unavailable. Provides destination identification for display.
                    VesselID:
                      type: integer
                      description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '17' for Kaleetan vessel. Used to identify which vessel operates departure.
                    VesselName:
                      type: string
                      nullable: true
                      description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Kaleetan' for vessel 17, null when vessel name is unavailable. Provides vessel identification for display.
                    DisplayReservableSpace:
                      type: boolean
                      description: Indicator whether reservable space information should be displayed, as a boolean. E.g., true for routes supporting reservations, false for routes without reservations. Used to determine if reservation space data should be shown.
                    ReservableSpaceCount:
                      type: integer
                      nullable: true
                      description: Remaining reservable vehicle spaces available on vessel, as an integer count. E.g., '45' for 45 reservable spaces remaining, '36' for 36 reservable spaces, null when reservations are not supported or count is unavailable. Used for reservation availability display.
                    ReservableSpaceHexColor:
                      type: string
                      nullable: true
                      description: Hex color code representing reservable space availability status, as a hex color. E.g., '#FFFF00' for yellow (limited availability), '#888888' for gray (not available), null when color is unavailable. Used for visual space availability indicators.
                    DisplayDriveUpSpace:
                      type: boolean
                      description: Indicator whether drive-up space information should be displayed, as a boolean. E.g., true for routes with drive-up space tracking, false when drive-up space is not tracked. Used to determine if drive-up space data should be shown.
                    DriveUpSpaceCount:
                      type: integer
                      nullable: true
                      description: Remaining drive-up vehicle spaces available on vessel, as an integer count. E.g., '67' for 67 drive-up spaces remaining, '197' for 197 drive-up spaces, null when drive-up space is not tracked or count is unavailable. Used for drive-up availability display.
                    DriveUpSpaceHexColor:
                      type: string
                      nullable: true
                      description: Hex color code representing drive-up space availability status, as a hex color. E.g., '#00FF00' for green (good availability), '#FFFF00' for yellow (limited availability), null when color is unavailable. Used for visual space availability indicators.
                    MaxSpaceCount:
                      type: integer
                      description: Maximum vehicle capacity on vessel making departure, as an integer count. E.g., '141' for Samish vessel capacity, '139' for Yakima vessel capacity, '197' for Tacoma vessel capacity. Used to calculate space availability percentage.
                    ArrivalTerminalIDs:
                      type: array
                      nullable: true
                      items:
                        type: integer
                      description: Array of arrival terminal IDs associated with this space count set, as terminal ID integers. E.g., array containing terminal 10 for single destination, array containing terminals 13, 10 for multi-destination sailing, null when terminal IDs are unavailable. Used to identify all destinations served by this space count.
                  required:
                    - TerminalID
                    - TerminalName
                    - VesselID
                    - VesselName
                    - DisplayReservableSpace
                    - ReservableSpaceCount
                    - ReservableSpaceHexColor
                    - DisplayDriveUpSpace
                    - DriveUpSpaceCount
                    - DriveUpSpaceHexColor
                    - MaxSpaceCount
                    - ArrivalTerminalIDs
                  description: Represents space availability information for arrival terminal destination including terminal/vessel identification, reservable space count and color, drive-up space count and color, maximum capacity, and arrival terminal IDs. E.g., Friday Harbor destination with 67 drive-up spaces (green) and 141 maximum capacity on Samish vessel. Used for real-time space availability display.
                description: Array of space availability information for one or more arrival terminal destinations, as space for arrival terminal objects. E.g., array containing Friday Harbor destination with space counts, array containing multiple destinations for multi-destination sailing, null when space information is unavailable. Used for real-time space availability display by destination.
            required:
              - Departure
              - IsCancelled
              - VesselID
              - VesselName
              - MaxSpaceCount
              - SpaceForArrivalTerminals
            description: Represents departing space information including departure time, cancellation status, vessel details, maximum capacity, and space availability for arrival terminals. E.g., departure at 9:35 PM with Samish vessel (ID 69, capacity 141) and space information for Friday Harbor destination. Used for real-time departure space availability display.
          description: Array of upcoming departures leaving terminal with space availability information, as departing space objects. E.g., array containing multiple departures with vessel and space details, null when departure information is unavailable. Used for real-time departure space availability display.
        IsNoFareCollected:
          type: boolean
          nullable: true
          description: Indicator whether terminal is capable of collecting fares, as a boolean. E.g., null when fare collection status is unknown, false when terminal collects fares, true when terminal does not collect fares. Used to determine fare collection capability.
        NoFareCollectedMsg:
          type: string
          nullable: true
          description: Optional message explaining how inability to collect fares affects terminal conditions data, as a message string. E.g., null when fare collection is available, message when fare collection affects space tracking accuracy. Used to inform users about data limitations.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - IsNoFareCollected
        - NoFareCollectedMsg
      description: Terminal sailing space information including terminal identification, upcoming departures with space availability, and fare collection status.
    FetchTerminalTransportsOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Numeric ID of the terminal.
        TerminalSubjectID:
          type: integer
          description: Numeric ID of the terminal in the WSF subject management system.
        RegionID:
          type: integer
          description: Numeric ID of the geographical region where the terminal is located.
        TerminalName:
          type: string
          nullable: true
          description: Display name of the terminal.
        TerminalAbbrev:
          type: string
          nullable: true
          description: Abbreviation code for the terminal.
        SortSeq:
          type: integer
          description: Display sort order; lower values appear first in lists.
        ParkingInfo:
          type: string
          nullable: true
          description: HTML-formatted parking information for terminal, as parking details. E.g., 'Off-Peak rates effective October 1 through April 30, 2026...' for Anacortes parking rates, null when parking information is unavailable. HTML-formatted text for parking information display.
        ParkingShuttleInfo:
          type: string
          nullable: true
          description: HTML-formatted information about parking-related shuttles servicing terminal, as shuttle information. E.g., null when no parking shuttles, shuttle details when available. Used for parking shuttle information display.
        AirportInfo:
          type: string
          nullable: true
          description: HTML-formatted tips for commuting to terminal from airport, as airport directions. E.g., 'From the Seattle-Tacoma International Airport, allow a minimum of 2 1/2 hours...' for Anacortes airport directions, null when airport information is unavailable. HTML-formatted text for airport commuter information.
        AirportShuttleInfo:
          type: string
          nullable: true
          description: HTML-formatted information about airport shuttles servicing terminal, as shuttle information. E.g., 'When traveling from Sea-Tac Airport to Anacortes there is a shuttle...' for Anacortes airport shuttle, null when airport shuttle information is unavailable. HTML-formatted text for airport shuttle information.
        MotorcycleInfo:
          type: string
          nullable: true
          description: HTML-formatted information for motorcycle travelers, as motorcycle tips. E.g., 'While motorcycles are not, by Washington Administrative Code...' for motorcycle staging and loading information, null when motorcycle information is unavailable. HTML-formatted text for motorcycle commuter information.
        TruckInfo:
          type: string
          nullable: true
          description: HTML-formatted information for truck travelers, as truck tips. E.g., 'Expect heavy truck traffic on the first 3 sailings in the morning...' for truck travel information, null when truck information is unavailable. HTML-formatted text for truck commuter information.
        BikeInfo:
          type: string
          nullable: true
          description: HTML-formatted information for bicycle travelers, as bicycle tips. E.g., 'Approaching the Anacortes Terminal, you will arrive at the vehicle tollbooths...' for bicycle staging information, null when bicycle information is unavailable. HTML-formatted text for bicycle commuter information.
        TrainInfo:
          type: string
          nullable: true
          description: HTML-formatted information about trains servicing terminal, as train information. E.g., null when no train service, train details when available. Used for train commuter information display.
        TaxiInfo:
          type: string
          nullable: true
          description: HTML-formatted information about taxis servicing terminal, as taxi information. E.g., null when no taxi information, taxi details when available. Used for taxi commuter information display.
        HovInfo:
          type: string
          nullable: true
          description: HTML-formatted tips for carpool/vanpool commuters, as HOV information. E.g., 'Carpool/Vanpools must be ticketed and in line 10 minutes before...' for Bainbridge Island HOV information, null when HOV information is unavailable. HTML-formatted text for carpool/vanpool commuter information.
        TransitLinks:
          type: array
          nullable: true
          items:
            type: object
            properties:
              LinkURL:
                type: string
                nullable: true
                description: URL to transit agency website or service page, as a transit URL. E.g., 'http://www.skagittransit.org/' for Skagit Transit, 'http://www.kitsaptransit.com/service/routed-buses' for Kitsap Transit, null when transit link is unavailable. Used for accessing transit agency information.
              LinkName:
                type: string
                nullable: true
                description: Human-readable name of transit agency, as a transit agency name. E.g., 'Skagit Transit' for Skagit Transit agency, 'Kitsap Transit' for Kitsap Transit agency, null when transit name is unavailable. Provides transit agency identification for display.
              SortSeq:
                type: integer
                nullable: true
                description: Preferred sort order for transit link display, as an integer. E.g., null when sort order is not specified. Lower values appear first when sorting transit links in ascending order. Used for transit link display ordering.
            required:
              - LinkURL
              - LinkName
              - SortSeq
            description: Represents transit link information including transit agency URL, name, and sort order. E.g., Skagit Transit link (http://www.skagittransit.org/). Used for displaying transit agency connections and links.
          description: Array of transit agency links servicing terminal, as transit link objects. E.g., array containing Skagit Transit link for Anacortes terminal, array containing Kitsap Transit link for Bainbridge Island terminal, null when transit links are unavailable. Used for displaying transit agency connections.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - ParkingInfo
        - ParkingShuttleInfo
        - AirportInfo
        - AirportShuttleInfo
        - MotorcycleInfo
        - TruckInfo
        - BikeInfo
        - TrainInfo
        - TaxiInfo
        - HovInfo
        - TransitLinks
      description: Terminal transportation and commuter information including parking details, vehicle-specific tips, airport information, transit links, and HOV/carpool information.
    FetchTerminalVerboseOutput:
      allOf:
        - type: object
          properties:
            TerminalID:
              type: integer
              description: Numeric ID of the terminal.
            TerminalSubjectID:
              type: integer
              description: Numeric ID of the terminal in the WSF subject management system.
            RegionID:
              type: integer
              description: Numeric ID of the geographical region where the terminal is located.
            TerminalName:
              type: string
              nullable: true
              description: Display name of the terminal.
            TerminalAbbrev:
              type: string
              nullable: true
              description: Abbreviation code for the terminal.
            SortSeq:
              type: integer
              description: Display sort order; lower values appear first in lists.
            OverheadPassengerLoading:
              type: boolean
              description: Indicator whether terminal supports overhead passenger loading from upper vehicle deck, as a boolean. E.g., true for terminals with overhead walkways like Anacortes and Bainbridge Island, false for terminals without overhead loading capability. Used to determine passenger boarding capabilities and accessibility features.
            Elevator:
              type: boolean
              description: Indicator whether terminal has elevator access for passengers, as a boolean. E.g., false for terminals like Anacortes and Bainbridge Island without elevators, true for terminals with elevator access. Used to determine ADA accessibility and passenger mobility accommodations.
            WaitingRoom:
              type: boolean
              description: Indicator whether terminal has indoor waiting room facility, as a boolean. E.g., true for terminals like Anacortes and Bainbridge Island with waiting rooms, false for terminals without waiting facilities. Used to determine passenger comfort amenities and sheltered waiting areas.
            FoodService:
              type: boolean
              description: Indicator whether terminal offers food service facilities, as a boolean. E.g., true for terminals like Anacortes and Bainbridge Island with galleys or cafes, false for terminals without food service. Used to determine available amenities for passengers during wait times.
            Restroom:
              type: boolean
              description: Indicator whether terminal has restroom facilities, as a boolean. E.g., true for terminals like Anacortes and Bainbridge Island with restrooms, false for terminals without restroom access. Used to determine passenger comfort amenities and basic facility availability.
          required:
            - TerminalID
            - TerminalSubjectID
            - RegionID
            - TerminalName
            - TerminalAbbrev
            - SortSeq
            - OverheadPassengerLoading
            - Elevator
            - WaitingRoom
            - FoodService
            - Restroom
        - type: object
          properties:
            Bulletins:
              type: array
              items:
                type: object
                properties:
                  BulletinTitle:
                    type: string
                    nullable: true
                    description: Title of the bulletin.
                  BulletinText:
                    type: string
                    nullable: true
                    description: HTML-formatted content of the bulletin.
                  BulletinSortSeq:
                    type: integer
                    description: Display sort order for the bulletin; lower values appear first.
                  BulletinLastUpdated:
                    type: string
                    nullable: true
                    description: UTC datetime when the bulletin was last updated.
                  BulletinLastUpdatedSortable:
                    type: string
                    nullable: true
                    description: Legacy sortable string representation of the bulletin update date.
                required:
                  - BulletinTitle
                  - BulletinText
                  - BulletinSortSeq
                  - BulletinLastUpdated
                  - BulletinLastUpdatedSortable
                description: Bulletin information including title, HTML content, sort order, and update date.
              description: Active bulletins and alerts associated with terminal, as an array of bulletin objects. E.g., array containing vehicle reservation notices for Anacortes terminal, empty array for terminals without active bulletins. Used to display important terminal information, service changes, and passenger notifications.
          required:
            - Bulletins
        - type: object
          properties:
            Latitude:
              type: number
              nullable: true
              description: Terminal latitude coordinate, in decimal degrees. E.g., 48.507351 for Anacortes terminal, 47.622339 for Bainbridge Island terminal, null when coordinate data is unavailable. Used for mapping, distance calculations, and geographic display.
            Longitude:
              type: number
              nullable: true
              description: Terminal longitude coordinate, in decimal degrees. E.g., -122.677 for Anacortes terminal, -122.509617 for Bainbridge Island terminal, null when coordinate data is unavailable. Used for mapping, distance calculations, and geographic display.
            AddressLineOne:
              type: string
              nullable: true
              description: Primary street address line for terminal location, as a street address. E.g., '2100 Ferry Terminal Road' for Anacortes terminal, '270 Olympic Drive SE' for Bainbridge Island terminal, null when address is unavailable. Used for navigation, mapping, and location identification.
            AddressLineTwo:
              type: string
              nullable: true
              description: Secondary address line for terminal location, as an address supplement. E.g., null for most terminals without suite or building numbers, present when additional address details are needed. Used for complete address formatting when available.
            City:
              type: string
              nullable: true
              description: City name where terminal is located, as a city name. E.g., 'Anacortes' for Anacortes terminal, 'Bainbridge Island' for Bainbridge Island terminal, null when city is unavailable. Used for location identification and address formatting.
            State:
              type: string
              nullable: true
              description: State abbreviation where terminal is located, as a state code. E.g., 'WA' for Washington state terminals, null when state is unavailable. Used for location identification and address formatting.
            ZipCode:
              type: string
              nullable: true
              description: Postal code for terminal location, as a zip code string. E.g., '98221' for Anacortes terminal, '98110' for Bainbridge Island terminal, null when zip code is unavailable. Used for location identification and address formatting.
            Country:
              type: string
              nullable: true
              description: Country name where terminal is located, as a country code. E.g., 'USA' for United States terminals, null when country is unavailable. Used for location identification and international address formatting.
            MapLink:
              type: string
              nullable: true
              description: URL link to external mapping service displaying terminal location, as a map URL. E.g., Google Maps link for Anacortes terminal, null when map link is unavailable. Used for providing direct navigation links to terminal location.
            Directions:
              type: string
              nullable: true
              description: Driving directions to terminal from major routes, as HTML-formatted text. E.g., directions from Interstate 5 to Anacortes terminal, null when directions are unavailable. Used for navigation assistance and route planning.
            DispGISZoomLoc:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  ZoomLevel:
                    type: integer
                    description: GIS zoom level for map display.
                  Latitude:
                    type: number
                    nullable: true
                    description: Latitude coordinate for this zoom level in decimal degrees.
                  Longitude:
                    type: number
                    nullable: true
                    description: Longitude coordinate for this zoom level in decimal degrees.
                required:
                  - ZoomLevel
                  - Latitude
                  - Longitude
                description: GIS zoom level location information including zoom level and coordinates.
              description: GIS map display coordinates for terminal at various zoom levels, as an array of zoom-level coordinates. E.g., array with 18 zoom levels for Anacortes terminal, null when zoom-level data is unavailable. Used for optimized map rendering at different zoom levels.
          required:
            - Latitude
            - Longitude
            - AddressLineOne
            - AddressLineTwo
            - City
            - State
            - ZipCode
            - Country
            - MapLink
            - Directions
            - DispGISZoomLoc
        - type: object
          properties:
            DepartingSpaces:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  Departure:
                    type: string
                    description: Date and time of departure, as a UTC datetime. E.g., '2025-11-02T21:35:00.000Z' for departure at 9:35 PM on November 2, 2025. Used for departure schedule display and space availability timing.
                  IsCancelled:
                    type: boolean
                    description: Indicator whether departure is cancelled, as a boolean. E.g., false for active departures, true for cancelled departures. Used to determine if departure is operational.
                  VesselID:
                    type: integer
                    description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '17' for Kaleetan vessel. Used to identify which vessel operates departure.
                  VesselName:
                    type: string
                    nullable: true
                    description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Kaleetan' for vessel 17, null when vessel name is unavailable. Provides vessel identification for display.
                  MaxSpaceCount:
                    type: integer
                    description: Maximum vehicle capacity on vessel making departure, as an integer count. E.g., '141' for Samish vessel capacity, '139' for Yakima vessel capacity, '197' for Tacoma vessel capacity. Used to calculate space availability percentage.
                  SpaceForArrivalTerminals:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        TerminalID:
                          type: integer
                          description: Unique identifier for arrival terminal destination, as an integer ID. E.g., '10' for Friday Harbor terminal, '13' for Lopez Island terminal. Used to identify destination terminal for space availability.
                        TerminalName:
                          type: string
                          nullable: true
                          description: Human-readable name of arrival terminal destination, as a terminal name. E.g., 'Anacortes -> Friday Harbor' for multi-destination sailing, 'Seattle' for single destination, null when terminal name is unavailable. Provides destination identification for display.
                        VesselID:
                          type: integer
                          description: Unique identifier for vessel planned to service departure, as an integer ID. E.g., '69' for Samish vessel, '38' for Yakima vessel, '17' for Kaleetan vessel. Used to identify which vessel operates departure.
                        VesselName:
                          type: string
                          nullable: true
                          description: Human-readable name of vessel planned to service departure, as a vessel name. E.g., 'Samish' for vessel 69, 'Yakima' for vessel 38, 'Kaleetan' for vessel 17, null when vessel name is unavailable. Provides vessel identification for display.
                        DisplayReservableSpace:
                          type: boolean
                          description: Indicator whether reservable space information should be displayed, as a boolean. E.g., true for routes supporting reservations, false for routes without reservations. Used to determine if reservation space data should be shown.
                        ReservableSpaceCount:
                          type: integer
                          nullable: true
                          description: Remaining reservable vehicle spaces available on vessel, as an integer count. E.g., '45' for 45 reservable spaces remaining, '36' for 36 reservable spaces, null when reservations are not supported or count is unavailable. Used for reservation availability display.
                        ReservableSpaceHexColor:
                          type: string
                          nullable: true
                          description: Hex color code representing reservable space availability status, as a hex color. E.g., '#FFFF00' for yellow (limited availability), '#888888' for gray (not available), null when color is unavailable. Used for visual space availability indicators.
                        DisplayDriveUpSpace:
                          type: boolean
                          description: Indicator whether drive-up space information should be displayed, as a boolean. E.g., true for routes with drive-up space tracking, false when drive-up space is not tracked. Used to determine if drive-up space data should be shown.
                        DriveUpSpaceCount:
                          type: integer
                          nullable: true
                          description: Remaining drive-up vehicle spaces available on vessel, as an integer count. E.g., '67' for 67 drive-up spaces remaining, '197' for 197 drive-up spaces, null when drive-up space is not tracked or count is unavailable. Used for drive-up availability display.
                        DriveUpSpaceHexColor:
                          type: string
                          nullable: true
                          description: Hex color code representing drive-up space availability status, as a hex color. E.g., '#00FF00' for green (good availability), '#FFFF00' for yellow (limited availability), null when color is unavailable. Used for visual space availability indicators.
                        MaxSpaceCount:
                          type: integer
                          description: Maximum vehicle capacity on vessel making departure, as an integer count. E.g., '141' for Samish vessel capacity, '139' for Yakima vessel capacity, '197' for Tacoma vessel capacity. Used to calculate space availability percentage.
                        ArrivalTerminalIDs:
                          type: array
                          nullable: true
                          items:
                            type: integer
                          description: Array of arrival terminal IDs associated with this space count set, as terminal ID integers. E.g., array containing terminal 10 for single destination, array containing terminals 13, 10 for multi-destination sailing, null when terminal IDs are unavailable. Used to identify all destinations served by this space count.
                      required:
                        - TerminalID
                        - TerminalName
                        - VesselID
                        - VesselName
                        - DisplayReservableSpace
                        - ReservableSpaceCount
                        - ReservableSpaceHexColor
                        - DisplayDriveUpSpace
                        - DriveUpSpaceCount
                        - DriveUpSpaceHexColor
                        - MaxSpaceCount
                        - ArrivalTerminalIDs
                      description: Represents space availability information for arrival terminal destination including terminal/vessel identification, reservable space count and color, drive-up space count and color, maximum capacity, and arrival terminal IDs. E.g., Friday Harbor destination with 67 drive-up spaces (green) and 141 maximum capacity on Samish vessel. Used for real-time space availability display.
                    description: Array of space availability information for one or more arrival terminal destinations, as space for arrival terminal objects. E.g., array containing Friday Harbor destination with space counts, array containing multiple destinations for multi-destination sailing, null when space information is unavailable. Used for real-time space availability display by destination.
                required:
                  - Departure
                  - IsCancelled
                  - VesselID
                  - VesselName
                  - MaxSpaceCount
                  - SpaceForArrivalTerminals
                description: Represents departing space information including departure time, cancellation status, vessel details, maximum capacity, and space availability for arrival terminals. E.g., departure at 9:35 PM with Samish vessel (ID 69, capacity 141) and space information for Friday Harbor destination. Used for real-time departure space availability display.
              description: Most recent departure sailing space information from terminal, as an array of departing space objects. E.g., array containing vessel details, departure times, and space availability for recent sailings, null or empty when departure data is unavailable. Used for real-time sailing space tracking and capacity monitoring.
            IsNoFareCollected:
              type: boolean
              nullable: true
              description: Indicator whether terminal lacks fare collection capability, as a boolean. E.g., null for terminals like Anacortes and Bainbridge Island that collect fares, true for terminals without fare collection. Used to determine fare collection availability and terminal conditions data reliability.
            NoFareCollectedMsg:
              type: string
              nullable: true
              description: Message explaining how lack of fare collection affects terminal conditions data, as a notification message. E.g., null for terminals with fare collection, present when terminal cannot collect fares. Used to inform users about data limitations for terminals without fare collection.
          required:
            - IsNoFareCollected
            - NoFareCollectedMsg
        - type: object
          properties:
            ParkingInfo:
              type: string
              nullable: true
              description: Parking availability, rates, and policies for terminal, as HTML-formatted text. E.g., parking rates and payment options for Anacortes terminal, null when parking information is unavailable. Used for parking planning and cost estimation.
            ParkingShuttleInfo:
              type: string
              nullable: true
              description: Information about shuttle services connecting parking areas to terminal, as HTML-formatted text. E.g., null for terminals without parking shuttles, present when parking shuttles are available. Used for planning parking and terminal access.
            AirportInfo:
              type: string
              nullable: true
              description: Driving directions and travel time from airport to terminal, as HTML-formatted text. E.g., directions from Sea-Tac Airport to Anacortes terminal, null when airport information is unavailable. Used for airport-to-terminal route planning.
            AirportShuttleInfo:
              type: string
              nullable: true
              description: Information about shuttle services connecting airport to terminal, as HTML-formatted text. E.g., Bellair Airporter service information for Anacortes terminal, null when airport shuttles are unavailable. Used for airport-to-terminal transportation planning.
            MotorcycleInfo:
              type: string
              nullable: true
              description: Motorcycle staging, loading, and fare information for terminal, as HTML-formatted text. E.g., motorcycle loading procedures and staging areas for Anacortes terminal, null when motorcycle information is unavailable. Used for motorcycle rider planning and terminal procedures.
            TruckInfo:
              type: string
              nullable: true
              description: Truck requirements, oversized vehicle approval, and loading information for terminal, as HTML-formatted text. E.g., overweight vehicle travel approval requirements for Anacortes terminal, null when truck information is unavailable. Used for commercial vehicle planning and compliance.
            BikeInfo:
              type: string
              nullable: true
              description: Bicycle staging, loading procedures, and fare information for terminal, as HTML-formatted text. E.g., bicycle loading procedures and rack availability for Anacortes terminal, null when bicycle information is unavailable. Used for bicycle rider planning and terminal procedures.
            TrainInfo:
              type: string
              nullable: true
              description: Train service information connecting to terminal, as HTML-formatted text. E.g., null for terminals without train service, present when train connections are available. Used for multimodal transportation planning.
            TaxiInfo:
              type: string
              nullable: true
              description: Taxi service information for terminal, as HTML-formatted text. E.g., null for terminals without taxi information, present when taxi services are documented. Used for local transportation planning.
            HovInfo:
              type: string
              nullable: true
              description: Carpool and vanpool information including preferential loading requirements, as HTML-formatted text. E.g., carpool registration and loading procedures for Bainbridge Island terminal, null when HOV information is unavailable. Used for rideshare planning and preferential loading coordination.
            TransitLinks:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  LinkURL:
                    type: string
                    nullable: true
                    description: URL to transit agency website or service page, as a transit URL. E.g., 'http://www.skagittransit.org/' for Skagit Transit, 'http://www.kitsaptransit.com/service/routed-buses' for Kitsap Transit, null when transit link is unavailable. Used for accessing transit agency information.
                  LinkName:
                    type: string
                    nullable: true
                    description: Human-readable name of transit agency, as a transit agency name. E.g., 'Skagit Transit' for Skagit Transit agency, 'Kitsap Transit' for Kitsap Transit agency, null when transit name is unavailable. Provides transit agency identification for display.
                  SortSeq:
                    type: integer
                    nullable: true
                    description: Preferred sort order for transit link display, as an integer. E.g., null when sort order is not specified. Lower values appear first when sorting transit links in ascending order. Used for transit link display ordering.
                required:
                  - LinkURL
                  - LinkName
                  - SortSeq
                description: Represents transit link information including transit agency URL, name, and sort order. E.g., Skagit Transit link (http://www.skagittransit.org/). Used for displaying transit agency connections and links.
              description: Links to transit agencies providing service to terminal, as an array of transit link objects. E.g., array containing Skagit Transit link for Anacortes terminal, Kitsap Transit link for Bainbridge Island terminal, null or empty when no transit links are available. Used for multimodal transportation planning and transit connection information.
          required:
            - ParkingInfo
            - ParkingShuttleInfo
            - AirportInfo
            - AirportShuttleInfo
            - MotorcycleInfo
            - TruckInfo
            - BikeInfo
            - TrainInfo
            - TaxiInfo
            - HovInfo
            - TransitLinks
        - type: object
          properties:
            WaitTimes:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  RouteID:
                    type: integer
                    nullable: true
                    description: Numeric ID of the route associated with the wait time.
                  RouteName:
                    type: string
                    nullable: true
                    description: Display name of the route associated with the wait time.
                  WaitTimeNotes:
                    type: string
                    nullable: true
                    description: Text notes detailing wait time conditions and tips for vehicles and passengers.
                  WaitTimeLastUpdated:
                    type: string
                    nullable: true
                    description: UTC datetime when the wait time information was last updated.
                  WaitTimeIVRNotes:
                    type: string
                    nullable: true
                    description: Wait time notes formatted for Interactive Voice Response systems.
                required:
                  - RouteID
                  - RouteName
                  - WaitTimeNotes
                  - WaitTimeLastUpdated
                  - WaitTimeIVRNotes
                description: Wait time information including route association, notes, IVR notes, and update date.
              description: Current wait time information and arrival recommendations for terminal, as an array of wait time objects. E.g., array containing vehicle reservation requirements and arrival time recommendations for Anacortes terminal, null when wait time data is unavailable. Used for trip planning and arrival time guidance.
          required:
            - WaitTimes
        - type: object
          properties:
            RealtimeIntroMsg:
              type: string
              nullable: true
              description: Introductory message explaining real-time terminal conditions data display, as HTML-formatted text. E.g., message about approximate vehicle spaces available in holding area for Anacortes terminal, null when intro message is unavailable. Used to provide context for real-time conditions data.
            AdditionalInfo:
              type: string
              nullable: true
              description: Additional terminal information including hours, services, and general details, as HTML-formatted text. E.g., passenger booth hours and kiosk information for Anacortes terminal, null when additional information is unavailable. Used for comprehensive terminal information display.
            LostAndFoundInfo:
              type: string
              nullable: true
              description: Lost and found procedures, contact information, and retention policies for terminal, as HTML-formatted text. E.g., lost and found location and contact details for Anacortes terminal, null when lost and found information is unavailable. Used for lost item reporting and retrieval.
            SecurityInfo:
              type: string
              nullable: true
              description: Security plan information and safety policies for terminal, as HTML-formatted text. E.g., U.S. Coast Guard approved security plan information, null when security information is unavailable. Used for security awareness and compliance information.
            ConstructionInfo:
              type: string
              nullable: true
              description: Ongoing or planned construction activities affecting terminal, as HTML-formatted text. E.g., null for terminals without active construction, present when construction impacts terminal operations. Used for construction impact awareness and trip planning.
            FoodServiceInfo:
              type: string
              nullable: true
              description: Food service hours, locations, and availability for terminal, as HTML-formatted text. E.g., galley hours and cafe information for Anacortes terminal, null when food service information is unavailable. Used for meal planning and food service availability.
            AdaInfo:
              type: string
              nullable: true
              description: ADA accessibility features, elevator access, and accommodation information for terminal, as HTML-formatted text. E.g., overhead passenger ramp and elevator access information for Anacortes terminal, null when ADA information is unavailable. Used for accessibility planning and accommodation requests.
            FareDiscountInfo:
              type: string
              nullable: true
              description: Fare discount programs, eligibility requirements, and purchase information for terminal, as HTML-formatted text. E.g., senior and youth fare information for Anacortes terminal, null when fare discount information is unavailable. Used for fare planning and discount eligibility.
            TallySystemInfo:
              type: string
              nullable: true
              description: Tally system information for terminal operations, as HTML-formatted text. E.g., null for terminals without tally system documentation, present when tally system information is available. Used for operational information and system documentation.
            ChamberOfCommerce:
              type: object
              nullable: true
              properties:
                LinkURL:
                  type: string
                  nullable: true
                  description: URL link to local chamber of commerce website, as a web URL. E.g., 'http://www.anacortes.org' for Anacortes Chamber of Commerce, null when chamber link is unavailable. Used for local business and visitor information.
                LinkName:
                  type: string
                  nullable: true
                  description: Display name for local chamber of commerce, as a chamber name. E.g., 'Chamber of Commerce' for Anacortes, 'Bainbridge Island Chamber of Commerce' for Bainbridge Island, null when chamber name is unavailable. Used for display and identification.
                SortSeq:
                  type: integer
                  nullable: true
                  description: Preferred display sort order for chamber of commerce link, as an integer sequence number. E.g., null for default sorting, numeric value when specific sort order is required. Used for controlling link display order.
              required:
                - LinkURL
                - LinkName
                - SortSeq
              description: Chamber of commerce information including link URL, name, and sort order for terminal, as a chamber object. E.g., object with Anacortes Chamber of Commerce link, null when chamber information is unavailable. Used for local business and visitor information.
            FacInfo:
              type: string
              nullable: true
              description: Facility advisory committee contact information for terminal, as HTML-formatted text. E.g., Ferry Advisory Committee contact information, null when facility information is unavailable. Used for community participation and feedback.
            ResourceStatus:
              type: string
              nullable: true
              description: Resource status information for terminal operations, as a status string. E.g., null for terminals without resource status documentation, present when resource status information is available. Used for operational status tracking.
            TypeDesc:
              type: string
              nullable: true
              description: Terminal type classification description, as a type string. E.g., 'Passenger and Car' for terminals like Anacortes and Bainbridge Island, null when type description is unavailable. Used for terminal classification and display.
            REALTIME_SHUTOFF_FLAG:
              type: boolean
              description: Indicator whether real-time conditions data is disabled for terminal, as a boolean. E.g., false for terminals with active real-time data, true when real-time data is shut off. Used to determine real-time data availability.
            REALTIME_SHUTOFF_MESSAGE:
              type: string
              nullable: true
              description: Message explaining why real-time conditions data is unavailable, as a status message. E.g., 'The Real-Time Conditions are unavailable due to technical difficulties' for terminals with shutoff flag true, null when real-time data is available. Used to inform users about real-time data status.
            VisitorLinks:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  LinkURL:
                    type: string
                    nullable: true
                    description: URL to transit agency website or service page, as a transit URL. E.g., 'http://www.skagittransit.org/' for Skagit Transit, 'http://www.kitsaptransit.com/service/routed-buses' for Kitsap Transit, null when transit link is unavailable. Used for accessing transit agency information.
                  LinkName:
                    type: string
                    nullable: true
                    description: Human-readable name of transit agency, as a transit agency name. E.g., 'Skagit Transit' for Skagit Transit agency, 'Kitsap Transit' for Kitsap Transit agency, null when transit name is unavailable. Provides transit agency identification for display.
                  SortSeq:
                    type: integer
                    nullable: true
                    description: Preferred sort order for transit link display, as an integer. E.g., null when sort order is not specified. Lower values appear first when sorting transit links in ascending order. Used for transit link display ordering.
                required:
                  - LinkURL
                  - LinkName
                  - SortSeq
                description: Represents transit link information including transit agency URL, name, and sort order. E.g., Skagit Transit link (http://www.skagittransit.org/). Used for displaying transit agency connections and links.
              description: Links to visitor information and tourism resources for terminal area, as an array of visitor link objects. E.g., empty array for terminals without visitor links, array with tourism resources when available. Used for visitor information and local attractions.
          required:
            - RealtimeIntroMsg
            - AdditionalInfo
            - LostAndFoundInfo
            - SecurityInfo
            - ConstructionInfo
            - FoodServiceInfo
            - AdaInfo
            - FareDiscountInfo
            - TallySystemInfo
            - ChamberOfCommerce
            - FacInfo
            - ResourceStatus
            - TypeDesc
            - REALTIME_SHUTOFF_FLAG
            - REALTIME_SHUTOFF_MESSAGE
            - VisitorLinks
      description: Comprehensive terminal information combining data from terminalBasics, terminalBulletins, terminalLocations, terminalTransports, and terminalWaitTimes endpoints.
    FetchTerminalWaitTimesOutput:
      type: object
      properties:
        TerminalID:
          type: integer
          description: Numeric ID of the terminal.
        TerminalSubjectID:
          type: integer
          description: Numeric ID of the terminal in the WSF subject management system.
        RegionID:
          type: integer
          description: Numeric ID of the geographical region where the terminal is located.
        TerminalName:
          type: string
          nullable: true
          description: Display name of the terminal.
        TerminalAbbrev:
          type: string
          nullable: true
          description: Abbreviation code for the terminal.
        SortSeq:
          type: integer
          description: Display sort order; lower values appear first in lists.
        WaitTimes:
          type: array
          nullable: true
          items:
            type: object
            properties:
              RouteID:
                type: integer
                nullable: true
                description: Numeric ID of the route associated with the wait time.
              RouteName:
                type: string
                nullable: true
                description: Display name of the route associated with the wait time.
              WaitTimeNotes:
                type: string
                nullable: true
                description: Text notes detailing wait time conditions and tips for vehicles and passengers.
              WaitTimeLastUpdated:
                type: string
                nullable: true
                description: UTC datetime when the wait time information was last updated.
              WaitTimeIVRNotes:
                type: string
                nullable: true
                description: Wait time notes formatted for Interactive Voice Response systems.
            required:
              - RouteID
              - RouteName
              - WaitTimeNotes
              - WaitTimeLastUpdated
              - WaitTimeIVRNotes
            description: Wait time information including route association, notes, IVR notes, and update date.
          description: Array of wait time information associated with the terminal.
      required:
        - TerminalID
        - TerminalSubjectID
        - RegionID
        - TerminalName
        - TerminalAbbrev
        - SortSeq
        - WaitTimes
      description: Terminal wait time information including terminal identification and wait time list.
    FetchTerminalBasicsByTerminalIdInputTerminalIDParam:
      type: integer
      description: Numeric ID of the terminal.
    FetchTerminalBulletinsByTerminalIdInputTerminalIDParam:
      type: integer
      description: Numeric ID of the terminal.
    FetchTerminalLocationsByTerminalIdInputTerminalIDParam:
      type: integer
      description: Numeric ID of the terminal.
    FetchTerminalSailingSpaceByTerminalIdInputTerminalIDParam:
      type: integer
      description: Numeric ID of the terminal.
    FetchTerminalTransportsByTerminalIdInputTerminalIDParam:
      type: integer
      description: Numeric ID of the terminal.
    FetchTerminalVerboseByTerminalIdInputTerminalIDParam:
      type: integer
      description: Numeric ID of the terminal.
    FetchTerminalWaitTimesByTerminalIdInputTerminalIDParam:
      type: integer
      description: Numeric ID of the terminal.
  parameters:
    FetchTerminalBasicsByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalBasicsByTerminalIdInputTerminalIDParam'
      required: true
      description: Numeric ID of the terminal.
      name: TerminalID
      in: path
    FetchTerminalBulletinsByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalBulletinsByTerminalIdInputTerminalIDParam'
      required: true
      description: Numeric ID of the terminal.
      name: TerminalID
      in: path
    FetchTerminalLocationsByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalLocationsByTerminalIdInputTerminalIDParam'
      required: true
      description: Numeric ID of the terminal.
      name: TerminalID
      in: path
    FetchTerminalSailingSpaceByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalSailingSpaceByTerminalIdInputTerminalIDParam'
      required: true
      description: Numeric ID of the terminal.
      name: TerminalID
      in: path
    FetchTerminalTransportsByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalTransportsByTerminalIdInputTerminalIDParam'
      required: true
      description: Numeric ID of the terminal.
      name: TerminalID
      in: path
    FetchTerminalVerboseByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalVerboseByTerminalIdInputTerminalIDParam'
      required: true
      description: Numeric ID of the terminal.
      name: TerminalID
      in: path
    FetchTerminalWaitTimesByTerminalIdInputTerminalIDParam:
      schema:
        $ref: '#/components/schemas/FetchTerminalWaitTimesByTerminalIdInputTerminalIDParam'
      required: true
      description: Numeric ID of the terminal.
      name: TerminalID
      in: path
paths:
  /cacheflushdate:
    get:
      summary: Get cache invalidation timestamp for static wsf-terminals data.
      operationId: fetchCacheFlushDateTerminals
      tags:
        - cache-flush-date-terminals
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchCacheFlushDateTerminals } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchCacheFlushDateTerminals({
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchCacheFlushDateTerminalsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value: '2025-11-15T17:45:00.477Z'
  /terminalBasics:
    get:
      summary: List basic information for all terminals.
      operationId: fetchTerminalBasics
      tags:
        - terminal-basics
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchTerminalBasics } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchTerminalBasics({
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchTerminalBasicsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 20 total)
                  value:
                    - TerminalID: 1
                      TerminalSubjectID: 111
                      RegionID: 1
                      TerminalName: Anacortes
                      TerminalAbbrev: ANA
                      SortSeq: 10
                      OverheadPassengerLoading: true
                      Elevator: false
                      WaitingRoom: true
                      FoodService: true
                      Restroom: true
  /terminalBasics/{TerminalID}:
    get:
      summary: Get basic information for a specific terminal by ID.
      operationId: fetchTerminalBasicsByTerminalId
      tags:
        - terminal-basics
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchTerminalBasicsByTerminalId } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchTerminalBasicsByTerminalId({
              params: {
                "TerminalID": 1
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchTerminalBasicsByTerminalIdInputTerminalIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchTerminalBasicsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    TerminalID: 1
                    TerminalSubjectID: 111
                    RegionID: 1
                    TerminalName: Anacortes
                    TerminalAbbrev: ANA
                    SortSeq: 10
                    OverheadPassengerLoading: true
                    Elevator: false
                    WaitingRoom: true
                    FoodService: true
                    Restroom: true
  /terminalBulletins:
    get:
      summary: List bulletins and alerts for all terminals.
      operationId: fetchTerminalBulletins
      tags:
        - terminal-bulletins
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchTerminalBulletins } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchTerminalBulletins({
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchTerminalBulletinsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 20 total)
                  value:
                    - TerminalID: 1
                      TerminalSubjectID: 111
                      RegionID: 1
                      TerminalName: Anacortes
                      TerminalAbbrev: ANA
                      SortSeq: 10
                      Bulletins:
                        - BulletinTitle: Ana/SJs - Kaleetan to replace Samish this Sunday, Nov. 16
                          BulletinText: <p><span data-contrast="none">This Sunday, Nov. 16, the <em>Kaleetan</em> will replace the<em> Samish</em> on the Anacortes/San Juan Islands route. We do not expect service impacts during this vessel swap. Thank you for your patience as we move boats around the system to complete maintenance, repairs, and inspections.<br /></span><span data-ccp-props="{&quot;335557856&quot;:16777215,&quot;335559739&quot;:0}"><br /></span></p>
                          BulletinSortSeq: 2
                          BulletinLastUpdated: '2025-11-15T17:08:11.927Z'
                          BulletinLastUpdatedSortable: '20251115090811'
  /terminalBulletins/{TerminalID}:
    get:
      summary: Get bulletins and alerts for a specific terminal by ID.
      operationId: fetchTerminalBulletinsByTerminalId
      tags:
        - terminal-bulletins
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchTerminalBulletinsByTerminalId } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchTerminalBulletinsByTerminalId({
              params: {
                "TerminalID": 3
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchTerminalBulletinsByTerminalIdInputTerminalIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchTerminalBulletinsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    TerminalID: 3
                    TerminalSubjectID: 103
                    RegionID: 4
                    TerminalName: Bainbridge Island
                    TerminalAbbrev: BBI
                    SortSeq: 40
                    Bulletins: []
  /terminalLocations:
    get:
      summary: List location information for all terminals.
      operationId: fetchTerminalLocations
      tags:
        - terminal-locations
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchTerminalLocations } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchTerminalLocations({
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchTerminalLocationsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 20 total)
                  value:
                    - TerminalID: 1
                      TerminalSubjectID: 111
                      RegionID: 1
                      TerminalName: Anacortes
                      TerminalAbbrev: ANA
                      SortSeq: 10
                      Latitude: 48.507351
                      Longitude: -122.677
                      AddressLineOne: 2100 Ferry Terminal Road
                      AddressLineTwo: null
                      City: Anacortes
                      State: WA
                      ZipCode: '98221'
                      Country: USA
                      MapLink: https://www.google.com/maps/place/Anacortes+Ferry+Terminal,+Anacortes,+WA+98221/@48.5060112,-122.6776819,15z/data=!4m2!3m1!1s0x5485790ea2748ed5:0x5c9a071494b5411f</p>
                      Directions: "From Interstate 5 take exit 230 and follow SR 20 westbound to Anacortes. After arriving in Anacortes continue north on Commercial Ave. Turn left on 12th St, which becomes Oakes Ave, and then continue to the ferry terminal.<p>\r\n<b>Dropping off or picking up?</b><p>\r\nWhen approaching the ferry terminal to pick up or drop off and not disabled, follow Ferry Terminal Road to the left of the auto toll booths to the parking lot near the terminal. There should be parking near the sidewalk where the buses turn around for a quick pick up/drop off.</p>"
                      DispGISZoomLoc:
                        - ZoomLevel: 0
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 1
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 2
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 3
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 4
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 5
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 6
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 7
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 8
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 9
                          Latitude: 48.507351
                          Longitude: -122.677
                        - ZoomLevel: 10
                          Latitude: 48.499482
                          Longitude: -122.664992
                        - ZoomLevel: 11
                          Latitude: 48.501302
                          Longitude: -122.668425
                        - ZoomLevel: 12
                          Latitude: 48.500619
                          Longitude: -122.678038
                        - ZoomLevel: 13
                          Latitude: 48.504032
                          Longitude: -122.679068
                        - ZoomLevel: 14
                          Latitude: 48.506022
                          Longitude: -122.678725
                        - ZoomLevel: 15
                          Latitude: 48.506591
                          Longitude: -122.678124
                        - ZoomLevel: 16
                          Latitude: 48.506591
                          Longitude: -122.677995
                        - ZoomLevel: 17
                          Latitude: 48.506612
                          Longitude: -122.678006
  /terminalLocations/{TerminalID}:
    get:
      summary: Get location information for a specific terminal by ID.
      operationId: fetchTerminalLocationsByTerminalId
      tags:
        - terminal-locations
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchTerminalLocationsByTerminalId } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchTerminalLocationsByTerminalId({
              params: {
                "TerminalID": 5
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchTerminalLocationsByTerminalIdInputTerminalIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchTerminalLocationsOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    TerminalID: 5
                    TerminalSubjectID: 112
                    RegionID: 2
                    TerminalName: Clinton
                    TerminalAbbrev: CLI
                    SortSeq: 20
                    Latitude: 47.9754
                    Longitude: -122.349581
                    AddressLineOne: 64 South Ferrydock Road
                    AddressLineTwo: null
                    City: Clinton
                    State: WA
                    ZipCode: '98236'
                    Country: USA
                    MapLink: http://maps.yahoo.com/#mvt=m&lat=47.97483&lon=-122.352299&zoom=18&q1=64%20S.%20Ferrydock%20Rd.%20Clinton%2C%20WA%2098236
                    Directions: "Highway 20 on Whidbey Island turns into Highway 525 S which leads directly to the Clinton terminal.<br><p>\r\n<b>Dropping off or picking up?</b><br>\r\nThe ferry terminal pick up or drop off point is prior to the toll booth on Ferry Dock Road.<p>   "
                    DispGISZoomLoc:
                      - ZoomLevel: 0
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 1
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 2
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 3
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 4
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 5
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 6
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 7
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 8
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 9
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 10
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 11
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 12
                        Latitude: 47.9754
                        Longitude: -122.349581
                      - ZoomLevel: 13
                        Latitude: 47.975465
                        Longitude: -122.352097
                      - ZoomLevel: 14
                        Latitude: 47.974948
                        Longitude: -122.351496
                      - ZoomLevel: 15
                        Latitude: 47.974948
                        Longitude: -122.351367
                      - ZoomLevel: 16
                        Latitude: 47.975034
                        Longitude: -122.351324
                      - ZoomLevel: 17
                        Latitude: 47.975027
                        Longitude: -122.351335
  /terminalSailingSpace:
    get:
      summary: List sailing space availability for all terminals.
      operationId: fetchTerminalSailingSpace
      tags:
        - terminal-sailing-space
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchTerminalSailingSpace } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchTerminalSailingSpace({
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchTerminalSailingSpaceOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API (showing first item of 13 total)
                  value:
                    - TerminalID: 1
                      TerminalSubjectID: 111
                      RegionID: 1
                      TerminalName: Anacortes
                      TerminalAbbrev: ANA
                      SortSeq: 10
                      DepartingSpaces:
                        - Departure: '2025-11-15T18:05:00.000Z'
                          IsCancelled: false
                          VesselID: 69
                          VesselName: Samish
                          MaxSpaceCount: 141
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Lopez Island -> Orcas Island
                              VesselID: 69
                              VesselName: Samish
                              DisplayReservableSpace: true
                              ReservableSpaceCount: null
                              ReservableSpaceHexColor: '#888888'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 30
                              DriveUpSpaceHexColor: '#FFFF00'
                              MaxSpaceCount: 141
                              ArrivalTerminalIDs:
                                - 13
                                - 15
                        - Departure: '2025-11-15T18:30:00.000Z'
                          IsCancelled: false
                          VesselID: 38
                          VesselName: Yakima
                          MaxSpaceCount: 139
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Friday Harbor
                              VesselID: 38
                              VesselName: Yakima
                              DisplayReservableSpace: true
                              ReservableSpaceCount: null
                              ReservableSpaceHexColor: '#888888'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 77
                              DriveUpSpaceHexColor: '#FFFF00'
                              MaxSpaceCount: 139
                              ArrivalTerminalIDs:
                                - 10
                        - Departure: '2025-11-15T19:55:00.000Z'
                          IsCancelled: false
                          VesselID: 2
                          VesselName: Chelan
                          MaxSpaceCount: 120
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Shaw Island -> Orcas Island -> Anacortes
                              VesselID: 2
                              VesselName: Chelan
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 57
                              ReservableSpaceHexColor: '#FFFF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 73
                              DriveUpSpaceHexColor: '#00FF00'
                              MaxSpaceCount: 120
                              ArrivalTerminalIDs:
                                - 18
                                - 15
                                - 13
                        - Departure: '2025-11-15T21:35:00.000Z'
                          IsCancelled: false
                          VesselID: 69
                          VesselName: Samish
                          MaxSpaceCount: 141
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Friday Harbor
                              VesselID: 69
                              VesselName: Samish
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 57
                              ReservableSpaceHexColor: '#FFFF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 76
                              DriveUpSpaceHexColor: '#FFFF00'
                              MaxSpaceCount: 141
                              ArrivalTerminalIDs:
                                - 10
                        - Departure: '2025-11-15T21:55:00.000Z'
                          IsCancelled: false
                          VesselID: 38
                          VesselName: Yakima
                          MaxSpaceCount: 139
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Lopez Island
                              VesselID: 38
                              VesselName: Yakima
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 91
                              ReservableSpaceHexColor: '#00FF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 110
                              DriveUpSpaceHexColor: '#00FF00'
                              MaxSpaceCount: 139
                              ArrivalTerminalIDs:
                                - 13
                        - Departure: '2025-11-15T23:20:00.000Z'
                          IsCancelled: false
                          VesselID: 2
                          VesselName: Chelan
                          MaxSpaceCount: 120
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Orcas Island -> Shaw Island -> Anacortes
                              VesselID: 2
                              VesselName: Chelan
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 28
                              ReservableSpaceHexColor: '#FFFF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 44
                              DriveUpSpaceHexColor: '#FFFF00'
                              MaxSpaceCount: 120
                              ArrivalTerminalIDs:
                                - 15
                                - 18
                        - Departure: '2025-11-16T00:20:00.000Z'
                          IsCancelled: false
                          VesselID: 38
                          VesselName: Yakima
                          MaxSpaceCount: 139
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Lopez Island -> Friday Harbor
                              VesselID: 38
                              VesselName: Yakima
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 37
                              ReservableSpaceHexColor: '#FFFF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 57
                              DriveUpSpaceHexColor: '#FFFF00'
                              MaxSpaceCount: 139
                              ArrivalTerminalIDs:
                                - 13
                                - 10
                        - Departure: '2025-11-16T01:35:00.000Z'
                          IsCancelled: false
                          VesselID: 69
                          VesselName: Samish
                          MaxSpaceCount: 141
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Lopez Island -> Friday Harbor
                              VesselID: 69
                              VesselName: Samish
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 64
                              ReservableSpaceHexColor: '#FFFF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 83
                              DriveUpSpaceHexColor: '#FFFF00'
                              MaxSpaceCount: 141
                              ArrivalTerminalIDs:
                                - 13
                                - 10
                        - Departure: '2025-11-16T02:05:00.000Z'
                          IsCancelled: false
                          VesselID: 2
                          VesselName: Chelan
                          MaxSpaceCount: 120
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Shaw Island -> Orcas Island -> Anacortes
                              VesselID: 2
                              VesselName: Chelan
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 43
                              ReservableSpaceHexColor: '#FFFF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 59
                              DriveUpSpaceHexColor: '#FFFF00'
                              MaxSpaceCount: 120
                              ArrivalTerminalIDs:
                                - 18
                                - 15
                        - Departure: '2025-11-16T04:15:00.000Z'
                          IsCancelled: false
                          VesselID: 38
                          VesselName: Yakima
                          MaxSpaceCount: 139
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Lopez Island -> Friday Harbor
                              VesselID: 38
                              VesselName: Yakima
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 57
                              ReservableSpaceHexColor: '#FFFF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 76
                              DriveUpSpaceHexColor: '#FFFF00'
                              MaxSpaceCount: 139
                              ArrivalTerminalIDs:
                                - 13
                                - 10
                        - Departure: '2025-11-16T04:40:00.000Z'
                          IsCancelled: false
                          VesselID: 2
                          VesselName: Chelan
                          MaxSpaceCount: 120
                          SpaceForArrivalTerminals:
                            - TerminalID: 1
                              TerminalName: Anacortes -> Shaw Island -> Orcas Island -> Anacortes
                              VesselID: 2
                              VesselName: Chelan
                              DisplayReservableSpace: true
                              ReservableSpaceCount: 90
                              ReservableSpaceHexColor: '#00FF00'
                              DisplayDriveUpSpace: true
                              DriveUpSpaceCount: 106
                              DriveUpSpaceHexColor: '#00FF00'
                              MaxSpaceCount: 120
                              ArrivalTerminalIDs:
                                - 18
                                - 15
                      IsNoFareCollected: null
                      NoFareCollectedMsg: null
  /terminalSailingSpace/{TerminalID}:
    get:
      summary: Get sailing space availability for a specific terminal by ID.
      operationId: fetchTerminalSailingSpaceByTerminalId
      tags:
        - terminal-sailing-space
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import { fetchTerminalSailingSpaceByTerminalId } from 'ws-dottie/wsf-terminals/core';

            const data = await fetchTerminalSailingSpaceByTerminalId({
              params: {
                "TerminalID": 7
              },
              fetchMode: 'native',
              validate: true
            });

            console.log(data);
      parameters:
        - $ref: '#/components/parameters/FetchTerminalSailingSpaceByTerminalIdInputTerminalIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchTerminalSailingSpaceOutput'
              examples:
                sampleResponse:
                  summary: Sample response
                  description: Example of a successful response from the API
                  value:
                    TerminalID: 7
                    TerminalSubjectID: 101
                    RegionID: 4
                    TerminalName: Seattle
                    TerminalAbbrev: P52
                    SortSeq: 20
                    DepartingSpaces:
                      - Departure: '2025-11-15T18:00:00.000Z'
                        IsCancelled: false
                        VesselID: 36
                        VesselName: Walla Walla
                        MaxSpaceCount: 186
                        SpaceForArrivalTerminals:
                          - TerminalID: 4
                            TerminalName: Bremerton
                            VesselID: 36
[...]
